@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.pagetpl .statisk-container {
	background:transparent;
	font-family: domineregular;
	font-size: 13px;
	margin-top: 15px;
	padding: 0 55px 55px;
	border: 1px solid transparent;
}
/*.pagetpl .statisk-container #main-content{
	background-color: #BEE6D6 !important;
	border: 2px solid #8cb8a6;
	margin-top: 30px;
}*/
body.page-comment  .pagetpl .statisk-container h1 {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 20px;
}
body.page-comment  .pagetpl  #tabs-wrapper h1 {
  margin-bottom: 30px;
  margin-top: 5px;
}
body.page-comment  .pagetpl em {
	color: #666666;
	font-size: 16px;
	font-style: normal;
	padding-left: 10px;
}
body.page-comment  .pagetpl ul.primary {
  border-bottom: 2px solid #deb4a5;
  border-collapse: collapse;
  height: auto;
  line-height: 43px;
  list-style: none outside none;
  margin: 5px;
  padding: 0em !important;
  white-space: nowrap;
  background-color:#ffffff;
}
body.page-comment  .pagetpl ul.primary li a {
  background-color: #fdeae3;
  border-color: #fdeae3;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#2a2a2a;
}
body.page-comment  .pagetpl ul.primary li a:hover {
  background-color: #f1dad2;
  border-color: #f1dad2;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#75564b;
}
body.page-comment  .pagetpl li a.active {
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#75564b !important;
}
body.page-comment  .pagetpl  label {
	color: #000000;
	display: inline-block;
	float: left;
	font-family: 'domineregular';
	font-size: 15px;
	font-weight: normal;
	width: 20%;
}
body.page-comment  .pagetpl  #comment-form .form-type-item label {
  color: #2A2A2A;
  float: left;
  font-family: 'domineregular';
  font-size: 15px;
  width: 20%;
}

body.page-comment  .pagetpl  #comment-form .form-item-subject label {
  color: #2A2A2A;
  float: left;
  font-family: 'domineregular';
  font-size: 15px;
  width: 20%;
}
body.page-comment  .pagetpl  #comment-form {
	background-color: #FDEAE3;
	margin: 10px auto 5px;
	padding: 25px 0px;
	width: 99%;
}
body.page-comment  .pagetpl  .form-textarea-wrapper textarea {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	color: #2A2A2A;
	display: block;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 15px;
	width: 60%;
}
body.page-comment  .pagetpl   .resizable-textarea .grippie {
  display: none;
}
body.page-comment  .pagetpl   .form-item.form-type-select.form-item-field-clinic-loc-rating-und-0-rating {
  display: inline-block !important;
  width: 60% !important;
}
body.page-comment  .pagetpl [class*="-share"] {
	cursor: pointer;
	line-height: 15px;
	margin: 0px !important;
	padding-left:12px !important;
}
body.page-comment  .pagetpl #edit-actions input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C2C0C0;
	color: #2A2A2A;
	cursor: pointer;
	font-family: 'domineregular';
	margin: 20px 25px 10px;
	padding: 5px 50px;
}
body.page-comment  .pagetpl .Indewallform .form-item, .form-actions {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}
body.page-comment  .pagetpl  .marker, .form-required {
  color: #ec5b9a;
}
body.page-comment  .pagetpl  .form-item.form-type-checkbox.form-item-field-share-on-fb-und-1 {
  width: 80% !important;
  padding-left:0px !important;
}
body.page-comment  .pagetpl  #comment-form .form-item-subject input {
	border: 1px solid #FFFFFF;
	color: #2A2A2A;
	float: left;
	font-family: 'domineregular';
	font-size: 10px;
	font-weight: normal;
	padding: 5px;
	width: 60%;
}
body.page-comment  .pagetpl  #comment-form .field-name-comment-body label {
  color: #000000;
  font-family: 'domineregular';
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 15px;
}
body.page-comment  .pagetpl #comment-form .form-type-item a.username {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}
body.page-comment  .pagetpl #comment-form select {
	-moz-appearance: none !important;
	border: 1px solid #FFFFFF;
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	width: 60%;
}
body.page-comment  .pagetpl #comment-form .option {
  color: #2A2A2A !important;
  font-size: 15px !important;
}
body.page-comment  .pagetpl #comment-form .form-item {
  display: inline-block;
  margin: 6px 0;
  width: 100%;
  padding: 0 25px;
}
body.page-comment  .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
	width:30% !important; 
	padding-left:0px !important;
}
body.page-comment  .pagetpl .profile-container {
  margin: 0 auto;
  min-height: 600px;
  padding-bottom: 30px;
  width: 980px;
}
body.page-comment  .pagetpl  #edit-actions input:hover {
  background: none repeat scroll 0 0 #000000;
  color: #fff;
  font-family:'domineregular';
}
body.page-user .pagetpl .Indewallform .form-item, .form-actions {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center !important;
}
body.page-user .section-queen-profile .section-queen {
  background-color: #F3E8E4;
  background-image:none;
}
body.page-user  .user-profile-edit {
    background-color: #f3e8e4;
    float: left;
    margin-top: 20px;
    padding: 45px;
    width: 100%;
	padding: 0 45px;
}
body.page-user   .cke_top {
  background-color: #FCE1D7;
  border-bottom: 0 solid #B6B6B6;
  box-shadow: none;
  padding: 6px 8px 2px;
  white-space: normal;
}
body.page-user    .imagefield-crop-widget.form-managed-file.clearfix {
	display: inline-block;
	text-align: center;
	width: 59.8%;
}
body.page-user  .form-type-managed-file label {
  margin-bottom: 5px;
  width: 20% !important;
}
body.page-user-edit label {
    font-weight: normal;
    font-family: 'domineregular';
}

body.page-user-edit input#edit-pass-pass1 {
    border: 1px solid #ffffff;
    padding:5px;
     width:20% !important;
}
body.page-user-edit input#edit-pass-pass2 {
    border: 1px solid #ffffff;
    padding:5px;
     width:20% !important;
}
body.page-user-edit input#edit-current-pass {
    border: 1px solid #ffffff;
    padding:5px;
    width:20% !important;
}
body.page-user-edit input#edit-mail {
    border: 1px solid #ffffff;
    padding:5px;
}
body.page-user-edit div.description {
    display: none;
}
body.page-user-edit #edit-account .form-type-password-confirm .password-confirm {
	display:inline-block;
    font-size: 12px;
    line-height: 0px;
    margin-top: 0;
	float:left;
}
body.page-user-edit input.password-confirm, input.password-field {
  margin-bottom: 0.8em;
  width: 16em;
}
body.page-user-edit  .imagefield-crop-preview {
  border: 5px solid #ffffff;
  float: left;
  margin-bottom: 10px;
  text-align: center !important;

}
body.page-user-edit   .imagefield-crop-cropbox {
  float: left;
  width: 100%;
}
body.page-user-edit   .file {
	background-color: #FFFFFF;
	margin-left: 20%;
	padding: 9px 20px;
}
body.page-user-edit select {
	border: 1px solid #FFFFFF;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 5px;
	width: 60%;
}
body.page-user-edit .file > a {
  color: #aaa;
  font-family: 'domineregular';
  font-size: 14px;
  color: #000000;
}
body.page-user-edit input[type="submit"]{
	background-color: #FFFFFF;
	border: 0 none;
	border-radius: 0 !important;
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 14px;
	margin-left: 0;
	padding: 10px 20px;
}
body.page-user-edit input[type="submit"]:hover {
	background-color: #000000;
	border: 0 none;
	border-radius: 0 !important;
	margin-left: 0;
	padding: 10px 20px;
	color:#ffffff;
	font-family:'domineregular';
	font-size:14px;
}
body.page-user-edit .form-managed-file .form-file, .form-managed-file .form-submit {
  margin: 0;
}
.form-managed-file .form-file, .form-managed-file .form-submit {
  margin-bottom: 0;
  margin-right: 5px !important;
  margin-top: 0;
}
body.page-user .profile-container .mailchimp-lists-user-subscribe-form> div {
  background-color: #BEE6D6;
  border: 2px solid #FFFFFF;
  text-align:center;
  width:100%;
  padding:20px;
}
body.page-user .profile-container .statisk-container .mailchimp-lists-user-subscribe-form> div {
  background-color: #fee0d5;
  border: 2px solid #FFFFFF;
  text-align:center;
  width:100%;
  padding:20px;
}

body.page-user .profile-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	background-color: #C4EDDD;
	border: 1px solid #B7E1D0;
	border-radius: 7px;
	font-size: 12px;
	height: 80px;
	margin: 0 auto !important;
	padding: 20px;
	width: 60%;
}
body.page-user-edit .user-content-bg ul.primary {
  border-bottom: 1px solid #fee0d5;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
body.page-user .profile-container .statisk-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
  background-color: #f8d4c6;
  border: 1px solid #f8d4c6;
  border-radius: 7px;
  font-size: 12px;
  height: 80px;
  margin: 0 auto !important;
  padding: 20px;
  width: 60%;
}
body.page-user-edit .user-content-bg  .imagefield-crop-preview {
  float: left;
  margin-bottom: 10px;
  text-align: center !important;
}
body.page-user-edit .user-content-bg   .form-wrapper {
  background-color: #fee7df;
  padding:10px;
}
body.page-user-edit .user-content-bg form{
  background-color: #FEE0D5;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 25px 25px 70px !important;
}
body.page-user-edit .user-content-bg .form-actions.form-wrapper {
  float: left;
  left: 0 !important;
  margin: 0 !important;
  text-align: left !important;
  width: 100%;
}
body.page-user-edit .user-content-bg .content #user-profile-form #edit-field-receive-newsletter {
  display: none;
}
@media (min-width: 320px) and (max-width: 480px) {
	.statisk-container #edit-account .form-item label {
		float: left;
		font-size: 13px;
		width: 100%;
	}
	body.page-user-edit #user-profile-form input.form-text {
	  background-color: #FFFFFF;
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-weight: normal;
	  text-transform: capitalize;
	  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	  width: 100% !important;
	}
	body.page-user-edit #user-profile-form label {
		font-family: 'domineregular';
		font-weight: normal;
		margin-bottom: 10px;
		width: 100% !important;
	}
	.statisk-container #edit-field-enterprise-blog-picture-und-0-ajax-wrapper .imagefield-crop-widget {
	  margin: 0px;
	}
	#user-profile-form #edit-field-user-sex-und {
	  width: 100%;
	}
	body.page-user-edit input[type="submit"] {
	  background-color: #FFFFFF;
	  border: 0 none;
	  border-radius: 0 !important;
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-size: 14px;
	  margin-left: 0;
	  margin-top: 20px;
	  padding: 10px 20px;
	}
	body.page-user-edit .file {
	  background-color: #FFFFFF;
	  float: right;
	  margin-left: 20%;
	  padding: 9px 20px;
	  width: 100% !important;
	}
	body.page-user-edit .user-content-bg form {
	  background-color: #FEE0D5;
	  margin-bottom: 10px;
	  margin-top: 0;
	  padding: 25px 25px 95px !important;
	}
	.page-user-edit .form-item label {
	  float: left;
	  font-size: 13px;
	  width: 100%;
	}
	body.page-user .profile-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	  background-color: #C4EDDD;
	  border: 1px solid #B7E1D0;
	  border-radius: 7px;
	  font-size: 12px;
	  height: 80px;
	  margin: 0 auto !important;
	  padding: 20px;
	  width: 100%;
	}
	body.page-user .profile-container .statisk-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	  background-color: #F8D4C6;
	  border: 1px solid #F8D4C6;
	  border-radius: 7px;
	  font-size: 12px;
	  height: 80px;
	  margin: 0 auto !important;
	  padding: 20px;
	  width: 100%;
	}
}