/* Custom css start ************/

body.page-user-edit #user-profile-form input.form-text {
	width: 30% !important;
	background-color: #FFFFFF;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

body.page-user-edit #user-profile-form .form-item{
	clear: none;
	float: none;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	overflow: hidden;
}

body.page-user-edit #user-profile-form .form-item .form-item{
	margin-bottom:0px !important ;
}

body.page-user-edit .statisk-container #user-profile-form .form-item {
	margin-bottom: 0em !important;
}

body.page-user-edit  .user-content-bg  form{
	background-color: #FEE0D5;
	margin-bottom: 25px;
	margin-top: 0px;
	padding: 25px !important;
}
body.page-user-edit   form{
	margin-bottom: 25px;
	margin-top: 0px;
	padding: 25px !important;
}
body.page-user .user-profile-edit .content {
	background-color: #BEE6D6 !important;
	border: 5px solid #FFFFFF;
}
body.page-user-edit ul.secondary a.active {
    border-bottom: 0px solid #999999;
	border-bottom: 0 solid #999999;
	font-family: 'domineregular';
	font-size: 15px;
}

body.page-user-edit #user-profile-form .form-item .form-item{
	margin-top:0px !important;
}

body.page-user-edit #user-profile-form .form-item .confirm-parent{
	margin-bottom: 0px !important;
}

body.page-user-edit #user-profile-form  #edit-field-enterprise-blog-picture .form-item{
	margin-top:0px !important;
}

.page-user-edit .profile-container ul.primary {
  clear: both;
  display: block;
  float: left;
  line-height: normal;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}

.page-user-edit .profile-container ul.primary li {
	background: none repeat scroll 0 0 #8CB8A6;
	border-left: 0px solid #8CB8A6;
	border-right: 0px solid #8CB8A6;
	border-top: 0px solid #8CB8A6;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 10px 35px;
}

.page-user .profile-container ul.primary li a {
  border: medium none;
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 14px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
}
body.page-user-edit  ul.primary {
  border-bottom: 1px solid #82b6a1;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
.page-user .user-profile-edit ul.primary li.active a{
	color: #E85C99 !important;
}
.page-user .user-profile-edit ul.primary li a:active{
	background-color:transparent;
}
.page-user .user-profile-edit ul.primary li.active{
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    color: #000000;
    position: relative;
    top: 0px;
}
.page-user .user-profile-edit ul.primary li a:hover{
	background:none !important;
}
.page-user-edit .form-item label {
    float: left;
    font-size: 13px;
    width: 20%;
}
body.page-user-edit #user-profile-form label {
	font-family: 'domineregular';
	font-weight: normal;
	margin-bottom: 10px;
}
body.page-user-edit #user-profile-form input.form-text{
	background-color: #FFFFFF;
	color: #2A2A2A;
	font-family: 'domineregular';
	font-weight: normal;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	width: 60% !important;
	text-transform: capitalize;
}
body.page-user-edit input.form-text{
	border: 1px solid #FFFFFF;
	padding: 5px;
	width: 30% !important;
}

body.page-user-edit .imagefield-crop-widget {
	clear:both;
}
.confirm-parent, .password-parent {
	width:auto !important;
}
body.page-user-edit #edit-account .form-type-password-confirm .password-confirm{
	float:none;
}
.form-type-managed-file label{
	width:28% !important;
	margin-bottom:5px;
}
.imagefield-crop-widget {
	margin-bottom:10px;
}	
.form-item-field-about-me-und-0-value .form-textarea-wrapper{
	clear:both;
}
.form-item-field-about-me-und-0-value label{
	margin-bottom:0px;
}
#edit-account .form-item .password-suggestions.description {
    clear: both;
    color: #000000;
    float: none;
    margin-left: 18%;
    width: 30%;
}
#edit-account .form-item .password-suggestions.description ul li {
    color: #AAAAAA;
    list-style-type: none;
}
#user-profile-form  #edit-field-about-me-und-0-format{
	border:none;
	display:none;
}
#user-profile-form #edit-field-user-sex-und{
	width:24%;
}
body.page-user-edit #block-mailchimp-lists-drupal-mailchimp {
	border: 1px solid #000000;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    width: 320px;
}
body.page-user-edit #mailchimp-newsletter-drupal_mailchimp{
	text-align:center;
}
body.page-user-edit #mailchimp-newsletter-drupal_mailchimp label{
	float:none;
}
body.page-user-edit #user-profile-form #edit-subscriptions{
	padding:10px;
}
body.page-user-edit #edit-newsletters.form-checkboxes{
	display:inline
}
body.page-user-edit #edit-newsletters .form-item label{
	float:none;
}
body.page-user-edit #edit-newsletters  .form-item{
	margin-bottom: 0.4em !important;
    margin-top: 0.4em !important;
}
.page-user-mailchimp .region-content{
    padding: 5px 15px;
		padding-top:20px;
}
.page-user-mailchimp #mailchimp-newsletter-drupal_mailchimp{
	width:100%;
}
.page-user-mailchimp #mailchimp-lists-user-subscribe-form .form-submit {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background-color: #F3E8E4;
	background-image: none;
	border-color: #e6d7d1 !important;
	border-image: none;
	border-radius: 5px !important;
	-webkit-border-radius: 7px !important;
	-moz-border-radius: 7px !important;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal !important;
	line-height: 1.42857;
	margin-bottom: 0;
	margin-left: -8px;
	margin-top: 12px;
	padding: 6px 30px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
.page-user-mailchimp #mailchimp-lists-user-subscribe-form .form-submit:hover {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background-color: #2a2a2a;
	background-image: none;
	border-color: #2a2a2a !important;
	border-image: none;
	border-radius: 5px !important;
	-webkit-border-radius: 7px !important;
	-moz-border-radius: 7px !important;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal !important;
	line-height: 1.42857;
	margin-bottom: 0;
	margin-left: -8px;
	margin-top: 12px;
	padding: 6px 30px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
.page-user-mailchimp #mailchimp-lists-user-subscribe-form{
	margin: 0 auto;
  text-align: center;
}
body.page-user-edit ul.secondary {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0.5em 1em;
	border-bottom:0px;
}
body.page-user-edit ul.secondary li {
  border-right: 1px solid #82B6A1;
  display: inline;
  padding: 0 1em;
}
body.page-user-edit .user-content-bg ul.secondary li {
  border-right: 1px solid #fee0d5;
  display: inline;
  padding: 0 1em;
}