/*==========================BLOG PAGE ======================*/
/*====================For Normal Alignment =======================*/

.blog-container{
    padding-bottom: 20px;
}
.blog .blog-container .blog-grid {
    background: none;
    float: left;
    padding-bottom: 10px;
    width: 650px;
    margin: 10px 10px 10px 0px;
}
.blog .blog-grid-item p{
    margin:0;
}
.page-blog .blog-info-content, 
.page-artikler .blog-info-content {
    font-size: 20px;
    margin: 0;
    padding: 15px 22px;
	font-family:dominebold;
}
.page-blog .block-views .grid-item-01,
.page-artikler .block-views .grid-item-01 {
    padding-bottom: 3px;
}
.page-blog .block-views .grid-item-01 .comments-home,
.page-artikler .block-views .grid-item-01 .comments-home {
    padding-bottom: 0;
}
.blog-author-details{
    color: #2a2a2a;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0;
    width: 80%;
    line-height: 15px;
    font-family:domineregular;
}

.page-blog .blog-author-details a,
.page-artikler .blog-author-details a {
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 12px;
    padding:0px;
}

/*.page-blog .item-blog-author,.page-artikler .item-blog-author {
  display: inline-block;
  padding: 0px 15px 0px;
  width: 94%;
}*/
.page-blog .item-blog-author,
.page-artikler .item-blog-author {
  display: block;
  float: left;
  padding: 0px;
  width: 100%;
}
.page-blog .info-author-image,
.page-artikler .info-author-image {
  display: block;
  float: left;
  padding: 7px 5px 5px 10px;
  width: 19%;
}
.page-blog  .info-author-image img,
.page-artikler .info-author-image img {
  border: 2px solid #343232;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.page-blog .blog-author-details,
.page-artikler .blog-author-details {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 14px;
  margin-top: 5px;
  padding: 10px 0 0;
  width: auto;
}
.page-blog .blog .blog-grid-details,
.page-artikler .blog .blog-grid-details {
  border-top: 1px solid #E3E3E3;
  display: block;
  float: left;
  margin: 0;
  padding: 5px 15px 0;
  width: 100%;
}
.page-blog .blog-grid-item p,
.page-artikler .blog-grid-item p{
  font-family: domineregular;
  font-size: 19px;
  font-weight: bold;
  padding: 10px 20px 15px !important;
}
.blog-post-time.post-time {
  color: #818080;
}
.page-blog  .blog .blog-author img,
.page-artikler .blog .blog-author img {
  border: 2px solid #343232;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.blog-author-details a {
  color: #333333;
  display: inherit;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
}
.blog .blog-container .blog-rightgrid {
    float: right;
    width: 320px;
}
.blog .blog-grid-details .blog-author{
 width:8%;
}
.page-blog .blog-author-info,
.page-artikler .blog .blog-author-info {
  padding: 5px 10px 8px 0px;
  text-transform: capitalize;
  width: 51%;
}
.blog .blog-author-info p {
  font-weight: normal;
  line-height: 15px;
  margin-top: 4px;
  text-transform: uppercase;
  font-size: 11px !important;
  padding:0px !important;
}
.page-artikler .blog-post-time.post-time {
  color: #818080;
  font-size: 11px;
}
.blog .blog-author-info .username {
  color: #333333;
  font-family: domineregular;
  font-size: 11px;
  font-weight: normal;
  text-transform: capitalize;
  padding:0px;
}
.blog-sidegrid-item .post-details {
  padding: 8px 5px;
}
.blog .post-details .post-date{
    font-weight:normal;
}

.page-blog  .blog .blog-likes,.page-artikler .blog .blog-likes{
  border-left: 1px solid #E3E3E3;
  height: 25px;
  line-height: 25px;
  margin-top: 8px;
  padding: 0;
  text-align: center;
  width: 15%;
}
.page-blog  .blog-grid-details .blog-comments,.page-artikler  .blog-grid-details .blog-comments {
    font-weight: normal;
    padding: 14px 20px;
    text-align: center;
    width: 25%;
}
.blog-likes .likes {
    background: url("../images/likes.png") no-repeat;
    padding-left: 23px;
    background-position: 0px 1px;
}
.blog-likes .likes:before {
    vertical-align: middle;
    content:"";
    padding-left:0px;
    padding-right:0px;
}
.blog .blog-likes a{
    font-weight:normal;
}
.blog-commentsicon {
  background: url("../images/comments.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
  float: none;
  height: 11px;
  padding-left: 23px;
}
.blog-grid-details .blog-comments {
  font-weight: normal;
  padding: 11px 20px;
  text-align: center;
  width: 25%;
}
.page-blog .title-name{
    margin: -15px auto 0;
    padding-bottom: 5px;
}
.page-blog .bx-wrapper img,.page-artikler .bx-wrapper img{
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  max-width: 100%;
  padding:20px 7% 0;
}
.page-blog .carousel-info,.page-artikler .carousel-info{
    padding:10px 20px;
}
.page-blog .grid2-info h3, .page-artikler .grid2-info h3 {
	line-height: 35px;
	padding-bottom: 3px;
	margin:0px;
	font-family: 'DidotRegular';
	font-weight:bold;    
}
.page-blog .follow{
    margin-top: 10px;
}
.page-blog .carousel-info h3 a,.page-artikler .carousel-info h3 a {
  color: #2A2A2A;
  font-size: 40px;
  letter-spacing: -2px;
  text-decoration: none;
}
.page-artikler .selectricItems,.page-blog .selectricItems{
	top:31px;
}
.blogpost-Commentpost #comment-form {
  border: 1px solid #E3E3E3;
  clear: both;
  margin: 0 auto;
  padding: 15px;
  width: 94%;
}

/*========================Post Details ======================*/
.blog .post-details .post-date {
    color: #2A2A2A !important;
	font-family:domineregular !important;
    font-weight:normal !important;
}
.blog .blog-sidegrid-item {
    padding: 15px;
}
.blog .popular-details{
    width: 60%;
}
.page-blog  .popular-details .likes:before,.page-artikler  .popular-details .likes:before{
   padding-left:5px;
}
.page-blog .blog .popular-date, .page-artikler .blog .popular-date {
  border-right: 1px solid #E3E3E3;
  color: #2A2A2A;
  font-family: domineregular !important;
  font-size: 11px;
  padding-right: 5px;
  text-transform: uppercase;
}
.page-blog .popular-details p,.page-artikler .popular-details p {
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 12px;
  line-height: 17px;
  margin: 5px 0 0;
  padding: 0;
  text-align: justify;
  word-spacing: -1px;
}
.popular-details p {
  font-size: 11px;
  text-align: left;
  word-spacing: 3px;
}

.blog .blog-selectbox select{
    width:275px;
    font-weight: normal;
    padding:7px 10px;
    height: 30px;
}
.blog .blog-sidegrid-item h1{
      font-size: 31x !important;
}
.page-blog .post-details {
  padding: 8px 5px;
}
.blog .post-details p {
  margin: 4px 0 0;
}
.page-blog .blog-sidegrid-item .item-post,.page-artikler .blog-sidegrid-item .item-post {
  border-bottom: 1px solid #E3E3E3;
}
.page-blog .blog .blog-selectbox ,
.page-artikler .blog .blog-selectbox {
  height: auto;
  padding: 15px;
}
.page-blog .blog .blog-selectbox .selectricWrapper,.page-artikler .blog .blog-selectbox .selectricWrapper {
  width: 274px;
  padding-bottom: 20px;
}
.page-blog .blog .blog-selectbox h1 {
  color: #2A2A2A;
  font-family: didotregular;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 10px 0 20px;
}
.page-artikler .blog .blog-selectbox h1 {
  color: #2A2A2A;
  font-family: didotregular;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 10px 0 20px;
}
.page-blog .blog .blog-selectbox .selectric .label,.page-artikler .blog .blog-selectbox .selectric .label  {
  color: #444444;
  padding: 6px;
  text-align: left;
}
.page-blog .blog .blog-selectbox .selectricItems ul, .page-blog .blog .blog-selectbox .selectricItems li{
    padding-top: 9px;
}
.page-blog .blog .blog-selectbox .selectricItems li,.page-artikler .blog .blog-selectbox .selectricItems li{
  padding: 1px 5px;
  color: #444;
  font-weight:normal;
}
.page-blog .blog .blog-selectbox .selectricItems li:hover,.page-artikler .blog .blog-selectbox .selectricItems li:hover{
    color:#000;
}
.page-artikle .selectricItems li {
  cursor: pointer;
  display: block;
  font-weight: normal;
  padding: 1px 5px;
}
.page-blog .blog .blog-sidegrid-item h1,
.page-artikler .blog .blog-sidegrid-item h1 {
  color: #2A2A2A;
  font-family: didotregular;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 10px 0;
  text-transform: uppercase;
}
.page-blog .blog-author-info .blog-post-time.post-time,
.page-artikler .blog-author-info .blog-post-time.post-time{
    color: #818080;
    font-family: domineregular;
    padding-left: 8px;
}
.page-blog .blog-author-details .blog-post-time.post-time{
    color: #818080;
    font-family: domineregular;
    padding-left: 8px;
}
.node-type-trends .blogpost-container .blog-sidegrid-item h1 {
    margin:0 0 15px;
}
.node-type-trends .blogpost-container  .post-details .blog-post-time.post-time {
  color: #818080;
  font-size: 11px;
  padding-left: 8px;
}
/*========================== END BLOG PAGE ======================*/

/*==========================Welness Page ==================*/
.wellness-section .grid2-info h3 {
  font-family: 'DidotRegular';	
  font-size: 40px;
  line-height: 35px !important;
	font-weight:normal;    
}

/*=====================Home Page ===============*/
.selectric .button{
  background-image:url("../images/select-2.png");
  background-repeat:  no-repeat;
  background-position:0 0;
  background-color:rgba(0, 0, 0, 0);
}
.navigation-bar {
  margin-top: 14px;
}
.navigation-bar a {
  font-family: domineregular;
}
.header {
	background-image:url("../images/nav-bg.png");
	background-repeat:repeat-x;
	background-position:0 0;
	background-color: rgba(0, 0, 0, 0);
	position: fixed !important;
	top: -1px !important;
	z-index:999 !important;
}
.main-content-container {
  position: relative;
  top: 82px;
}
.front .banner {
  width: 100%;
  z-index: 1;
}
.front .info-content{
 font-family:domineregular;
}
.front .selectricWrapper {
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 0 40px;
  position: relative;
  width: 235px;
}
.front .selectricWrapper .selectric .label {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #444444;
  display: block;
  font-size: 12px;
  height: 35px;
  line-height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 5px 5px 5px 15px;
  text-transform: capitalize;
  white-space: nowrap;
  width: 100%;
  text-align:left;
}
.front .selectricWrapper .selectricItems {
  top: 40px !important;
  height:135px !important;
}
.front .selectricWrapper.selectricOpen .label{
  border-bottom:1px solid #E3E3E3;
}
.front .selectricWrapper .selectricItems ul, .front .selectricWrapper .selectricItems li {
  padding-top: 5px;
}
.front .selectricWrapper .selectricItems li {
  color: #444444;
  font-weight: normal;
  padding: 1px 5px;
  text-align: left;
}
.front .selectricWrapper .selectricItems li:hover{
  color:#000;
}
.bx-wrapper .bx-controls-direction a{
  z-index:998 !important;
}
.gecko11 .carousel-info {
  padding:10px 0px;
}
.front .grid2-info h3 {
  font-family: 'DidotRegular';
  letter-spacing: -2px;
  font-weight: bold;
  line-height: 35px;
  margin: 5px 0;
  font-weight:bold;    
}
.front  .grid2-info h3 a{
  font-size: 40px;
}
.front .follow a{
  padding-left:3px;
}
.front .info-details img {
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.view-treatment {
  background-image: url("../images/readmore.png");
  background-repeat:no-repeat;
  background-position:right 3px;
  background-color: #FFFFFF;
  margin-left: 10px;
  padding-right: 20px;
}
.front .lastmt-item h1 {
  color: #2A2A2A;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 35px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.front .banner h2 {
  color: #2A2A2A;
  font-family: dominebold;
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.front .sub-title{
  margin-bottom: 30px;
}
.front .grid-item-02{
  padding: 20px 20px 10px;
}
.front .slider-background .title-name{
 color: #2A2A2A;
 font-weight: bold;
 margin: -15px auto;
 padding-bottom: 20px;
}
.front .section-02 .title-name {
 margin: -15px auto;
 padding-bottom: 30px !important;
 width: 50% !important;
 color: #2A2A2A;
 font-weight: bold;
}
.front .section-03 .title-name{
 margin:-19px auto;
 width:25% !important;
 color: #2A2A2A;
 font-weight: bold;
}
.front .section-04 .title-name{
 padding-bottom: 40px !important;
 margin:-19px auto;
 color: #2A2A2A;
 font-weight: bold;
}
.info-01{
    padding: 0px 20px 0px 20px;
}
.section-02 .likes:before{
    padding-left: 20px;
}
.section-04 .likes:before{
    padding-left: 20px;
}
.front .bx-viewport a{
	text-decoration:none;
}
.front .carousel-info {
 /* padding: 10px 10px 20px;*/
}
.front .carousel-info h1 {
 /* padding: 10px 10px;*/
  break-word:break-all;
  word-wrap: break-word;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
/*==============Find Clinic ====================================*/
.findklinik-form.highlighted {
  position: fixed;
  top: 0;
  width: 980px;
  z-index: 999;
}
.findklinik-product {
  background-color: #FFFFFF;
  padding: 20px 20px 10px !important;
}
.findklinik-block {
  clear: both;
  float: left;
  height: 215px;
  margin-bottom: 10px;
}
.findclinik-mail a span{
  text-transform:lowercase;
}
.findklinik-block .findklinik-details h6 {
  color: #818080;
  font-weight: normal;
}
.page-find-klinik .findklinik-selectbox .selectric .label {
  font-family: domineregular;
  font-weight: normal;
  text-align: left;
}
.page-find-klinik .selectricWrapper .selectricItems li {
  color: #444444;
  font-weight: normal;
  padding: 1px 5px;
  text-align: left;
}
.page-find-klinik .selectricWrapper .selectricItems li:hover{
  color:#000;
}
.page-find-klinik .select-radius .selectricItems,.page-find-klinik .select-cat .selectricItems{
  top:31px;
}
.page-find-klinik .select-cat .selectricItems{
  height:240px;
}
.page-find-klinik  .findklinik-selectbox h4 {
  font-weight: normal;
}
.page-find-klinik  .findklinik-header h5 {
  font-family: dominebold;
}
.clinicprofile-sidebar ul.days{
 margin:0px;
 padding:0px;
}
.page-anmeldelser .lastminute-selectbox.category .selectricItems{
 height:140px;
}
/*=========================== Last Minute Page ================*/

.lastminute-container .lastminute-content .lastminute-selectbox .selectric .label {
 text-align: left;
 font-family: domineregular;
 font-weight: normal;
}
.lastminute-selectbox .selectricItems li {
  color: #2a2a2a;
  font-weight: normal;
  padding: 1px 5px;
}
.lastminute-selectbox .selectricItems li:hover{
 color:#000;
}
.page-last-minute .lastminute-selectbox h4 {
 color: #2A2A2A;
 font-family:'domineregular';
}
.page-last-minute .lastminute-time .time-label {
  color: #2a2a2a;
}
.page-last-minute .selectricWrapper.select-rating .selectricItems{
  height:152px;
}
.page-last-minute .selectricWrapper.select-category .selectricItems li ,
.page-last-minute .selectricWrapper.select-distance .selectricItems li ,
.page-last-minute .selectricWrapper.select-rating .selectricItems li {
  color: #444444;
  font-weight: normal;
  padding: 1px 5px;
  text-align: left;
}
.page-last-minute .selectricWrapper.select-category .selectricItems li:hover ,
.page-last-minute .selectricWrapper.select-distance .selectricItems li:hover ,
.page-last-minute .selectricWrapper.select-rating .selectricItems li:hover {
  color:#000;
}

/*========================== Anmeldelser =========================*/
.anmeldelser .lastminut-form button{
    font-family: domineregular;
}
.lastminute-selectbox.category .selectricWrapper{
	width:245px;
	margin:0 auto;
}
.lastminute-selectbox.category .selectricWrapper .selectricItems{
	top:32px;
	box-shadow:none;
}
.lastminute-selectbox.category .selectricWrapper .selectric .label{
	padding:7px;
	text-align:left;
	margin:0 auto;
     font-family: domineregular;
    font-weight: normal;
}

.lastminute-selectbox.radius .selectricWrapper{
   width:160px;
   margin:0 auto;
}
.lastminute-selectbox.radius .selectricWrapper .selectric .label{
	padding:7px;
	text-align:left;
	margin:0 auto;
     font-family: domineregular;
    font-weight: normal;
}
.lastminute-selectbox.radius .selectricWrapper .selectricItems{
	top:32px;
	box-shadow:none;
}
.lastminute-selectbox.sort .selectricWrapper {
    width: 170px;
    margin:0 auto;
}
.lastminute-selectbox.sort .selectricWrapper .selectric .label{
	padding:7px;
	text-align:left;
	margin:0 auto;
     font-family: domineregular;
    font-weight: normal;
}
.lastminute-selectbox.sort .selectricWrapper .selectricItems{
	top:32px;
	box-shadow:none;
}
.lastminute-container .lastminute-content .lastmint-price .btn-book {
  font-size: 10px;
  font-weight: bold;
}
.lastmint-price hr {
  margin-bottom: 12px;
}



/*=========================IE FIXING =============================*/

/*======================IE 9 ================================*/

.msie9 .front .bx-wrapper .carousel-info {
    width: 96%;
    padding: 10px 2% 20px;
}

.msie9 .front .carousel-info h1 {
    padding: 10px 15px 10px 15px;
    word-break:break-all;
}
.msie9 .page-blog  .blog-grid-details,
.msie9 .page-artikler .blog-grid-details{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie9 .page-blog  .blog-grid-item p,
.msie9 .page-artikler  .blog-grid-item p{
    padding-bottom: 10px;
}
.msie9 .page-blog  .blog-author-info p,
.msie9 .page-artikler  .blog-author-info p{
    padding-left: 4px;
}
.msie9 .page-blog   .blog-grid-details .blog-comments,
.msie9 .page-artikler .blog-grid-details .blog-comments{
    width:19%;
}
.msie9 .page-blog   .blog-grid-details .blog-comments .blog-commentsicon,
.msie9 .page-artikler  .blog-grid-details .blog-comments .blog-commentsicon{
    padding-left: 0px;
}
.msie9 .page-blog .blog .blog-author-info,
.msie9 .page-artikler .blog .blog-author-info{
    width:48%;
}
.msie9 .page-blog .bx-wrapper img,
.msie9 .page-artikler .bx-wrapper img{
    width:90% !important;
    padding:15px 5% 0px 5%;
    max-width:90%;
}
.msie9 .page-blog .carousel-info,
.msie9 .page-artikler .carousel-info {
    padding-left: 5%;
    padding-right: 5%;
    width:90%;
}
.msie9 .page-blog .grid2-info h3,
.msie9 .page-artikler .grid2-info h3{
    margin-top:0px;
    }
.msie9 .page-blog .blog-selectbox .selectricWrapper,
.msie9 .page-artikler .blog-selectbox .selectricWrapper{
    width:263px;
}
.msie9 .page-blog .blog-selectbox .selectric .label,
.msie9 .page-artikler .blog-selectbox .selectric .label{
    padding-right: 0px;
    padding-left:3%;
    width:97%;
}
.msie9 .page-blog .block-views .grid-item-01,
.msie9 .page-artikler .block-views .grid-item-01 {
    padding-bottom: 0px;
}
.msie9 .page-blog .block-views .grid-item-01 .comments-home,
.msie9 .page-artikler .block-views .grid-item-01 .comments-home{
    padding-bottom: 0px;
    padding-top: 5px;
    height:25px;
}
.msie9 .page-blog .block-views .grid-item-01 .item-blog-author,
.msie9 .page-artikler .block-views .grid-item-01 .item-blog-author{
    width:94%;
    padding-left: 3%;
    padding-right: 3%;
}
.msie9 .page-blog .block-views .grid-item-01 .item-blog-author .info-author-image,
.msie9 .page-artikler .block-views .grid-item-01 .item-blog-author .info-author-image{
    width:20%;
    padding-right: 0px;
    padding-left: 0px;
}
.msie9 .page-blog .block-views .grid-item-01 .blog-author-details,
.msie9 .page-artikler .block-views .grid-item-01 .blog-author-details{
    width:79%;
    padding-right: 0px;
    padding-left: 0px;
	
}

.msie9 .actions  .btn.btn-round {
	padding:0px;
}
.msie9 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.msie9 .front .selectricWrapper .selectric .label{
    height:25px;
    width:196px;
}
.msie9  .front .selectricWrapper{
    width:215px;
}

.msie9 .sidebar-content .popular-details{
    width:63%;
}
.msie9 .blogpost-author-content .blogpost-author{
    width:8%;
}
.msie9 .blogpost-author-content .blogpost-author-details{
    width:50%;
}
.msie9  .blogpost-clink .blogpost-social{
    margin-top:-25px !important;
}
.msie9 .blogpost-Commentpost .comments-right{
    width:75%;
}
.msie9 .page-find-klinik  .findklinik-form{
	padding:0px 0px 10px;
}
.msie9 .page-find-klinik  .findklinik-product {
    padding:20px !important;
}
.msie9 .page-find-klinik  .select-cat .selectricWrapper .selectricItems{
   height:211px !important;
  width:210px !important;
  top:32px !important;
}
.msie9 .page-anmeldelser .lastminut-form{
 width:96%;
 padding:0 2% 10px;
}
.msie9 .page-anmeldelser .category.lastminute-selectbox .selectricWrapper{
 width:220px;
}
.msie9 .highlighted.lastminut-form{
 width:960px;
 padding:0 10px 10px;
}
/*=======Lat Minute ========*/
.msie9 .page-last-minute .last-min-date #datepicker{
    width:53% !important;
}
.msie9 .page-last-minute .lastminut-form > form{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie9 .page-last-minute .lastminute-selectbox.day{
    width: 15%;
}
.msie9 .lastminute-time .btn-book{
    padding-top: 7px;
    padding-bottom: 7px;
}
.msie9 .lastminut-form .lastminute-time{
    padding:0px;
}
.msie9 .page-last-minute .lastminut-form .check-label{
    padding-right:23px;
    padding-left:22.5px;
}
.msie9 .price-inf0 .inf0{
    width:33.33%;
    padding:0px !important;
}
.msie9 .price-inf0 .inf0.middle{
    text-align:center;
}
.msie9 .price-inf0 .inf0.last{
    text-align:right;
}
.msie9 .clinicprofile-content .sidebar-content{
 padding:15px 15px 15px;
}
.msie9 .clinicprofile-content .sidebar-content h1{
  padding:5px 0px 10px;
}
/*=========================================IE 10 ==========================*/
.msie10 .front .bx-wrapper .carousel-info {
    width: 96%;
    padding: 10px 2% 20px;
}

.msie10 .front .carousel-info h1 {
    padding: 10px 15px 10px 15px;
    word-break:break-all;
}
.msie10 .page-blog  .blog-grid-details,
.msie10 .page-artikler .blog-grid-details{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie10 .page-blog  .blog-grid-item p,
.msie10 .page-artikler  .blog-grid-item p{
    padding-bottom: 10px;
}
.msie10 .page-blog  .blog-author-info p,
.msie10 .page-artikler  .blog-author-info p{
    padding-left: 4px;
}
.msie10 .page-blog   .blog-grid-details .blog-comments,
.msie10 .page-artikler .blog-grid-details .blog-comments{
    width:19%;
}
.msie10 .page-blog   .blog-grid-details .blog-comments .blog-commentsicon,
.msie10 .page-artikler  .blog-grid-details .blog-comments .blog-commentsicon{
    padding-left: 0px;
}
.msie10 .page-blog .blog .blog-author-info,
.msie10 .page-artikler .blog .blog-author-info{
    width:48%;
}
.msie10 .page-blog .bx-wrapper img,
.msie10 .page-artikler .bx-wrapper img{
    width:90% !important;
    padding:15px 5% 0px 5%;
    max-width:90%;
}
.msie10 .page-blog .carousel-info,
.msie10 .page-artikler .carousel-info {
    padding-left: 5%;
    padding-right: 5%;
    width:90%;
}
.msie10 .page-blog .grid2-info h3,
.msie10 .page-artikler .grid2-info h3{
    margin-top:0px;
    }
.msie10 .page-blog .blog-selectbox .selectricWrapper,
.msie10 .page-artikler .blog-selectbox .selectricWrapper{
    width:263px;
}
.msie10 .page-blog .blog-selectbox .selectric .label,
.msie10 .page-artikler .blog-selectbox .selectric .label{
    padding-right: 0px;
    padding-left:3%;
    width:97%;
}
.msie10 .page-blog .block-views .grid-item-01,
.msie10 .page-artikler .block-views .grid-item-01 {
    padding-bottom: 0px;
}
.msie10 .page-blog .block-views .grid-item-01 .comments-home,
.msie10 .page-artikler .block-views .grid-item-01 .comments-home{
    padding-bottom: 0px;
    padding-top: 5px;
    height:25px;
}
.msie10 .page-blog .block-views .grid-item-01 .item-blog-author,
.msie10 .page-artikler .block-views .grid-item-01 .item-blog-author{
    width:94%;
    padding-left: 3%;
    padding-right: 3%;
}
.msie10 .page-blog .block-views .grid-item-01 .item-blog-author .info-author-image,
.msie10 .page-artikler .block-views .grid-item-01 .item-blog-author .info-author-image{
    width:18%;
    padding-right: 0px;
    padding-left: 0px;
}
.msie10 .page-blog .block-views .grid-item-01 .blog-author-details,
.msie10 .page-artikler .block-views .grid-item-01 .blog-author-details{
    width:79%;
    padding-right: 0px;
    padding-left: 0px;
}
.msie10 .actions  .btn.btn-round {
	padding:0px;
}
.msie10 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.msie10 .front .selectricWrapper .selectric .label{
    height:25px;
    width:196px;
}
.msie10  .front .selectricWrapper{
    width:215px;
}

.msie10 .sidebar-content .popular-details{
    width:63%;
}
.msie10 .blogpost-author-content .blogpost-author{
    width:8%;
}
.msie10 .blogpost-author-content .blogpost-author-details{
    width:50%;
}
.msie10  .blogpost-clink .blogpost-social{
    margin-top:-25px !important;
}
.msie10 .blogpost-Commentpost .comments-right{
    width:75%;
}
.msie10 .page-find-klinik  .findklinik-form{
	padding:0px 0px 10px;
}
.msie10 .page-find-klinik  .findklinik-product {
   padding:20px !important;
}
.msie10 .page-find-klinik  .select-cat .selectricWrapper .selectricItems{
   height:211px !important;
  width:210px !important;
  top:32px !important;
}
.msie10 .clinicprofile-content .sidebar-content{
 padding:15px 15px 15px;
}
.msie10 .clinicprofile-content .sidebar-content h1{
  padding:5px 0px 10px;
}
.msie10  .page-anmeldelser .lastminut-form{
 width:96%;
 padding:0 2% 10px;
}
.msie10 .page-anmeldelser .category.lastminute-selectbox .selectricWrapper{
 width:220px;
}
.msie10 .highlighted.lastminut-form{
 width:960px;
 padding:0 10px 10px;
}
/*=======Lat Minute ========*/
.msie10 .page-last-minute .last-min-date #datepicker{
    width:53% !important;
}
.msie10 .page-last-minute .lastminut-form > form{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie10 .page-last-minute .lastminute-selectbox.day{
    width: 15%;
}
.msie10 .lastminute-time .btn-book{
    padding-top: 7px;
    padding-bottom: 7px;
}
.msie10 .lastminut-form .lastminute-time{
    padding:0px;
}
.msie10 .page-last-minute .lastminut-form .check-label{
    padding-right:23px;
    padding-left:22.5px;
}
.msie10 .price-inf0 .inf0{
    width:33.33%;
    padding:0px !important;
}
.msie10 .price-inf0 .inf0.middle{
    text-align:center ;
}
.msie10 .price-inf0 .inf0.last{
    text-align:right;
}

/*==============================================================================================================================
===================================================================  IE 11 =====================================================
=================================================================================================================================*/

.gecko11 .actions  .btn.btn-round {
	padding:0px;
}
.gecko11 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.gecko11 .front .bx-wrapper .carousel-info {
    width: 96%;
    padding: 10px 2% 20px;
}

.gecko11 .front .carousel-info h1 {
    padding: 10px 15px 10px 15px;
	word-break:break-all;
}
.gecko11 .page-blog  .blog-grid-details,
.gecko11 .page-artikler .blog-grid-details{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.gecko11 .page-blog  .blog-grid-item p,
.gecko11 .page-artikler  .blog-grid-item p{
    padding-bottom: 10px;
}
.gecko11 .page-blog  .blog-author-info p,
.gecko11 .page-artikler  .blog-author-info p{
    padding-left: 4px;
}
.gecko11 .page-blog   .blog-grid-details .blog-comments,
.gecko11 .page-artikler .blog-grid-details .blog-comments{
    width:19%;
}
.gecko11 .page-blog   .blog-grid-details .blog-comments .blog-commentsicon,
.gecko11 .page-artikler  .blog-grid-details .blog-comments .blog-commentsicon{
    padding-left: 0px;
}
.gecko11 .page-blog .blog .blog-author-info,
.gecko11 .page-artikler .blog .blog-author-info{
    width:48%;
}
.gecko11 .page-blog .bx-wrapper img,
.gecko11 .page-artikler .bx-wrapper img{
    width:90% !important;
    padding:15px 5% 0px 5%;
    max-width:90%;
}
.gecko11 .page-blog .carousel-info,
.gecko11 .page-artikler .carousel-info {
    padding-left: 5%;
    padding-right: 5%;
    width:90%;
}
.gecko11 .page-blog .grid2-info h3,
.gecko11 .page-artikler .grid2-info h3{
    margin-top:0px;
    }
.gecko11 .page-blog .blog-selectbox .selectricWrapper,
.gecko11 .page-artikler .blog-selectbox .selectricWrapper{
    width:263px;
}
.gecko11 .page-blog .blog-selectbox .selectric .label,
.gecko11 .page-artikler .blog-selectbox .selectric .label{
    padding-right: 0px;
    padding-left:3%;
    width:97%;
}
.gecko11 .page-blog .block-views .grid-item-01,
.gecko11 .page-artikler .block-views .grid-item-01 {
    padding-bottom: 0px;
}
.gecko11 .page-blog .block-views .grid-item-01 .comments-home,
.gecko11 .page-artikler .block-views .grid-item-01 .comments-home{
    padding-bottom: 0px;
    padding-top: 5px;
    height:25px;
}
.gecko11 .page-blog .block-views .grid-item-01 .item-blog-author,
.gecko11 .page-artikler .block-views .grid-item-01 .item-blog-author{
    width:94%;
    padding-left: 3%;
    padding-right: 3%;
}
.gecko11 .page-blog .block-views .grid-item-01 .item-blog-author .info-author-image,
.gecko11 .page-artikler .block-views .grid-item-01 .item-blog-author .info-author-image{
    width:18%;
    padding-right: 0px;
    padding-left: 0px;
}
.gecko11 .page-blog .block-views .grid-item-01 .blog-author-details,
.gecko11 .page-artikler .block-views .grid-item-01 .blog-author-details{
    width:79%;
    padding-right: 0px;
    padding-left: 0px;
}
.gecko11 .actions  .btn.btn-round {
	padding:0px;
}
.gecko11 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.gecko11 .front .selectricWrapper .selectric .label{
    height:25px;
    width:196px;
}
.gecko11  .front .selectricWrapper{
    width:215px;
}
.gecko11 .page-find-klinik  .findklinik-form{
	padding:0px 0px 10px;
}
.gecko11 .page-find-klinik  .findklinik-product {
    padding:20px !important;
}
.gecko11 .page-find-klinik  .select-cat .selectricWrapper .selectricItems{
 height:211px !important;
  width:210px !important;
  top:32px !important;
}
.gecko11 .clinicprofile-content .sidebar-content{
 padding:15px 15px 15px;
}
.gecko11 .clinicprofile-content .sidebar-content h1{
  padding:5px 0px 10px;
}
.gecko11 .page-anmeldelser .lastminut-form{
  padding:0px 1% 10px;
  width:98%;
}
.gecko11 .anmeldelser .info-details{
  height:80px;
}
.gecko11 .page-anmeldelser .location.lastminute-selectbox input[type='text']{
 padding:9px 6px 7px;
}
.gecko11 .page-anmeldelser .lastminut-form{
 width:96%;
 padding:0 2% 10px;
}
.gecko11 .page-anmeldelser .category.lastminute-selectbox .selectricWrapper{
 width:220px;
}
.gecko11 .highlighted.lastminut-form{
 width:960px;
 padding:0 10px 10px;
}
/*=======Lat Minute ========*/
.gecko11 .page-last-minute .last-min-date #datepicker{
    width:53% !important;
}
.gecko11 .page-last-minute .lastminut-form > form{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.gecko11 .page-last-minute .lastminute-selectbox.day{
    width: 15%;
}
.gecko11 .lastminute-time .btn-book{
    padding-top: 7px;
    padding-bottom: 7px;
}
.gecko11 .lastminut-form .lastminute-time{
    padding:0px;
}
.gecko11 .page-last-minute .lastminut-form .check-label{
    padding-right:23px;
    padding-left:22.5px;
}
.gecko11 .price-inf0 .inf0{
    width:33.33%;
    padding:0px !important;
}
.gecko11 .price-inf0 .inf0.middle{
    text-align:center ;
}
.gecko11 .price-inf0 .inf0.last{
    text-align:right;
}

/*==============================================================================================================================
===================================================================  IE 8 =====================================================
=================================================================================================================================*/

.gecko11 .actions  .btn.btn-round {
	padding:0px;
}
.msie8 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.msie8 .front .bx-wrapper .carousel-info{
   width:96%;
   padding:15px 2% 20px;
   height:80px;
}
.msie8 .front .bx-wrapper .carousel-info H1{
padding:0px 15px 10px;
word-break:break-all;
}
.msie8 .page-blog  .blog-grid-details,
.msie8 .page-artikler .blog-grid-details{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie8 .page-blog  .blog-grid-item p,
.msie8 .page-artikler  .blog-grid-item p{
    padding-bottom: 10px;
}
.msie8 .page-blog  .blog-author-info p,
.msie8 .page-artikler  .blog-author-info p{
    padding-left: 4px;
}
.msie8 .page-blog   .blog-grid-details .blog-comments,
.msie8 .page-artikler .blog-grid-details .blog-comments{
    width:19%;
}
.msie8 .page-blog   .blog-grid-details .blog-comments .blog-commentsicon,
.msie8 .page-artikler  .blog-grid-details .blog-comments .blog-commentsicon{
    padding-left: 0px;
}
.msie8 .page-blog .blog .blog-author-info,
.msie8 .page-artikler .blog .blog-author-info{
    width:48%;
}
.msie8 .page-blog .bx-wrapper img,
.msie8 .page-artikler .bx-wrapper img{
    width:90% !important;
    padding:15px 5% 0px 5%;
    max-width:90%;
}
.msie8 .page-blog .carousel-info,
.msie8 .page-artikler .carousel-info {
    padding-left: 5%;
    padding-right: 5%;
    width:90%;
}
.msie8 .page-blog .grid2-info h3,
.msie8 .page-artikler .grid2-info h3{
    margin-top:0px;
    }
.msie8 .page-blog .blog-selectbox .selectricWrapper,
.msie8 .page-artikler .blog-selectbox .selectricWrapper{
    width:263px;
}
.msie8 .page-blog .blog-selectbox .selectric .label,
.msie8 .page-artikler .blog-selectbox .selectric .label{
    padding-right: 0px;
    padding-left:3%;
    width:97%;
}
.msie8 .page-blog .block-views .grid-item-01,
.msie8 .page-artikler .block-views .grid-item-01 {
    padding-bottom: 0px;
}
.msie8 .page-blog .block-views .grid-item-01 .comments-home,
.msie8 .page-artikler .block-views .grid-item-01 .comments-home{
    padding-bottom: 0px;
    padding-top: 5px;
    height:25px;
}
.msie8 .page-blog .block-views .grid-item-01 .item-blog-author,
.msie8 .page-artikler .block-views .grid-item-01 .item-blog-author{
    width:94%;
    padding-left: 3%;
    padding-right: 3%;
}
.msie8 .page-blog .block-views .grid-item-01 .item-blog-author .info-author-image,
.msie8 .page-artikler .block-views .grid-item-01 .item-blog-author .info-author-image{
    width:18%;
    padding-right: 0px;
    padding-left: 0px;
}
.msie8 .page-blog .block-views .grid-item-01 .blog-author-details,
.msie8 .page-artikler .block-views .grid-item-01 .blog-author-details{
    width:79%;
    padding-right: 0px;
    padding-left: 0px;
}
.msie8 .actions  .btn.btn-round {
	padding:0px;
}
.msie8 .actions  .btn.btn-round  .clip_mask  img{
	width:100% !important;
	height:100% !important;
	padding:0px;
}
.msie8 .front .selectricWrapper .selectric .label{
    height:25px;
    width:196px;
}
.msie8  .front .selectricWrapper{
    width:215px;
}

.msie8 .sidebar-content .popular-details{
    width:63%;
}
.msie8 .blogpost-author-content .blogpost-author{
    width:8%;
}
.msie8 .blogpost-author-content .blogpost-author-details{
    width:50%;
}
.msie8  .blogpost-clink .blogpost-social{
    margin-top:-25px !important;
}
.msie8 .blogpost-Commentpost .comments-right{
    width:75%;
}
.msie8 .page-find-klinik  .findklinik-form{
	padding:0px 0px 10px;
}
.msie8 .page-find-klinik  .findklinik-product {
    padding:20px !important;
}
.msie8 .page-find-klinik  .select-cat .selectricWrapper .selectricItems{
  height:211px !important;
  width:210px !important;
  top:32px !important;
}
/*=======Lat Minute ========*/
.msie8 .page-last-minute .last-min-date #datepicker{
    width:53% !important;
}
.msie8 .page-last-minute .lastminut-form > form{
    width:96%;
    padding-left: 2%;
    padding-right: 2%;
}
.msie8 .page-last-minute .lastminute-selectbox.day{
    width: 15%;
}
.msie8 .lastminute-time .btn-book{
    padding-top: 7px;
    padding-bottom: 7px;
}
.msie8 .lastminut-form .lastminute-time{
    padding:0px;
}
.msie8 .page-last-minute .lastminut-form .check-label{
    padding-right:23px;
    padding-left:22.5px;
}
.msie8 .price-inf0 .inf0{
    width:33.33%;
    padding:0px !important;
}
.msie8 .price-inf0 .inf0.middle{
    text-align:center ;
}
.msie8 .price-inf0 .inf0.last{
    text-align:right;
}
.msie8 .btn-rating-book{
    background-color:transparent;
}
.msie8 .clinicprofile-content .sidebar-content{
 padding:15px 15px 15px;
}
.msie8 .clinicprofile-content .sidebar-content h1{
  padding:5px 0px 10px;
}
.msie8  .og-grid LI.og-expanded .grid-item-01:after{
 border-color:
}
.msie8 .page-anmeldelser .lastminut-form{
 width:96%;
 padding:0 2% 10px;
}
.msie8 .page-anmeldelser .category.lastminute-selectbox .selectricWrapper{
 width:220px;
}
.msie8 .highlighted.lastminut-form{
 width:960px;
 padding:0 10px 10px;
}
//*==================Sticky container ===========*/


