/**************popup login css **************/
body.modal-login #modalContent{
	background-color: #ffe0d5;
    border-radius: 50%;
    bottom: 0 !important;
    height: 686px !important;
    left: 0 !important;
    margin: auto !important;
    padding: 5px;
    position: fixed !important;
    right: 0px !important;
    text-align: center !important;
    width: 686px !important;
    top: 0px !important;
}
body.modal-register #modalContent{
	background-color: #bcdfd1;
    border-radius: 50%;
    bottom: 0 !important;
    height: 686px !important;
    left: 0 !important;
    margin: auto !important;
    padding: 5px;
    position: fixed !important;
    right: 0 !important;
    text-align: center !important;
    width: 686px !important;
    top: -15px !important;
}
body.modal-register #modalContent .form-item.form-type-select.form-item-field-user-sex-und > label {
  display: none;
}
body.modal-register #modalContent .field-name-field-user-sex .form-item-field-user-sex-und {
  margin-left: 12%;
  width: 50%;
}
body.modal-register #modalContent .form-item-field-receive-newsletter-und-1 label {
  float: left;
  line-height: 32px;
  padding-left: 5px;
  text-align: left;
  width: 93%;
  font-size: 13px;
}
body.modal-login #modalContent .ctools-modal-content .modal-header {
	background-color: transparent;
	width: 686px;
	margin-top: 124px;
	font-size:45px;
	padding-left: 0;
}
body.modal-register #modalContent .ajax-register-links-wrapper {
  display: none;
}
body.modal-login #modalContent  .ajax-register-links-wrapper {
  display: none;
}
body.modal-register #modalContent .forget-data {
    color: #3D433F;
    font-family: 'domineregular';
    font-size: 11px;
}
.accountewall .fb_login a {
	background-image:url('../images/facebook-bg.png');
	background-repeat:no-repeat;
	padding: 8px 25px 9px 44px;
    color: #2a2a2a;
    text-decoration: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	text-transform:uppercase;
	width:249px;
	height:31px;
	
}
body.modal-register div.ctools-modal-content .modal-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: medium none;
}
body.modal-register .fb-det {
	clear: both;
	color: #2A2A2A;
	display: block;
	float: left;
	font-family: 'domineregular';
	font-size: 12px;
	letter-spacing: -0.6px;
	margin-top: 15px;
	width: 100%;
}
body.modal-register  div.ctools-modal-content .modal-header {
	background-color: rgba(0, 0, 0, 0);
	padding: 0 0.25em 0 15em;
	width: 430px;
}
body.modal-register .fb_login a {
	background-image:url('../images/facebook-bg.png');
	background-repeat:no-repeat;
	padding: 8px 25px 9px 42px;
    color: #2a2a2a;
    text-decoration: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	text-transform:uppercase;
	width:249px;
	height:31px;
	
}
div.ctools-modal-content{
	background:none !important;
	border:none;
	text-align:center;
	width:auto;
}

div.ctools-modal-content .modal-header{
	background:none;
	border-bottom:none;
}

body.modal-register .simple-dialog.simpleDialogProcessed {
  display: none;
}

body.modal-register form#user-register-form .fb_login {
	/*position: absolute;
	height: 60px;*/
	margin: 0px auto;
	width: 100%;
	display: block;
    float: left;
}
body.modal-register  #modal-content .user-info-from-cookie input {
	margin: 0px !important;
	padding: 5px; 
}
body.modal-register .ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname{
	float:left;
	width: 145px;
	margin-left: 168px;
}
body.modal-register .ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname{
	float:left;
	width:200px;
	/*margin-top: 20px;*/
}
#modalContent .ctools-modal-content{
	margin-top:30px;
}
body.modal-register .form-item-field-user-sex-und select {
	height: 31px;
    width: 155px;
	color : #8B8B8B;
	font-family : dominebold;
	font-size : 13px;
}

.ctools-modal-content .modal-header #modal-title {
    color: #2A2A2A;
    font-family: 'DidotRegular';
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
	line-height: 38px;
	white-space :normal;
 /*   word-spacing: 400px;*/
}

div.ctools-modal-content a.close {
    color: #FFFFFF;
    float: none;
    position: absolute;
/*
    right: 95px;
*/
    text-align: left;
    right : 45%;
    top : 20px;
}

#modalContent #modal-content{
	width:550px;
}

#modal-content .ctools-use-modal-processed .ajax-register-links-wrapper{
	text-align:center;
}

#modal-content .ctools-use-modal-processed input{
	border: medium none;
    font-size: 12px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    width: 320px;
    color: #000000;
}
.fb-or-login {
	float: left;
	letter-spacing: -1px;
	margin: 5px auto;
	width: 100%;
	font-size: 15px;
}
#modal-content .ctools-use-modal-processed .form-submit{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #000000;
	cursor: pointer;
	margin-top: 35px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	width: 222px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'dominebold';
}
#modal-content #user-login #ajax-register-links-wrapper {
	display: none;
}
#modal-content .ctools-use-modal-processed .form-submit:hover{
	background: none repeat scroll 0 0 #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

#modalContent #modal-content {
	/*width:686px !important;*/
	width:673px !important;
	padding: 5px 15px 15px 15px;
}
body.modal-register div.ctools-modal-content a.close img {
  position: relative;
  right: 20px;
  top: 5px;
}
#user-login.ctools-use-modal-processed .ajax-register-links-wrapper{
	left: -13px;
  position: relative;
  top: 220px;
}

#user-pass.ctools-use-modal-processed .ajax-register-links-wrapper{
	left: -13px;
  position: relative;
  top: 145px;
}

div.ctools-modal-content .modal-content{
	overflow: visible; 
}

.ctools-modal-content .modal-header {
	margin-top:60px;
}

.ctools-use-modal-processed .ajax-register-links-wrapper li a{
	color: #000000;
  transition: all 0.3s ease-in-out 0s;
	text-decoration:none;
}

.ctools-use-modal-processed .ajax-register-links-wrapper li a:hover{
	color:#515151;
	text-decoration:underline;
}

/* Registration popup page desigh css start */
#modal-content .user-info-from-cookie input {
    border: medium none;
    font-size: 13px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    width: 321px;
}
#modal-content .form-wrapper .form-item {
	margin: 10px auto;
}
#modal-content .form-wrapper .form-item-field-enterprise-blog-lastname-und-0-value {
	margin: 0;
}
#modal-content .user-info-from-cookie .form-type-password-confirm .password-suggestions {
	display:none !important;
}

#modal-content .user-info-from-cookie .form-submit {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: 200px;
}

#modal-content .user-info-from-cookie .form-submit:hover{
	background: none repeat scroll 0 0 #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

#modal-content .user-info-from-cookie .form-type-password .password-strength, #modal-content .user-info-from-cookie .form-type-password label {
	display:none;
}

#modal-content .user-info-from-cookie .form-type-password-confirm .form-type-password{
	width:auto !important;
}

#modal-content .user-info-from-cookie .form-type-password-confirm .confirm-parent div.password-confirm{
	display:none;
}

#modalContent .ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper {
	right: 14px;
	position: relative;
	top: 370px;
}

.ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper li a{
	color: #000000;
  transition: all 0.3s ease-in-out 0s;
	text-decoration:none;
}

.ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper li a:hover{
	color:#515151;
	text-decoration:underline;
}

.passwordewallform .ctools-modal-content .modal-header{
	margin-top:140px;
}

.ctools-use-modal-processed .user-left .field-type-text #field-enterprise-blog-firstname-add-more-wrapper .form-item{
	margin:0px;
}

.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname{
	float:left;
	width:152px;
	margin-left:103px;
}
#modal-content #user-register-form .user-left {
    float: none;
    margin: 0 auto;
    padding-top: 0;
    width: 50%;
}
#modal-content .user-left .field-name-field-enterprise-blog-firstname {
    float: left;
    margin-left: 0;
    width: 157px;
}
#modal-content  .user-left .field-name-field-enterprise-blog-lastname {
    float: right;
    margin-top: 0;
    width: 157px;
}
.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname{
	float:left;
	width:200px;
}

.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname input, 
.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname input{
	width:157px !important;
}

.ctools-use-modal-processed .user-left .field-type-text .form-item {
	margin:0px;
}


#modalContent .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    outline: medium none;
    position: relative;
}

.og-closes {
    background-image: url("../images/close_profile.png");
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
}

#og-grid div.hidediv{
    display: none !important;   
}

#og-grid .heightauto {
    height:402px !important;
}

.locate a.locate-img, .locate a.locate-img img {
  border: medium none;
    display: block;
    position: relative;
    width: 100%;  
}

/**** LOGIN CSS ****/

.Indewallform .ajax-register-links-wrapper .ajax-register-links li {
  display: none;
}
.Indewallform .fb_login a {
	background-image: url("../images/facebook-bg.png");
	background-repeat: no-repeat;
	color: #2A2A2A;
	display: block;
	float: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	height: 31px;
	margin: 0 auto;
	padding: 8px 20px 9px 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 249px;
}
/*.ewallpopup .fb_login  a:before {
	  content: url("../images/facebook-signup.png");
    padding-right:5px;
	vertical-align:middle;   
}*/
.Indewallform .fb-det {
	color:#5A5A5A;
	font-family: 'domineregular';
	font-size:16px;
	margin-top: 15px;
	display: block;
	margin-top: 15px;
	letter-spacing: -0.6px;
}
.Indewallform .fb-or-login  {
	display: block;
	font-family: 'didotregular';
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	letter-spacing: -1px;
	/*left: 0;
	line-height: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 78x;*/
}
.Indewallform .fb_login {
	margin-bottom: 20px;
	width: 645px;
}
.Indewallform .form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
#modal-content .form-item, .form-actions {
    /*margin-bottom: 1em;
    margin-top: 1em;*/
    /*text-align: left;*/
}
#modal-content #edit-field-enterprise-blog-firstname input {
	width: 157px !important;
	float: left;
}
#modal-content #edit-field-enterprise-blog-lastname input {
	width: 157px !important;
	float: right;
}
.Indewallform .forget-data {
	font-size: 16px;
	font-family: 'domineregular';
	color: #2a2a2a;
	letter-spacing: -0.7px;
	clear: both;
	display: block;
	margin-bottom : 5px;
	margin-top : 10px;
}
#modal-content  a {
	font-size: 16px;
	/* font-family: 'domineregular'; */
	font-family: 'dominebold';
	color: #2a2a2a;
	letter-spacing: -0.6px;
	margin: 0 auto;
	display: block;
}
.ewallpopup input::-webkit-input-placeholder{ 
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
}
.ewallpopup input:-moz-placeholder{ 
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
}
.Indewallform .ctools-modal-content a.close img {
	position: relative;
	top: 1px;
	right: 20px;
}
#modal-content .fb-det {
	
} 
#modal-content .field-name-field-receive-newsletter label {
	display: none;
}
#modal-content .form-item-field-receive-newsletter-und-1 label.option {
	display: block;
}
#modal-content .field-name-field-user-sex .form-item-field-user-sex-und {
	margin: 10px auto;
    width: 50%;
}
#modal-content .field-name-field-user-sex .form-item label {
	float: left;
}

#modal-content .field-name-field-user-sex + span.fb-det {
	float: none;
	margin: 0 auto;
	text-align: left;
	width: 50%;
}
#modal-content .field-name-field-user-sex + span.fb-det a {
	display: inline-block;
}
#modal-content .field-name-field-receive-newsletter {
	margin: 0 auto;
    width: 50%;
}
#modal-content .field-name-field-receive-newsletter .form-item-field-receive-newsletter-und {
	float: left;
    margin: 0;
    width: 100%;
}
#modal-content .form-wrapper .form-item-field-receive-newsletter-und-1 {
    margin: 0;
}
.form-item-field-receive-newsletter-und .form-item-field-receive-newsletter-und-1 input {
	float: left;
}
.form-item-field-receive-newsletter-und .form-item-field-receive-newsletter-und-1 label {
	float: right;
	text-align: left;
	width: 93%;
}
#modalContent #edit-actions {
	clear: both;
}
#modalContent .ajax-register-links-wrapper .ajax-register-links li a {
	border-bottom: 0 none;
}
#modalContent .ajax-register-links-wrapper .ajax-register-links li {
	display: block;
}
/**** LOGIN END ****/
/* Login css start */
.safari .KONTOewallform .fb_login .fb_login_inner a, .safari .KONTOewall .fb_login .fb_login_inner a{
    padding: 8px 12px 9px 39px;
}

.safari .Indewallform .fb_login .fb_login_inner a{
     padding: 8px 12px 9px 39px;  
}

.lastminute-selectbox .last-min-date .ui-datepicker-trigger{
    background-color: #F4F4F4;
    border: medium none;
    color: #686767;
    height: 32px;
    margin-left: 4px;
    font-size: 20px;
    border-top: 2px solid #000;
    -webkit-appearance: none;
}
.lastminute-selectbox .last-min-date button.ui-datepicker-trigger {
    width: 35px !important;
    text-align: center !important;
}
.lastminute-time .time-section ul li {
    font-size: 13px; 
}

.section-queen{
    /*background: none !important;*/
}
.queens-container .qp-tab-container{
    color:#2A2A2A;   
}

#modal-content .ctools-use-modal-processed input.error {
	border : 2px solid #FF0000;
}

#user-login .form-item input.error, #user-pass .form-item input.error, #user-register-form .form-item input.error{
	border : 2px solid #FF0000;
}

#user-profile-form .form-item-files-picture-upload {
	margin: 1em 1em 1em 0 !important;
}

.form-item-picture-delete {
	font-size:13px !important;
}

.page-user-edit .form-item-picture-delete label{
	font-size:13px !important;
}




/************************ June 02 css start ***************************/


.blog-container .addblogs {
	padding-bottom:0px;
	padding-top: 12px;
}

.blog-container .addblogs a {
background-color:transparent;
    position:relative;
    bottom:0px;
    right:0px;
    left:0px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:18px;
    padding:10px;
    font-weight:500;
    color:white;
    text-decoration: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    padding: 7px 25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	}	
	
.blog-container .addblogs a{
	background-color: #D0CAE6;
  border-color: #D0CAE6;
  color: #FFFFFF;
  font-family:'LinotypeDidot';
}



/*.node-enterprise_blog-form .form-text, .node-trends-form  .form-text{
  background-color: #ffffff;
  border: 1px solid #d4d2d2;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	width: 30%;
	border-radius: 4px !important;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 5px 8px;
	vertical-align: middle;
}*/

.node-enterprise_blog-form .form-select, .node-trends-form  .form-select{
	  background-color: #ffffff;
  border: 1px solid #d4d2d2;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	width: 30%;
	border-radius: 4px !important;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 5px 7px;
	vertical-align: middle;
}

.field-type-image {
	margin-bottom: 22px;
  margin-top: 22px;
}

.node-enterprise_blog-form #edit-field-tags .form-autocomplete {
	background-position: 100% 8px;
}

.node-enterprise_blog-form .field-widget-text-textarea-with-summary .form-type-select .form-select {
	width:67% !important;
}

#edit-body-und-0-format .filter-help{
	display:none;
}

.node-enterprise_blog-form .text-full, .node-trends-form .text-full {
	 border: 1px solid #d4d2d2;
	 padding:10px;
}

#body-add-more-wrapper fieldset {
	border: 1px solid #d4d2d2;
}

#edit-field-blog-gallery-und-ajax-wrapper fieldset {
	border: 1px solid #d4d2d2;
	padding:1em;
}
.node-enterprise_blog-form .form-submit, .node-trends-form .form-submit{
	margin-right:15px !important;
}

.node-enterprise_blog-form .form-actions,  .node-trends-form .form-actions{
	text-align:left !important;
}

.node-enterprise_blog-form .field-type-taxonomy-term-reference{
	margin-bottom: 18px;
}

.field-name-field-image .form-item  .description, .field-name-field-blog-gallery .form-item  .description {
	margin-top:8px;
}
#block-system-main form#user-pass{
	text-align : center;
}
#user-pass .form-actions .form-submit{
	background-color: #FFFFFF;
	border:1px solid #BBBBBB;
	color: #333333;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0px;	
}
.modal-register #edit-mailchimp-lists {
	margin: 0 auto;
    text-align: center;
    width: 330px;
}
.modal-register #edit-mailchimp-lists .form-item{
	margin : 0px;
}
.modal-register #edit-mailchimp-lists .form-item input.form-checkbox{
/*
	float : left;
*/
}
.modal-register #edit-mailchimp-lists .form-item .description{
	float: right;
    text-align: left;
    width: 292px;
}
#user-profile-form .form-item input.error{
	border : 2px solid #FF0000;
}
#modal-content #edit-mailchimp-lists + span.fb-det{
	float: none;
	margin: 5px auto 0;
	text-align: left;
	width: 50%;
	letter-spacing: -0.6px;
}
#modal-content #edit-mailchimp-lists + span.fb-det a{
	display : inline;
}

.view-manage-blogs-articular-for-vip .form-item select{
	  background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 220px;
		border-radius: 4px;
    color: #555555;
    display: inline-block;
		margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.view-manage-blogs-articular-for-vip .form-item select{
	line-height: 30px;
	cursor: pointer;
}

.view-manage-blogs-articular-for-vip .form-submit {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C0C0;
    cursor: pointer;
    padding: 5px 10px;
}

.view-manage-blogs-articular-for-vip .form-submit:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}

.view-manage-blogs-articular-for-vip .views-exposed-form .views-exposed-widget .form-submit{
	margin-top: 15px;
}


.view-manage-blogs-articular-for-vip .table-bordered {
    border-bottom: 1px solid #E7E7E7;
}

.view-manage-blogs-articular-for-vip table {
    width: 100%;
		border-bottom: 1px solid #E7E7E7;
		background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.view-manage-blogs-articular-for-vip table {
    border-collapse: collapse;
    border-spacing: 0;
}

.view-manage-blogs-articular-for-vip table thead th {
    vertical-align: bottom;
}

.view-manage-blogs-articular-for-vip table th {
    font-weight: bold;
}

.view-manage-blogs-articular-for-vip table th, .view-manage-blogs-articular-for-vip table td {
    border: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 10px 6px 10px 28px;
    text-align: left;
    vertical-align: middle;
}

.view-manage-blogs-articular-for-vip table td {
    border: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 10px 6px 10px 28px;
    text-align: left;
    vertical-align: middle;
}

.view-manage-blogs-articular-for-vip tr.even, .view-manage-blogs-articular-for-vip tr.odd {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
.view-manage-blogs-articular-for-vip table td  a, .view-manage-blogs-articular-for-vip table th  a{
	color:#E85C99;
}

.blogsnfollow .profile-date a{
	color:#E85C99;
}

/*  table css start  */



/* Muruga css start at june13 */

.page-find-behandling #edit-field-item-category-tid-wrapper{
	display:none;
}
	
.page-find-behandling #edit-field-geofield-distance-wrapper{
	display:none;
}

#views-exposed-form-find-behandling-page1 .throbber{
	position: absolute;
  right: 411px;
	margin-top: 20px !important;
	float:right;
}
.page-find-behandling .views-exposed-form .views-exposed-widget{
	float:right !important;
	padding:0px;
}

/*    */ 

.page-find-klinik #edit-field-item-category-tid-wrapper{
	display:none;
}
	
.page-find-klinik #edit-field-geofield-distance-wrapper, #edit-field-clinic-loc-category-tid-wrapper{
	display:none;
}


#views-exposed-form-find-klinik-page1 .throbber{
	position: absolute;
  right: 560px;
	margin-top: 20px !important;
	float:right;
	top:155px;
}

#views-exposed-form-find-klinik-page1 .ajax-progress{
	display:table;
}

.page-find-klinik .views-exposed-form .views-exposed-widget{
	float:right !important;
	padding:0px;
}



