/**************popup login css **************/
body.modal-login #modalContent{
	background-color: #ffe0d5;
    border-radius: 50%;
    bottom: 0!important;
    height: 686px!important;
    left: 0 !important;
    margin: auto!important;
    padding: 5px;
    position: fixed !important;
    right: 0!important;
    text-align: center !important;
    top: 0!important;
    width: 686px!important;
}
body.modal-register #modalContent{
	background-color: #bcdfd1;
    border-radius: 50%;
    bottom: 0!important;
    height: 686px!important;
    left: 0 !important;
    margin: auto!important;
    padding: 5px;
    position: fixed !important;
    right: 0!important;
    text-align: center !important;
    /*top: 0!important;*/
    top: -250px!important;
    width: 686px!important;
}
body.modal-register #modalContent .form-item.form-type-select.form-item-field-user-sex-und > label {
  display: none;
}
body.modal-register #modalContent #edit-field-user-sex .form-item-field-user-sex-und {
  margin-left: 12%;
  width: 50%;
}
body.modal-register #modalContent #edit-field-receive-newsletter .form-item label {
  float: left;
  line-height: 32px;
  padding-left: 5px;
  text-align: left;
  width: 93%;
}
body.modal-login #modalContent .ctools-modal-content .modal-header {
	background-color: transparent;
	width: 686px;
	margin-top: 124px;
	font-size:45px;
	padding-left: 0;
}
body.modal-register #modalContent .ajax-register-links-wrapper {
  display: none;
}
body.modal-login #modalContent  .ajax-register-links-wrapper {
  display: none;
}
body.modal-register #modalContent .forget-data {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 12px;
}
.accountewall .fb_login a {
	background-image:url('../images/facebook-bg.png');
	background-repeat:no-repeat;
	padding: 8px 25px 9px 44px;
    color: #2a2a2a;
    text-decoration: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	text-transform:uppercase;
	width:249px;
	height:31px;
	
}
body.modal-register div.ctools-modal-content .modal-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: medium none;
    word-break: break-all;
}
body.modal-register .fb-det {
	clear: both;
	color: #2A2A2A;
	display: block;
	float: left;
	font-family: 'domineregular';
	font-size: 12px;
	letter-spacing: -0.6px;
	margin-top: 15px;
	width: 100%;
}
body.modal-register  div.ctools-modal-content .modal-header {
	background-color: rgba(0, 0, 0, 0);
	padding: 0 0.25em 0 16em;
	width: 430px;
}
body.modal-register .fb_login a {
	background-image:url('../images/facebook-bg.png');
	background-repeat:no-repeat;
	padding: 8px 25px 9px 42px;
    color: #2a2a2a;
    text-decoration: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	text-transform:uppercase;
	width:249px;
	height:31px;
	
}
div.ctools-modal-content{
	background:none !important;
	border:none;
	text-align:center;
	width:auto;
}

div.ctools-modal-content .modal-header{
	background:none;
	border-bottom:none;
}

body.modal-register .simple-dialog.simpleDialogProcessed {
  display: none;
}

body.modal-register form#user-register-form .fb_login {
	/*position: absolute;
	height: 60px;*/
	margin: 10px auto 0;
	width: 100%;
	display: block;
    float: left;
}
body.modal-register  #modal-content .user-info-from-cookie input {
	margin: 0px !important;
	padding: 5px; 
}
body.modal-register .ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname{
	float:left;
	width: 145px;
	margin-left: 168px;
}
body.modal-register .ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname{
	float:left;
	width:200px;
	/*margin-top: 20px;*/
}
#modalContent .ctools-modal-content{
	margin-top:30px;
}
body.modal-register #edit-field-user-sex .form-item select {
	height: 31px;
    width: 155px;
}

.ctools-modal-content .modal-header #modal-title {
    color: #2A2A2A;
    font-family: 'DidotRegular';
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
	line-height: 38px;
 /*   word-spacing: 400px;*/
}

div.ctools-modal-content a.close {
    color: #FFFFFF;
    float: none;
    position: absolute;
    right: 95px;
    text-align: left;
}

#modalContent #modal-content{
	width:550px;
}

#modal-content .ctools-use-modal-processed .ajax-register-links-wrapper{
	text-align:center;
}

#modal-content .ctools-use-modal-processed input{
	border: medium none;
    font-size: 12px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    width: 320px;
    color: #000000;
}
.fb-or-login {
  float: left;
  letter-spacing: -1px;
  margin: 5px auto 15px;
  width: 100%;
}
#modal-content .ctools-use-modal-processed .form-submit{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #000000;
	cursor: pointer;
	margin-top: 35px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	width: 222px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'dominebold';
}
#modal-content #user-login #ajax-register-links-wrapper {
	display: none;
}
#modal-content .ctools-use-modal-processed .form-submit:hover{
	background: none repeat scroll 0 0 #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

#modalContent #modal-content {
	/*width:686px !important;*/
	width:673px !important;
	padding: 10px 15px 15px 15px;
}
body.modal-register div.ctools-modal-content a.close img {
  position: relative;
  right: 20px;
  top: 40px;
}
#user-login.ctools-use-modal-processed .ajax-register-links-wrapper{
	left: -13px;
  position: relative;
  top: 220px;
}

#user-pass.ctools-use-modal-processed .ajax-register-links-wrapper{
	left: -13px;
  position: relative;
  top: 145px;
}

div.ctools-modal-content .modal-content{
	overflow: visible; 
}

.ctools-modal-content .modal-header {
	margin-top:67px;
}

.ctools-use-modal-processed .ajax-register-links-wrapper li a{
	color: #000000;
  transition: all 0.3s ease-in-out 0s;
	text-decoration:none;
}

.ctools-use-modal-processed .ajax-register-links-wrapper li a:hover{
	color:#515151;
	text-decoration:underline;
}

/* Registration popup page desigh css start */
#modal-content .user-info-from-cookie input {
    border: medium none;
    font-size: 12px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    width: 321px;
}
#edit-account .form-item {
	margin: 10px auto;
}

#modal-content .user-info-from-cookie .form-type-password-confirm .password-suggestions {
	display:none !important;
}

#modal-content .user-info-from-cookie .form-submit {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: 200px;
}

#modal-content .user-info-from-cookie .form-submit:hover{
	background: none repeat scroll 0 0 #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

#modal-content .user-info-from-cookie .form-type-password .password-strength, #modal-content .user-info-from-cookie .form-type-password label {
	display:none;
}

#modal-content .user-info-from-cookie .form-type-password-confirm .form-type-password{
	width:auto !important;
}

#modal-content .user-info-from-cookie .form-type-password-confirm .confirm-parent div.password-confirm{
	display:none;
}

#modalContent .ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper {
	right: 14px;
	position: relative;
	top: 370px;
}

.ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper li a{
	color: #000000;
  transition: all 0.3s ease-in-out 0s;
	text-decoration:none;
}

.ctools-modal-content .user-info-from-cookie .ajax-register-links-wrapper li a:hover{
	color:#515151;
	text-decoration:underline;
}

.passwordewallform .ctools-modal-content .modal-header{
	margin-top:140px;
}

.ctools-use-modal-processed .user-left .field-type-text #field-enterprise-blog-firstname-add-more-wrapper .form-item{
	margin:0px;
}

.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname{
	float:left;
	width:152px;
	margin-left:103px;
}
#modal-content #user-register-form .user-left {
    float: none;
    margin: 0 auto;
    padding-top: 0;
    width: 50%;
}
.user-left #edit-field-enterprise-blog-firstname {
    float: left;
    margin-left: 0;
    width: 157px;
}
.user-left #edit-field-enterprise-blog-lastname {
    float: right;
    margin-top: 0;
    width: 157px;
}
.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname{
	float:left;
	width:200px;
}

.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-firstname input, 
.ctools-use-modal-processed .user-left .field-name-field-enterprise-blog-lastname input{
	width:152px !important;
}

.ctools-use-modal-processed .user-left .field-type-text .form-item {
	margin:0px;
}


#modalContent .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    outline: medium none;
    position: relative;
}

.og-closes {
    background-image: url("../images/close_profile.png");
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
}

#og-grid div.hidediv{
    display: none !important;   
}

#og-grid .heightauto {
    height:402px !important;
}

.locate a.locate-img, .locate a.locate-img img {
  border: medium none;
    display: block;
    position: relative;
    width: 100%;  
}

/**** LOGIN CSS ****/

.Loginewallform .ajax-register-links-wrapper .ajax-register-links li {
  display: none;
}
.Loginewallform .fb_login a {
	background-image: url("../images/facebook-bg.png");
	background-repeat: no-repeat;
	color: #2A2A2A;
	display: block;
	float: none;
	font-family: 'domineregular';
	font-size: 14px !important;
	height: 31px;
	margin: 0 auto;
	padding: 8px 27px 9px 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 249px;
}
/*.ewallpopup .fb_login  a:before {
	  content: url("../images/facebook-signup.png");
    padding-right:5px;
	vertical-align:middle;   
}*/
.Loginewallform .fb-det {
	color:#5A5A5A;
	font-family: 'domineregular';
	font-size:12px;
	margin-top: 15px;
	display: block;
	margin-top: 10px;
	letter-spacing: -0.6px;
}
.Loginewallform .fb-or-login  {
	display: block;
	font-family: 'didotregular';
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	letter-spacing: -1px;
	/*left: 0;
	line-height: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 78x;*/
}
.Loginewallform .fb_login {
	margin-bottom: 20px;
	width: 645px;
}
.Loginewallform .form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
#modal-content .form-item, .form-actions {
    /*margin-bottom: 1em;
    margin-top: 1em;*/
    /*text-align: left;*/
}
#modal-content #edit-field-enterprise-blog-firstname input {
	width: 157px !important;
	float: left;
}
#modal-content #edit-field-enterprise-blog-lastname input {
	width: 157px !important;
	float: right;
}
.Loginewallform .forget-data {
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
	letter-spacing: -0.7px;
	clear: both;
	display: block;
}
#modal-content  a {
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
	letter-spacing: -0.6px;
	margin: 0 auto;
	display: block;
}
.ewallpopup input::-webkit-input-placeholder{ 
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
}
.ewallpopup input:-moz-placeholder{ 
	font-size: 11px;
	font-family: 'domineregular';
	color: #2a2a2a;
}
.Loginewallform .ctools-modal-content a.close img {
	position: relative;
	top: 1px;
	right: 20px;
}
#modal-content .fb-det {
	
} 
#modal-content #edit-field-receive-newsletter label {
	display: none;
}
#modal-content #edit-field-receive-newsletter label.option {
	display: block;
}
#edit-field-user-sex .form-item-field-user-sex-und {
	margin: 10px auto;
    width: 50%;
}
#edit-field-user-sex .form-item label {
	float: left;
}

#edit-field-user-sex + span.fb-det {
	float: none;
	margin: 15px auto 0;
	text-align: left;
	width: 50%;
}
#edit-field-user-sex + span.fb-det a {
	display: inline-block;
}
#edit-field-receive-newsletter {
	margin: 0 auto;
    width: 50%;
}
#edit-field-receive-newsletter .form-item-field-receive-newsletter-und {
	float: left;
    margin: 10px 0;
    width: 100%;
}
#edit-field-receive-newsletter .form-item-field-receive-newsletter-und-1 {
    margin: 0;
}
#edit-field-receive-newsletter .form-item input {
	float: left;
}
#edit-field-receive-newsletter .form-item label {
	float: right;
	text-align: left;
	width: 93%;
}
#modalContent #edit-actions {
	clear: both;
}
#modalContent .ajax-register-links-wrapper .ajax-register-links li a {
	border-bottom: 0 none;
}
#modalContent .ajax-register-links-wrapper .ajax-register-links li {
	display: block;
}
/**** LOGIN END ****/







