/* font face */
@font-face {
	font-family: 'LinotypeDidot';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/2AFBD5_0_0.eot');
	src: url('../fonts/2AFBD5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2AFBD5_0_0.woff') format('woff'),
	url('../fonts/2AFBD5_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DidotRegular';
    src: url('../fonts/didot.eot');
    src: url('../fonts/didot.eot') format('embedded-opentype'),
         url('../fonts/didot.woff') format('woff'),
         url('../fonts/didot.ttf') format('truetype'),
         url('../fonts/didot.svg#DidotRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'theano_didotregular';
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot');
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font face */
.login-bg input[type=text]:focus, textarea:focus {
    border: 1px solid black !important;
    -webkit-appearance: none;
}

body {
    font-family: 'domineregular';
    margin: 0 auto;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /* box-sizing: border-box; */
}
* {
    zoom: 1;
}
a {
   outline: 0;
}
input, textarea, selectbox {
	-webkit-appearance: none !important;
	 border-radius: 0 !important;
}

/* ==== Button Toolbar ==== */

section#topbar-content {
    float: right;
}
.topbar-button {
    cursor: pointer;
}
input.topbar-button, .topbar-button .topbar-button-content {
    display: table;
    padding: 0px 10px;
}
.search-topbar-button {
    padding-left: 0px !important;
    padding-right: 10px !important;
}

ul.login-topbar {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0
}
ul.login-topbar > li {
    float: left;
    cursor: pointer;
}
ul.login-topbar > li a {
    color:#2a2a2a;
    font-size:12px;
    font-family:"Arial";
}
ul.login-topbar > li.topbar-button {
    border-right: 1px solid #d6d6d6;
}
ul.login-topbar > li.topbar-button:last-child {
    border-right-width: 1px; cursor: pointer;
}
ul.login-topbar > li.topbar-button:nth-child(0n+1){
    border-right: none;
}

ul.login-topbar2 {
    display: table;
    list-style: none;
    margin:0;
    padding: 0 ;

}
ul.login-topbar2 > li {
    float: left;
    cursor: pointer;
    line-height:20px;
}
ul.login-topbar2 > li a {
    color:#2a2a2a;
    font-size:11px;
    font-family:"Arial";
}

ul.login-topbar2 > li.topbar-button {
    border-right: 1px solid #aaa;
}
ul.login-topbar2 > li.topbar-button:last-child {
    border-right: none;
}
ul.login-topbar2 > li.topbar-button:nth-child(3n+1){
    border-right: none;
}
ul.login-topbar2 > li.topbar-button:last-child {
    border-right-width: 1px; cursor: pointer;
}

ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -o-padding-start: 0px;
    padding-start: 0px;
}

.username {
    font-size:12px;
    font-weight:bold;
}

/* ==== Button Toolbar ==== */

/*top-links*/
.top-bar li.first{
    position:relative;
}
.top-bar li.first a.search-btn{
    position:relative;
}
.top-bar li.second{
    position:relative;
}
.top-bar li.second a.search-btn{
    position:relative;
}
.top-bar li.third{
    position:relative;
}
.top-bar li.third a.search-btn{
    position:relative;
}
.third {
    border: 1px solid #AAAAAA;
    padding: 4px;
}

#slidediv {
    color: #AAAAAA;
    font-size: 12px;
    margin-right: 24px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: 0;
}


#slidediv1 {
    color: #AAAAAA;
    font-size: 12px;
    margin-right: 44px;
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 0;
}

#slidediv2 {
    color: #aaa;
    margin-left: 85px;
    margin-top: 0px;
    font-size:12px;
    position: absolute;
}

/*end top-links*/
.free-wall {
    margin: 15px;
}
.brick {
    width: 320px;
    margin: 0px 0;
}
.info {
    padding: 15px;
    color: #333;
}
.brick img {
    margin: 0px;
    padding: 0px;
}

.banner {
    width: 100%;
    clear: both;
    position: relative;
    z-index: 0;
    top:-1px;
    height:296px;
    margin:0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;

}
.banner h2 {
 	font-family: "DidotRegular";
	font-size: 18px;
	font-weight: normal;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 30px;
}

.header {
    width: 100%;
    background: url('../images/nav-bg.png')repeat-x;
    background-color: transparent;
    position: relative;
    z-index: 10;
    top: 1px;
}

body.desktop .header {
    z-index: 999;
}

.main-menu {
    width:980px;
    height: 83px;
    margin:0 auto;
}
.img-responsive {
    width:100%;
    height:auto;
}
.logo {
    width:15%;
    float:left;
    margin-top: 2px;
}
.navigation-bar {
	margin-top:14px;
    float:right;
}
.navigation-bar li {
    display:inline;
    padding-left:10px;
    line-height:10px;
    margin:0px
}
.navigation-bar ul {
    margin:0px !important;
    padding:0;
}
.navigation-bar a{
    font-size:12px;
    color:#e85c99;
    text-decoration:none;
    margin:0px;
    font-family: 'domineregular';
}
.top-bar {
	display: block;
	margin: 0 auto;
	padding: 0;
	right: 0;
    float:right;	
}
.top-link li {
    display:inline-block;
	padding:0px;
    line-height:20px;
    margin:0 auto;
}
.top-bar a {
    font-size:11px;
    color:#777777;
    text-decoration:none;
    margin:0px;
    line-height: 35px;
	font-weight:bold;
}

.top-link li.social a {
	padding-left: 3px;
	padding-right: 3px;
}
.top-link li.social.fb a {
	margin-left: 17px;
	padding-left: 0;
}
.top-link li.social.google a {
	padding-right: 12px;
}
.top-link li.usr-login a {
	padding-left: 8px;
	padding-right: 12px;
}
.top-link li.usr-login a, 
.top-link li.usr-logout a {
	font-family: "Arial";
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.top-link li.usr-login a.ctools-use-modal {
	border-right: 0 none;
	padding-right: 8px;
}
.top-link li.usr-login a {
	border-right: 1px solid #D9D5EB
}
.top-link li.usr-logout a {
	padding-left: 8px;
}
.top-link li.usr-logout a.ctools-use-modal {
	padding-left: 0px;
}
.hide {
  display: none !important;
}
.top-link img {
	vertical-align:middle !important;
}
.top-bar a.line {
	border-right: 1px solid #d9d5eb;
	padding: 5px 10px 5px 0;
}
.line2 {
    border-right: 1px solid #d9d5eb;
    padding: 5px 18px 5px 4px;
}
.search-btn.line2 {
	padding-right: 20px;
}
.brick hr {
  border-top: 1px solid #e3e3e3;
  border-bottom:none;
  height: 0px;
}
.social-icons {
    padding:10px 10px 0px 10px;
    background:url('../images/sep.png') no-repeat 1px 5px;;
}
.slider-background {
    height:auto;
    background-color:#bcdfd1;
    width:100%;
    text-align:center;
    position:relative;
}
.clear-float {
    clear:both !important;

}
footer {
    margin: 50px 0;
}
.navbar-default {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar {
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #e85c99;
    font-size:12px;
    font-weight:400;

}
.top_links li {
    display:inline;
    float:right;
}
.top_links li a {
    padding-left:5px;
    padding-right:5px;
    display:inline;
    color:#363535;
    font-size:10px;
    font-family:"Arial";
    font-weight:bold;
}
.main-title h1{
    margin:0px;
    background-color:inherit;
}
.main-title h1:before
{
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    right:0;
    left:0;
    top: 45px;
}
.main-title {
    padding:30px 0px 0px;
}
.heading {
    height:1px;
    background-color:#fff;
    width:100%;
    margin:0 auto;
}
.front .banner h2 {
  color: #2A2A2A;
  font-family: dominebold;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0px;
  padding-right: 43px;
}
.section-03 .container-freewall-01 .title {
	padding-top: 33px;
}
.section-04 .container-freewall-02{
	padding-bottom: 0;
}
#block-views-anmeldelser-block .view-anmeldelser ul.pager-load-more {
	margin-top: 20px;
}
.front .section-02 .container-freewalllast .title-name {
	margin: -19px auto;
	padding-bottom: 39px !important;
}
.title {
    padding-top: 40px;
}
.title-name {
    background-color: inherit;
    width: 40%;
    height: auto;
    margin: -20px auto;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    font-family: 'LinotypeDidot';
    text-transform:uppercase;
    font-weight:normal;
}
.container-freewall0 .title-name {
	width: 35%;
}
.grid-01-background {
    height:1064px;
    width:100%;
    background:url(../images/grid-01.png)no-repeat center bottom #fce1d7;

}
.grid-01 {
    background:#fce1d7;
}
.grid-item-01 {
    background:#fff;
    padding:0px 0px 10px 0px;

}
.grid-item-02 {
    border:1px solid #e3e3e3;
    border-bottom-width:1px;
    -webkit-border-fit: border;
    padding:10px;
}
.comments-home {
    width:100%;
    height:38px;
    background:#fff;
}
.grid-padding {
    padding-left:5px !important;
    padding-right:5px !important;
}
.item-01 {
    margin-top:25px;
}
.item-01-info {
    background-color:#fff;
}
.item-02-info {
    padding:10px;
}
.actions .btn-round {
    position: relative;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    top: -28px;
    text-align: center;
    background:#ffffff;
    border:2px solid #fff;
}
.btn {
    display: inline-block;
    padding: 6px 21px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.item-01-info {
    text-align: center;
}
.info-01 {
    text-align: center;
    padding:0px 15px 0px 15px;
}
.info-content {
    font-size:22px;
    line-height: 20px;
    font-family: 'DidotRegular';
    font-weight:bold;
}
.text-01 {
    color:#757474;
}
.item-01-info hr{
    margin:0;
}
.info-title {
    font-size:13px;
    color:#2a2a2a;
    font-family: 'domineregular';
	margin-top: 2px;
}
img.default {
    border-top: 0px solid #d9d5eb !important;
	border-right: 0px solid #d9d5eb !important;
	border-left: 0px solid #d9d5eb !important;
	border-bottom: 1px solid #d9d5eb !important;
}
.info-details {
    color: #515151;
    font-family: 'domineregular';
    font-size: 12px;
    padding: 10px 0;
    text-align: left;
}
.info-details img {
    display:inline;
}
.slider {
    background:#bcdfd1;
    width:960px;
    margin:0px auto;
}
.section-02 {
    background-color:#fce1d7;
}

.section-03 {
    background-color:#ffffff;
}
.section-04 {
    background-color:#bcdfd1;
}
.section-06 {
    background-color:#bcdfd1;
    padding-bottom:10px;
}
.section {
	background-color:#f3e8e4;
	padding-bottom:10px;
}
.section-queen {
	background-color:#f3e8e4;
	background-image:url('../images/queen-bg.png');
	background-repeat:no-repeat;
	background-position: left top;

}
.border{
    background-color:#e3e3e3;
}
.sec03-bg {
    background-color:#ffffff;
}
.sub-title {
    font-size:55px;
    text-transform:uppercase;
    text-align:center;
	font-family: 'LinotypeDidot';
	font-weight:normal;
}
.grid2-info h3 {
    font-size:30px;
    text-transform:uppercase;
    margin-top:10px;
    text-align:left;
    font-family: 'DidotRegular';
	font-weight:normal;
    margin:10px 0px;

}
.section-04 .free-wall .region-anmeldelser .item-list {
    margin-bottom: 10px;
}
.wellness {
    line-height: 11px;
    margin-top: 5px;
}
.grid2-info .blog {
    font-size:11px;
    color:#2a2a2a;
    font-family: 'DidotRegular';
    text-transform:uppercase;
    font-weight:500;
    line-height:10px;
	font-weight:normal;    
    background:none;
}
.grid2-info .followers {
    font-size:11px;
    color:#2a2a2a;
    font-family: 'DidotRegular';
    text-transform:uppercase;
    font-weight:500;
	font-weight:normal;
}
.follow li {

    list-style-type:none;
}
.follow  {
	border: 1px solid #C2C2C2;
	margin-top: 8px;
	padding: 10px;
	width: 125px;
}

.follow  a {
    text-decoration:none;
    color:#2a2a2a;
}

.follow  a:hover {
    text-decoration:none;
    color:#bcdfd1;
}

.email {
    background-color:#e9e9e9;
    padding: 5px 2px;
}
.email input [type="text"] {
    background-color:#e9e9e9;
    -webkit-appearance: none;
}

.email input{
    background: none repeat scroll 0 0 #e9e9e9;
    border: none;
    font-family: inherit;
    line-height: inherit;
    border-right: 1px solid #aaa;
    padding-left:20px;
    text-transform:uppercase;
    color:#717171;
    font-size:10px;

}

.email button {
    background: none repeat scroll 0 0 #e9e9e9;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-left:15px;
}

.follow-title:before {
    content: url("../images/follow-heart.png");
    height: 13px;
    width: 14px;
    padding-right:5px;
    padding-top: 3px;
	vertical-align:middle;
}

.flag-wrapper.flag-follow {
    top: -1px;
}

.likes a:before {
    content: url("../images/likes.png");
    /*padding-left:15px;*/
    padding-right:5px;
	vertical-align: middle;
}

.comment:before {
    content: url("../images/comments.png");
    padding-left:25px;
    padding-right:5px;
	vertical-align: middle;
}

.likes {
    font-family: 'domineregular';
    font-size:12px;
    display: inline !important;
	padding-left: 15px
}

.comment {
    font-family: 'domineregular';
    font-size:12px;
}

.follow-title {
    font-size:11px;
    font-family:"domineregular";
    text-transform:uppercase;
}

span.flag-follow .flag-throbber, span.flag-follow .flag-message {
    display: none;
}

.newsletter, .section-06 #block-mailchimp-lists-drupal-mailchimp {
    border:1px solid #000;
    width:320px;
    height:auto;
    margin:0 auto;
    text-align: center;
    padding:30px 30px;
}
.news-title, #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 {
    font-size:31px;
    font-weight:bold;
    color:black;
    font-family: 'LinotypeDidot';
	font-weight: bold;
	line-height: 31px;   
}
.region-newsletter-form .news-title, #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 {
	padding-bottom: 10px;
}

#mailchimp-newsletter-drupal_mailchimp .form-item {
    margin:0;
}

.section-06 #mailchimp-newsletter-drupal_mailchimp input.form-text {
    margin: 10px;
    width: 245px;
}

body.not-logged-in .mailchimp-newsletter-wrapper label {
    display: none;
}

.section-06 .grid-item-06 {
	padding-bottom: 5px;
}
.front .section-02 .title-name {
  color: #2A2A2A;
  font-weight: bold;
  margin: -15px auto;
  padding-bottom: 30px !important;
  width: 45% !important;
}
.news-info, #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 .description,
.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe .description {
    font-size: 13px;
    color: black;
    font-family: 'domineregular';
}

.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe .description {
    margin: 0;
}

#edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 .description {
  font-weight: normal;
  line-height: normal;
}
.view-wellness-blog .item-list ul {
  margin: 1% 0 0;
  padding: 0;
}
.view-wellness-blog .item-list ul.pager-load-more {
	margin: 30px 0 0;
}
.view-wellness-blog .item-list ul.pager-load-more li a, .view-wellness-blog .item-list ul.pager-load-more li {
	margin-bottom: 0;
}
.carousel-inner .bx-controls-direction .bx-prev {
	/*margin-left: 1%;*/
	margin-left: 3px;
	margin-top: -3px;
}
.carousel-inner .bx-controls-direction .bx-next {
	/*margin-right: 1.5%;*/
	margin-right: 0.5%;
	margin-top: -7px;
}
#myCarousel .bx-wrapper .bx-viewport {
	left: 0;
}
.front .carousel-info {
	height: 100px;
	/*padding: 10px 10px 20px;*/
	display:table-cell;
	width:250px;
	vertical-align:top;
	padding: 18px 10px;
}
.front .carousel-info h1 {
	padding: 0 0 5px;
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
}
.front .slider-background .title-name {
  color: #2A2A2A;
  font-weight: bold;
  margin: -19px auto;
  padding-bottom: 20px;
}
.newsletter .form-item-mail {
    margin: 0;
}

.newsletter .form-item-mail input, .section-06 #mailchimp-newsletter-drupal_mailchimp input.form-text {
    padding:8px 45px !important;
    margin:10px 10px;
    font-family:"domineregular";
    color:#000 !important;
    border:none;
}
.anmeldelser-right .item-popular .popular-details .form-item, .form-actions {
	margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#edit-newsletters.form-checkboxes {
    display: none;
}

.newsletter .btn-default, mailchimp-lists-user-subscribe-form .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #171717 !important;
}
.newsletter .btn, .mailchimp-lists-user-subscribe-form .btn {
    border-radius: 0px !important;
    text-transform:uppercase;
    font-family: 'domineregular';
    font-weight:bold !important;
    margin-top: 5px;
}
.footer-nav {
    margin: 10px auto 0;
    text-align: center;
    width: 980px;
}
.footer-nav li {
    display:inline;
}
.newsletter #simplenews-subscriptions-multi-block-form {
	margin: 3px 0 0;
}
.footer-nav  a{
    display:inline-block;
    text-decoration: none;
    color:#2a2a2a;
    font-family: 'domineregular';
    font-size:13px;
    text-transform:uppercase;
    width:170px;
}
.footer-nav  a:hover{
    display:inline-block;
    text-decoration: none;
    color:#e85997;
    font-family: 'domineregular';
    font-size:13px;
    text-transform:uppercase;

}
.section-02 .region-all-blog .item-list ul li {
	margin-left: 0;
}
.region .item-list ul.pager-load-more li {
	margin-left: 0;
}
.copyrights {
    font-family: 'domineregular';
    text-align:center;
    font-size:13px;
    color:#000;
    padding-bottom:50px;
}
.last-minute{
    width:320px;
    height:296px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding:30px 30px;
    background-color:#fee0d5;
    position:absolute;
    left:0;
    right:0;
    top:0;
    z-index: 999;
}
.last-minute h1{
    font-family: 'domineregular';
    font-size:36px;
    color:#2a2a2a;

}
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 18px 0 !important;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.btn-group > .btn + .dropdown-toggle {
    border-left: 1px solid #AAAAAA !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff !important;
    margin-left:-8px;

}
.btn-default:hover, .btn-default:focus,
.btn-default:active, .btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #fff !important;

    color: #000;
}
.dropdown-padding {
    padding-left:30px;
    padding-right:30px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.label {
    border-radius:0 !important;
    color:#2a2a2a !important;
    text-transform:uppercase;
	font-family:"Arial";
	font-weight:bold;
	font-size:11px;
	text-align:center;

}
.section-03 .container-freewall-01 h2 {
	margin:10px 0px 30px;
}

span.label a {
    background-color: #C1EADA;
    display: inline-block;
    font-weight: normal;
    padding: 4px 10px 2px;
}

.slider {
	float: left;
	margin: 20px auto 38px;
	width: 100%;
}
.front .lastmt-item h1 {
	color: #2A2A2A;
	font-family: 'domineregular';
	/*font-size: 33px;*/
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 35px;
	margin-bottom: 25px;
	margin-top: 52px;
	padding-left: 40px;
	padding-right: 40px;
}
.lastmt-item {
  background-color: #FEE0D5;
  display: block;
  float: left;
  height: 297px;
  width: 25.333%;
}
.banner-right {
  display: block;
  float: right;
  height: 297px;
  width: 37.33%;
}
.banner-left {
  display: block;
  float: left;
  height: 297px;
  width: 37.32%;
}
/* carousel */
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 0;
    border: none;
    background: none;
    border: 0px solid #ddd;
    border-radius: 0px;
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.9 !important;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
}
.carousel-control.left {
    background-image: none !important;
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: none !important;
}

.carousel-control {
    padding-top:9.25%;
    width:4% !important;
}
.carousel-item {
    width:19%;
    display:inline-block;
    background-color:transparent;
    padding-left:10px;
    padding-right:10px;

}
.carousel-item a {
    text-decoration:none;
}
.carousel-info {
    background-color:#fff;
    width:100%;
    color:#000;
    font-size:18px;
    padding:10px;

}
.carousel-info h1 {
    font-size:100%;
    color:#2a2a2a;
    font-family:"domineregular";
    margin:0;
    text-align: center;
    text-transform:uppercase;
}
.number-treatments {
    font-size:12px;
    color:#2a2a2a;
    width:50%;
    font-family: 'domineregular';


}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    max-width: none !important;
}
.clip_mask img {
    position: absolute;
    clip: circle(10px, 290px, 190px, 10px);
}
/* carousel Style End */
.rating img {
    display:inline;
    padding:10px 0px;
}
.search-box {
    display:none;
}
.search001 {
    display:none;
}
body.front .region-wellness-users .item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}
#sticky-info{
    width:264px;
    background-color:transparent;
    bottom:0px;
    right:0px;
    left:0px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:18px;
    padding:10px;
	font-family: 'dominebold';
}

#load-more {
    width:264px;
    height:65px;
    background-color:transparent;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:18px;
    padding:10px;
    font-weight:500;
    color:white;
}

ul.pager-load-more li a {
    background-color:transparent;
    position:relative;
    bottom:0px;
    right:0px;
    left:0px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:18px;
    padding:10px;
    font-weight:500;
    color:white;
    text-decoration: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 5px 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 135px;
}

.load-btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#sticky-label{
    width:132px;
    height:263px;
    background:url('../images/sticky-label-1.png') no-repeat;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    margin-left: auto;
    text-align:center;
    font-size:15px;
    padding: 36px 8px;
    font-weight:500;
    color:#fff;
}

.btn-loadmore, ul.pager-load-more li a {
    background:url('../images/loadmore-bg.png') no-repeat;
	width:119px;
	height:45px;
    color: #FFFFFF;
    font-family: 'domineregular';
}
ul.pager-load-more .throbber {
    /*display: none;*/
}

.login-navigation {
    width:52%;
    float:left;
}

.login-logo {
    float: left;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -10px;
    width: 30%;
    text-align:center;
    z-index:-1;
}

.login-socialmedia {
    float:right;
}
.login-socialmedia {
    /*width:40%;
    float:left;*/
}
.login-navigation li {
    display:block;
    float:left;
    width:150px;
    line-height: 30px;
}
.login-navigation a {
    text-decoration:none;
    color:#2a2a2a;
    font-size:13px;
    font-family: 'domineregular';
    font-weight:500;
}
.chrome  .lastminute-container .lastminute-content .lastmint-price .btn-book {
    font-size: 12px;
}
.clinicprofile-left .clinicprofile-left-content .view-location-categories .item-list ul.pager-load-more li a {
   margin-top: 10px;
}
.chrome .findklinik-product  {
    padding: 20px !important;
}

/* End Login Page */
/*Login-2 Page */
.login-bg {
    width:586px;
    height:586px;
    padding:5px;
    border-radius:50%;
    background-color:#bcdfd1;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align:center;

}
.login-bg:hover {
    width:586px;
    height:586px;
    border-radius:50%;
    background-color:#91bfad;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    box-shadow: 0 0 20px rgba(42, 42, 42, 1);
    -webkit-box-shadow: 0 0 20px rgba(42, 42, 42, 1);

}
.login-bg h1 {
    color:#2a2a2a;
    font-size:45px;
    font-family: 'DidotRegular';
    text-align:center;
    text-transform:uppercase;
    word-spacing:400px;
	font-weight:normal;    
}
.facebook-signup {
    text-align:center;
    display:table;
    margin:0 auto;
}
.btn-facebooksignup {
    color: #333;
    background-color: #fff;
    display:table-cell;
}
.btn-facebooksignup:hover {
    color: #fff;
    background-color: #2a2a2a;
    display:table-cell;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.facebook-signup-icon {
    width:30px;
    height:30px;
    display:table-cell;
    background:url("../images/facebook-signup.png") no-repeat #fff center;
    border: 1px solid #2a2a2a;
    border-right:0px;
    text-align:center;
    vertical-align:middle;
}
.fsign-btn {
    display:table-cell;
    width:215px;
    height:30px;
    text-align:center;
    background-color:#fff;
}
.btn-normal {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background-image: none;
    border-radius: 0px;
    border: 1px solid #2a2a2a;
    text-transform:uppercase;
    width:235px;
    height:30px;
}

.ads-line {
    margin-top:10px;
    color:#2a2a2a;
}

.or {
    margin-top:10px;
    color:#2a2a2a;
    font-size:16px;
}

.fname {
    width:152px;
    font-size:12px;
    padding:5px;
    margin:5px;
    color:#2a2a2a;
    border:none;
}

.flogin-email {
    width:320px;
    height:30px;
    font-size:12px;
    padding:5px;
    margin:5px;
    border:none;
}
.login-bg form {
    width:330px;
    margin:0 auto;
}
.dropdown-flogin {
    float:left;
    margin:5px;
    background-color: #fff;
    padding: 2px;


}
.fbtn {
    width:200px;
    background:#fff;
    border:0px solid #aaa;
    text-align:left;
}
.ficon {
    width:30px;
    background:#fff;
    border:0px solid #aaa;
}
.ficon-default {
    border-left:1px solid #aaa;
    padding:5px 0px;
}

/*.btn-normal p:before {
        content: url("../images/facebook-signup.png");
        padding:14px 17px 8px 10px;
        border-right:1px solid #2a2a2a;
        vertical-align:middle;
}
.btn-normal p {
        margin:0;
        padding:0;
        vertical-align:middle;
        text-align:center;
        display:table;
        line-height:14px;
}*/
input [type="text"] {
    padding:20px !important;
    -webkit-appearance: none;
}
.forms {
    width:330px;
    margin:0 auto;
}
.terms {
    width:410px;
    margin-top:5px;
    float:left;
    text-align:left;
    font-size:13px;
    color:#2a2a2a;

}
input[type=checkbox].css-checkbox {
    display:none;
    -webkit-appearance: none;
}

input[type=checkbox].css-checkbox + label.css-label {
    font-family: 'domineregular';
    padding-left: 31px;
    height: 26px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    -webkit-appearance: none;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -26px;
    -webkit-appearance: none;
}
label.css-label {
    background-image:url('../images/checkbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight:normal;
    display: inline-block;
    margin-bottom: 5px;

}
.register {
    width:200px;
    background:#fff;
    border:1px solid #000;
    text-align:center;
    margin-top:10px;
    padding:5px;
    cursor:pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    text-transform:uppercase;
}
.register:hover {
    background: #000;
    border:1px solid #000;
    color:#fff

}
.loghere {
    margin-top:10px;
    color:#2a2a2a;
    font-size:13px;
    text-align:center;
}
.loghere a {
    color:#000;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.loghere a:hover {
    color:#515151;
}
/*End Login-2 Page */

/* Blog */

.blog-header {
    background:#f2f3f6;
    color:#2a2a2a;
    font-size:30px;
    padding:20px 0px;
    text-align:center;
}
.blog-header h1 {
	color: #2A2A2A;
	font-family: 'LinotypeDidot';
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	font-weight:normal;	
}
.blog-grid {
    width:640px;
    float:left;
    margin:10px 5px;
    background:#fff;
    padding-bottom: 10px;

}
.blog-sidegrid {
    width:310px;
    background:#fff;
    height:200px;
    float:left;
    margin:10px 5px;

}
.blog-grid-details {
    margin-top:10px;
    display:block;
    padding-bottom:10px;
}
.blog-grid-item {
    background:#fff;
}
.blog-grid-item p{
    padding:10px 20px;
    font-size:18px;
}
.blog-grid-item hr{
    margin:0px;
    border-top:1px solid #e3e3e3;
}

.blog-author p {
    font-size:12px;

}
.blog-author {
    width:10%;
    float:left;
    padding:0px 10px;
}
.blog-author-info {
    width:40%;
    padding:5px 10px;
    float:left;
    /*border-right:1px solid #e3e3e3;*/
    display:block;
}
.blog-author-info p {
    padding:0px;
    margin:0px;
    font-size:13px;
    font-family:"domineregular";

}
.blog-likes {
    width:20%;
    float:left;
    padding: 11px 20px;
    display:block;
    border-right:1px solid #e3e3e3;
    font-size:12px;

}
.blog-likesicon {
    background:url('../images/follow-heart.png') no-repeat;
    float:left;
    width:20px;
    height:11px;
    margin-top:2px;
}
.blog-commentsicon {
   background: url("../images/comments.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    float:left;
    width:20px;
    height:11px;
    margin-top:2px;
}
.blog-comments {
    width:30%;
    float:left;
    padding: 11px 20px;
    display:block;
    font-size:12px;

}
/* End Blog */

/*Queens-profile*/
.queens-banner{
	padding-top:36px;
}
.queen-follow {
	background-color:#fff;
	border:1px solid #c2c2c2;
	padding:5px;
	position: absolute;
    right: 0;
    top: 12px;
}
.queen-follow a {
	text-decoration:none;
	color:#2a2a2a;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
}
.queen-follow a:before {
	content: url("../images/follow-heart.png");
    height: 13px;
    padding-right: 5px;
    vertical-align: middle;
    width: 14px;
}

.actions .btn-queen {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #ffffff;
	border-radius: 50%;
	bottom: 19px;
	display: block;
	height: 48px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 48px;
}

.banner-captions {
	bottom: 5px;
    position: absolute;
    right: 0;
	margin-right:15px;
	margin-bottom:15px;
    width:auto;
    z-index: 1;
}

.banner-captions h1 { 
	font-family: 'DidotRegular';
	font-size:50px;
	color:#2a2a2a;
	font-weight:normal;
	text-align:left;
	line-height: 50px;
}
.queens-title {
	font-family: 'DidotRegular';
	font-size:17px;
	color:#2a2a2a;
	text-align:left;
	font-weight:normal;	
	line-height: 20px;
}
.blogsnfollow {
	font-family: 'domineregular' serif;
	font-size:10px;
	color:#2a2a2a;
	text-align:left;
	line-height: 20px;
	font-weight:700;
}
.queens-socialicons {
    display: block;
    float: right;
    padding-bottom: 5px;
    padding-right: 3px;
}
.queens-socialicons a {
	padding-left:12px;
}
.page-user .section-queen-profile .footer-section {
	margin: 0 auto;
}
.page-user .section-queen-profile .footer-section .grid-item-06 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}
body.page-node.node-type-article .statisk-container {
	margin-top: 20px;
	padding: 30px 40px;
}

table {
	width:100%;
}
table h2 {
	margin:0 0px;
	
}
/* custom.css / 15/may */

.profile-left {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 6px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 33%;
}
.profile-right {
    width: 66.1%;
}
.profile-icons span a {
    color: #2A2A2A;
    font-family: "domineregular";
    text-decoration: none;
}
.details-container {
	padding-left: 2px;
}

.fav-container {
	padding-left: 1px;
}
ul.user-likes-data li {
    color: #2a2a2a;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding-left: 0px;
}
ul.user-likes-data {
	margin-top:5px;
}
.profile-title h1 {
	margin: 0px 0px;
	padding: 0px;
	font-size: 18px;
	font-family: "domineregular";
}
.profile-right .form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 0.3em;
}
 .profile-date{
	color: #818080;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.profile-content .profile-total  {
	color: #2a2a2a;
	line-height: 23px;
	font-size: 14px;
	font-family: 'domineregular' serif;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
.profile-icons .likes a:before {
	content: url("../images/likes.png");
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
}

.profile-title {
    float: left;
    margin: 20px 20px 0;
    width: 88%;
}
.profile-title .address p {
	margin:0px;
}
.address {
    display: block;
    float: right;
    font-size: 12px;
    width: 15%;
}
.profile-left .image-container-icon {
	float: left;
	display: block;
	width: 20%;
	padding-left: 5px;
}
.profile-right .icon-like {
    padding-right: 15px;
}
.profile-right .icon-close {
	padding-left: 15px;
	float: right;
}
/**** Klinikker ****/

.clinicprofile-comment-left-content > h2 {
  color: #2A2A2A;
  font-size: 26px;
  line-height: 0;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.clinicprofile-left .form-item.form-type-item {
  display: none;
}
.clinicprofile-left .form-item-subject label {
  font-weight: normal;
  float:left;
  padding-right: 25px;
  display:block;
  font-family:'domineregular';
  font-size:14px;
  color:#2a2a2a;
  font-weight
}
.clinicprofile-left .form-item.form-type-select.form-item-field-clinic-loc-category-und > label {
  color: #2A2A2A;
  display: block;
  float: left;
  font-family: 'domineregular';
  font-size: 14px;
  font-weight: normal;
  padding-right: 5px;
}
.clinicprofile-left .form-item.form-type-fivestar.form-item-field-clinic-loc-rating-und-0-rating > label {
  color: #2A2A2A;
  float: left;
  font-family: 'domineregular';
  font-size: 14px;
  font-weight: normal;
  padding-right: 20px;
}
.clinicprofile-left .form-item.form-type-textarea.form-item-comment-body-und-0-value > label {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 14px;
  font-weight: normal;
}
.clinicprofile-left  .form-item.form-type-checkboxes.form-item-field-share-on-fb-und > label {
  display: none;
}
.clinicprofile-left   [class*="-share"] {
  cursor: pointer;
  line-height: 30px;
  margin: 10px 0;
  padding-left:0px;
}
.clinicprofile-left .option {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 14px;
}
.clinicprofile-comment-left-content #edit-actions--2 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  
}


/**** Klinikker END ****/
/* custom.css / 15/may */





/*end Queen Profile*/

/* statisk-side-page */
.statisk-container.user-content-bg {
	margin:20px auto;
	/*background-color:#ffffff;*/
	padding:20px;
}
.statisk-container  h1 {
	color:#2a2a2a;
	font-size:18px;
	font-family: 'dominebold';
}
.statisk-container  h2 {
	color:#2a2a2a;
	font-size:14px;
	text-transform:uppercase;
}
.statisk-container  p {
	color:#2a2a2a;
	font-size:14px;
	line-height:20px;
	font-family: 'domineregular';

}
.statisk-container .likes a:before {
	content: url("../images/likes.png");
	padding-left: 0px;
	padding-right: 5px;
	vertical-align: middle;
}
@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding-bottom: 0px;

    }
	.wellness-section .item-list ul {
		margin: 40px 0 0.75em;
	}
}

@media (min-width: 1024px) {
    .carousel-info h1 {
        font-size:80%;
        color:#2a2a2a;
        font-family: 'domineregular';
        margin:0;
        text-align: center;
        text-transform:uppercase;
    }
}

@media (min-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
        color: #e85c99;
        font-size:13px;
        font-weight:400;

    }
    .carousel-info h1 {
        font-size:84%;
        color:#2a2a2a;
        font-family: 'dominebold';
        margin:0;
        text-align: center;
        text-transform:uppercase;
        padding: 5px 0;
        font-weight:normal;
    }
}

@media screen and (max-width:1600px) and( min-width:1400px){
    .carousel-item {
        width:30%;
        display:inline-block;
        background-color:#fff;

    }
}
@media (min-width: 995px) and (max-width:1055px)  {

    .carousel-item {
        padding-left:0px;
        padding-right:0px;
    }
    .number-treatments {
        width: 50%;
    }
    .carousel-info h1 {
        font-size: 76%;
    }
}
@media (min-width: 768px) and (max-width:992px)  {
    .header {
        background: url("../images/nav-bg1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        position: relative;
        top: 9px;
        width: 100%;
        z-index: 10;
		-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
    }
	.carousel-info h1 {
		font-size: 51%;
	}
	.profile-left .details-container {
		padding-left: 9px;
	}
    .main-menu {
        height: auto !important;
        margin: 0 auto;
        width: 100%;
        text-align:center;
    }
	.top-bar {
		float: none;
	}
    .logo {
        float:none;
        margin: 0 auto;
    }
    .navigation-bar {
        width:100%;
        text-align:center;
        padding-bottom: 10px;

    }
    .navigation-bar li {
        display: inline;
        line-height: 20px;
        margin: 0;
        padding-left:4px;
    }
    .navigation-bar ul {
        margin: 0 !important;
        -webkit-padding-start: 0px !important;
        -moz-padding-start: 0px !important;
        -o-padding-start: 0px !important;
        -ms-padding-start: 0px !important;
        padding-start: 0px !important;
    }
    .navigation-bar a {
        color: #E85C99;
        font-size: 13px;
        text-decoration: none;
    }
    .top-bar a {
        color: #000000;
        font-family: "Arial";
        font-size: 10px;
        line-height: 45px;
        margin: 0;
        text-decoration: none;
    }
    .line {
        line-height: 20px;
    }
    .top-bar li {
        line-height: 10px;
    }
    .carousel-item {
        background-color: rgba(0, 0, 0, 0);
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        width: 19%;
    }
    .carousel-item {
        padding-left:0px;
        padding-right:0px;

    }
    .container-freewall {
        padding-bottom: 80px !important;
    }
    .number-treatments {
        width: 50%;
    }
    #sticky-info {
        background-color: rgba(0, 0, 0, 0);
        bottom: 0;
        font-weight: 500;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding: 10px;
        position:relative !important;
        right: 0;
        text-align: center;
        width: 264px;
        overflow:hidden;
        font-size: 14px;
        height: 121px;
    }
    .carousel-info h1 {
        font-size:65%;
    }
}

@media (min-width: 320px) and (max-width:768px)  {
    .header {
        background: url("../images/nav-bg1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        position: relative;
        top: 9px;
        width: 100%;
        z-index: 10;
    }
    .main-menu {
        height: auto !important;
        margin: 0 auto;
        width: 100%;
        text-align:center;
    }
    .logo {
        float:none;
        margin: 0 auto;
    }
    .navigation-bar {
        width:100%;
        text-align:center;
        padding-bottom: 10px;

    }
    .navigation-bar li {
        display: inline;
        line-height: 20px;
        margin: 0;
        padding-left:0px !important;
    }
    .navigation-bar ul {
        margin: 0 !important;
        -webkit-padding-start: 0px !important;
        -moz-padding-start: 0px !important;
        -o-padding-start: 0px !important;
        -ms-padding-start: 0px !important;
        padding-start: 0px !important;
    }
    .navigation-bar a {
        color: #E85C99;
        font-size: 13px;
        text-decoration: none;
    }
    .top-bar a {
        color: #000000;
        font-family: "Arial";
        font-size: 10px;
        line-height: 45px;
        margin: 0;
        text-decoration: none;
    }
	.lastmt-item {
		background-color: #FEE0D5;
		display: block;
		float: left;
		height: 297px;
		width: 39%;
	}
	.banner-right {
		display: block;
		float: right;
		height: 297px;
		width: 32%;
	}
	.banner-left {
		display: block;
		float: left;
		height: 297px;
		width: 29%;
	}
	.front .lastmt-item h1 {
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-size: 33px;
	  font-weight: bold;
	  letter-spacing: -2px;
	  line-height: 35px;
	  margin-bottom: 25px;
	  margin-top: 52px;
	  padding-left: 33px;
	  padding-right: 33px;
	}
	.front .banner h2 {
	  color: #2A2A2A;
	  font-family: dominebold;
	  font-size: 16px;
	  font-weight: normal;
	  margin-top: 18px;
	  padding-left: 50px;
	  padding-right: 43px;
	}
    .line {
        line-height: 20px;
    }
    .top-bar li {
        line-height: 10px;
    }
    .top-bar ul{
        line-height: 10px;
        -webkit-padding-start: 0px !important;
        -moz-padding-start: 0px !important;
        -o-padding-start: 0px !important;
        -ms-padding-start: 0px !important;
        padding-start: 0px !important;
    }
    .carousel-item {
        background-color: rgba(0, 0, 0, 0);
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        width: 19%;
    }
    .carousel-control {
        padding-top: 10.25%;
        width: 7% !important;
    }
    .carousel-info h1 {
        font-size: 60%;
    }

    .number-treatments {
        font-size: 10px;
    }
}


/*** ANMELDELSER **/
a img {
    border:none;
}

.anmeldelser {
    width:100%;
    float:left;
    display:block;
    background-color:#bbe1d2;
    background-image: url('../images/tgrid-01b.png');
    background-position:center bottom;
    background-repeat:no-repeat;
}

.anmeldelser-maincontent {
    width:100%;
    float:left;
    display:block;
}

.anmeldelser-left {
    width:67.5%;
    float:left;
    display:block;
}
.anmeldelser-left .brick { 
	margin:0px;
}
.anmeldelser-right .anmeldelses-list {
	float:left; 
	width:95%; 
	height:50px;
	font-size:12px;
	font-family:"domineregular";
	color:#2a2a2a;
	overflow:hidden;
	margin-top:10px;
}
.anmeldelser-right .anmeldelses-list a{
	color : #2a2a2a;
	text-decoration : none;
}
.anmeldelser-right .popular-date a{
	color : #2a2a2a;
	text-decoration : none;
}

.anmeldelser-right .list-rating { 
	float:left;
	padding-left: 5px;
}
.anmeldelser-right {
    width:32.5%;
    float:left;
    display:block;
    background-color:#fff;
    margin-bottom: 10px;

}
.list-rating .fivestar-widget-static .star span.on {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../widgets/default/star.png) no-repeat 0 -33px; /* RTL */
}
.comment-rating .fivestar-widget-static .star span.on {
  background: url("../widgets/default/star.png") no-repeat scroll 0 -33px rgba(0, 0, 0, 0);
  display: block;
  height: 100%;
  width: 100%;
}
.comment-rating .fivestar-widget-static .star {
  background: url("../widgets/default/star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
  width: 18px;
}
.container-freewall-a {
    width:650px;
    position:relative;
}

.anmeldelser-headline {
    background-color:#e9e9e9;
    float:left;
    width:100%;
    display:block;
    padding: 0px 0px;
}

.anmeldelser-headline h1 {
    font-size:20px;
    margin:0px;
}

.anmeldelser-info-content {
  display: block;
  float: left;
  font-family: dominebold;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 13px;
  margin-top: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.anmeldelser-info-content a {
    color: #2A2A2A;
    text-decoration: none;
}

.anmeldelser-info-01 {
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.anmeldelser-info-01 hr {
    border-top: 1px solid #EBE8E8;
    border-bottom:none;
    margin:0px;
}

.anmeldelser-info-details {
    float:left;
    display:block;
    width:100%;
    text-align:left;
    margin:10px 0px 0px;
}

.anmeldelser-headline h1 a {
    color: #333333;
    text-decoration: none;
}

.anmeldelser-date {
    font-size:12px;
    text-align:left;
    width: 75%;
    line-height: 5px;
    padding-top: 9px;
    float: left;
    display: block;
}

.anmeldelser-headline .fivestar-average-stars .form-item {
    margin:0;
}

.anmeldelser .lastminut-form button {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C2C0C0;
	cursor: pointer;
	float: left;
	line-height: 0;
	margin-top: 47px;
	padding: 1px 6px;
}

.anmeldelser .lastminut-form button:hover {
    color: white;
    background: none repeat scroll 0 0 #000000;
}

.anmeldelser-date .date {
  display: block;
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 25px;
  padding-right: 10px;
  text-transform: uppercase;
}
.anmeldelser-date .time {
  color: #818080;
  display: block;
  float: left;
  font-size: 11px;
  line-height: 25px;
  text-transform: uppercase;
}

.anmeldelser-date .user-review{
    color:#2a2a2a;
    font-size:11px;
    text-transform:uppercase;
    font-weight:normal;
    float:left;
    display:block;
}

.anmeldelser-comments-home {
    display: block;
    float: left;
    padding: 0px 0px 9px;
    width: 100%;
    background: #fff;
}
.anmeldelser-headline .anmeldelser-rating {
    float: left;
}
.anmeldelser .info-details {
    color: #2A2A2A;
    font-family: 'domineregular';
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 10px;
    height:94px;
    overflow:hidden;
    line-height: 17px;

}

.anmeldelser-popular-img {
    float:left;
    display:block;
    padding-right:10px;
}

.anmeldelser-popular {
    float:left;
    display:block;
    padding-left:0px;
}

.anmeldelser-popular h2{
    padding:0px;
    margin:0px;
    font-size:14px;
    font-weight:700;
}

.anmeldelser-popular h3{
    padding:0px;
    margin:0px;
    font-size:12px;
    font-weight:normal;
    line-height: 20px;
	text-transform:uppercase;
}

.anmeldelser-right .popular-date {
    border-right: 1px solid #e3e3e3;
    padding-right: 6px;
    font-size: 11px;
    color: #2a2a2a;
	margin-top: 2px;
    text-transform: uppercase;
    font-family: 'dominebold';
}

.anmeldelser-right .popular-details {
    padding-right: 0px;
}


.anmeldelser-headline .headline-container {
    padding:20px;
    float: left;
    display: block;
    width:100%;
}

.anmeldelser-left .item-01-info hr {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right:20px;
    margin-left:20px;
    border-top:1px solid #e3e3e3;
    border-bottom:none;
}

.anmeldelser-comments-home .likes {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}
.anmeldelser-comments-home .comment {
    display: block;
    float: left;
    line-height: normal;
    padding-top: 5px;
}
.anmeldelser-right .item-popular {
    display: block;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
}
.anmeldelser-right .popular-details {
    display: block;
    float: left;
    font-family: 'domineregular',serif;
    padding-right: 0px;
    width:70%;
}
.anmeldelser-right .popular-image {
    display: block;
    float: right;
    font-family: 'domineregular',serif;
    /*width: 30%;*/
}
.anmeldelser-right .blog-sidegrid-item {
    padding: 20px 20px 0;
}
.anmeldelser-right .blog-sidegrid-item h1 {
  font-family: 'LinotypeDidot';
  font-size: 31px;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
  line-height: 31px;
}
.popular-details p {
    font-size: 12px;
    margin: 8px 0 0;
    padding: 0;
}
.lastmt-item h1{
	margin-top:40px;
	margin-bottom: 30px;
	font-family: "DidotRegular";
	font-weight:normal;
	font-size: 33px;
}
.anmeldelser-left .item-list ul{
	 margin: 50px 0 0!important;
    padding: 0;
}


@media (min-width: 768px) and (max-width:980px) {
	.anmeldelser-right {
	  background-color: #FFFFFF;
	  display: block;
	  float: left;
	  margin: 15px 10px 10px 5px;
	  padding-bottom: 25px;
	  width: 39%;
	}
	.footer-nav {
	  padding: 0;
	  text-align: center;
	  width: 768px;
	}
	.anmeldelse .lastminute-content {
		height: 400px;
		margin: 10px auto;
		width: 768px;
	}
	.anmeldelser-left .container-freewall-a  .content {
		width:768px;
		margin:10px auto;
	}
	
	.anmeldelser-right {
		background-color: #FFFFFF;
		display: block;
		float: left;
		margin: 15px 10px 10px 5px;
		padding-bottom: 25px;
		width: 48%;
	}
	/****blog page****/
    /****Anmeldelser****/
    .page-anmeldelser .lastminute-content {
        padding: 0%;
        width: 100%;
    }
    .page-anmeldelser .lastminut-form {
        padding: 16px 25px;
    }
    .page-anmeldelser .lastminut-form.highlighted {
        width: 100%;
    }

    /****End Anmeldelser****/
     .li_evens.og-expanded, .li_odds.og-expanded {
          height: 729px !important;
        }
}

@media (max-width: 800px) {
		.anmeldelser-left .container-freewall-a  .content {
			width:800px;
			margin:0 auto;
		}
		
		.anmeldelse .lastminute-content {
			height: 400px;
			margin: 10px auto;
			width: 800px;
		}
		
		.anmeldelser-left .container-freewall-a  .content {
			width:800px;
			margin:10px auto;
		}
		
		.banner-right {
			display: block;
			float: right;
			height: 297px;
			width: 32%;
		}
		
		.banner-left {
			display: block;
			float: left;
			height: 297px;
			width: 29%;
		}
		
		.front .lastmt-item h1 {
		  color: #2A2A2A;
		  font-family: 'domineregular';
		  font-size: 33px;
		  font-weight: bold;
		  letter-spacing: -2px;
		  line-height: 35px;
		  margin-bottom: 25px;
		  margin-top: 52px;
		  padding-left: 33px;
		  padding-right: 33px;
		}
		
		.front .banner h2 {
		  color: #2A2A2A;
		  font-family: dominebold;
		  font-size: 16px;
		  font-weight: normal;
		  margin-top: 18px;
		  padding-left: 50px;
		  padding-right: 43px;
		}
		
		.lastmt-item {
		  background-color: #FEE0D5;
		  display: block;
		  float: left;
		  height: 297px;
		  width: 39%;
		}
		
		.carousel-info h1 {
			font-size: 11px;
			width: 113px;
		}
		
		.carousel-inner .bx-controls-direction .bx-prev {
			margin-left: 0.5%;
		}
		.number-treatments {
		  font-size: 10px;
		}
}
/*** ANMELDELSER ENDS  **/

/*** WELLNESS QUEENS  **/
.wellness-section .brick-overflow{
	position : relative;
}

.wellness-queens .sub-title {
	margin: 75px 0 20px;
}
.wellness-queens .grid2-info h3 {
	padding: 10px 0 5px;
}
.wellness-queens .follow {
	margin-top: 9px;
}
.wellness-queens .brick-info {
    border: 0 none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.wellness-queens .brick-info p {
	margin: 20px 0;
}
.wellness-label {
	background-color: #C1EADA;
    border-radius: 0 !important;
    color: #000000 !important;
    font-size: 10px;
    left: 0;
    margin: 0 auto;
    padding: 7px 5px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 21px;
    width: 50%;
    font-family: arial;
    font-weight: 600;
}
.wellness-label.orange {
	background-color: #fdcebd;
}
.wellness-label.purple {
	background-color: #d0cae6;
}
.wellness-label.green {
	background-color: #C1EADA;
}
.wellness-container {
	background-image:url('../images/wellness-bg.png');
	background-repeat: no-repeat;
	background-position: center 10px;
	max-width:980px;
	position:relative;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom:20px;
}
.wellness-header {
	background: none repeat scroll 0 0 #F2F3F6;
	color: #2A2A2A;
	display: block;
	float: left;
	font-size: 30px;
	padding: 20px 0;
	text-align: center;
	width: 100%;

}
.wellness-header h1 {
	color: #2A2A2A;
	font-family: 'LinotypeDidot';
	font-size: 56px;
	margin: 0;
	text-transform: uppercase;
	font-weight:normal;
}
.wellness-section {
    background-color: #f3e8e4;
	background-image:url('../images/wellness-tri.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.wellness-section .copyrights {
    color: #000000;
    font-family: 'domineregular';
    font-size: 13px;
    padding-bottom: 23px;
    text-align: center;
}
.wellness-section .grid-item-02 {
    border: 1px solid #e3e3e3;
    padding: 20px 20px 10px 20px;
	background-color: #FFFFFF
}
.wellness-section  .wellness-news {
	border: 0px solid #f3e8e4;
	background-color:#f3e8e4;
	text-align: center;
}
.wellness-section  .grid2-info h3 {
  line-height: 33px;
  padding: 0px;
  margin: 5px 0px;
  font-family: 'LinotypeDidot';
  font-weight:normal;
/*
  word-break: break-all;  
*/
  min-height : 105px;
}

.wellness-section .follow {
    margin: 10px 0;
}
/*** WELLNESS QUEENS ENDS  **/

/***** FIND CLINIC ***/
.findklinik-container {
	background-image: url('../images/lastminute-bg.png');
	background-color:#bbe1d2;
	background-repeat:no-repeat;
	background-position:center bottom;
	float: left;
	width: 100%;
	clear: both;

}
.findklinik-header {
	background: #f2f3f6;
	color: #2a2a2a;
	font-size: 30px;
	padding: 20px 0px;
	text-align: center;
	display: block;
	float: left;
	width: 100%;
}
.findklinik-header h1 {
	color: #2a2a2a;
	font-size: 60px;
	margin: 0;
	font-family: 'LinotypeDidot';
	text-transform:uppercase;
	font-weight:normal;	
}
.findklinik-header h5 {
	color: #2a2a2a;
	font-size: 14px;
	margin: 0;
	font-family: 'DidotRegular';
	font-weight:normal;	
}
.findklinik-content {
	width:980px;
	margin:10px auto; 

}
.findklinik-form {
	background-color: #FEE0D5;
	float: left;
	margin-bottom: 10px;
	padding: 0px 10px 10px;
	width: 100%;
}
.findklinik-selectbox h4 {
	font-size:13px;
	font-family:"domineregular";
	color:#2a2a2a;
	margin:10px 0px;
	padding:0px;
}
.findklinik-selectbox  {
	float:left;
	display:block;
	padding:1%;
}
.findklinik-selectbox  input[type="text"]{
	background: #fff;
	padding: 8px;
	border: none;
	margin-top: 0;
    -webkit-appearance: none;
}
.findklinik-selectbox select {
	background-color:#ffffff;
	border:none !important;
	padding: 5px 22px 9px 10px;
	border:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none !important;
	outline:none !important;
	text-indent: 0.01px;
	text-overflow: "";
	background-image:url('../images/select-2.png');
	background-repeat:no-repeat;
	background-position: center right;
	width:100%;
    -webkit-appearance: none;
}
.findklinik-block {
	width:100%;
	margin-bottom:10px;
	float:left;
}
.findklinik-contents {
	background-color:#ffffff;
	width:66.777%;
	float:left;
	display:block;
}
.findklinik-item {
	width:50%;
	float:left;
	display:block;
}
.findklinik-product {
	padding:20px;
	background-color:#fff;

}
.findklinik-block h6 {
	padding:0px;
	margin-top:10px;
	margin-bottom:5px;
	color:#787878;
	font-size:12px;
}
.findklinik-block h1 {
	padding:0px;
	margin:0px;
	color:#000000;
	font-size:20px;
}
.findklinik-block p {
	padding:0px;
	margin:0px;
	color:#000000;
	font-size:12px;
	margin-top:10px;
	line-height:18px;
	font-family:"domineregular";
}
.findklinik-rating {
	margin-top:10px;
}
.findklinik-details {
	padding:10px;
	background-color:#fff;
}

.findklinik-price {
	background-color:#f6f5f5;
	padding:20px;
	
}
.btn-book {
	background-color:#ffffff;
	border:1px solid #000000;
	text-transform:uppercase;
	padding:8px 20px;
	margin:10px 0px;
	cursor:pointer;
}
.btn-book:hover {
	background-color:#000000;
	border:1px solid #000000;
	text-transform:uppercase;
	padding:8px 20px;
	margin:10px 0px;
	cursor:pointer;
	color:#ffffff;
}

.page-last-minute .lastminute-time .btn-book:hover {
	padding:6px 10px;
	margin:0 0px 0 5px;
}
.page-last-minute .lastminute-time .btn-book{
	padding:6px 10px;
	margin:0 0px 0 5px;
}
.findklinik-price h1 {
	margin:5px 0px;
	font-size:25px;
}
.findklinik-price hr {
	border-top:1px solid #cdcccc;
	border-bottom:none;
}
.price-inf0 {
	line-height: 19px;
}
.price-inf0 .inf0 {
	font-size:12px;
	width:33.333%;
	float:left;
	display:block;
	
}
.item-list ul {
	margin: 0;
	padding: 0;
}

.item-list {
    margin-top: 10px;
}
.price-inf0 .inf0:nth-child(2) {
	padding-left:17px;
	padding-right:10px;

}
.price-inf0 .inf0:nth-child(3) {
	padding-left: 32px;

}

.blogpost-footer {
	width:980px;
	margin:15px auto;
}
.page-find-behandling .blogpost-footer {
    margin: 60px auto 15px;
}
.blogpost-footer .copyrights {
	color: #000000;
	font-family: 'domineregular';
	font-size: 13px;
	padding-bottom: 10px;
	text-align: center;
}
.blogpost-footer .footer-nav li {
	line-height: 25px;
	list-style-type: none;
	display: inline-block;
	padding-left:10px;
}
.blogpost-footer .footer-nav ul {
	margin:0 auto;
	width:100%;
}
.blogpost-footer .footer-nav a {
	text-decoration: none;
	color: #2a2a2a;
	font-family: 'dominebold';
	font-size: 12px;
	text-transform: uppercase;
	line-height:35px;

}
.blogpost-footer .footer-nav a:hover {
	text-decoration: none;
	color: #E85997;
	font-family: 'dominebold';
	font-size: 12px;
	text-transform: uppercase;
}
.findclinik-mail {
	margin-top: 6px;
}
.findclinik-mail a span {
	color: #000000;
    font-family: "domineregular";
    font-size: 12px;
    margin: 0px 0 0;
    padding: 0;
}
.findclinik-mail a {
	text-decoration: none;
} 
.findklinik-block .findklinik-product h6 {
	margin-top: 0;
}
.findklinik-block .findklinik-details h6 {
	text-transform: capitalize;
}
.findklinik-details a.read-more {
	color: #000000;
    font-family: "domineregular";
    font-size: 12px;
    text-decoration: none;
    padding-right: 20px;
    background: url("../images/readmore.png") no-repeat scroll right center #FFFFFF;
}
.findklinik-details a.read-less {
	color: #000000;
    font-family: "domineregular";
    font-size: 12px;
    text-decoration: none;
}
.findklinik-map .findklinik-item {
    width: 32.3333%;
	float:right;
	background-color:#eee;
}
.findklinik-item > img {
    height: 215px;
    width: 100%;
}
/*.findklinik-form.highlighted {
  position: fixed;
  top: 0;
  width: 980px;
  z-index: 999;
}*/
.findklinik-form.highlighted h2 {
	text-align: center;
	font-size: 30px;
}
.klinik-drop {
    display: inline-block;
}
.dropdown, .dropdown1, .dropdown2 {
	margin-top: 0px; 
	float: left;
}
.dropdown dd, .dropdown dt, .dropdown ul, .dropdown1 dd, .dropdown1 dt, .dropdown1 ul, .dropdown2 dd, .dropdown2 dt, .dropdown2 ul {
    margin: 0;
    padding: 0;
}
.dropdown dt a, .dropdown1 dt a, .dropdown2 dt a {
    background: url("../images/select-1.png") no-repeat scroll 156px center #FFFFFF;
    color: #000000;
    display: block;
    font-family: domineregular;
    font-size: 12px;
    outline: medium none !important;
    padding: 9px 8px 8px 8px ;
    text-decoration: none;
    width: 200px;
}
.dropdown dd, .dropdown1 dd, .dropdown2 dd {
    position: relative;
}
.dropdown dd ul, .dropdown1 dd ul, .dropdown2 dd ul {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    left: 0;
    list-style: none outside none;
    min-width: 170px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    width: 200px;
}
.dropdown dd ul li a, .dropdown1 dd ul li a, .dropdown2 dd ul li a {
    color: #000000;
    display: block;
    font-family: domineregular;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
}
.find-long {
	display: none;
}

body.page-node .statisk-container {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-top: 15px;
	padding: 15px 20px;
} 
	
@media (min-width: 768px) and (max-width:980px){
	.blogpost-footer {
		width:768px;
		margin:15px auto;
	}
	.findklinik-price {
		background-color:#f6f5f5;
		padding:26px;
	}

	.item-list ul {
		margin: 0 0 0.75em;
		margin-top: 30px;
		padding: 0;
	}
     .page-node .view-content .og-grid li {
      /*width: 47%;*/
    }
	
}

/***** FIND CLINIC ENDS ***/

/**** FIND KLINKS ***/

.findklinik-rating .form-item, .form-actions {
    margin-bottom: 0em;
    margin-top: 0em;
}
.findklinik-item .street-block {
    font-size: 12px;
    font-family: "domineregular";
    color: #2a2a2a;
}
.findklinik-item .addressfield-container-inline .locality-block.country-IN {
  color: #2A2A2A;
  font-size: 12px;
  font-family: "domineregular";
}
.findklinik-item a {
  color: #2A2A2A;
  font-family: "domineregular";
  text-transform:capitalize;
}
.findklinik-item  .state , .postal-code,  .locality, .country {
  color: #2A2A2A;
  font-size: 12px;
  font-family: "domineregular";
  text-transform:capitalize;
}
.page-user .statisk-container #main-content #tabs-wrapper {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.page-user .statisk-container #main-content #tabs-wrapper h1 {
	display: block;
	font-family: 'dominebold';
	font-weight: normal;
	margin: 0 auto;
	padding: 5px 0 15px;
	text-transform: uppercase;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary {
	clear: both;
	display: block;
	line-height: normal;
	margin: 0 auto;
	padding: 0;
	float:left;
	width:100%;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li {
	background: none repeat scroll 0 0 #FEE0D5;
	border-left: 1px solid #FEE0D5;
	border-right: 1px solid #FEE0D5;
	border-top: 1px solid #FEE0D5;
	display: block;
	float: left;
	margin-right: 0;
	padding: 9px 35px;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li:hover {
	background:#fff;
	border-left: 1px solid #FEE0D5;
	border-right: 1px solid #FEE0D5;
	border-top: 1px solid #FEE0D5;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li a {
	border: medium none;
	color: #2A2A2A;
	font-family: domineregular;
	font-size: 14px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li a:hover {
	background:none;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li.active {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	color: #000000;
	position: relative;
	top: 0px;
}
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li.active a{
	color: #E85C99;
}
.page-user .statisk-container .region.region-content {
	/*border-right: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;*/
	display: block;
	margin: 0 auto;
	/*padding: 40px;*/
	width: 100%;
}
#user-login .form-item input,	
#user-pass .form-item input,	
#user-register-form .form-item input {
	border: 1px solid #BBBBBB;
	/* font-family: domineregular; */
	font-family: dominebold;
	padding: 6px;
	width: 60%;
}
#user-login #edit-actions #edit-submit,
#user-pass #edit-actions #edit-submit,
#user-register-form #edit-actions #edit-submit {
	background-color: #FFFFFF;
	border:1px solid #BBBBBB;
	color: #333333;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0px;	
}
#user-login #edit-actions #edit-submit:hover,
#user-pass #edit-actions #edit-submit:hover,
#user-register-form #edit-actions #edit-submit:hover { 
	background-color: #000;
	border:1px solid #BBBBBB;
	color:#fff;
}
/**** FIND KLINKS ENDS***/
@media only screen and (min-width: 768px) and (max-width: 979px) { 
	.main-menu {
	  background: none repeat scroll 0 0 #FFFFFF;
	}
	.main-content-container {
		position: relative;
		top: 175px;
	}	
	.page-artikler .blog .blog-container .blog-grid {
		width: 56%;
	}	
	.page-artikler .blog .blog-container .blog-grid {
		width: 100%;
	}	
	.page-node .clinicprofile-topsection {
		width: 100%;
	}
	.page-node  .clinicprofile-rating {
		width: 40%;
	}	
	.page-node  .clinicprofile-photo {
		width: 60%;
	}	
	.page-node  .clinicprofile-content {
		width: 100%;
	}	
	.page-node .clinicprofile-left {
		margin: 0 auto;
		width: 65%;
	}
	.page-node  .clinicprofile-sidebar {
		float: right;
		margin-right: 5px;
		margin-top: 35px;
		width: 34%;
	}	
	.page-node .view-content .og-grid li:nth-child(2n) {
		margin-right: 10px;
	}
	.page-node .view-content .og-grid li {
		/*width: 31%;*/
	}	
	.page-node .clinicprofile-left-content #tab1 .grid-item-01 > h5 {
		display: block;
		font-size: 14px;
		width: 100%;
	}	
	.footer-section {
		width: 100%;
	}
	.footer-nav {
		width: 100%;
	}	
	.footer-nav .container-freewall-queens.queens-bottom{
		width: 100%;
	}
.front .lastmt-item h1 {
	font-size: 28px;
}	
.front .banner-left {
    width: 31%;
}
.front .banner-right {
    width: 34%;
}
.front .lastmt-item {
    width: 35%;
}
}
@media only screen and (min-width: 980px) and (max-width: 1024px) { 
	.front .banner-left {
		width: 33.8%;
	}
	.front .lastmt-item {
		width: 32.4%;
	}
	.front .banner-right {
		width: 33.8%;
	}	
	.front .lastmt-item h1 {
		font-size: 32px;
	}
	.carousel-info h1 {
		font-size: 11px;
		width: 113px;
	}
}


.ajax-progress .throbber {
	background: transparent url(../images/loader-02.gif) no-repeat 0px 12px;
	width: 33px;
	height: 45px;
}
/*****TABLET RESPONSIVE*****/
/*iPad in landscape*/
@media only screen and (min-width : 600px) and (max-width : 767px) 
{
	 .header {
        background-color:#ffffff;
        position: relative;
        top: 9px;
        width: 600px;
        z-index: 10;
		-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
    }

	.profile-left .details-container {
		padding-left: 9px;
	}
    .main-menu {
        height: auto !important;
        margin: 0 auto;
        width: 100%;
        text-align:center;
    }
	.top-bar {
		float: none;
	}
    .logo {
        float:none;
        margin: 0 auto;
    }
    .navigation-bar {
        width:100%;
        text-align:center;
        padding-bottom: 10px;

    }
    .navigation-bar li {
        display: inline;
        line-height: 20px;
        margin: 0;
        padding-left:4px;
    }
    .navigation-bar ul {
        margin: 0 !important;
        -webkit-padding-start: 0px !important;
        -moz-padding-start: 0px !important;
        -o-padding-start: 0px !important;
        -ms-padding-start: 0px !important;
        padding-start: 0px !important;
    }
    .navigation-bar a {
        color: #E85C99;
        font-size: 13px;
        text-decoration: none;
    }
    .top-bar a {
        color: #000000;
        font-family: "Arial";
        font-size: 10px;
        line-height: 45px;
        margin: 0;
        text-decoration: none;
    }
    .line {
        line-height: 20px;
    }
    .top-bar li {
        line-height: 10px;
    }
	.banner-right {
		display: block;
		float: right;
		height: 297px;
		width: 25%;
	}
	.lastmt-item {
		background-color: #FEE0D5;
		display: block;
		float: left;
		height: 297px;
		width: 45%;
	}
	.banner-right {
		display: block;
		float: right;
		height: 297px;
		width: 26%;
	}
	.carousel-info h1 {
		font-size: 36%;
	}

	.front .lastmt-item h1 {
		color: #2A2A2A;
		font-family: 'domineregular';
		font-size: 33px;
		font-weight: bold;
		letter-spacing: -2px;
		line-height: 35px;
		margin-bottom: 25px;
		margin-top: 20px;
		padding-left: 33px;
		padding-right: 33px;
	}
	#freewall1 .content {
		margin: 10px;
		overflow: hidden;
	}
	#freewall2 .content {
		margin: 10px;
		overflow: hidden;
	}
	#freewall3 .content {
		margin: 10px;
		overflow: hidden;
	}
	#freewall4 .content {
		margin: 10px;
		overflow: hidden;
	}
	.footer-nav {
		margin: 10px auto 0;
		text-align: center;
		width: 570px;
	}
	ul.menu {
		border: none;
		list-style: none;
		text-align: center;
	}
	.sub-title {
		font-size: 35px;
	}
	.title-name { 
		font-size: 22px;
	}
	.front .section-04 .title-name {
		margin: -15px auto;
	}
	.slider {
		display:none;
	}
	.front .slider-background .title-name {
		display: none;
	}
	.slider-background .heading {
		height:0px;
	}
    .carousel-item {
        background-color: rgba(0, 0, 0, 0);
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        width: 19%;
    }
    .carousel-item {
        padding-left:0px;
        padding-right:0px;

    }
	.main-content-container {
		position: relative;
		top: 185px;
	}
	.navigation-bar ul.menu {
		text-align: center;
	}
	.blog-container {
		max-width: 600px;
		position: relative;
		margin: 0 auto;
		padding: 10px;
	}
	/**** blog page *****/
	.blog .blog-container .blog-grid {
		background: none;
		float: left;
		padding-bottom: 10px;
		width: 100%;
		margin: 10px 10px 10px 0px;
	}
	.blog .blog-container .blog-rightgrid {
		float: left;
		width: 100%;
		margin-top: 0px;
	}
	.blog .popular-image {
		display: block;
		float: right;
		font-family: domineregular;
		margin-top: 5px;
		width: 15%;
	}
	.blog .popular-details {
		width: 70%;
	}
	/**** blog page end *****/

    /**** Anmeldelser page ****/
    .anmeldelser-left {
        display: block;
        float: left;
        width: 100%;
    }
     .anmeldelser-left .container-freewall-a {
        position: relative;
        width: 100%;
    }
    .anmeldelser-left .container-freewall-a .content {
        width: 100%;
        margin: 10px auto;
    }
    .anmeldelser-right {
        width: 100%;
        float: left;
        display: block;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .anmeldelser-date {
        width:35%;
    }
    .lastminute-selectbox h4 {
            font-size: 11px;
    }
    .page-anmeldelser .anmeldelser .lastminut-form button {
        margin-top: 38px;
    }
	.page-comment input#edit-subject--2 {
		border: 1px solid #aaa !important;
		}
	.clinicprofile-sidebar.clinicprofile-comment-sidebar > h2 {
	  text-align: left !important;
	}
    /**** Anmeldelser page end ****/
    .container-freewall-queens {
        margin: 0 10px;
        max-width: 980px;
        position: relative;
    }

}
@media only screen and (min-width : 1025px) and (max-width : 1190px) 
{
	.lastmt-item {
		background-color: #FEE0D5;
		display: block;
		float: left;
		height: 297px;
		width: 30.4%;
	}
	.front .carousel-info {
		padding: 18px 0px !important;
	}
	.carousel-info {
		font-size: 16px !important;
	}
	.banner-right {
		display: block;
		float: right;
		height: 297px;
		width: 34.6%;
	}
	.banner-left {
		display: block;
		float: left;
		height: 297px;
		width: 35%;
		}


}
@media only screen and (min-width : 980px) and (max-width : 992px) 
{
	.header {
		background-color: #ffffff;
	}
	.main-content-container {
		position: relative;
		top: 180px;
	}
	.footer-nav {
		margin: 10px auto 0;
		text-align: center;
		width: 900px;
	}
    .blog .blog-container .blog-grid {
        background: none;
        float: left;
        padding-bottom: 10px;
        width: 63.8%;
        margin: 10px 10px 10px 0px;
    }
    .blog .post-sidegrid {
        background: none repeat scroll 0 0 #FFFFFF;
        margin-bottom: 10px;
        width: 100%;
    }
    #freewall1 .content {
        margin: 10px;
        overflow: hidden;
    }
    .container-freewall-queens {
        margin: 0 10px;
        max-width: 980px;
        position: relative;
    }
}
@media only screen and (min-width : 800px) and (max-width : 980px) 
{
    .carousel-info h1 {
        font-size: 11px;
        width: 113px;
    }
}
/***** BLOG PAGE *****/
@media only screen and (min-width : 768px) and (max-width : 979px) 
{
	.blog .blog-container .blog-grid {
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	  float: left;
	  margin: 10px 10px 10px 0;
	  padding-bottom: 10px;
	  width: 100%;
	}
	.blog .blog-container .blog-rightgrid {
		width: 100%;
	}
	.blog .blog-sidegrid {
	  background: none repeat scroll 0 0 #FFFFFF;
	  float: right;
	  height: auto;
	  margin: 0;
	  width: 48.7%;
	}
	.blog .post-sidegrid {
	  background: none repeat scroll 0 0 #FFFFFF;
	  float: left;
	  width: 50%;
	}
	.blog .blog-categories {
		background: none repeat scroll 0 0 #BCDFD1;
		float: left;
		margin: 0 0 10px;
		width: 50%;
	}
	#freewall1 .content {
		margin: 10px;
		overflow: hidden;
	}
	.blog .blog-rightgrid {
		margin-top: 0px;
	}
	.blog .blog-container .blog-grid {
		padding-bottom: 0px;
		margin-bottom:0px;
	}
	/***** BLOG PAGE END *****/

/***** ANMELDELSER PAGE *****/
    .anmeldelser-right {
        background-color: #FFFFFF;
        display: block;
        float: left;
        margin: 15px 10px 10px 5px;
        padding-bottom: 25px;
        width: 47%;
    }
   .anmeldelser-left .container-freewall-a .content {
      margin: 10px auto;
      width: 100%;
   }
    .anmeldelser-left {
        display: block;
        float: left;
        width: 100%;
    }
    .anmeldelser-left  .container-freewall-a {
        width: 100%;
        position: relative;
    }
/***** ANMELDELSER PAGE END *****/
    .page-node .clinicprofile-left {
        margin: 0 auto 0 10px;
        width: 64%;
    }
    .og-expander {
        width: 95%;
    }
    .page-node .clinicprofile-sidebar {
      float: right;
      margin-right: 10px;
      margin-top: 35px;
      width: 33%;
    }
    .page-node .clinicprofile-left {
      margin: 0 10px;
      overflow: hidden;
      width: 63%;
    }
}

@media (max-width:980px) {
    .profile {
        min-height: 1280px !important;
        width:100%;
    }
    body.page-node.node-type-article .statisk-container {
        width:100%;
        padding: 10px;
        margin:30px 0px 0px;
    }
    .footer-section {
      bottom: 30px;
      width: 100%;
    }
    .profile-container {
        margin: 0 auto;
        width: 100%;
    }
    /***** ANMELDELSER PAGE *****/

    .container-freewall-a {
        position: relative;
        width: 100%;
    }
    .anmeldelser-left {
      display: block;
      float: left;
      width: 100%;
    }
    .lastminute-selectbox.category .selectricWrapper {
      margin: 0 auto;
      width: 220px;
    }
    .anmeldelser-left .container-freewall-a .content {
        margin: 10px auto;
        width: 100%;
    }
    .footer-nav {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .anmeldelser-right.anmeldelser-popular {
        float: right;
    }
    .anmeldelser-right {
        margin: 0px;
        padding: 0px;
        width: 49.5%;
    }
    .anmeldelser-left .item-list ul {
        margin: 25px 0 0 !important;
        padding: 0;
    }
    .section-queen {
        background-color: #F3E8E4;
        background-image: none;
        background-position: center top;
        background-repeat: no-repeat;
    }
    /***** ANMELDELSER PAGE END *****/
    .container-freewall-queens {
        margin: 0 10px;
        max-width: 980px;
        position: relative;
    }
}

/*****TABLET RESPONSIVE END*****/

body.safari .banner-left {
  display:block;
  float:left;
  height:297px;
  /*width:37.5%;*/
}

body.page-user #block-mailchimp-lists-drupal-mailchimp {
border: 1px solid #000;
width: 320px;
height: auto;
margin: 0 auto;
text-align: center;
padding: 30px 30px;
}
body.page-user #mailchimp-newsletter-drupal_mailchimp input.form-text {
padding: 8px 45px !important;
margin: 10px 10px;
font-family: "domineregular";
color: #000 !important;
border: none;
width: 245px;
}
body.page-user .form-type-textfield .form-text{
	/*border:none;*/
}
#slidediv1 .mailchimp-lists-user-subscribe-form #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title,
#slidediv1 .mailchimp-lists-user-subscribe-form label,
#slidediv1 .mailchimp-lists-user-subscribe-form input#edit-submit,.mobile-vertical-slider {
    display: none;
}
