/***************************
****************************
BLOG POST STYLES
****************************
***************************/
/* font face */
@font-face {
	font-family: 'LinotypeDidot';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/2AFBD5_0_0.eot');
	src: url('../fonts/2AFBD5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2AFBD5_0_0.woff') format('woff'),
	url('../fonts/2AFBD5_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DidotRegular';
    src: url('../fonts/didot.eot');
    src: url('../fonts/didot.eot') format('embedded-opentype'),
         url('../fonts/didot.woff') format('woff'),
         url('../fonts/didot.ttf') format('truetype'),
         url('../fonts/didot.svg#DidotRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'theano_didotregular';
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot');
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font face */
a img {
 border:none;
}

.blogpost-container {
	background-color:#f3e8e4;
	background-image:url('../images/blogpost-bg.png');
	background-repeat:no-repeat;
	background-position:center -82px;
	float: left;
	width: 100%;
	clear: both;
	padding-bottom:10px;
}

	.main-menu {
		height: 82px !important;
	}
.blogpost-content {
	width:980px;
	margin:0 auto;
	margin-top:40px;
}
.blogpost-left {
	float:left;
	/*background-color:#fff;*/
	width:66.4%;
}
.blogpost-left-content {
	/*background-color:#fff;*/
}
.blogpost-Commentpost {
	background-color:#fff;
	margin-top:15px;
	width:100%;
	display:table;
}
.blogpost-Commentpost p {
  color: #2A2A2A;
  display: inline;
  font-family: domineregular;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.blogpost-Commentpost .comment-likes {
  display: block;
  float: left;
  margin: 6px 0 0;
    border:0px !important;
}
.blogpost-Commentpost .comments-right {
  border: 1px solid #D3D7D9;
  float: right;
  padding: 15px 15px 10px;
  width: 75.7%;
}
body.chrome .blogpost-Commentpost .comments-right {
  border: 1px solid #D3D7D9;
  float: right;
  padding: 15px 15px 10px;
  width: 81%;
}
@-moz-document url-prefix() { 
 .blogpost-Commentpost .comments-right {
  border: 1px solid #D3D7D9;
  float: right;
  padding: 15px 15px 10px;
  width: 81%;
}
}
.item-list ul li {
	margin: 0 !mportant;
}
.blogpost-Commentpost .comments-right .comment-content {
  margin: 10px 0;
}
.blogpost-Commentpost .comments-right .likes:before {
  padding-left: 0;
}

.blogpost-Commentpost h1 {
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 25px;
  margin: 0;
  padding: 15px 15px 10px 20px;
}
.blogpost-Commentpost .view-comments-block{
    clear:both;
}
.blogpost-Commentpost .view-comments-block .comments-section {
  padding: 15px 20px 20px;
}
.blogpost-author-content {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
  float: left;
  padding: 5px 0%;
  width: 100%;
}

.blogpost-author {
  display: block;
  float: left;
  padding-left: 2%;
  width: 10%;
}
.blogpost-author-details {
  display: block;
  float: left;
  font-size: 12px;
  padding-left: 0;
  width: 48%;
}
.blogpost-author-likes {
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    display: block;
    float: left;
    /* height: 26px; */
    height: auto;    
    margin-top: 10px;
    text-align: center;
    width: 15%;
}

.blogpost-author-comments {
    display: block;
    float: left;
    font-size: 12px;
    /* height: 25px; */
    height: auto;
    margin-top: 1px;
    margin-left: 10px;
    text-align: center;
    width: 22%;
}

.blogpost-author img{
 height:40px !important;
 width:40px !important;;
}

.blogpost-author-comments p {
    color: #2a2a2a;
    line-height: normal;
    margin: 10px;
    padding: 0;
}
.blogpost-sidebar .popular-details p {
  color: #282828;
  font-family: domineregular;
  font-size: 12px;
  line-height: 17px;
  margin: 5px 0 0;
  padding: 0;
  text-align: left;
 
}
.blogpost-author-likes span.likes:before {
  line-height: 32px;
  margin: 0;
  padding: 0;
}
.blogpost-author-details p {
  font-family: domineregular;
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  padding: 5px 0 0;
  text-transform: uppercase;
  color: #2a2a2a;
}
.blogpost-author-details .blog-post-time.post-time {
  color: #818080;
  font-family: domineregular;
  padding-left: 8px;
}
.blogpost-info {
  border-bottom: 1px solid #E3E3E3;
  padding: 15px 20px;
}
.blogpost-info p {
	font-family: 'dominebold';
	margin:0px;
	padding:0px;
	font-size:20px;
	font-weight:normal;
}
.blogpost-article {
	padding:16px;
	float:left;

}
.node-type-trends .blogpost-article {
  color: #1C1C1C;
  float: left;
  font-family: domineregular;
  font-size: 12px;
  line-height: 20px;
  padding: 15px;
  text-align: left;
  background-color: #FFFFFF;
}
.blogpost-article p {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 13px;
  text-align: left;
}
.blogpost-article  mark {
	background-color:#fdcebd;
}
.blogpost-thumbnail {
	padding: 10px 20px;
	border-bottom:1px solid #e3e3e3;
	float: left;
	overflow:hidden;
	width : 100%;
    background-color: #ffffff;
}
.blogpost-thumbnail ul {  
	list-style-type: none; 
	margin:0px;
	padding:0px;
}  

.blogpost-thumbnail ul li {  
	float:left; 
	position:relative; 
	overflow:hidden; 
	margin: 0 1px;
}

.blogpost-thumbnail ul li :hover {  
	opacity:0.8;
} 		

.blogpost-thumbnail ul li a img {  
	position:relative; 
	border:0;
}
.blogpost-clink {
  background-color: #FFFFFF;
  display: block;
  float: left;
  padding:15px 0 14px;
  width: 100%;
}
.blogpost-clink h4 {
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
  text-transform: uppercase;
}

.blogpost-clink ul li {
	float:left;
	margin: 0 2px;
}
.blogpost-clink ul li  a{
	color:#747474;
	font-size:12px;
}
.blogpost-clink ul li a:hover {
  color: #2A2A2A;
  font-size: 12px;
}
.blogpost-clink .clink {
  display: block;
  float: left;
  line-height: 14px;
  list-style-type: none;
  margin: 0;
  padding-left: 17px;
  width: 60%;
}
.blogpost-clink .blogpost-social {
  display: block;
  float: right;
  list-style-type: none;
  margin: -9px 0px 0px 0px !important;
  padding-right: 0;
  width: 28%;
}
.blogpost-clink .blogpost-social li  {
	float:left;
	border-left:1px solid #e3e3e3;
	width: 39px;
	height: 27px;
	vertical-align: middle;
	text-align: center;
}
.blogpost-clink .blogpost-social li img {
	vertical-align: middle;
}
	
.blogpost-sidebar {
	float:right;
	width:32.6%;
}
.sidebar-content  {
	display:block;
	margin-bottom:10px;
	background-color:#fff;
	 padding-bottom: 20px;
}
.blogpost-login {
	float:left;
	display:block;
	margin-bottom:10px;
	background-image: url("../images/blogpost-login.png");
	background-repeat:no-repeat;
	width:100%;
	height:320px;
	
}
.blogpost-login form {
	text-align:center;
	margin:0px;
}
.blogpost-login  h1 {
	text-align:center;
	font-size:32px;
	padding:10px 0px 0px;
	text-transform:uppercase;
	margin:48px 0px 0px;
	font-family: 'LinotypeDidot';
    font-weight:bold;
	color:#2a2a2a;
	line-height: 33px;
}
.blogpost-login h5 {
	text-align:center;
	font-size:15px;
	margin:0px;
	line-height: 45px;
	text-align:center;
	font-family: 'domineregular';
    font-weight: bold;
    color:#2a2a2a;

}
.sidebar-content h1 {
  color: #2A2A2A;
  font-family: 'LinotypeDidot';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
  padding: 20px 20px 10px;
  text-transform: uppercase;
}
.blogpost-sidebar .sidebar-content .item-popular {
	padding:10px 20px 5px;
}
.btn-treatments {
	text-align:center;
	background-color:#fff;
	border:1px solid #2a2a2a;
	padding:5px;
	font-size:13px;
	font-family: 'domineregular';
    color:#2a2a2a;
}

.blogpost-categories {
	background: none repeat scroll 0 0 #BCDFD1;
    margin: 10px 0;
    width: 100%;
}

.blogpost-categories .blog-selectbox {
  padding: 15px 20px;
}
.blogpost-sidegrid {
	float:right;
	background-color:#fff;
}
.blogpost-footer {
	width:980px;
	margin:15px auto;
}
.blogpost-sidebar .popular-image {
  float: right;
  margin-top: 7px;
}
.blogpost-footer .copyrights {
	color: #000000;
	font-family: 'domineregular';
	font-size: 13px;
	padding-bottom: 10px;
	text-align: center;
}
.blogpost-footer .footer-nav li {
	line-height: 25px;
	list-style-type: none;
	display: inline-block;
	padding-left:10px;
}
.blogpost-footer .footer-nav ul {
	margin:0 auto;
	width:100%;
}
.blogpost-footer .footer-nav a {
	text-decoration: none;
	color: #2a2a2a;
	font-family: 'domine' serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:700;
	line-height:35px;

}
.blogpost-footer .footer-nav a:hover {
	text-decoration: none;
	color: #E85997;
	font-family: 'domine' serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:700;

}
.blogpost-container .blog-sidegrid-item h1 {
  color: #2A2A2A;
  font-family: 'LinotypeDidot';
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0 0 5px;
  text-transform: uppercase;
}
.blogpost-sidebar .likes:before {
    content: url("../images/likes.png"); 
    padding-left: 5px;
    padding-right: 7px;
    vertical-align: middle;
}
.blogpost-container .popular-date {
  border-right: 1px solid #E3E3E3;
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 11px;
  padding-right: 15px;
  text-transform: uppercase;
}
.blogpost-container .popular-details {
  display: block;
  float: left;
  font-family: 'Domine',serif;
  padding-right: 10px;
  width: 64%;
}
.blogpost-container .item-popular .popular-details p a {
    color: #2A2A2A;
    text-decoration: none;
}
.blogpost-categories .blog-selectbox h1 {
  color: #2A2A2A;
  font-family: 'LinotypeDidot';
  font-weight: bold;
  margin: 10px 0 20px;
  letter-spacing: -2px;
}
.blogpost-sidegrid .blog-sidegrid-item {
  padding: 20px;
}
.blogpost-categories .blog-selectbox .selectricWrapper{
    padding-bottom: 20px;
    width: 274px;
}
.blogpost-categories .blog-selectbox .selectric .label{
 padding:7px;
}
.blogpost-categories .blog-selectbox .selectricWrapper.selectricOpen {
  z-index: 998;
}
.blogpost-categories .blog-selectbox .selectricWrapper .selectricItems{
 height:177px !important;
}
.blogpost-categories .blog-selectbox .selectricItems ul, .blogpost-categories .blog-selectbox .selectricItems li {
	font-family: domineregular;
	font-size:13px;
	color:#2a2a2a;
	font-weight:normal;
    padding: 1px 5px;
	outline:none;
}
.blogpost-categories .blog-selectbox .selectricItems ul, .blogpost-categories .blog-selectbox .selectricItems li:hover {
	font-family: domineregular;
	font-size:13px;
	color:#000;
	font-weight:normal;
	outline:none;
}
.blogpost-categories .selectricItems{
    top: 31px;
}
.blogpost-sidegrid .post-details .post-date {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 11px;
  font-weight: normal;
  padding-right: 5px;
  text-transform: uppercase;
}
.blogpost-sidegrid hr {
  border-bottom: medium none;
  border-top: 1px solid #E3E3E3;
  height: 1px;
  margin: 5px 0;
}
.blogpost-sidegrid .blog-sidegrid-item .post-details p {
  font-family: domineregular;
  line-height: 17px;
  margin: 5px 0;
  padding-bottom: 5px;
  font-size: 12px;
  text-align:left;
}
.blogpost-sidegrid .blog-sidegrid-item .post-details p a { 
	text-decoration:none;
	color:#2a2a2a;
}
.blogpost-sidegrid .blog-sidegrid-item .post-details {
  padding: 0px;
}
.blogpost-container .blogpost-author-details a {
  color: #2a2a2a;
  font-family: domineregular;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
}
.blogpost-author-comments .blog-commentsicon {
    background: url("../images/comments.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 11px;
    padding: 0;
    width: 13px;
}
.blogpost-author-likes span a{
	margin-left : 10px;
}

@media only screen and (min-width : 600px) and (max-width : 979px) {

    .page-node .blogpost-content {
        width: 100%;
    }
    .blogpost-left {
        float: left;
        width: 100%;
    }
    .blogpost-login {
        display: none;
    }
    .blogpost-sidebar {
        width: 100%;
    }
    .sidebar-content {
        background-color: #FFFFFF;
        display: block;
        margin-bottom: 10px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        width:50%;
        float:left;
    }
    .blogpost-categories {
        background: none repeat scroll 0 0 #BCDFD1;
        float: left;
        margin: 10px 0;
        width: 46%;
    }
    .clear-float {
        clear: none !important;
    }
    .blogpost-sidegrid {
        background-color: #FFFFFF;
        float: left;
        width:46%;
        padding:10px;
    }
    .blogpost-Commentpost {
        background-color: #FFFFFF;
        display: table;
        float: left;
        margin-top: 10px;
        width: 100%;
    }
    .blogpost-footer {
        margin: 15px auto;
        width: 590px;
    }
    .footer-nav {
        padding: 0;
        text-align: center;
        width: 100%;
    }
}


body.ie .blogpost-thumbnail {
    width: 93%;
}

.blogpost-left-content.child-comments .comment-content {
    margin: 0;
}
.blogpost-left-content.child-comments .comments-right {
    padding: 5px;
}

.blogpost-left-content.child-comments .comment-likes {
    margin: 5px 0 0;
    border: none;
}

.add-sub-comment {
   padding: 0 20px;
}

.add-sub-comment-link {
   background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #c2c0c0;
    cursor: pointer;
    float: right;
    font-family: 'dominebold';
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 10px;
}


.add-sub-comment-area {
    clear: both; 
    margin-bottom: 20px;
    display: none;
}

.child-comments .comments-section {
  padding: 0 20px;
}

.child-comments .comment-date p {
    margin-top: 0;
}

#subcomment-form input#submit {
    background-color: #ffffff;
    border: 1px solid #c2c0c0;
    color: #000000;
    font-family: dominebold;
    padding: 3px 10px;
		float: left;
}

/*
#subcomment-form input#submit:hover, .add-sub-comment-link:hover {
    background-color: #000000;
    border: 1px solid #c2c0c0;
    color: #ffffff;
}
*/

.main-menu .btn-skriv:hover {
    background-color: transparent !important;
    color: #777777;
}

.blogpost-left-content.child-comments {
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.msie .blogpost-thumbnail,
.unknown .blogpost-thumbnail{
	width:93%;
}

