/*.mobile.blog-categories {
	display:none;
}
.mobile-anmeldelser {
	display:none;
}*/
@media only screen and (min-width : 320px) and (max-width : 599px) { 
	.blog-header {
		color: #2A2A2A;
		font-size: 15px;
		padding: 8px 0;
		text-align: center;
	}
	.blog-header h1 {
		color: #2A2A2A;
		font-family: 'LinotypeDidot';
		font-size: 35px;
		font-weight: normal;
		margin: 0;
	}
	.mobile.blog-categories {
		background:#FAE2D9;
		display: block;
	}
	.mobile.blog-categories .form-item {
		margin:0 auto;
	}
	.mobile.blog-categories .form-item {
		margin:0 auto;
	}
	.mobile.blog-categories .selectricWrapper {
		cursor: pointer;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 25px;
		padding-top: 25px;
		position: relative;
		width: 72%;
	}
	.mobile.blog-categories .selectricWrapper .selectricItems li {
		font-weight:normal;
	}
	.main-content-container {
		margin: 0 auto;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.blog-rightgrid {
		display:none;
	}
	.blog-container {
		margin: 0 auto;
		max-width: 100%;
		padding-bottom:0;
		width:100%;
	}
	.blog .blog-container .blog-grid {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.blog-grid .block-views .content {
		padding: 0;
	}
	.blog .blog-grid-item p {
		text-align: center;
	}
	.page-blog .blog .blog-grid-details, 
	.page-artikler .blog .blog-grid-details {
		border-top: 1px solid #E3E3E3;
		display: block;
		float: left;
		margin: 0;
		padding: 4px 0;
		width: 100%;
	}	
	.blog .blog-grid-details .blog-author {
		text-align: left;
		width: 9%;
	}
	.page-blog .blog-author-info, 
	.page-artikler .blog .blog-author-info {
		padding: 5px;
		width: 20%;
	}
	.page-blog .blog-author-info p {
		text-align:left;
	}
	.page-blog .blog .blog-likes, .page-artikler .blog .blog-likes {
		text-align: center;
		width:24%;
	}	
	.page-blog .blog .blog-likes .likes a:before {
		padding-left: 10px;
	}
	.page-blog .blog-grid-details .blog-comments {
		font-weight: normal;
		margin-top: 11px;
		padding: 5px;
		text-align: center;
		vertical-align: middle !important;
		width: 38%;
	}
	.page-blog  .main-content-container .slider-background {
		display:none;
	}
	.blog-commentsicon {
	  background: url("../images/comments.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
	  float: none;
	  height: 11px;
	  padding-left: 15px !important;
	}
	.container-freewall {	
		max-width: 100%;
		background:none;
		padding:0 !important;
	}	
	.section-02 {
		margin: 0 auto;
		width: 100%;
	}
	.container-freewall .free-wall {
		margin: 0 auto;
		width: 100%;
	}	
	.page-blog .container-freewall .free-wall .region-all-blog {
		margin: 0 auto;
		width: 100%;
	}	
	.page-blog .container-freewall .free-wall .region-all-blog .block-views{
		margin: 0 auto;
		width: 100%;
	}
	.page-blog .container-freewall .free-wall .region-all-blog .block-views .content {
		margin: 0 auto;
		overflow: hidden;
		padding: 0px 10px 10px;
		width: 100%;
	}
	.block.block-views .item-list {
		margin: 0 auto;
	}
	.container-freewall .content {
		padding-top:0;
	}
	.footer-nav	.content {
		padding-top:0;
	}
	.container-freewall .copyrights {
		padding-bottom: 15px;
	}
	.content .view-all-blogs .item-list .pager li {
		background-image: none;
		display: block;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
	}
	.content .view-all-blogs .item-list .pager li a {
		margin:0 auto;
	}
	/************************* last minute ***********************************/
	.page-anmeldelser .lastminute-header {
		display:none;
	}
	.anmeldelser .lastminute-content {
		height: auto;
		margin: 10px auto;
		width: 100%;
	}
	.anmeldelser .lastminut-form.highlighted {
		width: 100%;
	}	
	.anmeldelser .lastminut-form  #anmeld-form{
		width: 100%;
	}
	.anmeldelser .lastminut-form > h2 {
		display:none;
	}
	.anmeldelser .lastminut-form {
		background-color: #FEE0D5;
		margin: 0 auto;
		padding: 0 0 18px;
		width: 100%;
	}
	.anmeldelser .lastminute-selectbox.location,
	.anmeldelser .lastminute-selectbox.radius,
	.anmeldelser .lastminute-selectbox.sort {
		display:none;
	}
	#anmeld-form .lastminute-selectbox.category {
		display: block;
		float: none;
		padding: 1%;
		text-align: center;
	}
	.lastminut-form.highlighted h2 {
		display: none !important;
		text-align: center;
	}
	/************************* last minute ***********************************/
	.anmeldelser {
		background-color: #FEE0D5;
	}
	.anmeldelser-right.anmeldelser-latest,
	.anmeldelser-right.anmeldelser-popular  {
		display:none;
	}
	/*.anmeldelser-info-01 {
		display:none;
	}*/
	.anmeldelser-left .container-freewall-a .content {
		margin: 0 auto;
	}	
	.mobile-anmeldelser {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	.mobile-anmeldelser .anmeldelser-img,
	.mobile-anmeldelser .anmeldelser-info {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		text-align: center;
	}
	.mobile-anmeldelser .anmeldelser-img a {
		display: block;
		overflow: hidden;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
	}
	.mobile-anmeldelser .anmeldelser-info p {
		margin:0 auto;
	}
	.mobile-anmeldelser .anmeldelser-info .date {
		display: inline-block;
		font-size: 11px;
		font-weight: normal;
		line-height: 25px;
		padding-right: 5px;
		text-transform: uppercase;
	}
	.mobile-anmeldelser .anmeldelser-info .time {
		color: #818080;
		display: inline-block;
		font-size: 11px;
		line-height: 25px;
		text-transform: uppercase;
	}
	.mobile-anmeldelser .anmeldelser-info .anmeldelser-user {
		display: block;
		overflow: hidden;
		text-align: center;
	}
	.mobile-anmeldelser .anmeldelser-info .user-name {
		color: #2A2A2A;
		display: inline-block;
		font-size: 12px;
		font-weight: normal;
		margin-bottom: 10px;
		text-transform: capitalize;
	}
	.mobile-anmeldelser .anmeldelser-info .user-review {
		color: #2A2A2A;
		display: inline-block;
		font-size: 12px;
		font-weight: normal;
		text-transform: capitalize;
	}
	.mobile-anmeldelser .anmeldelser-info .anmeldelser-ration-info {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	}
	.anmeldelser-ration-info .fivestar-static-item {
		margin:0 auto;
	}
	.anmeldelser-ration-info .fivestar-static-item .form-item {
		display: block;
		margin: 0 auto;
		padding-bottom: 10px;
		padding-top: 0;
	}	
	.anmeldelser-ration-info div.fivestar-widget-static {
		text-align: center;
	}
	.anmeldelser-ration-info  div.fivestar-widget-static .star {
		display: inline-block;
		float: none;
	}	
	.anmeldelser-ration-info .fivestar-static-item .form-item .description{
		display: none;
	}	
	.anmeldelser-ration-desc {
		display: block;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	/*.anmeldelser-ration-desc .fivestar-static-item .form-item .fivestar-default {
		display: none;
	}	*/
	.anmeldelser-ration-desc .fivestar-static-item .form-item {
		display: block;
		margin: 0 auto;
		padding-top: 0;
	}		
	/*.anmeldelser-headline,
	.item-01-info {
		display:none;
	}*/
	.anmeldelser-heading-info{
		display:block;
		margin:0 auto;
		padding:0;
		text-align:center;
	}
	.anmeldelser-heading-info h1 {
		color: #333333;
		font-size: 16px;
		margin: 0 auto;
		text-decoration: none;
	}
	.anmeldelser-heading-info h1 a {
		color: #2A2A2A;
		display: block;
		padding-bottom: 10px;
		text-decoration: none;
	}
	.anmeldelser-comments-home {
		background: none repeat scroll 0 0 #FFFFFF;
		display: block;
		float: none;
		overflow: visible;
		padding: 0 0 9px;
		text-align: center;
		width: 100%;
	}
	.anmeldelser-comments-home span,
	.anmeldelser-comments-home .likes  {
		display:inline-block;
		float:none;
	}
	.anmeldelser-left .brick {
	  margin: 0;
	  overflow: hidden;
	  padding: 0px 10px;
	  background-color: transparent;
	}
}
