body.chrome .Indewallform .fb_login a {
    padding: 8px 20px 9px 50px;
}

.modal-throbber-wrapper {
    padding-top: 50px;
}

li.usr-login .ajax-progress-throbber, li.usr-logout .ajax-progress-throbber {
    display: none;
}

.comment-content a.read-more, .comment-content a.read-less {
    color: #2A2A2A;
    font-size: 13px;
}

span.write-review a {
    color: #2A2A2A;
    text-decoration: none;
}

span.write-review a:hover {
    color: #000000;
}

.blogpost-author-likes span a {
  margin-left: 0px !important;
}

.blogpost-author-likes span.likes:before {
  padding-left: 9px !important;
  padding-right: 5px !important;
}

.main-category {
    text-align: center;
}

span.category-name {
    background-color: #BBE1D2;
    padding: 0 5px;
    position: relative;
    top: -5px;
    z-index: 9;
}

.main-category img {
    position: relative;
    top: -18px;
	width: 100%;
}

body.page-find-klinik #views_infinite_scroll-ajax-loader, body.page-find-behandling #views_infinite_scroll-ajax-loader {
	display: none;
}

.comment-view .clinic-data-container {
    padding: 0;
}

.comment-view .blogpost-clink {
    border-top: 1px solid #E3E3E3;
}

body.page-location-comment .clinicprofile-sidebar.clinicprofile-comment-sidebar {
    margin-top:0;
}

.view-wellness-blog span.comment a, .view-anmeldelser span.comment a, .blog-comments a, .comments-home a, .brick .info-details a {
	color: #282828;
	text-decoration: none;
	position:relative;
	top:-1px;
}
.brick span.comment a, .blogpost-author-comments p a{
	color: #282828;
	text-decoration: none;
	position:relative;
	top:0px;
}
.page-user-edit form#user-profile-form {
	padding: 15px 0;
}

.profile.pagetpl {
	/*margin-top: 15px;*/
}

body.page-user-edit #edit-field-receive-newsletter-und, body.page-user-edit fieldset#edit-locale {
display: none;
}

ul.pager-load-more a.progress-disabled {
/*
top: 17px;
*/
}

ul.pager-load-more .ajax-progress .throbber {
	float: none !important;
}

.blog-grid-details span.blog-commentsicon {
    height: 15px;
    margin: 0;
}

.page-blog .block-views .grid-item-01 .comments-home, .page-artikler .block-views .grid-item-01 .comments-home {
  padding-bottom: 0;
  padding-top: 0px;
}

body.page-artikler .title-name, body.page-blog .title-name {
    width: 72%;
}

.blogpost-left-content .main-category{
	background: #FFF;
}
