a img {
	border:none;
}

.clinicprofile-container {
	background-color:#BBE1D2;
	background-image:url("../images/lastminute-bg.png");
	background-repeat:no-repeat;
	background-position:center bottom;
	float: left;
	width: 100%;
	clear: both;
	padding-bottom:10px;
}
.header {
	top: 0px !important;
}
.main-menu {
	height: 82px !important;
}

/*===================================TOP SECTION START =======================*/

.clinicprofile-content {
    margin: 15px auto 0;
    width: 980px;
}
.clinicprofile-topsection {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 400px;
    margin: 30px auto 0;
    width: 980px;
}
.clinicprofile-rating {
    background: none repeat scroll 0 0 #FFE0D5;
    float: left;
    height: 400px;
    width: 320px;
}
.rating-title {
  color: #312829;
  font-family: domineregular;
  font-size: 25px;
  letter-spacing: -2px;
  margin: 0 auto;
  padding: 45px 0 20px;
  text-transform: capitalize;
}

.clinicprofile-rating-content {
    height: 100%;
    padding: 0px 15px;
    text-align: center;
}

p.line {
    background: none repeat scroll 0 0 #8B7D70;
    height: 1px;
    margin: 0 auto;
    width: 50px;
}

.clinicprofile-rating-content .mails > span {
    display: list-item;
    list-style-type: none;
}

.clinicprofile-rating-content > p {
  font-family: domineregular;
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: 1px;
  text-transform: uppercase;
  color:#2a2a2a;
}
.clinicprofile-rating-content p.rating-address {
	color: #2a2a2a;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: -1px;
	margin: 0 auto 10px;
	text-shadow: 0 0 0 #999999;
	text-transform: capitalize;
	width: 260px;
}
.clinicprofile-photo {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 400px;
    width: 660px;
}
.clinicprofile-photo > img {
	margin: 60px 0;
}
.clinicprofile-photo {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 400px;
    text-align: center;
    width: 660px;
}
.clinicprofile-photo h3 {
  background-image: url("../images/camera.jpg");
  background-position: 5px 0;
  background-repeat: no-repeat;
  font-size: 21px;
  font-weight: normal;
  height: 41px;
  margin: 0 auto;
  padding: 9px 0;
  text-align: right;
  text-transform: uppercase;
  width: 282px;
}
.mails > span {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}
.btn-rating-book {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
  font-family: 'DidotRegular';
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 26px 0 5px;
  padding: 10px 25px;
  text-transform: uppercase;
}
.sealle {
    margin: 0 auto;
    padding-top: 10px;
    text-align: left;
    width: 120px;
}
.sealle > p {
	font-size: 10px;
	margin: 0;
	text-transform: uppercase;
}
.sealle img {
  padding-left: 2px;
  vertical-align: middle;
}
.clinicprofile-rating-content > img {
  margin-bottom: 5px;
}

/*===================================END SECTION START =======================*/


.clinicprofile-left {
  float: left;
  width: 650px;
  margin-right:10px;
}
.clinicprofile-left-content .comments-home {
  padding: 12px 0;
}
.clinicprofile-left-content .comments-home a{
    color: #898989;
}
.clinicprofile-left-content .likes {
  margin-left: 0;
  padding-right: 25px;
}
.clinicprofile-Commentpost {
	background-color:#fff;
	margin-top:15px;
	width:100%;
	height:526px;
	display:table;
}
.clinicprofile-Commentpost p {
	text-align:center;
	display:table-row;
	vertical-align:middle;
	color:#aaaaaa;
}
.clinicprofile-Commentpost h1 {
	margin:0px;
	padding:10px 15px;

}
.clinicprofile-info {
	padding:15px 15px;
	border-bottom:1px solid #e3e3e3;
}
.clinicprofile-info p {
	margin:0px;
	padding:0px;
	font-size:18px;
	font-weight:700;
}
.clinicprofile-clink {
	padding:10px 0px;
	/*border-bottom:1px solid #e3e3e3;*/
	background-color:#fff;
	float:left;
	display:block;
	width:100%;
}
.clinicprofile-clink h4 {
	text-transform:uppercase;
	font-size:12px;
	color:#2a2a2a;
	margin:0;
	padding:0;
	padding-left:15px;
	text-align:left;
}
.clinicprofile-clink ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.clinicprofile-clink ul li {
	float:left;
}
.clinicprofile-clink ul li  a{
	color:#747474;
	font-size:13px;
}
.clinicprofile-clink ul li  a:hover{
	color:#2a2a2a;
	font-size:13px;
}
.clinicprofile-clink .clink{
	float:left;
	display:block;
	padding-left:15px;
}
.clinicprofile-clink .blogpost-social {
	float:right;
	display:block;
	padding-right:15px;
}
.clinicprofile-clink .blogpost-social li  {
	float:left;
	padding-left:10px;
	padding-right:10px;
	border-left:1px solid #e3e3e3;
}
.clinicprofile-sidebar {
	float: right;
	width: 320px;
	margin-top:35px;
}
.clinicprofile-left-content .grid-item-01 {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 auto;
  padding: 20px 20px 5px;
}
.clinicprofile-left-content .brick img {
	display: inline-block;
	margin: 0 auto;
}
.clinicprofile-left-content .details-container {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 15px;
  padding-top: 7px;
  text-transform: uppercase;
  width: 80%;
  font-family: domineregular;
}
.clinicprofile-left-content  .likes:before{
 padding-left:0px;
}
.commenter-name {
  color: #000000;
  text-transform: capitalize;
  font-family: domineregular;
}
.comment-time {
	color: #777777;
}
.clinicprofile-left-content .info-details {
  border-top: 1px solid #E3E3E3;
  display: inline-block;
  font-family: domineregular;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 17px auto 0;
  padding: 20px 0;
  width:100%;
color: #898989;
}
.clinicprofile-left-content .readmore {
  margin-left: 3px;
  position: relative;
  top: 2px;
}
.clinicprofile-left-content .readmore > a {
  text-decoration: none;
}
.clinicprofile-left-content .profile-total {
  color: #2A2A2A;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-family: dominebold;
}
.clinicprofile-left-content .info-details > p {
  margin: 0 auto;
}
.clinicprofile-left-content .details-container .comments {
  font-family: domineregular;
  font-size: 11px;
  margin: 2px 0 0;
  text-transform: uppercase;
}
.clinicprofile-left-content .sidebar-content {
	background-color: #fff;
	display: block;
	float: left;
	margin-bottom: 10px;
	margin-top: 20px;
}
.clinicprofile-login {
  background: none no-repeat scroll 0 0 #BBE1D2;
  border: 1px solid #FFFFFF;
  padding: 10px 0 35px;
  text-align: center;
  width: 100%;
}
.clinicprofile-login h5 {
  color: #2A2A2A;
  font-family: 'LinotypeDidot';
  font-size: 30px;
  font-weight: bold;
  line-height: 29px;
  margin: 20px auto 15px 0;
  text-align: center;
  text-transform: uppercase;
}
.clinicprofile-login form {
	text-align:center;
	margin:10px;
}
.clinicprofile-login  h1 {
	text-align:center;
	font-size:32px;
	padding:10px 0px 0px;
	text-transform:uppercase;
	margin:48px 0px 0px;
}
.clinicprofile-sidebar .sidebar-content {
  background: none repeat scroll 0 0 #FFE0D5;
  margin-top: 10px;
  padding: 15px 15px 15px;
}
.clinicprofile-sidebar .sidebar-content h1 {
  color: #2A2A2A;
  font-family: LinotypeDidot;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.clinicprofile-sidebar .sidebar-content > ul {
  list-style-type: none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}
.clinicprofile-sidebar .sidebar-content li {
  border-bottom: 1px dotted;
  clear: both;
  color: #2A2A2A;
  display: inline-block;
  font-family: domineregular;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}
.clinicprofile-sidebar .sidebar-content li.last{
   border-bottom: 0px !important;
}
.clinicprofile-sidebar .sidebar-content li .day-left {
  float: left;
}
.clinicprofile-sidebar .sidebar-content li .time-right {
  float: right;
}
.clinicprofile-sidebar .sidebar-content .item-popular {
	padding:15px;
}
.btn-skriv {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    font-size: 13px;
    padding: 5px 20px;
    text-align: center;
	margin:10px auto;
}
/* .btn-skriv:hover{
	background-color: #000000 !important;
	color: #FFFFFF;
} */
.treatment-categories {
  color: #444444;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 10px 3% 0;
  text-transform: capitalize;
  width: 94%;
}
#tab1,#tab2,#tab3{
	margin-top:15px;
}
.clinicprofile-left-content #tab1 .grid-item-01 {
  display: inline-block;
  padding: 0 0 20px;
  width: 100%;
  position:relative;
}
.clinicprofile-left-content #tab1 .grid-item-01 > h5 {
  color: #2A2A2A;
  font-family: domineregular;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 15px 0 5px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 5px;
  height: 30px;
  overflow: hidden;
}
}
.treatment-categories .count-right {
  float: right;
  font-family: domineregular;
}
.treatment-categories .count-left {
  float: left;
  font-family: domineregular;
}
.clinicprofile-categories  .blog-selectbox {
	padding:15px 10px;
}
.clinicprofile-sidegrid {
	float:right;
	background-color:#fff;
	margin-top:10px;
	padding:10px;
}
.clinicprofile-footer {
	width:980px;
	margin:15px auto;
}
.clinicprofile-footer .copyrights {
	color: #000000;
	font-family: 'domineregular';
	font-size: 13px;
	padding-bottom: 10px;
	text-align: center;
}
.clinicprofile-footer .footer-nav li {
	line-height: 25px;
	list-style-type: none;
	display: inline-block;
	padding-left:10px;
}
.clinicprofile-footer .footer-nav ul {
	margin:0 auto;
	width:100%;
}
.clinicprofile-footer .footer-nav a {
	text-decoration: none;
	color: #2a2a2a;
	font-family: 'domine' serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:700;
	line-height:35px;
}
.clinicprofile-footer .footer-nav a:hover {
	text-decoration: none;
	color: #E85997;
	font-family: 'domine' serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:700;

}
.clinic-freewall-container {
	background-color: #FCE1D7;
    max-width: 635px;
    position: relative;
}

/*================================Tabs Section ======================*/
#tab2 .image-container {
  width: 19%;
}
.tabs-clinic-profile {
	margin-bottom:15px;
	float:left;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.tabs-clinic-profile a:focus {
  outline: medium none !important;
}
.tabs-clinic-profile li {
	list-style:none;
	display:inline;
	padding-bottom: 5px;
	text-align:center;
	margin-left:10px;
	height:20px;
}
.tabs-clinic-profile a {
  color: #6F6F6F;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: domineregular;
}
ul.tabs-clinic-profile li.first {
  margin-left:0px;
}
.tabs-clinic-profile a.active {
	color:#000;
	text-transform:uppercase;
	border-bottom: 1px solid #000;
}
.queen-like:active:before {
	content:url('../images/queen-like-hover.png');
	padding-left: 2px;
	padding-right: 3px;
}
.clinicprofile-left-content .details-anmeldelser {
    display: block;
    float: left;
    font-family: domineregular;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 80%;
}

.og-expander-inner .og-details table{
	border-collapse:separate !important;
}

.og-expander-inner .og-details{
	border-bottom:1px dotted;
}



/*=========================================Grid Section -======================*/
#tab-container > div {
  position: relative;
}
.og-grid {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	  list-style-position:outside;
  margin:0px;
 padding:0px;
}

.og-grid li:nth-child(2n+1) {
  margin-right: 10px;
}
.og-grid li:nth-child(even) {
    margin-right:0px;
}
.og-grid li{
	float: left;
	list-style: none;
	margin-left: 0px;
	display:inline;
	width: 320px;
	margin-bottom:10px;
    cursor: pointer;
}
.og-grid li.li_odds{
margin-right:10px;
}
.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	width:100%;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}
.og-grid li.og-expanded .grid-item-01:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFE0D5;
  border-image: none;
  border-style: solid;
  border-width: 15px;
  bottom: -5px;
  content: " ";
  left: 50%;
  margin: -20px 0 0 -15px;
  pointer-events: none;
  position: absolute;
  width: 0;
 
}
.og-grid li.og-expanded .grid-item-01:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFE0D5;
  border-image: none;
  border-style: solid;
  border-width: 15px;
  bottom: -5px;
  content: " ";
  left: 50%;
  margin: -20px 0 0 -15px;
  pointer-events: none;
  position: absolute;
  width: 0;
 
}
.og-expander {
  background: none repeat scroll 0 0 #FFE0D5;
  height: 0;
  left: 0;
  margin-top: 5px;
  overflow: hidden;
  padding-top: 20px;
  position: absolute;
  text-align: left;
  top: auto;
  width: 100%;
}
.og-expander-inner {
/*
  height: 100%;
  padding: 0px 10px 20px 20px;
*/
  margin-left : 20px;
}

/*.og-close:before, .og-close:after {
    background: none repeat scroll 0 0 #888888;
    content: "";
    height: 1px;
    position: absolute;
    top: 22%;
    transform: rotate(45deg);
    width: 100%;
}
.og-close:after {
    transform: rotate(-45deg);
}
.og-close:after {
    transform: rotate(-45deg);
}
*/
.og-close {
    background-image:url('../images/close_profile.png');
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
}
/*.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}
* */
.og-fullimg, .og-details {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 96%;
}
.og-details .content {
 /* width: 96%;
  display: inline-block;
  border-bottom: 1px dotted ;*/
}
.og-fullimg {
	text-align: center;
}
.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.og-details h3 {
  font-family: theano_didotregular;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
	color:#000;
}
.og-details p {
	color: #535252;
	float: left;
	font-family: 'Domine',serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin: 5px 0 10px;
	text-transform: capitalize;
	width: 96%;
}
.og-details a {
  border: 1px solid #333333;
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

.clinic-data-container {
    background-color: #FFFFFF;
    min-height: 250px;
    padding: 20px;
}
.clinic-data-container {
	font-family: 'domineregular';
	font-size: 13px;
	color: #2A2A2A;
}


@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
/*========================================= End Grid Section -======================*/
/*@media (min-width: 768px) and (max-width:992px)  {
    .og-grid li.li_odds {
            margin-right: 12px;
        }
    .page-node .clinicprofile-left {
        margin: 10px;
        overflow: hidden;
        width: 62%;
    }
    .clinicprofile-login {
        margin-top: 10px;
    }
    .page-node .clinicprofile-sidebar {
        float: right;
        margin-right: 10px;
        margin-top: 35px;
        width: 34%;
    }
    .page-node .view-content .og-grid li {
        width: 49%;
    }
    .og-grid li.li_odds {
        margin-right: 0px;
    }
    .page-node .view-content .og-grid li:nth-child(2n) {
        float: right;
        margin-right: 0px;
    }
}*/
@media only screen and (min-width : 600px) and (max-width : 979px) {
    .clinicprofile-topsection {
        width:100%;
    }
    .page-node .clinicprofile-rating {
        width: 40%;
    }
    .page-node .clinicprofile-photo {
        width: 60%;
    }
    .clinicprofile-topsection .clinicprofile-photo img {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .clinicprofile-content {
      margin: 15px auto 0;
      width: 100%;
    }
    .clinicprofile-left {
        float: left;
        margin-right: 10px;
        width: 100%;
    }
    .clinicprofile-sidebar {
        float: left;
        margin-top: 35px;
        width: 100%;
    }
    .og-grid li {
        cursor: pointer;
        display: inline;
        float: left;
        list-style: none outside none;
        margin-bottom: 10px;
        margin-left: 0;
        width: 48%;
    }
    .clinicprofile-footer {
        width: 580px;
        margin: 15px auto;
    }
    div#map {
        width: 100% !important;
    }
    /*.page-node .clinicprofile-sidebar {
        float: right;
        margin-right: 10px;
        margin-top: 35px;
        width: 31%;
    }
    .page-node .clinicprofile-left {
      margin: 0 10px;
      width: 65%;
    }
    .og-expander {
        z-index: 1;
    }*/

}
@media only screen and (min-width : 768px) and (max-width : 979px)
    {
     .og-expander {
          background: none repeat scroll 0 0 #FFE0D5;
          height: 0;
          left: 0;
          margin-top: 5px;
          overflow: hidden;
          padding-top: 20px;
          position: absolute;
          text-align: left;
          top: auto;
          width: 98%;
    }
        .page-node .view-content .og-grid li:nth-child(2n) {
            margin-right: 0px;
        }
        .term1943.li_evens.og-expanded {
          height: 729px !important;
        }
}
.mobile.clinicprofile-sidebar {
	display:none;
}
@media only screen and (min-width : 320px) and (max-width : 599px) {  
	/************node-type-location*************/
	.clinicprofile-topsection {
		display: block;
		height: auto;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}
	.clinicprofile-content {
		clear: both;
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}
	.node-type-location .clinicprofile-photo {
		display:none;
	}
	.clinicprofile-sidebar .sidebar-content h1 {
		text-align: center;
	}	
	.clinicprofile-rating-content .rating-title {
		padding: 18px 0 10px;
	}
	.clinicprofile-rating {
		height: auto;
		width: 100%;
	}
	.tab-container {
		display: block;
		padding-top: 15px;
	}
	.clinicprofile-left {
		float: none;
		margin: 0 auto;
		width: 100%;
	}	
	.tabs-clinic-profile {
		float: left;
		list-style-position: outside;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align:center;
	}	
	.tabs-clinic-profile li {
		margin: 0 auto;
		padding-bottom: 0px;
	}
	ul.tabs-clinic-profile li.first {
		display: none;
	}	
	ul.tabs-clinic-profile li:last-child {
		display: none;
	}	
	#tab1, 
	#tab3 {
		display:none;
	}
	.tab-container #tab2 {
		display: block !important;
	}
	.clinicprofile-login {
		display:none;	
	}
	.clinicprofile-sidebar {
		clear: both;
		float: right;
		margin: 0 auto;
		width: 100%;
		display:none;
	}	
	.mobile.clinicprofile-sidebar {
		display: block;
		margin-top: 15px;
	}	
	.clinicprofile-sidebar .sidebar-content {
		margin: 0 auto;
		padding: 15px;
		width: 100%;
	}	
	.clinicprofile-footer {
		margin: 15px auto 0;
		width: 100%;
	}
	.clinicprofile-footer .footer-nav li {
		display: inline-block;
		line-height: 25px;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
	}
	.left-container .image-container {
		display: block;
		float: none;
		margin: 0 auto;
		text-align:center;
	}
	.clinicprofile-left-content .details-container {
		float: none;
		margin: 0 auto;
		text-align:center;
		width: 80%;
	}	
	.clinicprofile-left-content .details-anmeldelser {
		display: block;
		float: none;
		text-align: center;
		width: auto;
	}	
	.clinicprofile-left-content .profile-total {
		text-align: center;
	}	
	.clinicprofile-left-content .info-details > p {
		margin: 0 auto;
		text-align: center;
	}	
}

.clinicprofile-rating-content .fivestar-basic.rating {
	display: inline-block;
}

.clinicprofile-rating-content .fivestar-basic.rating div.fivestar-widget-static .star {
  background-image: url("../images/rating-star.png");
	width: 20px;
	height: 19px;
}

.clinicprofile-rating-content p.anmedelser-count a, #block-views-location_comments-block p.comments a {
	color: #333;
}

.clinicprofile-rating-content .fivestar-basic.rating div.fivestar-widget-static .star span.on, .clinicprofile-rating-content .fivestar-basic.rating div.fivestar-widget-static .star span.off {
  background-image: url("../images/rating-star.png");
}