@font-face {
	font-family: 'LinotypeDidot';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/2AFBD5_0_0.eot');
	src: url('../fonts/2AFBD5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2AFBD5_0_0.woff') format('woff'),
	url('../fonts/2AFBD5_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DidotRegular';
    src: url('../fonts/didot.eot');
    src: url('../fonts/didot.eot') format('embedded-opentype'),
         url('../fonts/didot.woff') format('woff'),
         url('../fonts/didot.ttf') format('truetype'),
         url('../fonts/didot.svg#DidotRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}
.view-empty p {
	margin-top: 0;
}
.left {
    float: left;
}

.right {
    float: right;
}
#slidediv input, #slidediv1 input {
    border: none;
    border-bottom: 1px solid;
    width: 135px;
    height: 24px;
}

#slidediv1 input {
    width: 168px;
    margin-top: 11px;
}

.banner-selectbox select {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
    display: none;
    height: 0 !important;
    left: -9999px;
    position: absolute;
    text-indent: -0.01px;
    text-overflow: "";
    width: 0 !important;
    z-index: 0 !important;
}
/*.banner-selectbox select::-ms-expand {
    display: none;
}*/
.banner-selectbox option {
}

.navigation-bar li {
    padding: 0;
}
/*
.region {
  border: 1px solid #FF0000;
}
*/


.last-minute {
    clear: both;
    float: none;
}

.banner-slider-01, .banner-slider-02 {
    height: 297px;
    overflow: hidden;
    position: relative;
    width: 515px;
}

.banner-slider-01 img, .banner-slider-02 img{
    height: 297px;
    width: 515px;
}

.wellness h3 a {
    color: #2A2A2A;
    text-decoration: none;
    font-size: 30px;
}

#skip-link  { display: none}

.brick span.label a { color: #000000 !important; text-decoration: none;}

p.info-title a, p.info-content a, span.likes a { color: #282828; text-decoration: none;}

/**** blog page ****/
.blog .blog-grid-item p a{
    color: #333333;
    text-decoration: none;
}
.blog .blog-author-info p a{
    color: #333333;
    text-decoration: none;
}
.blog .blog-grid-item p {
    font-family:'dominebold';
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
}
.blog .blog-grid-details {
    display: block;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    padding-bottom: 7px;
}
.blog .blog-info-content {
    border-bottom: 1px solid #E3E3E3;
    font-family: 'didotregular';
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0 0;
    padding-bottom: 10px;
}
.blog .blog-info-01 {
    padding: 0;
    text-align: center;
}
.blog .blog-author-details {
    display: block;
    float: left;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
}
.blog  .blog-author-info {
    display: block;
    float: left;
}
.blog .blog-author-info p {
    font-family: "domine";
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.clear{
    clear : both;
}
.blog .blog-sidegrid-item h1 {
    font-family: 'didotregular';
    font-size: 31px;
    margin: 10px 0;
    text-transform: uppercase;
}
.blog .item-popular {
    display: block;
    padding: 5px;
}
.blog .popular-details {
    display: block;
    float: left;
    font-family:domineregular;
	font-size : 13px;
	text-align : justify;
}
.blog .popular-image {
    display: block;
    float: right;
    font-family:domineregular;
	margin-top : 5px;
    width: 30%;
}
.blog .blog-rightgrid{
    float: right;
    width: 34%;
}

.blog .blog-grid {
    background : none;
    float: left;
    padding-bottom: 10px;
    width: 64%;
}
.blog .blog-grid .blog-grid-item{
    margin-bottom: 10px;
}
.blog .blog-sidegrid {
    background: none repeat scroll 0 0 #FFFFFF;
    float: none;
    height: auto;
    margin: 0;
    /*padding-bottom: 20px;*/
    width: 100%;
}

.blog  .blog-categories {
    background: none repeat scroll 0 0 #BCDFD1;
    margin: 10px 0;
    width: 100%;
}

.blog .blog-selectbox {
    padding: 15px 20px;
}

.blog .blog-selectbox h1 {
    margin: 0 0 20px;
}

.blog .blog-selectbox select {
    background: url("../images/select-1.png") no-repeat scroll right center #FFFFFF;
    border: 0 none;
    font-family: 'Domine','serif';
    font-size: 14px;
    /* font-weight: 700; */
    height: 34px;
    text-indent: 0.01px;
    text-overflow: "";
}

.blog .post-sidegrid {
    background: none repeat scroll 0 0 #FFFFFF;
    /*padding-bottom: 20px;*/
    width: 100%;
}
.blog .blog-sidegrid-item h1 {
    font-family: 'didotregular';
    font-size: 29px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight:normal;
}
.blog .blog-grid-details .blog-author {
    padding: 0;
}

.blog .post-details .post-date {
    color: #2A2A2A;
    font-size: 11px;
    font-weight: 700;
    padding-right: 5px;
    text-transform: uppercase;
}
.blog .post-details p {
    font-size: 13px;
    margin: 10px 0 0;
    padding: 0;
}

.page-blog .blog{
    height: auto;
}
.info-author-image {
    display: block;
    float: left;
    padding: 10px;
    width: 20%;
}
.info-author-image img{
    border: 2px solid #343232;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
.blog-author-details {
    display: block;
    float: right;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
}
.blog-author-details a{
    color : #333;
    text-decoration :none;
}
.item-01-info {
    background-color: #FFFFFF;
    clear: both;
    text-align: center;
}
.blog-info-content {
    border-bottom: 1px solid #E3E3E3;
    font-family: 'didotregular';
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    margin: 10px 0 0;
    padding-bottom: 10px;
}
.blog-info-content a {
    color : #333;
    text-decoration : none;
}
.comments-home {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E3E3E3;
    display: block;
    /*padding: 6px 0 9px;*/
    width: 100%;
    clear :both;
}
.blog .blog-author img{
    border: 2px solid #343232;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
.blog .blog-likes{
    border-left: 1px solid #E3E3E3;
}
.blog .blog-likes a{
    color : #333;
    text-decoration : none;
}
.section-02 .footer-nav{
	margin : 0 auto;
}
.blog .popular-date {
    border-right: 1px solid #E3E3E3;
    color: #2A2A2A;
    font-size: 11px;
    padding-right: 5px;
    text-transform: uppercase;
}
.blog .blog-sidegrid-item .item-post .post-details p a{
	color: #2A2A2A;
	text-decoration : none;
}
.blog .blog-sidegrid-item .item-popular .popular-details p a{
	color: #2A2A2A;
	text-decoration : none;
}
/* statisk-side-page */
.statisk-container {
    /*margin:20px auto;
    background-color:#ffffff;
    padding:20px;*/
}

.statisk-container  h1 {
    color:#2a2a2a;
    font-size:18px;
}

.statisk-container  h2 {
    color:#2a2a2a;
    font-size:14px;
    text-transform:uppercase;
}

.statisk-container  p {
    color:#2a2a2a;
    font-size:14px;
    line-height:20px;
}

.profile {
    background-color: #BBE1D2;
    background-image: url("../images/tgrid-01b.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 563px 233px;
    float: left;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.profile-container {
    margin: 0 auto;
    width: 980px;
    min-height: 600px;
}

.footer-section {
    clear: both;
    margin: 20px auto 0;
    padding-bottom: 10px;
    padding-top: 30px;
    width: 980px;
}

#tabs-wrapper h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}


.profile-left {
    float:left;
    width:34%;
    background-color:#fff;
    display:block;
    margin-top:30px;
    margin-right:1%;
    padding-bottom:20px;
}
.profile-right{
    float:left;
    width:65%;
    background-color:#fff;
    display:block;
    color:#2a2a2a;
    font-family: 'domineregular';
    padding-bottom: 30px;
    margin-top:20px;
}
/*.profile-right p{
    font-size:13px;
    line-height:18px;
}
.profile-date {
    color:#818080;
    font-size:11px;
    text-transform:uppercase;
    padding:0;
    margin:0;
}*/

.content-details {
    font-size:12px;
    color:#2a2a2a;
    font-family:'domine' serif;
    width:100%;
    float:left;
}
.created-date {
    text-transform:uppercase;
    font-size:11px;
}
.author-name {
    font-size:12px;
}

.created-date, .author-name {
    color:#282828;
    padding:0;
    margin:0;
}

.author-name a {
    color: #282828;
    font-weight: normal;
    text-decoration: none;
    text-transform: capitalize;

}

.profile-total{
    color:#2a2a2a;
    line-height: 23px;
    font-size:16px;
    font-family:'domine' serif;
    font-weight:700;
    padding:0;
    margin:0;
}
.profile-title {
    margin:20px 20px;
    float:left;
    width:95%;
}
.profile-title h1 {
    margin:0px 0px;
    padding:0px;
    font-size:18px;

}
.address {
    float:right;
    display:block;
    width:26%;
    font-size:12px;

}
.title-content {
    float:left;
    display:block;
    width:60%;
}
.profile-content {
    float:left;
    margin:0 20px;
    border-bottom:1px solid #e3e3e3;
    padding-bottom:20px;
}
.profile-icons {
    color:#2a2a2a;
    font-size:12px;
    margin-top:20px;
    float:left;
    width:100%;

}
.like-icon {
    padding-right:10px;
}
.comments-icon {
    padding-right:8px;
}
.icon-like {
    padding-right:35px;
}
.icon-comments {
    padding-right:15px;
}
.del-icon {
    padding-right:5px;
}
.icon-close {
    padding-left:30px;
    float:right;
}
.close-icon {
    padding-right:5px;
}
.icon-edit {
    padding-left:5px;
    float:right;
}
.left-content {
    padding:10px 20px;
    clear:both;
}
.left-like {
    padding:0px 20px;
    clear:both;
}
.image-container {
    float:left;
    display:block;
    width:20%;
}
.image-container-icon {
    float:left;
    display:block;
    width:20%;
    padding-left:10px;
}
.details-container {
    float:left;
    display:block;
    width:80%;
    line-height:20px;
    padding-top:2px;
    font-size:14px;
}
.fav-container {
    line-height:26px;
    float:left;
    width:52%;
    font-size:14px;
}

span.image-container .clip_mask img {
    position: relative;
}

/* Profile page */
.profile-icons span a {
    color: #2A2A2A;
    text-decoration: none;
}

.user-profile-page .profile-date a {
    color: #818080;
    text-decoration: none;
}

ul.user-likes-data li {
    color: #818080;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding-left: 5px;
}

.profile-container .view-empty {
    min-height: 310px;
    padding: 20px 25px;
}


/* Last Minute */
.backdrop{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}
/*.box{
	position:absolute;
	top:20%;
	left:30%;
	width:500px;
	height:300px;
	background:#ffffff;
	z-index:51;
	padding:10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
	display:none;
}*/
.box {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 0px;
  border: 3px solid #e8e8e8;
  bottom: 0;
  box-shadow: 0 0 0px;
  display: none;
  height: 300px;
  left: 0;
  margin: auto auto 25px;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  z-index: 51;
}
.close > img {
  vertical-align: middle;
}
.close{
	cursor: pointer;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -40px;
    width: 20px
}

.lastmint-details p span.lightbox{
	cursor: pointer;
}
.box .more-info {
  height: 270px;
  margin-top: 5px;
  overflow-y: auto;
  padding: 10px;
}		
.lastminute-container {
    background-image: url('../images/lastminute-bg.png');
    background-color:#bbe1d2;
    background-repeat:no-repeat;
    background-position:center bottom;
    float: left;
    width: 100%;
    clear: both;
	position : relative;
}
.lastminute-header {
    background: #f2f3f6;
    color: #2a2a2a;
    font-size: 30px;
    padding: 20px 0px;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}
.lastminute-header h1 {
    color: #2a2a2a;
    font-size: 60px;
    margin: 0;
    font-family: 'LinotypeDidot';
    text-transform:uppercase;
    font-weight: 600;
}
.lastminute-header h5 {
    font-family: 'dominebold';
    color: #2a2a2a;
    font-size: 14px;
    margin: 0;
    font-weight: normal;    
}
.lastminute-content {
    width:980px;
    height:400px;
    margin:10px auto;
}

.lastminute-content.behandling-content {
    height: auto;
}
.lastminut-form {
    background-color: #FEE0D5;
    float: left;
    margin-bottom: 10px;
    padding: 0px 10px 30px;
    width: 100%;
}
.lastminute-selectbox h4 {
    font-size:13px;
    font-family:"dominebold";
    color:#2a2a2a;
    margin:10px 0px;
    padding:0px;
    font-weight:normal;
}
.lastminute-selectbox  {
    float:left;
    display:block;
    padding:1%;
}
.lastminut-form .lastminute-time {
	padding: 0 1% 0 0;
	margin: 15px 0;
}
.lastminute-selectbox  input[type="text"]{
    background: #fff;
    padding: 8px;
    border: none;
   -webkit-appearance: none;
}
.lastminut-block {
    width:99.9%;
    margin-bottom:10px;
    background-color:#ffffff;
    float:left;
}
.lastmint-item {
    float:left;
    display:block;
	width:33.3%;
}

.lastmint-item.sted, .lastmint-item.btype {
    width:34%;
}

.lastmint-item.bprice {
	width: 32%;
}

html.firefox  .lastminute-container .lastminute-content .lastmint-price {
	padding: 20px 20px 14px;
}
.lastminute-container .lastminute-content .lastmint-price {
	padding: 20px 20px 10px;
}
.safari .lastminute-container .lastminute-content .lastmint-price {
	padding: 20px 20px 12px;
}
.lastminute-container .lastminute-content .lastminut-block p {
	margin: 0;
}
.lastminute-container .lastminute-content .lastmint-details {
	padding: 20px 10px 5px;
}
.lastminute-container .lastminute-content .lastminut-block h6 {
	margin-top: 0;
	font-weight: normal;
}
.lastminute-container .lastminute-content .lastminute-selectbox {
	/*padding: 1% 2.2%; 
	padding: 1% 1.2%; */
	padding:10px 0; 
}
.lastminute-container .lastminute-content .lastminut-block h1 {
	margin: 0 0 10px;
}
.lastminute-container .lastminute-content .lastmint-price .btn-book {
	margin: 15px 0 10px;
}
.lastminute-container .lastminute-content .lastmint-price .btn-book :hover {
	margin: 15px 0 10px;
}
.lastmint-product {
    padding:20px;
    background-color:#fff;

}
.lastminut-block h6 {
    padding:0px;
    margin-top:10px;
    margin-bottom:5px;
    color:#B1B1B1;
    font-size:12px;
}
.lastminut-block h1 {
	color: #000000;
	font-family: dominebold;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.lastminut-block p {
    padding:0px;
    margin:0px;
    color:#000000;
    font-size:12px;
    margin-top:10px;
    line-height:18px;
}
.lasatmint-rating {
    margin-top:10px;
}
.lastmint-details {
    padding:10px;
    background-color:#fff;
}

.lastmint-price {
    background-color:#f6f5f5;
    padding:10px 20px;
		min-height: 200px;

}
.btn-book {
    background-color:#ffffff;
    border:1px solid #000000;
    text-transform:uppercase;
    padding:8px 20px;
    margin:10px 0px;
    cursor:pointer;
}
.btn-book:hover {
    background-color:#000000;
    border:1px solid #000000;
    text-transform:uppercase;
    padding:8px 20px;
    margin:10px 0px;
    cursor:pointer;
    color:#ffffff;
}
.lastmint-price h1 {
    margin:5px 0px;
    font-size:25px;
}
.lastmint-price hr {
    border-top:1px solid #cdcccc;
    border-bottom:none;
}
.price-inf0 {
    line-height: 19px;
}
.price-inf0 .inf0 {
    font-size:13px;
    width:33.333%;
    float:left;
    display:block;

}
.price-inf0 .inf0:nth-child(2) {
    padding-left:17px;
    padding-right:10px;

}
.price-inf0 .inf0:nth-child(3) {
    padding-left: 32px;

}

.blogpost-footer {
    width:980px;
    margin:15px auto;
}
.blogpost-footer .copyrights {
    color: #000000;
    font-family: 'dominebold';
    font-size: 13px;
    padding-bottom: 10px;
    text-align: center;
}
.blogpost-footer .footer-nav li {
    line-height: 25px;
    list-style-type: none;
    display: inline-block;
    padding-left:10px;
}
.blogpost-footer .footer-nav ul {
    margin:0 auto;
    width:100%;
}
.blogpost-footer .footer-nav a {
    text-decoration: none;
    color: #2a2a2a;
   font-family: 'domineregular';
    font-size: 13px;
    text-transform: uppercase;
    line-height:35px;

}
.top-bar {
    float: right;
    /* margin-top: 10px; */
}
.blogpost-footer .footer-nav a:hover {
    text-decoration: none;
    color: #E85997;
	font-family: 'domineregular';
    font-size: 13px;
    text-transform: uppercase;
    font-weight:700;
}

.check-label {
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-weight: normal;
}
.lastminut-form .check-label {
	padding: 5px 17px;
}

.check-label.green {
    background-color: #BBE1D2;
}

.time-section ul li {
    float: left;
    list-style-type: none;
    margin-left: 5px;
}

.time-section ul li input{
    display: none;
}

.left.time-label > span {
    font-size: 12px;
}

.lastminute-time .time-label {
    width: 30%;
    margin-left: 0;
    line-height: 28px;
}

.lastminute-time .time-section {
    width: auto;
    text-align: right;
}

.lastminute-time .btn-book {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    margin: 0 0 0 13px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.lastminute-time .time-section ul.list {
	margin: 0;
}

.lastminut-form .lastminute-time .btn-book:hover {
    background-color: #000000;
    color: white;
}

img.ui-datepicker-trigger {
    width: 45px;
    float: right;
}

.lastmint-price span.timer {
    background-color: #BAE0D1;
    padding: 3px 8px;
}

.footer-nav ul {
    text-align: center;
}

.footer-nav ul li a {
    width: auto;
}
.footer-nav ul li a, .footer-nav ul li a:hover {
    font-weight: normal !important;
	
}

.lastminut-form.highlighted {
    position: fixed;
    top: 0;
    width: 980px;
    z-index: 450 !important;
}

.lastminut-form.highlightedlm {
    position: fixed;
    top: 0;
    width: 980px;
    z-index: 450 !important;
}

body.desktop .lastminut-form.highlighted, body.desktop .findklinik-form.highlighted {
    z-index: 500;
}

body.desktop .highlighted h2 {
    color: transparent;
}

.lastminut-form.highlighted h2 {
    text-align: center;
}
/* Last Minute ends*/


/* Alterations */
.view-content .brick .info-01 {
    margin-top: -30px;
}

.ad-image img {
    padding: 10px !important;
}

img.default {
    border: 1px solid #d9d5eb;
}

.view-content .banner-slider-02 img {
  height: auto !important;
  left: 0 !important;
  max-width: 515px !important;
  right: auto !important;
  width: auto !important;
}

.view-content .banner-slider-01 img {
  height: auto !important;
  left: auto !important;
  max-width: 515px !important;
  right: 0 !important;
  width: auto !important;
}
.banner-slider-01 {
    width: 100% !important;
}
.banner-slider-02 {
    width: 100% !important;
}

.banner {
    width: 100%;
    clear: both;
    position: relative;
    z-index: 0;
    top:-1px;
    height:296px;
    margin:0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;

}

.banner h2 {
    font-size:17px;
    font-weight:normal;
    font-family: 'dominebold';
}

.banner-left {
    width:38.333%;
    float:left;
    display:block;
    height:297px;
}

.banner-right {
    width:38.333%;
    float:right;
    display:block;
    height:297px;
}

.lastmt-item {
    width:23.333%;
    float:left;
    display:block;
    background-color:#fee0d5;
    height:297px;
}

#edit-field-clinic-loc-category-tid-wrapper,
#edit-field-geofield-distance-wrapper,
.views-widget-sort-by,
.views-widget-sort-order
{
    display: none;
}



.view-anmeldelser span.label {
    padding: 0px;
}

.view-wellness-blog span.label, .view-anmeldelser span.label, .view-vip-contents span.label  {
    padding: 0px;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 100%;
}

span.label a {
    padding: 3px 10px;
}
span.label {
    padding: 6px;
}

span.label {
    /*padding: 0px;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #BBE1D2; */
    padding: 0 5px;
    position: relative;
    top: 0px;
    z-index: 9;
}

.not-front.page-user span.label {
    top: 0px;
}

.not-front span.label {
    top: -5px;
}

span.label a {
    padding: 3px 10px;
}
.slider4 .wellness{
	margin : 0px;
	text-align: left;
}

.blog .blog-rightgrid {
  margin-top: 10px;
}

form#views-exposed-form-find-klinik-page {
	display: none;
}

.findklinik-product h1 a {
text-decoration: none;
}

.findklinik-container .btn-default {
    margin-left: 1%;
    margin-top: 46px;
    padding: 4px 12px;
}
.page-find-klinik .findklinik-container .btn-default:hover {
	background-color: #000000 !important;
	color: #FFFFFF;
} 
.page-last-minute .lastminut-form .check-label {
    padding: 7px 20px;
}
.page-last-minute .lastminut-form {
	padding: 0;
}
.page-last-minute .lastminut-form > form {
	padding: 0 20px 10px;
	width: 100%;
}
.lastminute-container .lastminute-content .lastminute-selectbox {
	display: inline-block;
	float: left;
	margin: 0 25px;
	/*overflow: hidden;*/
	padding: 10px 0;
}
.lastminut-form .lastminute-selectbox .select-category {
	display: block;
	float: left;
	width: 100%;
}
.page-last-minute .lastminute-selectbox .selectricWrapper {
	display: block;
	float: left;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.page-last-minute .last-min-date {
	display: block;
	/*float: left;
	width: 100%;*/
}
.page-last-minute .last-min-date #datepicker{
	display: block;
	float: left;
	width:60% !important;
}
.page-last-minute .lastminute-container .lastminute-content .lastminut-form .check-label {
    padding: 7px 10px;
}
.page-last-minute .lastminute-time .btn-book {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 0 5px;
}
.footer-section {
    width: 100%;
}
.page-last-minute .last-min-date img{
	float: left;
	display: block;
}

.page-last-minute .lastminute-selectbox h4 {
	display: block;
	float: left;
	text-align: left;
	width: 100%;
}
.page-last-minute .lastminute-selectbox.day {
	margin: 0 auto;
	width: 16%;
}
.page-last-minute .lastminute-selectbox.for {
	width: 14%;
	margin-left: 45px;
}
.page-last-minute .lastminute-selectbox.radius {
	width: 12%;
}
.page-last-minute .lastminute-selectbox.treatment {
	width: 20%;
}
.page-last-minute .lastminute-selectbox.location {
	width: 17%;
	margin-right:0;
}
.page-last-minute .lastminute-selectbox.location  input{
	width:97%;
 }
.lastminut-form .lastminute-selectbox label {
	display: block;
	float: left;
	position: relative;
	width: 100%;
}

/************************* Behandlinger ********************************/
.page-find-behandling .lastminut-form .lastminute-selectbox.for .selectric .label {
    width: 76%;
	float: left;
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 7px;
    padding-top: 7px;
    position: relative;
}
.page-find-behandling .lastminut-form .lastminute-selectbox .selectric {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
}
/***********************************************************************/

/************************* Anmeldelser *********************************/
.page-anmeldelser .anmeldelser .lastminut-form button {
	margin-left: 0;
	margin-right: 0;
	padding: 13px 6px;
}
.page-anmeldelser .lastminute-selectbox.location input[type="text"] {
	width: 245px !important;
	padding: 7px 6px 6px;
	font-family:domineregular;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .label {
    margin: 0;
    padding: 7px 6px 6px;
    width: 86%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .button {
    width: 14%;
    height: 31px;
    background-repeat: no-repeat;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox.radius .selectric .label {
	width: 80%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox.radius .selectric .button {
	width: 20%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox.sort .selectric .label {
	width: 80%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox.sort .selectric .button {
	width: 20%;
}
/***********************************************************************/

/************************* Behandling *********************************/
.page-find-behandling .lastminut-form {
    padding: 0;
}
.page-find-behandling .lastminut-form > form {
    padding: 0 20px 0px;
    width: 100%;
}
.page-find-behandling .lastminute-content .lastminute-selectbox {
    display: inline-block;
    float: left;
    margin: 0 10px;
    padding: 10px 0;
}
.page-find-behandling .lastminute-selectbox.for {
    margin-left: 0;
    width: 19%;
}
.page-find-behandling .lastminute-selectbox.radius {
	width: 22%;
}
.page-find-behandling .lastminute-selectbox.treatment {
	width: 23%;
}
.page-find-behandling .lastminute-selectbox.location {
	width: 23%;
}
.page-find-behandling .lastminute-selectbox.radius .selectricWrapper {
	width: 100%;
}
.page-find-behandling .lastminute-selectbox input[type="text"] {
	width: 100%;
}
.page-find-behandling .lastminute-content button {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C0C0;
    cursor: pointer;
    float: left;
    line-height: 24px;
    margin-top: 47px;
    margin-left: 1%;
    margin-right: 0;
    margin-top: 45px;
    padding: 3px 6px 3px;
    font-family: domineregular;
}
.page-find-behandling .lastminute-content button:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
#views-exposed-form-find-behandling-page {
	display: none;
}
.page-find-behandling .lastminute-selectbox.treatment .selectricWrapper {
	width: 100%;
}
.page-find-behandling .lastminut-block h1 a {
    margin: 0 0 10px;
    color: #000000;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
}
.page-find-behandling .lastminut-block .behandling-address {
	color: #000000;
    font-family: 'domineregular';
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0;
    padding: 0;
}
.page-find-behandling .lastmint-details a.read-more,
.page-last-minute a.read-more {
    background: url("../images/readmore.png") no-repeat scroll right center #FFFFFF;
    color: #000000;
   font-family: 'domineregular';
    font-size: 12px;
    padding-right: 20px;
    text-decoration: none;
    cursor: pointer;
}
.page-find-behandling .lastmint-details a.read-less {
    color: #000000;
   font-family: 'domineregular';
    font-size: 12px;
    text-decoration: none;
}
.page-find-behandling .lastminute-content .lastmint-price {
    padding: 30px;
    height: 209px;
}
.page-find-behandling .lastminute-container .lastminute-content .lastmint-price h1 {
    margin: 10px 0 15px;
}
.page-find-behandling .lastminute-container .lastminute-content .lastmint-price .btn-book {
    margin: 0 0 10px;
}
/***********************************************************************/

/************************* Find Klinik *********************************/
.page-find-klinik .findklinik-selectbox .selectric .label {
    width: 87%;
    float: left;
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 6px;
    padding-top: 7px;
    position: relative;
}
.page-find-klinik .findklinik-selectbox .selectric .button {
    width: 13%;
    background-repeat: no-repeat;
    height: 31px;
}
.page-find-klinik .findklinik-selectbox .selectricWrapper {
	width: 100%;
}
.page-find-klinik .findklinik-selectbox {
	width: 18%;
	padding-right: 2%;
}
.page-find-klinik .findklinik-selectbox.select-cat {
	width: 28%;
}
.page-find-klinik .findklinik-selectbox input[type="text"] {
	padding: 7px;
	width: 100%;
}
.page-find-klinik .findklinik-selectbox.select-radius {
    width: 16%;
}
.page-find-klinik .findklinik-selectbox.select-radius .selectric .label {
	width: 76%;
}
.page-find-klinik .findklinik-selectbox.select-radius .selectric .button {
	width: 24%;
}	
.page-find-klinik .findklinik-rating {
	margin: 10px 0 15px;
}
/***********************************************************************/

/*************************** Comments Section **************************/
.comments-section {
    padding: 20px;
}
.comments-left {
    float: left;
    margin-right: 2%;
    width: 17%;
}
.comments-right {
    border: 1px solid #D3D7D9;
    float: right;
    padding: 20px;
    width: 81%;
}
.comment-date {
	color: #AAAAAA;
	font-size: 12px;
	margin: 5px 0;
}	
.user-name a {
	color: #2A2A2A;
	font-size: 12px;
	text-decoration: none;
    font-weight: normal;
	font-family: 'dominebold';	
}
.comment-title a {
    color: #2A2A2A;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
	font-family: 'dominebold';
}
.comment-content {
    float: left;
    margin: 15px 0;
    color: #AAAAAA;
	font-size: 12px;
}
.comment-likes {
    float: left;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    display: block;
    text-align: center;
    padding-right: 15px;
    margin: 15px 0 0;
}
.likes-rating {
    float: left;
    border-top: 1px solid #E3E3E3;
    width: 100%;
}
.comment-rating {
    border-right: 0px solid #E3E3E3;
    display: block;
    float: left;
    margin: 5px 0px 0px;
    padding: 0px;
    text-align: center;
    color: #282828;
    font-size: 12px;
	width: 100%;
}
.popular-details p {
  font-size: 11px;
  text-align: left;
  word-spacing: 0px;
}
.blogpost-Commentpost .likes-rating .comment-rating .form-item, .form-actions {
    margin-bottom: 0em;
    margin-top: 0em;
}
#edit-comment-body-und-0-format {
	display: none;
}
.ckeditor_links {
	display: none !important;
}
#comment-form {
    margin: 0 auto;
    width: 94%;
}
#comment-form .form-item {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
}
#comment-form .form-type-item {

}
/* #comment-form .form-type-item label {
    float: left;
    width: 30%;
    color: #AAAAAA;
    font-size: 15px;
} */

#comment-form .form-type-item a.username {
	color: #000000;
	text-decoration: none;
	font-size: 15px;
}
#comment-form .form-type-item a.username:hover {
	text-decoration: underline;
}
#comment-form .form-item-subject {

}
/* #comment-form .form-item-subject label {
	color: #AAAAAA;
    float: left;
    font-size: 15px;
    width: 30%;
} */
#comment-form .form-item-subject input {
	float: left;
    width: 70%;
}
#comment-form .field-name-comment-body label {
	color: #AAAAAA;
	font-size: 15px;
	margin-bottom: 15px;
}
.node-type-trends #comment-form .field-widget-text-textarea textarea {
	border: 1px solid #E3E3E3; 
} 
.node-type-trends #comment-form .form-item-subject input {
	border: 1px solid #E3E3E3; 
} 
.node-type-trends #comment-form .field-name-comment-body label {
	width:30%;
	float:left;
}
.node-type-trends #comment-form .form-textarea-wrapper {
	float: left;
    width: 85%;
}
/* .node-type-trends #edit-actions input {
	margin-left:30%;
} */
/* .node-type-trends #edit-actions {
	width:100%;
	text-align:left !important;
} */

#edit-actions input {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C0C0;
    cursor: pointer;
    padding: 5px 10px;
}
#edit-actions input:hover {
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
}
.blogcomment-title {
    float: left;
    width: 100%;
}
.blogcomment-title .review {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C0C0;
    cursor: pointer;
    float: right;
    margin: 15px 21px 0 0;
    padding: 5px 10px;
    font-family: 'dominebold';
    font-size: 14px;
}
/* .blogcomment-title .review:hover {
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
}
.blogcomment-title .review:hover .write-review a {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
} */
.blogcomment-title h1 {
	float: left;
}
.node-type-trends #comment-form , .node-type-enterprise-blog #comment-form {
	display: none;
}

.pagetpl .statisk-container, body.page-comment .pagetpl .statisk-container {
  background: none repeat scroll 0 0 #FFFFFF;
  font-family: domineregular;
  font-size: 13px;
  margin-top: 15px;
  padding: 15px;
}

#comment-list .comment-preview {
    display: none;
}


/*** Search form ****/

#search-form {
	margin-top: 18px;
}
.page-search-node .profile #block-system-main ol.search-results{
	padding : 0px;
}
.page-search-node .profile #block-system-main .search-results li{
	border : 1px solid #ccc;
	padding: 0 10px;
	margin-bottom: 18px;
}
.page-search-node .profile #block-system-main .search-results li .title{
	padding : 0;
	margin-bottom: 5px;
    margin-top: 10px;
    border : none;
}
.page-search-node .profile #block-system-main .search-results li .title a {
    color: #333333;
    font-family: 'dominebold';
    text-decoration: none;
    text-transform: uppercase;
}
.page-search-node .profile #block-system-main .search-results li .search-snippet-info{
	border-top: 2px dotted #CCCCCC;
    padding-top: 10px;
}
.page-search-node .profile #block-system-main .search-results li .search-snippet-info .search-info a.username{
	color: #333333;
    text-decoration: none;
}
.page-search-node .profile #block-system-main h2{
	color: #2A2A2A;
    font-family: dominebold;
    font-size: 18px;
    text-transform: capitalize;
}
.page-search-node .profile #main-content h1.with-tabs{
	color: #2A2A2A;
    font-family: didotregular;
    font-size: 31px;
    text-transform : uppercase;
}
.page-search-user .profile #block-system-main ul{
	margin-left : 15px;
}
/***********************************************************************/

/***************************** Calender ********************************/
.ui-widget-header {
	background: none repeat scroll 0 0 #000000 !important;
	border: 1px solid #000000 !important;
}
.ui-state-default.ui-state-highlight, .ui-widget-content .ui-state-default.ui-state-highlight, .ui-widget-header .ui-state-default.ui-state-highlight {
    background: none repeat scroll 0 0 #F6F5F5 !important;
    border: 1px solid #F6F5F5 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none repeat scroll 0 0 #FEE0D5 !important;
	border: 1px solid #FEE0D5 !important;
	color: #376D57 !important;
}
/***********************************************************************/

/***************************** Tablet Views ****************************/
@media only screen and (min-width: 600px) and (max-width: 799px) {
	.blog .blog-sidegrid-item h1, .blog .blog-selectbox h1 {
		font-size: 22px;
	}
	.blog .blog-selectbox select {
		width: 100%;
	}
	.blog .post-sidegrid {
		margin-bottom: 10px;
	}
	.slider4 .wellness {
		overflow: hidden;
	}
	.slider .wellness h3 a {
		font-size: 15px;
	}
	.slider .follow {
		width: 100%;
	}
	.blog .blog-rightgrid {
		width: 35%;
	}
	.bx-viewport .slider4 .slide {
		width: 136px !important;
		margin-right: 15px !important;
	}
	.blog .blog-likes {
		width: 19%;
		padding: 11px 3px;
	}
	.blog .blog-author {
		padding: 0;
		width: 11%;
	}
	.blog-likes .likes:before {
		padding-left: 9px;
	}
	.blog .blog-comments {
		width: 31%;
		padding: 11px 9px;
	}
	.blog .blog-author-info {
		width: 39%;
	}
	.profile-container {
		width: 98%;
		padding-left: 1%;
		padding-right: 1%; 
	}
	.lastminute-container .lastminute-content {
		padding: 0 1%;
		width: 100%;
	}
	.lastminute-container .lastminute-content .lastminut-form {
		padding: 0 1% 10px;
	}
	.lastminute-container .lastminute-content .lastminute-selectbox {
		padding: 1% 0.5%;
	}
	.lastminute-container .lastminute-content .lastminute-time .time-label {
		margin-left: 0;
		width: 28%;
	}
	.lastminute-container .lastminute-content .lastminut-form .check-label {
		padding: 5px 15px;
	}
	.lastminute-container .lastminute-content .lastmint-price {
		padding: 20px 20px 15px;
	}
	.lastminute-container .lastminut-form.highlighted {
		width: 98%;
	}
	.lastminute-container .lastminut-form .lastminute-time {
		padding: 0 0.5%;
	}
	.lastminute-container .lastmint-item .lastmint-product {
		padding: 20px 10px 20px 20px;
	}
	.page-last-minute .lastminut-form > form {
		padding: 0 0 10px;
	}
	.page-last-minute .lastminute-content .lastminute-selectbox.day {
		width: 22%;
		padding-right: 0;
	}
	.page-last-minute .lastminute-selectbox.for {
		margin: 0;
		width: 18%;
		padding-left: 0;
	}
	.page-last-minute .lastminute-selectbox.radius {
		margin: 0;
		width: 18%;
	}
	.page-last-minute .lastminute-selectbox.treatment {
		margin: 0;
		width: 22%;
	}
	.page-last-minute .lastminute-selectbox.location {
		margin: 0;
		width: 20%;
	}
	.page-last-minute .lastminute-selectbox.treatment .selectric .label {
		width: 79%;
	}
	.page-last-minute .lastminute-selectbox.treatment .selectric .button {
		width: 21%;
	}
	.page-anmeldelser .lastminute-content {
		padding: 0 1%;
		width: 100%;
	}
	.page-anmeldelser .lastminut-form {
		padding: 0 1% 10px;
	}
	.page-anmeldelser .lastminut-form > form {
		width: 100%;
	}
	.page-anmeldelser .lastminute-selectbox {
		padding: 1% 0.5%;
	}
	.page-anmeldelser .selectricWrapper {
		width: 100% !important;
	}
	.page-anmeldelser .lastminute-selectbox.category {
		width: 25%;
	}
	.page-anmeldelser .lastminute-selectbox.location {
		width: 22%;
	}
	.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .label {
		width: 82%;
	}
	.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .button {
		width: 18%;
	}
	.page-anmeldelser .lastminute-selectbox.location input[type="text"] {
		width: 100% !important;
	}
	.page-anmeldelser .lastminute-selectbox.radius {
		width: 23%;
	}
	.page-anmeldelser .lastminute-selectbox.sort {
		width: 23%;
	}
	.page-anmeldelser .anmeldelser .lastminut-form button {
		margin-left: 0.25%;
		margin-right: 0;
		margin-top: 42px;
	}
	.page-anmeldelser .lastminut-form.highlighted {
		width: 98%;
	}
	.page-find-behandling .lastminut-form > form {
		padding: 0;
		width: 100%;
	}
	.page-find-behandling .lastminute-container .lastminute-content .lastminute-selectbox {
		margin-right: 0;
		padding: 1% 1% 1% 0.5%;
		margin-left: 0;
	}
	.page-find-behandling .lastminute-selectbox.radius {
		width: 23%;
	}
	.page-find-behandling .lastminute-content button {
		margin-left: 0.5%;
	}
	.page-find-behandling .lastminute-selectbox.treatment {
		width: 26%;
	}
	.page-find-behandling .lastminute-selectbox.location {
		width: 25%;
	}
	.page-find-behandling .lastminute-content button {
		margin-top: 43px;
	}
	.page-find-klinik .findklinik-container .findklinik-content {
		padding: 0 1%;
		width: 100%;
	}
	.page-find-klinik .findklinik-selectbox.select-cat {
		padding-left: 0;
		width: 26%;
	}
	.page-find-klinik .findklinik-selectbox {
		padding-right: 1%;
		width: 25%;
	}
	.page-find-klinik .findklinik-selectbox.select-radius {
		width: 25%;
	}
	.findklinik-container .btn-default {
		margin-left: 0%;
		margin-top: 44px;
	}
	.findklinik-form.highlighted {
		padding: 0 1% 10px;
		width: 100%;
	}
.page-node .blogpost-content {
	width: 98%;
}
.page-node .blogpost-categories .blog-selectbox h1 {
	font-size: 28px;
}
.page-node .blogpost-sidebar .popular-image {
    width: 34%;
}
.page-node .blogpost-categories .blog-selectbox .selectricWrapper {
	width: 100%;
}
.page-node .blogpost-sidegrid .blog-sidegrid-item {
    padding: 20px 5px;
}
.page-node .blogpost-clink .clink {
	width: 65%;
}
.page-node .blogpost-clink .blogpost-social {
	width: 35%;
}
.page-node .blogpost-Commentpost h1 {
	padding: 15px 15px 10px 10px;
}
.page-node .blogcomment-title .review {
	margin: 15px 10px 0 0;
}
.page-node .blogpost-Commentpost .view-comments-block .comments-section {
    padding: 15px 10px 20px;
}
.page-node .user-picture > img {
    width: 100%;
}
.page-node .blogpost-author {
	width: 12%;
}
.page-node .blogpost-author-details {
    width: 50%;
}
.page-node .footer-nav, .page-find-behandling .footer-nav, .page-anmeldelser .footer-nav, .page-last-minute .footer-nav {
    width: 100%;
}
.page-node .clinicprofile-footer {
    width: 100%;
}
.page-find-behandling .blogpost-footer, .page-anmeldelser .blogpost-footer, .page-last-minute .blogpost-footer {
    width: 100%;
}
.page-find-klinik .blogpost-footer {
    width: 100%;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px) {
.blog .blog-selectbox select {
	width: 100%;
}
.profile-container {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%; 
}
.lastminute-container .lastminute-content {
    padding: 0 1%;
    width: 100%;
}
.lastminute-container .lastminute-content .lastminut-form {
	padding: 0 1% 10px;
}
.lastminute-container .lastminute-content .lastminute-selectbox {
    padding: 1% 0.5%;
}
.lastminute-container .lastminute-content .lastminute-selectbox.day {
	width: 21%;
}
.lastminute-container .lastminute-content .lastminute-selectbox.for {
	width: 16%;
	padding-right: 1%;
	margin: 0;
}
.lastminute-container .lastminute-content .lastminute-selectbox.radius {
	width: 20%;
	padding-right: 1%;
	margin: 0;
}
.lastminute-container .lastminute-content .lastminute-selectbox.treatment {
	width: 22%;
	padding-right: 1%;
	margin: 0;
}
.lastminute-container .lastminute-content .lastminute-selectbox.location {
	width: 21%;
	margin: 0;
}
.page-last-minute .lastminut-form .lastminute-selectbox.for .selectric .label {
    width: 70%;
}
.page-last-minute .lastminut-form .lastminute-selectbox .selectricWrapper.select-distance .selectric .button {
    width: 24%;
}
.page-last-minute .lastminut-form .lastminute-selectbox .selectricWrapper.select-distance .selectric .label {
    width: 76%;
}
.page-last-minute .lastminut-form .lastminute-selectbox.treatment .selectric .button {
    width: 21%;
}
.page-last-minute .lastminut-form .lastminute-selectbox.treatment .selectric .label {
	width: 79%;
}
.page-last-minute .lastminute-time .time-label {
	width: 27%;
}
.page-last-minute .lastminut-form .lastminute-selectbox.for .selectric .button {
    width: 30%;
}
.lastminute-container .lastminute-content .lastminute-selectbox .select-distance {
    width: 100%;
}
.lastminute-container .lastminute-content .lastminute-selectbox  input[type="text"] {
	width: 98% !important;
}
.lastminute-container .lastminute-content .lastminute-selectbox input.hasDatepicker {
    width: 74% !important;
}
.lastminute-container .lastminute-content .lastminute-selectbox .select-category {
    width: 100%;
}
.lastminute-container .lastminute-content .lastminute-selectbox .select-rating {
    width: 100%;
}
.lastminute-container .lastminute-content .lastminute-selectbox .selectric .label {
	margin: 0;
}
.lastminute-container .lastminute-content .lastminute-time .time-label {
	margin-left: 0;
}
.lastminute-container .lastminut-form .lastminute-time {
	padding: 0 0.5%;
}
.lastminute-container .lastminut-form.highlighted {
	width: 98%;
}
.lastminute-container .lastminute-content .lastmint-price { 
    padding: 20px 20px 15px;
}
.lastminute-container .lastmint-item .lastmint-product {
	padding: 20px 10px 20px 20px;
}
.page-last-minute .lastminut-form > form {
	padding: 0 0 10px;
}
.page-anmeldelser .lastminute-content {
	padding: 0 1%;
    width: 100%;
}
.page-anmeldelser .lastminut-form {
	padding: 0 1% 10px;
}
.page-anmeldelser .lastminut-form > form {
    width: 100%;
}
.page-anmeldelser .lastminute-selectbox {
	padding: 1% 0.5%;
}
.page-anmeldelser .selectricWrapper {
	width: 100% !important;
}
.page-anmeldelser .lastminute-selectbox.category {
	width: 25%;
}
.page-anmeldelser .lastminute-selectbox.location {
	width: 23%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .label {
    width: 82%;
}
.page-anmeldelser .lastminut-form .lastminute-selectbox .selectric .button {
    width: 18%;
}
.page-anmeldelser .lastminute-selectbox.location input[type="text"] {
    width: 99% !important;
}
.page-anmeldelser .lastminute-selectbox.radius {
	width: 23%;
}
.page-anmeldelser .lastminute-selectbox.sort {
	width: 23%;
}
.page-anmeldelser .anmeldelser .lastminut-form button {
    margin-left: 0.25%;
    margin-right: 0;
    margin-top: 44px;
}
.page-anmeldelser .lastminut-form.highlighted {
	width: 98%;
}
.page-find-behandling .lastminut-form > form {
    padding: 0;
    width: 100%;
}
.page-find-behandling .lastminute-container .lastminute-content .lastminute-selectbox.for {
    margin: 0;
    padding-right: 1%;
    width: 20%;
}
.page-find-behandling .lastminute-container .lastminute-content .lastminute-selectbox.radius {
    margin: 0;
    padding-right: 1%;
    width: 24%;
}
.page-find-behandling .lastminute-container .lastminute-content .lastminute-selectbox.treatment {
    margin: 0;
    padding-right: 1%;
    width: 25%;
}
.page-find-behandling .lastminute-container .lastminute-content .lastminute-selectbox.location {
    margin: 0;
    width: 24.5%;
}
.page-find-behandling .lastminute-content button {
	margin-top: 44px;
	margin-left: 0.7%;
}
.page-find-klinik .findklinik-container .findklinik-content {
    padding: 0 1%;
    width: 100%;
}
.page-find-klinik .findklinik-selectbox.select-cat {
    padding-left: 0;
    width: 26%;
}
.page-find-klinik .findklinik-selectbox {
    padding-right: 1%;
    width: 25%;
}
.page-find-klinik .findklinik-selectbox.select-radius {
    width: 25%;
}
.findklinik-container .btn-default {
    margin-left: 0%;
    margin-top: 44px;
}
.findklinik-form.highlighted {
    padding: 0 1% 10px;
    width: 100%;
}
.page-node .blogpost-content {
	width: 98%;
}
.page-node .blogpost-categories .blog-selectbox h1 {
	font-size: 28px;
}
.page-node .blogpost-sidebar .popular-image {
    width: 34%;
}
.page-node .blogpost-categories .blog-selectbox .selectricWrapper {
	width: 100%;
}
.page-node .blogpost-sidegrid .blog-sidegrid-item {
    padding: 20px 10px;
}
.page-node .blogpost-clink .clink {
	width: 65%;
}
.page-node .blogpost-clink .blogpost-social {
	width: 35%;
}
.page-node .blogpost-Commentpost h1 {
	padding: 15px 15px 10px 10px;
}
.page-node .blogcomment-title .review {
	margin: 15px 10px 0 0;
}
.page-node .blogpost-Commentpost .view-comments-block .comments-section {
    padding: 15px 10px 20px;
}
.page-node .user-picture > img {
    width: 100%;
}
}
@media only screen and (min-width: 980px) and (max-width: 992px) {
    .blog .blog-container {
        max-width: 100%;
        padding: 0 1%;
    }
    .blog .blog-grid {
        margin: 10px 0;
    }
    .blog .blog-container .blog-rightgrid {
        width: 35%;
    }
    .profile-container {
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }
}


.lastminut-block{
	position:relative;
}

.lastminute-container .lastminute-content .lastminut-block .more-info p {
  font-size: 13px;
  margin: 5px 0;
  text-align: justify;
}

 
li #slidediv1 #mailchimp-newsletter-drupal_mailchimp input.form-text{
	width: 168px;
	padding:4px !important;
}
 
li #slidediv1 #mailchimp-newsletter-drupal_mailchimp input.form-submit{
	display:none;
}

.clinicprofile-left-content .fivestar-basic div.fivestar-widget-static .star {
    width: 16px;
    height: 16px;
}

.clinicprofile-left-content .fivestar-basic div.fivestar-widget-static .star span.on {
  background-position: 0 -33px;
}

/* Bala Mobile */
body.mobile .lastminut-form h2 {
	display: none !important;
}

body.mobile .profile-left.user-profile-page, body.mobile .profile-right { float: left; }
body.mobile .statisk-container .view-user-comments .profile-title,
body.mobile .statisk-container .view-user-comments .profile-content,
body.mobile .statisk-container .view-user-comments .profile-title .title-content {width: auto;}

body.mobile p.profile-total span.review-title {
	float: left;
	width: 60%;
}

body.mobile p.profile-total span.review-edit{
	float: right;
	font-size: 10px;
	text-align: right;
	width: 40%;
}

body.mobile p.profile-total span.review-edit a{ color: #898989; }

body.mobile p.profile-total span.review-edit .icon-edit, body.mobile p.profile-total span.review-edit .icon-close {
	float: none;
	padding: 0;
	display: inline-block;
}

body.mobile p.profile-total span.review-edit .icon-edit {
	padding-right: 5px;
}


body.page-comment.mobile .pagetpl #tabs-wrapper h1 {
  display: none;
}

body.page-comment-edit.mobile .block #comment-form .form-item.form-item-subject input {
  width: 100%;
}

body.page-comment-edit.mobile .block #comment-form .form-item .selectricWrapper {
  width: 100%;
}

body.page-comment.mobile .pagetpl #comment-form .field-type-fivestar.field-name-field-clinic-loc-rating.field-widget-stars.form-wrapper {
  width: 100%;
}

body.page-comment-edit.mobile #comment-body-add-more-wrapper #edit-comment-body-und-0-value {
  width: 100%;
}


body.page-comment-edit.mobile .starrating {
  color: #77746E;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  line-height: normal;
  margin-bottom: 8px;
  padding: 0 25px;
  width: 100%;
}
body.page-comment.mobile .pagetpl #comment-form input.form-checkbox, input.form-radio {
  margin-top: 0;
}

body.page-comment.mobile .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
  float: right;
  font-size: 13px !important;
  margin-top: 0px;
  padding: 0 !important;
  width: 84% !important;
}

body.page-comment-edit.mobile ul.tabs.primary {
	display: none;
}

body.page-comment-edit.mobile .foottext {
	padding: 0 25px;
	text-align: center;
}

body.page-comment-edit.mobile .block #comment-form .fivestar-basic div.fivestar-widget .star,
body.page-comment-edit.mobile .fivestar-basic div.fivestar-widget .star a {
  background: url("../images/rating-star-comment.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


body.page-comment-edit.mobile .fivestar-basic div.fivestar-widget .star.on a {
	background-position: 0 -38px;
}

body.page-comment-edit.mobile .fivestar-basic div.fivestar-widget .star a:hover,
body.page-comment-edit.mobile .fivestar-basic div.fivestar-widget .star.hover a {
	background-position: 0 -38px;
}

body.page-comment-edit.mobile .block #comment-form .fivestar-basic div.fivestar-widget div.hover a, 
body.page-comment-edit.mobile .block #comment-form .fivestar-basic div.rating div a:hover {
	background-position: 0 -38px;
}


/* User Edit Page */
body.page-user-edit .profile .profile-container #main-content h1.with-tabs{
	display:none !important;
}
body.page-user-edit.mobile form#user-profile-form {
  padding:0 !important;
}

body.page-user-edit.mobile #user-profile-form #edit-field-enterprise-blog-picture label {
  margin-left: 0;
width: 100% !important;
}

body.page-user-edit.mobile  #edit-field-enterprise-blog-picture .imagefield-crop-widget {
	width: 100%;
}

body.page-user-edit.mobile #user-profile-form #edit-field-enterprise-blog-picture .file {
  background-color: rgba(0, 0, 0, 0);
float: none;
margin: 0;
padding: 0;
display: block;
}

body.page-user-edit.mobile input#edit-field-enterprise-blog-picture-und-0-remove-button {
  background-color: #FFFFFF;
  border: 0 none;
  border-radius: 0 !important;
  color: #2A2A2A;
  float: none;
  font-family: 'domineregular';
  font-size: 14px;
  margin-left: 0;
  margin-top: 5px;
  padding: 5px 10px;
}

body.page-user.mobile input#edit-submit {
	width: 100%;
}

body.page-user-edit.mobile .statisk-container #edit-account .form-item .password-suggestions.description {
  clear: both;
  color: #000000;
  float: none;
  margin-left: 0;
  width: 100%;
}

body.page-user-edit.mobile #edit-account .form-type-password.form-item-pass-pass2 div.password-confirm {
	float: right;
	padding-left: 0;
	text-align: right;
	width: 49%;
	font-style: italic;
	font-size: 10px;
}

body.page-user-edit.mobile .statisk-container #edit-account .form-item label {
  float: left;
  font-size: 13px;
  width: 50% !important;
}

body.page-user.mobile ul.tabs.primary li a {
	display: block;
}

body.page-comment-delete-own.mobile .pagetpl #comment-goodness-confirm-delete div.form-actions, 
body.page-comment-delete-own.mobile .pagetpl #comment-goodness-confirm-delete div.form-actions input {
  margin: 10px 10px 0 0;
  text-align: left !important;
}

body.mobile .statisk-container .view-user-comments .profile-title, body.mobile .statisk-container .view-user-comments .profile-content {
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

body.mobile .statisk-container .view-user-comments .profile-title {
margin-top: 10px;
}

body.mobile .statisk-container .view-user-comments .profile-content span.content-details {
  line-height: normal;
  padding: 5px 0;
}

body.mobile .statisk-container .view-user-comments .profile-content {
padding-bottom: 10px;
}

body.page-comment.mobile .pagetpl .profile-container {
  width: 100%;
}

/* Skrive en anmeldelser */
body.page-comment-reply.mobile .container .clinicprofile-topsection {
	display: none;
}

body.page-comment-reply.mobile .container .clinicprofile-left .clinicprofile-comment-left-content {
  padding: 15px;
}

body.page-comment-reply.mobile .container .clinicprofile-left .clinicprofile-comment-left-content > h2 {
  font-size: 15px;
margin: 0;
}

body.page-comment-reply.mobile #comment-form--2 #edit-subject--2, body.page-comment-reply.mobile #comment-form--2 #edit-comment-body-und-0-value--2, body.page-comment-reply.mobile .clinicprofile-left .selectricWrapper {
  width: 100%;
}

body.page-comment-reply.mobile #comment-form--2 #edit-field-clinic-loc-rating--2 {
    clear: both;
    float: none;
    width: 100%;
}

body.page-comment-reply.mobile #comment-form--2 .starrating {
	color: #77746E;
	float: none;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	margin: 5px 0 15px;
	width: 100%;
}

body.page-comment-reply.mobile input.form-checkbox, input.form-radio {
  display: inline-block;
width: 2%;
margin-top: 3px;
}

body.page-comment-reply.mobile #comment-form--2 #edit-field-share-on-fb-und--2 label {
  display: inline-block;
line-height: normal;
margin-top: 5px;
width: 90%;
}

body.page-comment-reply.mobile #comment-form--2 #edit-actions--2 input {
display: block;
float: none;
margin-top: 25px;
width: 100%;
}

body.page-comment-reply.mobile #comment-form--2 .foottext {
  text-align: center;
}

body.page-comment-reply.mobile #comment-form--2 .field-name-field-share-on-fb {
  width: 100%;
}

body.page-artikler.mobile .view-wellness-blog span.comment a,
body.page-artikler.mobile .view-anmeldelser span.comment a,
body.page-artikler.mobile .blog-comments a,
body.page-artikler.mobile .blogpost-author-comments p a,
body.page-artikler.mobile .comments-home a,
body.page-artikler.mobile .brick .info-details a,
body.page-artikler.mobile .brick span.comment a {
  font-size: 12px;
}

body.page-blog.mobile .view-wellness-blog span.comment a,
body.page-blog.mobile .view-anmeldelser span.comment a,
body.page-blog.mobile .blog-comments a,
body.page-blog.mobile .blogpost-author-comments p a,
body.page-blog.mobile .comments-home a,
body.page-blog.mobile .brick .info-details a,
body.page-blog.mobile .brick span.comment a {
  font-size: 12px;
}

body.page-node.mobile .blogpost-author-details {
  width: 48%;
}

body.page-node.mobile #comment-list .form-item {margin:5px 0;}
body.page-node.mobile #comment-list .form-textarea-wrapper {width: 100%;}
body.page-node.mobile #comment-list #comment-form label {
  margin-bottom: 0;
	width: 30% !important;
}
body.page-node.mobile #comment-list #comment-form input#edit-subject {
  margin-top: 0;
  width: 100% !important;
}

@media (min-width: 360px) and (max-width: 639px) {
	body.page-comment.mobile .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
		float: right;
		font-size: 13px !important;
		margin-top: 0px;
		padding: 0 !important;
		width: 84% !important;
	}
}

@media (min-width: 640px) {
	body.page-comment.mobile .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
		width: 93% !important;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	body.page-wellness-queens-kings.mobile .wellness-header h1 {
	  font-size: 28px;
	}
}

body.page-blog.mobile .infscr-loading, body.page-artikler.mobile .infscr-loading {
  bottom: -38px;
  display: block;
  height: 35px;
  left: 45%;
  margin-top: 50px;
  position: absolute;
}

body.page-blog.mobile .item-list .pager, body.page-artikler.mobile .item-list .pager {
	display: none;
}
