.page-anmeldelser .anmeldelser-popular h2 a{
	color : #333;
	text-decoration : none;
}
.page-anmeldelser .anmeldelser-popular h3 a{
	color : #333;
	text-decoration : none;
}
.page-anmeldelser .anmeldelser-popular .fivestar-static-item .form-item{
	margin : 0px;
}

.anmeldelser-date .user-name{
    color: #2A2A2A;
    display: block;
    font-size: 11px;
    font-weight: normal;
    /*margin-bottom: 10px;*/
    text-transform: uppercase;
}
.anmeldelser-date .user-review{
	float : none;
}
.anmeldelser-page-right p{
	margin : 0px;
}
.anmeldelser-page-left{
	float: left;
    width: 20%;
}
.anmeldelser-page-right{
	/* float: right;
    width: 70%; */
    float: left;
    margin-top: -5px;
    width: 80%;
}
.anmeldelser-date .anmeldelser-page-right .time{
	float : none;
}
.anmeldelser-date .anmeldelser-page-right a{
	text-decoration: none;
}
#slidediv #search-form input {
	/* border: 1px solid #D9D5EB; */
    height: 22px;
    margin-top: 2px;
    width: 135px !important;
    padding : 4px;
}
#slidediv #search-form input:focus  {
	outline: none !important;
	/* border: 1px solid #D9D5EB; */
}
#slidediv1 #mailchimp-lists-user-subscribe-form-drupal-mailchimp input{
	/* border: 1px solid #D9D5EB; */
    height: 22px;
    margin-top: 14px;
    margin-right : 0;
    padding : 0;
}

ul.top-bar #mailchimp-lists-user-subscribe-form-drupal-mailchimp .form-submit{
	display : none;
}

#slidediv1 #mailchimp-lists-user-subscribe-form-drupal-mailchimp input:focus{
	outline: none !important;
	/* border: 1px solid #D9D5EB; */
}
#comment-list #comment-form  label{
	color: #282828;
    float: left;
    font-size: 13px;
    width: 15%;
    font-weight: normal;
	line-height:20px;
}

#comment-list .form-textarea-wrapper {
    float: left;
    width: 85%;
}

#comment-list input#edit-preview {
    display: none;
}

#comment-list #comment-form  input#edit-subject {
    border: 2px solid #E3E3E3;
    width: 75%;
}
#comment-list #comment-form  textarea {
    border: 2px solid #E3E3E3;
}
#comment-list #comment-form textarea.error{
	border: 2px solid #FF0000;
}
.node-type-enterprise-blog .likes a:before{
	padding-left : 0px;
}
.node-type-enterprise-blog .blogpost-sidebar .likes:before{
	content : none;
}
.node-type-trends .likes a:before{
	padding-left : 0px;
}
.node-type-trends .blogpost-sidebar .likes:before{
	content : none;
}
/*
.page-wellness-queens-kings  #freewall2 .view-wellness-queens-kings .grid-item-02  .wellness p{
	font-size: 24px;
    line-height: 32px;
    text-align: center;
	margin-bottom : 15px;
	font-family : dominebold;
	margin-top : 0px;
}*/

.page-wellness-queens-kings #freewall2 .view-wellness-queens-kings .grid-item-02 .wellness_bloggere p {
  font-family: dominebold;
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}
.node-type-enterprise-blog .blogpost-article a{
	background-color: #FEE0D5;
	text-decoration:none;
}
.node-type-enterprise-blog .blogpost-article a:hover{
	background-color: #FEE0D5;
}
.node-type-trends .blogpost-article a{
	background-color: #FEE0D5;
	text-decoration:none;
}
.node-type-trends .blogpost-article a:hover{
	background-color: #FEE0D5;
}
.page-search-node #tabs-wrapper  ul.tabs {
	display : none;
}
.page-search-node #tabs-wrapper  h1.with-tabs {
	margin : 0px;
}
.page-search-node .item-list{
	display : none;
}
.clinicprofile-comment-sidebar #block-views-location-comments-block-1 li .comments-home span.likes:before{
	content : none;
}
.clinicprofile-comment-sidebar #block-views-location-comments-block-1 li .comments-home span.likes a:before{
	padding-left : 0px;
}
.safari .lastmt-item{
	width:26%;
}
body.safari .banner-left, body.safari .banner-right {
	float: left;
	width: 37%;
}

.wellness_bloggere-block{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.wellness-section .wellness_bloggere-block .grid-item-02 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

.findklinik-block h6,
.lastmint-product h6,
.lastmint-details h6{
    color: #787878;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 0;
}
.detail-page-content{
	background: none repeat scroll 0 0 #fff;
}

.page-user .anonymous-content .fb_login_inner a {
  color: #2A2A2A;
  display: block;
  font-family: 'dominebold';
  font-size: 16px;
  letter-spacing: -0.6px;
  margin: 0 auto;
}

.page-user .anonymous-content .fb_login a {
  background-image: url("../images/facebook-bg.png");
  background-repeat: no-repeat;
  color: #2A2A2A;
  display: block;
  float: none;
  font-family: 'domineregular';
  font-size: 14px !important;
  height: 31px;
  margin: 0 auto;
  padding: 8px 20px 9px 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}


.page-user .anonymous-content a {
  color: #2a2a2a;
  font-family: 'dominebold';
  font-size: 16px;
  letter-spacing: -0.6px;
  margin: 0 auto;
}

body.page-user .register-inner .profile-container .statisk-container .anonymous-content .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe{
	height: auto;
}

.page-user .banner-captions h1 {
	margin: 0 auto 5px;
}

.page-user .queens-banner .queens-title {
	margin-bottom: 5px;
}
#edit-field-user-description .form-textarea-wrapper textarea{
	border: 1px solid #FFFFFF;
    width: 60%;
}

#edit-field-user-description .grippie{
	display:none;
}

.findklinik-details .find-short {
    margin-top: 20px;
}

body.page-user-edit .vip-profile-edit #user-profile-form .form-item-files-picture-upload {
	padding-left:0;
}

.page-user .vip-profile-edit #user-profile-form .form-item-picture-delete label {
	margin-left:0;
	width: 20% !important;
}

body.page-user-edit .vip-profile-edit #user-profile-form .form-item-files-picture-upload label{
	width:20%;
}

.link-field-subrow {
    float: left;
	width: 75%;
}

body.page-user-edit #user-profile-form .link-field-subrow .form-text{
	width: 80% !important;
}

.image-widget-data .file-size{
display:none;
}

div.image-widget-data {
float: none;
}

.profile .vip-profile-edit .user-picture {
width: 80%;
}

.vip-profile-edit #edit-picture-delete{
margin:0;
}

.vip-profile-edit #edit-picture-upload{
margin-left: 3px;
}

a.queen-king-title-link{
    color: #333;
    text-decoration: none;
}

.item-popular .popular-details a{
	text-decoration:none;
}

.page-anmeldelser .anmeldelser-page-right {
    margin-top: 5px;
}

.view-all-blogs span.comment,
.view-blog-categories span.comment,
.view-all-trends span.comment,
.view-artikler-categories span.comment{
	margin-top: 1px;
	display: inline-block;
	line-height: 40px;
}

.view-all-blogs span.comment a,
.view-blog-categories span.comment a,
.view-all-trends span.comment a,
.view-artikler-categories span.comment a{
	text-decoration: none;
	color: #333;
	position: relative;
	top: -1px;
}

#block-views-all-blogs-block span.label,
#block-views-all-blogs-block-1 span.label,
#block-views-all-trends-block span.label,
#block-views-all-trends-block-1 span.label,
.view-id-blog_categories span.label,
.view-id-artikler_categories span.label {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

#block-views-all-blogs-block .blog-grid-item ,
.view-id-blog_categories .blog-grid-item,
.view-id-artikler_categories .blog-grid-item,
#block-views-all-trends-block .blog-grid-item {
    position: relative;
}

#block-views-all-blogs-block span.label a,
#block-views-all-trends-block span.label a,
.view-id-blog_categories  span.label a,
.view-id-artikler_categories  span.label a {
  color: #000;
  text-decoration: none;
}

.node-type-enterprise-blog span.label,
.node-type-trends span.label {
  padding: 5px 10px 2px;
  top: 0;
}

.node-type-enterprise-blog .blogpost-thumbnail ul li,
.node-type-trends .blogpost-thumbnail ul li {
    margin: 3px;
}

.clinicprofile-left .clinicprofile-comment-left-content {
  padding: 40px;
}

.clinicprofile-left .clinicprofile-comment-left-content > h2 {
  margin-top: 0;
}

.clinicprofile-left .selectricWrapper {
    margin: 0 auto;
    padding: 5px 0 20px;
    width: 235px;
}

.clinicprofile-left .selectricWrapper .selectric .label {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #2A2A2A;
  display: block;
  font-family: 'domineregular';
  font-size: 13px;
  height: 35px;
  line-height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 5px 5px 5px 15px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  width: 100%;
}

.clinicprofile-left .selectricWrapper .selectricItems {
  height: 135px !important;
  top: 40px !important;
}

.clinicprofile-left .form-type-textarea .grippie {
	display:none;
}

.clinicprofile-comment-left-content div.fivestar-widget .cancel, div.fivestar-widget .star {
  height: 34px;
  width: 40px;
}

.clinicprofile-comment-left-content .fivestar-basic div.fivestar-widget .star, .clinicprofile-comment-left-content .fivestar-basic div.fivestar-widget .star a {
  background: url("../images/rating-star-comment.png") no-repeat;
}

.clinicprofile-comment-left-content .fivestar-basic div.fivestar-widget div.hover a, .clinicprofile-comment-left-content .fivestar-basic div.rating div a:hover {
  background-image: url("../images/rating-star-comment.png");
  background-position: 0 -38px;
}

.clinicprofile-comment-left-content div.fivestar-widget div.on a{
	background-position: 0 -75px !important;
}

#user-register-form a:last-child {
  font-family: 'domineregular';
  font-size: 11px;
}

.modal-register #modal-content #edit-mailchimp-lists .form-item .description, .modal-register #modal-content #edit-mailchimp-lists--1 .form-item .description, .modal-register #modal-content #edit-mailchimp-lists--2 .form-item .description{
	color: #3d433f;
    font-family: dominebold !important;
    font-style: normal;
}

body.modal-register #modal-content #user-register-form .form-item input, body.modal-register #modal-content #user-register-form--1 .form-item input, body.modal-register #modal-content #user-register-form--2 .form-item input{
	font-family: dominebold;
	color:#292b2a;
}


body.modal-register #modal-content .fb-or-login {
	font-family: dominebold;
}

body.modal-register #modal-content .fb-det {
  color: #3d433f;
	font-size: 11px;
}

.register-inner .news-info, #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 .description, .form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe .description {
  color: black;
  font-family: 'dominebold';
  font-size: 13px;
}

body.modal-register #modal-content .fb-det a{
  font-family:'domineregular';
	font-size: 11px !important;
}

.page-user-register #modal-content .form-wrapper .form-item-field-enterprise-blog-firstname-und-0-value {
  margin: 0;
}

.view-anmeldelser-page .anmeldelser-rating div.fivestar-widget-static .star {
  background-image: url("../images/rating-star.png");
}

.view-anmeldelser-page .anmeldelser-rating div.fivestar-widget-static .star span.off {
  background-image: url("../images/rating-star.png");
}
.view-anmeldelser-page .anmeldelser-rating div.fivestar-widget-static .star span.off {
  background-image: url("../images/rating-star.png");
}