@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*==============Popup Register Start==================*/
#modal-content #user-register-form .user-left{
	/*float: none;*/
	display: inline-block;
    margin: 0 auto;
    padding-top: 0;
    width: auto;
	/*width: auto;*/
}
/*==============Popup Register End==================*/
body.page-search .pagetpl .statisk-container {
    background: none repeat scroll 0 0 #ffffff;
    padding: 20px 30px;
}

.pagetpl .statisk-container {
	background:transparent;
	font-family: domineregular;
	font-size: 13px;
	margin-top: 15px;
	padding: 0 55px 55px;
	border: 1px solid transparent;
}
body.page-comment  .pagetpl .statisk-container h1 {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 20px;
}
body.page-comment  .pagetpl  #tabs-wrapper h1 {
  margin-bottom: 30px;
  margin-top: 5px;
}
body.page-comment  .pagetpl em {
	color: #666666;
	font-size: 16px;
	font-style: normal;
	padding-left: 10px;
}
body.page-comment  .pagetpl ul.primary {
  border-bottom: 2px solid #deb4a5;
  border-collapse: collapse;
  height: auto;
  line-height: 43px;
  list-style: none outside none;
  margin: 0 5px;
  padding: 0em !important;
  white-space: nowrap;
  background-color:#ffffff;
}
body.page-comment  .pagetpl ul.primary li a {
  background-color: #fdeae3;
  border-color: #fdeae3;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#2a2a2a;
}
body.page-comment  .pagetpl ul.primary li a:hover {
  background-color: #f1dad2;
  border-color: #f1dad2;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#75564b;
}
body.page-comment  .pagetpl li a.active {
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0;
  padding: 1em 3em;
  text-decoration: none;
  color:#75564b !important;
}
body.page-comment  .pagetpl  label {
	color: #000000;
	display: inline-block;
	float: left;
	font-family: 'domineregular';
	font-size: 15px;
	font-weight: normal;
	width: 15%;
}
/* body.page-comment  .pagetpl  #comment-form .form-type-item label {
  color: #2A2A2A;
  float: left;
  font-family: 'domineregular';
  font-size: 15px;
  width: 20%;
} 

body.page-comment  .pagetpl  #comment-form .form-item-subject label {
  color: #2A2A2A;
  float: left;
  font-family: 'domineregular';
  font-size: 15px;
  width: 20%;
} */
body.page-comment  .pagetpl  #comment-form {
	background-color: #FDEAE3;
	margin: 0px auto 5px;
	padding: 25px 0px;
	width: 99%;
}

body.page-comment  .pagetpl .ideal-comment-preview-area {
display: none;
}

body.page-comment  .pagetpl  .form-textarea-wrapper textarea {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	color: #2A2A2A;
	display: block;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 15px;
	width: 60%;
}
body.page-comment  .pagetpl   .resizable-textarea .grippie {
  display: none;
}
body.page-comment  .pagetpl   .form-item.form-type-select.form-item-field-clinic-loc-rating-und-0-rating {
  display: inline-block !important;
  width: 60% !important;
}
body.page-comment  .pagetpl [class*="-share"] {
	cursor: pointer;
	line-height: 15px;
	margin: 0px !important;
	padding-left:12px !important;
}
body.page-comment  .pagetpl #edit-actions input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C2C0C0;
	color: #2A2A2A;
	cursor: pointer;
	font-family: 'domineregular';
	margin: 20px 25px 10px;
	padding: 5px 50px;
}
body.page-comment  .pagetpl .Indewallform .form-item, .form-actions {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}
body.page-comment  .pagetpl  .marker, .form-required {
  color: #ec5b9a;
}
body.page-comment  .pagetpl  .form-item.form-type-checkbox.form-item-field-share-on-fb-und-1 {
  width: 80% !important;
  padding-left:0px !important;
}
body.page-comment  .pagetpl  #comment-form .form-item-subject input {
	border: 1px solid #FFFFFF;
	color: #2A2A2A;
	float: left;
	font-family: 'domineregular';
	font-weight: normal;
	padding: 5px;
	width: 60%;
}
body.page-comment  .pagetpl  #comment-form .field-name-comment-body label {
  color: #000000;
  font-family: 'domineregular';
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 15px;
}
body.page-comment  .pagetpl #comment-form .form-type-item a.username {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}
body.page-comment  .pagetpl #comment-form select {
	-moz-appearance: none !important;
	border: 1px solid #FFFFFF;
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	width: 60%;
}
body.page-comment  .pagetpl #comment-form .option {
  color: #2A2A2A !important;
  font-size: 15px !important;
}
body.page-comment  .pagetpl #comment-form .form-item {
  display: inline-block;
  margin: 6px 0;
  width: 100%;
  padding: 0 25px;
}
body.page-comment  .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
	width:30% !important; 
	padding-left:0px !important;
    float: none;
}
body.page-comment  .pagetpl .profile-container {
  margin: 0 auto;
  min-height: 600px;
  padding-bottom: 30px;
  width: 980px;
}
body.page-comment  .pagetpl  #edit-actions input:hover {
  background: none repeat scroll 0 0 #000000;
  color: #fff;
  font-family:'domineregular';
}
body.page-user .pagetpl .Indewallform .form-item, .form-actions {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center !important;
}
body.page-user .section-queen-profile .section-queen {
  background-color: #F3E8E4;
  background-image:none;
}
body.page-user  .user-profile-edit {
    background-color: #f3e8e4;
    float: left;
    margin-top: 20px;
    padding: 45px;
    width: 100%;
	padding: 0 45px;
}
body.page-user   .cke_top {
  background-color: #FCE1D7;
  border-bottom: 0 solid #B6B6B6;
  box-shadow: none;
  padding: 6px 8px 2px;
  white-space: normal;
}
body.page-user    .imagefield-crop-widget.form-managed-file.clearfix {
	display: inline-block;
	text-align: center;
	width: 59.8%;
}
body.page-user  .form-type-managed-file label {
  margin-bottom: 5px;
  width: 20% !important;
}
body.page-user-edit label {
    font-weight: normal;
    font-family: 'domineregular';
}

body.page-user-edit input#edit-pass-pass1 {
    border: 1px solid #ffffff;
    padding:5px;
     width:20% !important;
}
body.page-user-edit input#edit-pass-pass2 {
    border: 1px solid #ffffff;
    padding:5px;
     width:20% !important;
}
body.page-user-edit input#edit-current-pass {
    border: 1px solid #ffffff;
    padding:5px;
    width:20% !important;
}
body.page-user-edit input#edit-mail {
    border: 1px solid #ffffff;
    padding:5px;
}
body.page-user-edit div.description {
    display: none;
}
body.page-user-edit #edit-account .form-type-password-confirm .password-confirm {
	display:inline-block;
    font-size: 12px;
    line-height: 0px;
    margin-top: 0;
	float:left;
}
body.page-user-edit #edit-account .form-type-password.form-item-pass-pass2 .password-confirm {
	float: right;
    width: 20%;
    overflow: visible;
    padding-top: 10px;
    padding-left:10px;
}
body.page-user-edit #edit-account .form-type-password.form-item-pass-pass2 #edit-pass-pass2.password-confirm {
	float : left;
}
body.page-user-edit input.password-confirm, input.password-field {
  margin-bottom: 0.8em;
  width: 16em;
}
body.page-user-edit  .imagefield-crop-preview {
  border: 5px solid #ffffff;
  float: left;
  margin-bottom: 10px;
  text-align: center !important;

}
body.page-user-edit   .imagefield-crop-cropbox {
  float: left;
  width: 100%;
}
body.page-user-edit   .file {
	background-color: #FFFFFF;
	margin-left: 20%;
	padding: 9px 20px;
}
body.page-user-edit select {
	border: 1px solid #FFFFFF;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 5px;
	width: 60%;
}
body.page-user-edit .file > a {
  color: #aaa;
  font-family: 'domineregular';
  font-size: 14px;
  color: #000000;
}
body.page-user-edit input[type="submit"], body.page-user-mailchimp input[type="submit"] {
  background-color: #ffffff;
  border: 0 none;
  border-radius: 0 !important;
  color: #2a2a2a;
  cursor: pointer;
  font-family: 'domineregular';
  font-size: 14px;
  margin-left: 0;
  padding: 5px 10px;
}
body.page-user-edit input[type="submit"]:hover,
body.page-user-mailchimp  input[type="submit"]:hover {
	background-color: #000000;
	border: 0 none;
	border-radius: 0 !important;
	margin-left: 0;
	padding: 5px 10px;
	color:#ffffff;
	font-family:'domineregular';
	font-size:14px;
}
body.page-user-edit .form-managed-file .form-file, .form-managed-file .form-submit {
  margin: 0;
}
.form-managed-file .form-file, .form-managed-file .form-submit {
  margin-bottom: 0;
  margin-right: 5px !important;
  margin-top: 0;
}
body.page-user .profile-container .mailchimp-lists-user-subscribe-form> div {
  background-color: #BEE6D6;
  border: 2px solid #FFFFFF;
  text-align:center;
  width:100%;
  padding:20px;
}
body.page-user .profile-container .statisk-container .mailchimp-lists-user-subscribe-form> div {
  background-color: #fee0d5;
  border: 1px solid #FFFFFF;
  text-align:center;
  width:100%;
  padding:20px;
}

body.page-user .profile-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	background-color: #C4EDDD;
	border: 1px solid #B7E1D0;
	border-radius: 7px;
	font-size: 12px;
	height: 80px;
	margin: 0 auto !important;
	padding: 20px;
	width: 60%;
}
body.page-user-edit .user-content-bg ul.primary {
  border-bottom: 1px solid #fee0d5;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
body.page-user .profile-container .statisk-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
  background-color: #f8d4c6;
  border: 1px solid #f8d4c6;
  border-radius: 7px;
  font-size: 12px;
  height: 80px;
  margin: 0 auto !important;
  padding: 20px;
  width: 60%;
}
body.page-user-edit .user-content-bg  .imagefield-crop-preview {
  float: left;
  margin-bottom: 10px;
  text-align: center !important;
}
body.page-user-edit .user-content-bg   .form-wrapper {
  background-color: #fee7df;
  padding:10px;
}
body.page-user-edit .user-content-bg form{
  background-color: #FEE0D5;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 25px 25px 70px !important;
}
body.page-user-edit .user-content-bg .form-actions.form-wrapper {
  float: left;
  left: 0 !important;
  margin: 0 !important;
  text-align: left !important;
  width: 100%;
}
body.page-user-edit .user-content-bg .content #user-profile-form #edit-field-receive-newsletter {
  display: none;
}
body.page-node-add-enterprise-blog  .statisk-container form .form-managed-file .form-file, .form-managed-file .form-submit {
  margin-bottom: 0;
  margin-right: 5px !important;
  margin-top: 0;
  border: 1px solid #E8E8E8;
}
body.page-node-add-enterprise-blog  .statisk-container form .form-submit.ajax-processed{
	background-color: #BBE1D2;
	border: 1px solid #6aae93;
	padding: 2px 25px;
}
body.page-node-add-enterprise-blog  .statisk-container form .form-item.form-type-managed-file.form-item-field-image-und-0 {
  border-bottom: 1px dashed #E8E8E8;
}

body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .form-item{
	margin:0px;
}
body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .form-item{
	margin-bottom:10px;
}
body.page-user-register .register-inner .statisk-container #edit-account input.password-field{
	margin-bottom:0px;
}
body.page-user-register .register-inner .statisk-container #edit-account input.password-confirm {
	margin-bottom:0px;
	width:60%;
}
body.page-user-register .register-inner .statisk-container #edit-account input#edit-mail{
	margin-bottom:0px;
}
body.page-user-register .register-inner .statisk-container #edit-account input{
	width:60%;
}
body.page-user-register .register-inner .profile {
  background: none repeat scroll 0 0 #FFE0D5;
  min-height: 449px !important;
}
body.page-user-register .register-inner .profile-container{
	padding:20px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.statisk-container #edit-account .form-item label {
		float: left;
		font-size: 13px;
		width: 100%;
	}
	body.page-user-edit #user-profile-form input.form-text {
	  background-color: #FFFFFF;
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-weight: normal;
	  text-transform: capitalize;
	  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	  width: 100% !important;
	}
	
	body.page-user-edit #user-profile-form .link-field-subrow .form-text{
		width: 100% !important;
	}
	body.page-user-edit #user-profile-form label {
		font-family: 'domineregular';
		font-weight: normal;
		margin-bottom: 10px;
		width: 100% !important;
	}
	.statisk-container #edit-field-enterprise-blog-picture-und-0-ajax-wrapper .imagefield-crop-widget {
	  margin: 0px;
	}
	#user-profile-form #edit-field-user-sex-und {
	  width: 100%;
	}
	body.page-user-edit input[type="submit"] {
	  background-color: #FFFFFF;
	  border: 0 none;
	  border-radius: 0 !important;
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-size: 14px;
	  margin-left: 0;
	  margin-top: 20px;
	  padding: 10px 20px;
	}
	body.page-user-edit .file {
	  background-color: #FFFFFF;
	  float: right;
	  margin-left: 20%;
	  padding: 9px 20px;
	  width: 100% !important;
	}
	body.page-user-edit .user-content-bg form {
	  background-color: #FEE0D5;
	  margin-bottom: 10px;
	  margin-top: 0;
	  padding: 25px 25px 95px !important;
	}
	.page-user-edit .form-item label {
	  float: left;
	  font-size: 13px;
	  width: 100%;
	}
	body.page-user .profile-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	  background-color: #C4EDDD;
	  border: 1px solid #B7E1D0;
	  border-radius: 7px;
	  font-size: 12px;
	  height: 80px;
	  margin: 0 auto !important;
	  padding: 20px;
	  width: 100%;
	}
	body.page-user .profile-container .statisk-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	  background-color: #F8D4C6;
	  border: 1px solid #F8D4C6;
	  border-radius: 7px;
	  font-size: 12px;
	  height: 80px;
	  margin: 0 auto !important;
	  padding: 20px;
	  width: 100%;
	}
	body.page-comment .pagetpl .profile-container {
	  margin: 0 auto;
	  min-height: 600px;
	  padding-bottom: 30px;
	  width:100%;
	}
	.pagetpl .statisk-container {
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	  border: 1px solid rgba(0, 0, 0, 0);
	  font-family: domineregular;
	  font-size: 13px;
	  margin-top: 0px;
	  padding: 0 0px 0px;
	}
	.statisk-container .content {
	  padding: 0 3px;
	}
	body.page-comment .pagetpl #comment-form .form-type-item label {
	  color: #2A2A2A;
	  float: left;
	  font-family: 'domineregular';
	  font-size: 15px;
	  width: 40%;
	}
	body.page-comment .pagetpl #comment-form .form-item-subject label {
	  color: #2A2A2A;
	  float: left;
	  font-family: 'domineregular';
	  font-size: 15px;
	  width: 40%;
	}
	body.page-comment .pagetpl label {
	  color: #000000;
	  display: inline-block;
	  float: left;
	  font-family: 'domineregular';
	  font-size: 15px;
	  font-weight: normal;
	  width: 40%;
	}
	body.page-comment .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
	  float: right;
	  margin-top: 0;
	  padding: 0 !important;
	  width: 55% !important;
	}
	body.page-comment .pagetpl #comment-form .form-item .form-item-field-share-on-fb-und-1 label {
	  float: left;
	  font-size: 13px !important;
	  margin-top: 10px;
	  padding: 0 !important;
	  width: 61% !important;
	}
	input.form-checkbox, input.form-radio {
	  margin-top: 12px;
	  vertical-align: middle;
	}
	.page-user-edit .profile-container ul.primary li {
	  background: none repeat scroll 0 0 #8CB8A6;
	  border-left: 0 solid #8CB8A6;
	  border-right: 0 solid #8CB8A6;
	  border-top: 0 solid #8CB8A6;
	  display: block;
	  float: left;
	  padding: 10px 30px;
	}
	body.page-user-edit .file > a {
	  color: #000000;
	  font-family: 'domineregular';
	  font-size: 10px;
	}
	body.page-user-edit form {
	  margin-bottom: 43px;
	  margin-top: 0;
	  padding: 25px !important;
	}
	body.page-node-add-trends .statisk-container > div {
	  padding: 0px;
	}
	body.page-node-add-trends .form-text {
	  width: 100%;
	}
	body.page-node-add-trends .statisk-container form select {
		width: 100%;
	}
	body.page-node-add-trends .statisk-container .filter-wrapper .form-item {
		padding: 20px;
		float:none;
	}
	body.page-node-add-trends .statisk-container .form-type-managed-file label {
	  margin-bottom: 5px;
	  width: 100% !important;
	}
	body.page-node-add-trends  .statisk-container form .form-managed-file .form-file, .form-managed-file .form-submit {
	  margin-top: 10px;
	}
	body.page-node-add-trends div.image-widget-data {
	  float: left;
	  width: 80% !important;
	}
	body.page-node-add-trends .statisk-container #edit-field-blog-gallery-und-ajax-wrapper fieldset {
	  border: 1px solid #E8E8E8;
	  padding: 0;
	  width: 60%;
	}
	body.page-node-add-trends .statisk-container .form-type-managed-file label {
	  margin-bottom: 5px;
	  margin-left: 20px;
	  width: 60% !important;
	}
	body.page-node-add-enterprise-blog .statisk-container > div {
	  padding: 0px;
	}
	body.page-node-add-enterprise-blog .form-text {
	  width: 100%;
	}
	body.page-node-add-enterprise-blog .statisk-container form select {
		width: 100%;
	}
	body.page-node-add-enterprise-blog .statisk-container .filter-wrapper .form-item {
		padding: 20px;
		float:none;
	}
	body.page-node-add-enterprise-blog .statisk-container .form-type-managed-file label {
	  margin-bottom: 5px;
	  width: 100% !important;
	}
	body.page-node-add-enterprise-blog  .statisk-container form .form-managed-file .form-file, .form-managed-file .form-submit {
	  margin-top: 10px;
	}
	body.page-node-add-enterprise-blog div.image-widget-data {
	  float: left;
	  width: 80% !important;
	}
	body.page-node-add-enterprise-blog .statisk-container #edit-field-blog-gallery-und-ajax-wrapper fieldset {
	  border: 1px solid #E8E8E8;
	  padding: 0;
	  width: 60%;
	}
	body.page-node-add-enterprise-blog .statisk-container .form-type-managed-file label {
	  margin-bottom: 5px;
	  margin-left: 20px;
	  width: 60% !important;
	}
	body.page-node-add-enterprise-blog .statisk-container form .form-managed-file .form-file, .form-managed-file .form-submit {
	  font-size: 9px;
	  margin: 0;
	}
	body.page-node-add-enterprise-blog .statisk-container #edit-field-blog-gallery-und-ajax-wrapper fieldset {
	  border: 1px solid #E8E8E8;
	  padding: 0 20px 0 30px;
	  width: 60%;
	}
		body.page-node-add-trends .statisk-container form .form-managed-file .form-file, .form-managed-file .form-submit {
	  font-size: 9px;
	  margin: 0;
	}
	body.page-node-add-trends .statisk-container #edit-field-blog-gallery-und-ajax-wrapper fieldset {
	  border: 1px solid #E8E8E8;
	  padding: 0 20px 0 30px;
	  width: 60%;
	}
}
/*.register-inner .profile-container {
  background-color: #fee0d5;
  margin-top: 20px;
  padding: 20px;
}*/
.register-inner .form-checkbox input {
  border: 1px solid #bbbbbb;
  display: inline-block;
  float: left;
  font-family: dominebold;
  padding: 6px;
  width: 5%;
}
.register-inner .news-info, #edit-mailchimp-lists-mailchimp-drupal-mailchimp-title--2 .description, .form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe .description {
  color: black;
/*
  float: left;
*/
  font-family: 'domineregular';
  font-size: 13px;
}
body.page-user .register-inner .profile-container .statisk-container .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
  background-color: #FEE0D5;
  border: 1px solid #FEE0D5;
  border-radius: 0;
  font-size: 12px;
  height: 65px;
  margin: 0 auto !important;
  padding: 20px;
  width: 60%;
}

body.page-user .register-inner .profile-container .anonymous-content .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
	background-color: #fff;
    border: medium none;
    padding: 0;
}


/*.user-left {
  float: left;
  width: 482px !important;
}
#edit-field-enterprise-blog-firstname--2 > div {
  width: 480px;
}
#modal-content .user-left .field-name-field-enterprise-blog-lastname {
  float: right;
  margin-top: 10px;
  width: 157px;
}
.fieldset#edit-mailchimp-lists--2 {
	width: 323px;
margin: 0 auto;
}*/
.register-inner .fb_login a {
  background-image: url("../images/facebook-bg.png");
  background-repeat: no-repeat;
  color: #2a2a2a;
  display: block;
  font-family: 'domineregular';
  font-size: 14px !important;
  height: 31px;
  padding: 8px 20px 9px 50px;
  text-decoration: none;
  text-transform: uppercase;
}
.register-inner .fb-det,
.anonymous-content .fb-det {
  clear: both;
  color: #2A2A2A;
  /*display: inherit;*/
  font-size: 14px;
  margin-top: 10px !important;
  padding-top: 10px;
}
body.page-user .register-inner form#user-register-form .user-left{
	padding-top:40px;
}
.register-inner .fb-or-login{
	font-size:18px;
}
/*.register-inner .text-full.form-text.required {
  width: 60% !important;
}
.register-inner .form-text.required {
  width: 60% !important;
}*/
.register-inner fieldset#edit-mailchimp-lists{
  width: 60%;
}
.register-inner .form-item.form-type-checkbox.form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
  width: 100% !important;
}
.register-inner .form-checkbox {
  float: left !important;
  width: 5% !important;
}
.register-inner .description {
  float: left !important;
  width: 90% !important;
}
.register-inner .statisk-container #edit-account .form-item input {
  float: none;
  width: 60%;
}
.register-inner select {
  float: left;
  margin-top: 3px;
  width: 30%;
}
.register-inner .form-item.form-type-select.form-item-field-user-sex-und > label {
  float: left;
  width: 10%;
}
.register-inner #edit-field-receive-newsletter .form-item-field-receive-newsletter-und-1 label{
  display: block !important;
}
.register-inner .form-item-field-receive-newsletter-und-1 label {
  float: left !important;
  font-size: 13px;
  margin-top: 3px;
}
.register-inner .form-item-field-receive-newsletter-und-1 .form-checkbox {
  float: left !important;
  width: 3% !important;
}
.register-inner .form-actions.form-wrapper {
  float: left;
  margin: 10px 0 !important;
  text-align: left !important;
}
.register-inner  form.forget-data {
  float: left;
  font-size: 12px;
  width: 90%;
}
#user-register-form a:last-child {
  float: left;
  font-size: 12px;
  width: 100%;
}
.register-inner  form .forget-data {
  float: left;
  font-size: 13px !important;
  width: 100%;
}
.register-inner  form fieldset {
	border:1px solid #bbbbbb;
}
#ajax-register-user-pass-wrapper > form {
  /*background-color: #fee0d5;
  margin-top: 20px;
  padding: 20px;*/
}

.anonymous-content .form-item, .anonymous-content .form-actions {
  text-align: left !important;
}

.anonymous-content .form-item-mailchimp-lists-mailchimp-drupal-mailchimp-subscribe {
  background-color: none;
  border: 1px solid #BBBBBB;
}

.page-user-login .login-inner #main-content.anonymous-content {
  background: none repeat scroll 0 0 #FFF;
}

.page-user-login .login-inner #main-content.anonymous-content .form-item input {
  border: 1px solid #BBBBBB;
}

.anonymous-content #edit-mailchimp-lists {
    margin-bottom: 0;
    margin-top: 25px;
}
.anonymous-content #user-register-form a:last-child {
    float: left;
    font-size: 16px;
    width: 100%;
}
.anonymous-content #user-login #edit-actions #edit-submit{
    margin-bottom:15px;
}
body.page-user-login .anonymous-content #user-login #edit-actions #edit-submit{
    margin-top:15px;
}
.safari .blogpost-Commentpost .comment-likes {
	float:none;
	text-align:left;
}

@media (min-width: 320px) and (max-width:768px)  {
	
	body.page-user-edit #user-profile-form .link-field-subrow .form-text {
		width: 80% !important;
	}
	
	.link-field-subrow.clearfix {
		width: 75% !important;
	}
}
@media (min-width: 768px) and (max-width:980px) {
	.link-field-subrow.clearfix {
		width: 75% !important;
	}
}
