.front .lastmt-item h1 {
    margin-top: 25px;
}
.front .banner h2{
    padding-right: 10px;  
    padding-left: 10px;
}

.lastminute-selectbox .last-min-date button.ui-datepicker-trigger{
    text-align: left!important;
    width:20% !important;
    float: none !important;
}

.lastminute-time .time-section ul li {
   margin-bottom: 5px;  
}
