@font-face {
    font-family: 'domineregular';
    src: url('../fonts/domine-regular-webfont.eot');
    src: url('../fonts/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/domine-regular-webfont.woff') format('woff'),
         url('../fonts/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
@media (min-width: 320px) and (max-width: 480px) {
    body {
        margin: 0 auto;
        font-family: 'domineregular';
    }
    .lastminute-container {
        background-image: url('../images/lastminute-bg.png');
        background-color:#bbe1d2;
        background-repeat:no-repeat;
        background-position:center bottom;
        float: left;
        width: 100%;
        clear: both;
    }
    .lastminute-header {
        background: #bcdfd1;
        color: #2a2a2a;
        font-size: 30px;
        padding: 20px 0px;
        text-align: center;
        display: block;
        float: left;
        width: 100%;
    }
    .lastminute-header h1 {
        color: #2a2a2a;
        font-size: 30px;
        margin: 0;
        font-family: 'theano_didotregular';
        text-transform:uppercase;
    }
    .lastminute-header h5 {
        display: none;
    }
    .lastminute-content {
        width:100%;
        margin: 0px auto; 
    }
    .lastminut-form {
        background-color: #FEE0D5;
        float: left;
        margin-bottom: 0px;
        padding: 0px;
        width: 100%;
    }
    .lastminute-selectbox h4 {
        font-size:13px;
        font-family:"domine";
        color:#2a2a2a;
        margin:10px 0px;
        padding:0px;
    }
    .lastminute-selectbox  {
        float:left;
        display:block;
        padding:1%;
    }
    .lastminute-selectbox  input[type="text"]{
        background: none repeat scroll 0 0 #FFFFFF;
		border: medium none;
		color: #2A2A2A;
		font-family: 'domineregular';
		font-size: 12px;
		padding: 12px;
    }
    .lastminut-block {
        width:100%;
        margin-bottom:0px;
        background-color:#ffffff;
        float:left;
    }
    .lastminute-container .lastmint-product .m-date P {
      font-size: 12px;
      line-height: 20px;
    }
    .lastminute-container .lastmint-product .m-readmore > p {
      text-align: center;
    }
     .lastmint-product .m-readmore a {
        background-color: #fae2d9;
        line-height: 75px;
        padding: 10px 16px;
        color: #2a2a2a;
        text-decoration: none;
        font-family: 'domineregular';
        font-weight: normal;
         border-radius: 10px;
    }
   .lastmint-product h3 {
      float: left;
      margin: 5px 0;
      width: 100%;
      font-size: 15px;
     font-family: 'domineregular';
	 font-weight:bold;
    }
	.selectric .label {
	  background: none repeat scroll 0 0 #FFFFFF;
	  color: #2a2a2a;
	  display: block;
	  font-family: 'domineregular';
	  font-size: 12px;
	  line-height: 18px;
	  margin: 0 30px 0 0;
	  min-height: 18px;
	  overflow: hidden;
	  padding: 6px;
	  text-indent: 6px;
	  text-transform: capitalize;
	  white-space: nowrap;
	  width: 100%;
	}
    .lastmint-item {
        width:100%;
        float:left;
        display:block;
        border-bottom: 1px solid #585858;
        padding-bottom: 25px;
    }
    .lastmint-item h2 {
        float: left;
        width: 100%;
        display: block;
        margin: 10px 0px 0px;
        font-size: 20px;
    }
    .lastmint-product {
        padding:20px;
        background-color:#fff;
    }
    .lastminut-block h6 {
        padding:0px;
        margin-top:10px;
        margin-bottom:5px;
        color:#787878;
        font-size:12px;
    }
    .lastmint-product .m-title {
        padding: 0px;
        margin: 10px 0px;
        color: #000000;
        font-size: 20px;
    }
   .lastmint-product .m-subtitle {
      display: block;
      float: left;
      width: 50%;
    }
    .lastmint-product .m-date {
      display: block;
      float: right;
      width: 50%;
      text-align: right;
      margin-top: 10px;
    }
    .lastmint-product .m-date P {
        margin: 0 px;
        padding: 0 px;
        line-height: 10px;
        font-size: 13px;
        
    }
    .lastminute-container .lastmint-product .m-subtitle > p {
      font-size: 12px;
      line-height: 16px;
      margin: 5px 0 0;
    }
    .lastmint-product span.timer {
        background-color: #BAE0D1;
        display: block;
        float: left;
         margin: 10px 5px 0px;
        padding: 6px 15px;
     }
    .lastmint-product span.timer:first-child {
            margin-right: 0px
    }
    .lastminut-block p {
        padding:0px;
        margin:0px;
        color:#000000;
        font-size:12px;
        margin-top:10px;
        line-height:18px;
        font-family:"domine";
    }
    .lasatmint-rating {
        margin-top:10px;
    }
    .lastmint-details {
        padding:10px;
        background-color:#fff;
    }
    .lastmint-price {
        background-color:#f6f5f5;
        padding:20px;
    }
    .btn-book {
        background-color:#ffffff;
        border:1px solid #000000;
        text-transform:uppercase;
        padding:8px 20px;
        margin:10px 0px;
        cursor:pointer;
    }
    .btn-book:hover {
        background-color:#000000;
        border:1px solid #000000;
        text-transform:uppercase;
        padding:8px 20px;
        margin:10px 0px;
        cursor:pointer;
        color:#ffffff;
    }
    .lastmint-price h1 {
        margin:5px 0px;
        font-size:25px;
    }
    .lastmint-price hr {
        border-top:1px solid #cdcccc;
        border-bottom:none;
    }
    .price-inf0 {
        width: 100%;
        float: left;
        display: block;
        border-bottom: 1px solid #d4d4d4;
    }
    .m-price li{
        border-right: 1px solid #AAAAAA;
        display: block;
        float: left;
        font-size: 14px;
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 33%;
    }
     .m-price li:last-child {
         text-align: right;
    }
    .m-price li:first-child {
       text-align: left;
    }
    .m-price li:last-child {
      border-right: 0 solid #AAAAAA;
    }
    .m-price {
        display: block;
        float: left;
        margin: 0 0 15px;
        padding: 0;
        width: 100%;
    }
    .price-inf0 .inf0 {
        font-size: 15.3px;
        width: 26%;
        float: left;
        display: block;
        text-align: center;
    }
    .price-inf0 .inf0:nth-child(2) {
        padding-left:17px;
        padding-right:10px;
    }
    .price-inf0 .inf0:nth-child(3) {
        padding-left: 32px;
    }
    .page-last-minute .lastminute-time .btn-book {
      display: none;
      margin: 0 0 0 5px;
      padding: 6px 10px;
    }
    .page-last-minute .lastminute-time .time-label {
      display: none;
    }
    .page-last-minute .lastminute-selectbox.day {
      width: 75%;
      margin: 0;
    }
    .page-last-minute .lastminute-selectbox.day {
      margin: 0 25px;
      width: 16%;
    }
    .page-last-minute .lastminute-selectbox.day {
      float: right;
      width: 75%;
    }
     .page-last-minute .lastminute-selectbox.day {
      margin: 0px;
      width: 16%;
    }
    .page-last-minute .lastminute-selectbox.day {
        border-bottom: 2px dotted #FFFFFF;
        float: right;
        padding-bottom: 10px;
        padding-top: 20px;
        width: 100%;
    }
    .page-last-minute .lastminute-selectbox h4 {
        display: block;
        float: left;
        text-align: left;
        width: 40%;
        font-size: 22px; 
    }
    .page-last-minute .last-min-date {
      display: block;
      float: right;
      width: 60%;
      background-color: #FFFFFF;
    }
    .page-last-minute .last-min-date #datepicker {
      display: block;
      float: left;
      width: 0;
    }
    .page-last-minute .last-min-date #datepicker {
        display: block;
        float: left;
        font-size: 12px;
        padding: 10px;
        width: 75% !important;
        font-family: 'domineregular';
		color:#2a2a2a;
    }
    .lastminute-selectbox .last-min-date button.ui-datepicker-trigger {
        float: right;
        height: 38px;
        margin: 0;
        text-align: center !important;
       
    }
    .lastminute-selectbox .last-min-date .ui-datepicker-trigger {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #F4F4F4;
      border-color: #000000 -moz-use-text-color -moz-use-text-color;
      border-image: none;
      border-right: medium none;
      border-style: solid none none;
      border-width: 3px medium medium;
    }
    .lastminute-container .ui-datepicker-trigger {
      font-family: 'domineregular';
      font-size: 12px !important;
    }
    .lastminute-container .lastminute-content .lastminute-selectbox {
        margin: 0px;
    }
    .lastminute-container .lastminute-content .lastminute-selectbox {
		border-bottom: 2px dotted #FFFFFF;
		float: left;
		margin: 5px 0;
		width: 100% !important;
    }
    .page-last-minute .lastminute-selectbox .selectricWrapper {
      display: block;
      float: left;
      margin: 0 auto;
      position: relative;
      width: 60%;
    }
    .page-last-minute .lastminute-selectbox.location input {
       margin: 0px;
       width: 60%;
    }
    .page-last-minute .lastminute-selectbox h4 {
        display: block;
        float: left;
        font-size: 12px;
        margin-bottom: 25px !important;
        text-align: left;
        width: 40%;
    }
    .lastminut-form > h2 {
      display: none;
    }
    .selectricItems {
      background: none repeat scroll 0 0 #FFFFFF;
      box-shadow: 0 0 10px -6px;
      display: none;
      left: 0px;
      overflow: auto;
      position: absolute;
      top: 100%;
      z-index: 9998;
    }
    .page-last-minute .lastminute-container .lastminute-content .lastminut-form .check-label {
        margin-bottom: 10px;
        padding: 15px 26px;
    }
    
    .time-section ul li:first-child {
      float: left;
      list-style-type: none;
      margin-left: 10px;
    }
    .time-section ul li:first-child {
        margin-left: 0px;
    }
    .time-section ul li:nth-child(4n){
        margin-left: 0px;
    }
    

	.m-kr {
	  float: right;
	}
	.gecko11 .page-last-minute .lastminute-selectbox.day{
		width: 100%;
	}
	.time-section ul li:nth-child(4n) label{
		padding:15px 24px !important;
	}
	.time-section ul li:nth-child(5n) label{
		padding:15px 21px !important;
	}
	.lastminute-selectbox input[type="text"] {
		padding:14px !important;
	}
	.lastminute-selectbox .last-min-date button.ui-datepicker-trigger{
		height:46px;
	}
}
@media (min-width: 321px) and (max-width: 465px) {
.page-last-minute .lastminute-container .lastminute-content .lastminut-form .check-label {
	margin-bottom: 10px;
	padding: 15px 25px;
	}
	.time-section ul li:nth-child(4n) label{
		padding:15px 24px !important;
	}
	.time-section ul li:nth-child(5n) label{
		padding:15px 19px !important;
	}
}
@media (min-width: 481px) and (max-width: 599px) {
    body {
        margin: 0 auto;
        font-family: 'domineregular';
    }
    .lastminute-container {
        background-image: url('../images/lastminute-bg.png');
        background-color:#bbe1d2;
        background-repeat:no-repeat;
        background-position:center bottom;
        float: left;
        width: 100%;
        clear: both;
    }
    .lastminute-header {
        background: #bcdfd1;
        color: #2a2a2a;
        font-size: 30px;
        padding: 20px 0px;
        text-align: center;
        display: block;
        float: left;
        width: 100%;
    }
    .lastminute-header h1 {
        color: #2a2a2a;
        font-size: 40px;
        margin: 0;
        font-family: 'theano_didotregular';
        text-transform:uppercase;
    }
    .lastminute-header h5 {
         display: none;
    }
    .lastminute-content {
        width:100%;
        margin:10px auto; 
    }
    .lastminut-form {
        background-color: #FEE0D5;
        float: left;
        margin-bottom: 0px;
        padding: 0px;
        width: 100%;
    }
    .lastminute-selectbox h4 {
        font-size:13px;
        font-family:"domine";
        color:#2a2a2a;
        margin:10px 0px;
        padding:0px;
    }
    .lastminute-selectbox  {
        float:left;
        display:block;
        padding:1%;
    }
    .lastminute-selectbox  input[type="text"]{
       background: none repeat scroll 0 0 #FFFFFF;
		border: medium none;
		color: #2A2A2A;
		font-family: 'domineregular';
		font-size: 19px;
		padding: 20px;
    }

    .lastminut-block {
        width:100%;
        margin-bottom:0px;
        background-color:#ffffff;
        float:left;
    }
    .lastmint-product .m-date P {
      font-size: 15px;
      line-height: 10px;
    }
    .lastmint-product .m-readmore > p {
      text-align: center;
    }
     .lastmint-product .m-readmore a {
        background-color: #FAE2D9;
        border-radius: 10px;
        color: #2A2A2A;
        font-family: 'domineregular';
        font-size: 24px;
        font-weight: normal;
        line-height: 80px;
        padding: 10px 16px;
        text-decoration: none;
    }
   .lastmint-product h3 {
        float: left;
        font-family: 'dominebold';
        font-size: 25px;
        margin: 10px 0;
        width: 100%;
    }
    .lastmint-item {
        width:100%;
        float:left;
        display:block;
        border-bottom: 1px solid #585858;
		padding-bottom:20px;
    }
    .lastmint-item h2 {
        float: left;
        width: 100%;
        display: block;
        margin: 10px 0px 0px;
        font-size: 25px;
    }
    .lastmint-product {
        padding:20px;
        background-color:#fff;
    }
    .lastminut-block h6 {
        padding:0px;
        margin-top:10px;
        margin-bottom:5px;
        color:#787878;
        font-size:12px;
    }
    .lastmint-product .m-title {
        padding: 0px;
        margin: 10px 0px;
        color: #000000;
        font-size: 37px;
    }
   .lastmint-product .m-subtitle {
      display: block;
      float: left;
      width: 50%;
    }
    .lastmint-product .m-date {
      display: block;
      float: right;
      width: 50%;
      text-align: right;
      margin-top: 10px;
    }
    .lastmint-product .m-date P {
        font-size: 18px;
        line-height: 20px;  
    }
    .lastmint-product .m-subtitle > p {
        font-size: 17px;
        line-height: 25px;
        margin: 5px 0 0;
    }
    .lastmint-product span.timer {
        background-color: #BAE0D1;
        display: block;
        float: left;
        font-size: 18px;
        margin: 10px 10px 0px 0px;
        padding: 10px 15px;
     }
    .lastmint-product span.timer:first-child {
            margin-right: 0px
    }
    .lastminut-block p {
        padding:0px;
        margin:0px;
        color:#000000;
        font-size:12px;
        margin-top:10px;
        line-height:18px;
        font-family:"domine";
    }
    .lasatmint-rating {
        margin-top:10px;
    }
    .lastmint-details {
        padding:10px;
        background-color:#fff;
    }

    .lastmint-price {
        background-color:#f6f5f5;
        padding:20px;

    }
    .btn-book {
        background-color:#ffffff;
        border:1px solid #000000;
        text-transform:uppercase;
        padding:8px 20px;
        margin:10px 0px;
        cursor:pointer;
    }
    .btn-book:hover {
        background-color:#000000;
        border:1px solid #000000;
        text-transform:uppercase;
        padding:8px 20px;
        margin:10px 0px;
        cursor:pointer;
        color:#ffffff;
    }
    .lastmint-price h1 {
        margin:5px 0px;
        font-size:25px;
    }
    .lastmint-price hr {
        border-top:1px solid #cdcccc;
        border-bottom:none;
    }
    .price-inf0 {
        width: 100%;
        float: left;
        display: block;
        border-bottom: 1px solid #d4d4d4;
    }
    .m-price li{
        list-style-type: none;
        float: left;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        border-right: 1px solid #aaa;
        font-size: 18px;
        width:33%;
        text-align: center;
    }
    .m-price li:first-child {
         text-align: left;
    }
    .m-price li:last-child {
         text-align: right;
    }
    .m-price li:last-child {
        border-right: 0px solid #aaa;
    }
    .m-price {
        padding: 0px 0px;
        margin: 0px 0px 15px;
        float: left;
        display: block;
         width: 100%;
    }

    .price-inf0 .inf0 {
        font-size: 15.3px;
        width: 26%;
        float: left;
        display: block;
        text-align: center;
    }
    .price-inf0 .inf0:nth-child(2) {
        padding-left:17px;
        padding-right:10px;
    }
    .price-inf0 .inf0:nth-child(3) {
        padding-left: 32px;
    }
    .page-last-minute .lastminute-time .btn-book {
      display: none;
      margin: 0 0 0 5px;
      padding: 6px 10px;
    }
     .page-last-minute .lastminute-time .time-label {
      display: none;
    }
    .page-last-minute .lastminute-selectbox.day {
      width: 75%;
      margin: 0;
    }
    .page-last-minute .lastminute-selectbox.day {
      margin: 0px;
      width: 16%;
    }
    .page-last-minute .lastminute-selectbox.day {
        border-bottom: 2px dotted #FFFFFF;
        float: right;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
    }
    .page-last-minute .lastminute-selectbox h4 {
        display: block;
        float: left;
        text-align: left;
        width: 40%;
        font-size: 22px; 
    }
    .page-last-minute .last-min-date {
      display: block;
      float: right;
      width: 60%;
      background-color: #FFFFFF;
    }
    .page-last-minute .last-min-date #datepicker {
      display: block;
      float: left;
      width: 0;
    }
    .page-last-minute .last-min-date #datepicker {
     display: block;
    float: left;
    font-size: 19px;
    padding: 17px;
    width: 75% !important;
    font-family: 'domineregular';
    }
    .lastminute-selectbox .last-min-date button.ui-datepicker-trigger {
      height: 60px;
      margin: 0;
      text-align: center !important;
      width: 60px !important;
      float: right;
    }
    .lastminute-selectbox .last-min-date .ui-datepicker-trigger {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #F4F4F4;
      border-color: #000000 -moz-use-text-color -moz-use-text-color;
      border-image: none;
      border-right: medium none;
      border-style: solid none none;
      border-width: 3px medium medium;
    }
    .lastminute-container .ui-datepicker-trigger {
      font-family: 'domineregular';
      font-size: 25px !important;
    }
    .lastminute-container .lastminute-content .lastminute-selectbox {
        margin: 0px;
    }
    .selectric .button {
      background: url("../images/select-2.png") no-repeat scroll 22px 1px rgba(0, 0, 0, 0);
      display: block;
      font: 0px/0 a;
      height: 30px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 30px;
    }
    .lastminute-container .lastminute-content .lastminute-selectbox {
     border-bottom: 2px dotted #FFFFFF;
    float: left;
    margin: 5px 0;
    width: 100%;
    }
    .page-last-minute .lastminute-selectbox .selectricWrapper {
      display: block;
      float: left;
      margin: 0 auto;
      position: relative;
      width: 60%;
    }
    .page-last-minute .lastminut-form .lastminute-selectbox .selectric {
      display: block;
      float: right;
      margin: 0px;
      width: 100%;
    }
    .selectric .button {
		/* background-image: url("../images/m-drop.png");*/
		background-position: center right;
		background-repeat: no-repeat;
		width: 86px !important;
    }
    .page-last-minute .lastminute-selectbox.location input {
       margin: 0px;
       width: 60%;
    }
    .page-last-minute .lastminute-selectbox h4 {
    display: block;
    float: left;
    font-size: 22px;
    margin-bottom: 30px !important;
    text-align: left;
    width: 40%;
    }
    .lastminut-form > h2 {
      display: none;
    }
    .selectricItems {
      background: none repeat scroll 0 0 #FFFFFF;
      box-shadow: 0 0 10px -6px;
      display: none;
      left: 0px;
      overflow: auto;
      position: absolute;
      top: 100%;
      z-index: 9998;
    }
    .page-last-minute .lastminute-container .lastminute-content .lastminut-form .check-label {
     margin-bottom: 10px;
     padding: 20px 65px;
    }

    
    .time-section ul li:first-child {
      float: left;
      list-style-type: none;
      margin-left: 10px;
    }
    .time-section ul li:first-child {
        margin-left: 0px;
    }
    .time-section ul li:nth-child(4n){
        margin-left: 0px;
    }
	.lastminute-time .time-section ul li {
	  font-size: 18.2px;
	  font-family: 'domineregular';
	  color: #2A2A2A
	}
	.m-kr {
	  float: right;
	}
	.gecko11 .page-last-minute .lastminute-selectbox.day{
		width: 100%;
	}
	.time-section ul li:nth-child(4n) label{
		padding:20px 43px !important;
	}
	.time-section ul li:nth-child(5n) label{
		padding:20px 39px !important;
	}
}
@media (min-width: 411px) and (max-width: 480px) {
	.time-section ul li:nth-child(4n) {
	  margin-left: 5px;
	}
	.time-section ul li:last-child{
	  margin-left: 0px;
	}
	.gecko11 .page-last-minute .lastminute-selectbox.day{
		width: 100%;
	}
	.time-section ul li:nth-child(5n) label{
		padding:15px 22px !important;
	}
	.lastminute-selectbox input[type="text"] {
		padding: 17px !important;
	}
	.lastminute-selectbox .last-min-date button.ui-datepicker-trigger {
		height: 49px;
	}
}
@media (min-width: 481px) and (max-width: 598px) {
	.page-last-minute .lastminute-container .lastminute-content .lastminut-form .check-label {
	  margin-bottom: 10px;
	  padding: 20px 45px;
	}
	.gecko11 .page-last-minute .lastminute-selectbox.day{
		width: 100%;
	}
}
