/* In the below code style for Location Detailed page*/
.clinicprofile-rating-content p.line{
    padding: 0px;
}

.clinicprofile-topsection .clinicprofile-photo img{
    margin: 0px;
}

.openhours-content{
	font-size: 12px;
}

.view-location-comments .form-type-item{
	margin:0;
}
