@font-face {
  font-family: 'trebuc';
  src: url('../fonts/trebuc.eot');
  src: local('trebuc'), url('../fonts/trebuc.woff') format('woff'), url('../fonts/trebuc.ttf') format('truetype');
}

#menu {
    display: none;
}
.main-content-container.container .logo {
    display: none;
}
.lastmt-item .mobile-subtitle {
    display: none;
}
.page-user-login .main-content-container div.Log.Indtitle {
    display: none;
}
.page-user-login .main-content-container .logo {
    display: none;
}
.page-blog .view-clone-of-enterprise-blog,.page-blog .view-clone-of-blog-categories1 {
	display: none;
}

body.page-user-fboauth #block-system-main .content{
    background-color: #bee6d6 !important;
    border: 5px solid #ffffff;  
    padding: 25px !important;
    margin-top:20px;
}

body.page-user-fboauth #block-system-main .content .facebook-action-deauth:hover {
    background: none repeat scroll 0 0 #000000;
    color: #ffffff;
}

body.page-user-fboauth #block-system-main .content .facebook-action-deauth {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #c2c0c0;
    cursor: pointer;
    padding: 5px 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
*{
	 box-sizing:  border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body.page-user-login.mobile .anonymous-content #user-login #edit-actions #edit-submit{
	float:none;
}
.mobile-view.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions .form-submit{
	float:none;
}
body.mobile-view.page-user-mailchimp #mailchimp-newsletter-drupal_mailchimp input.form-checkbox{
    margin-top: 3px !important;
}
    
body.mobile-view.page-user-mailchimp #mailchimp-lists-user-subscribe-form input.form-submit{
    float: none !important;
    width: auto !important;
}
    
body.mobile-view.page-user-edit .link-field-subrow.clearfix{
   width: 100% !important; 
}

body.mobile-view.page-user-edit #user-profile-form .link-field-subrow .form-text{
    width: 100% !important;
}

.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--1,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--2,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--3,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--4{
	display:none;
}


body.page-user.mobile-view .file {
	 word-wrap: break-word;
	 float:left;
	 margin-left:0px !important;
}

body.page-user.mobile-view input[type="submit"]{
	padding:5px 10px;
	float:left; 
}
body.page-user.mobile-view #edit-field-user-description .form-textarea-wrapper textarea {
	float:left;
	width:100%;
}

body.page-user.mobile-view form#user-profile-form {
	margin-bottom:65px;
}

body.page-user.mobile-view .user-profile-edit {
    padding: 0px 10px !important;
}

body.page-user.mobile-view .user-profile-edit .content {
	padding: 10px !important;
}

.page-user.mobile-view .profile-container .user-profile-edit ul.primary li {
	width:100%;
    border-bottom: 1px solid #fff;
}

.mobile-view.page-user-register #user-register-form .form-actions .form-submit{
	background-color:#FB565C !important;
}

.mobile-view.page-user-register .register-inner .profile-container .anonymous-content{
	background-color:#fff !important;
}


.mobile-view.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions .form-submit{
	text-align:center !important;
	margin-top:15px !important;
	border: 1px solid #BBBBBB !important;
}


.mobile-view.page-find-klinik .findklinik-contents .findklinik-map .findklinik-item{
	width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-contents,
.mobile-view.page-find-klinik .findklinik-contents .findklinik-item
{
	width:100%;
}

.mobile-view.page-find-klinik .findklinik-map .findklinik-item{
	height: auto !important;
    width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content .findklinik-form .findklinik-selectbox{
	width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content {
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminute-header h1, .mobile-view.page-find-klinik .findklinik-container .findklinik-header h1{
	font-size:25px;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .radius{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .treatment{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .location{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-block .btype{
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminut-block .bprice {
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminut-block .lastmint-item{
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminute-container .behandling-content{
	width:100% !important;
}

.mobile-view.node-type-location .lastminut-block {
	color:#000;
}

.mobile-view.node-type-location #aboutus-location .tonotshowinfo, .mobile-view.node-type-location #aboutus-location .toshowinfo{
	text-align:left;
}

.mobile-view #aboutus-location .aboutus .down, .mobile-view #aboutus-location .aboutus .up{
	text-align:right;
}

.mobile-view #aboutus-location .aboutus .down img, .mobile-view #aboutus-location .aboutus .up img{
	height: 35px !important;
    width: 35px !important;
}

.mobile-view #aboutus-location .aboutus .down, .mobile-view #aboutus-location .aboutus .up{
	text-align:right;
}

.mobile-view #aboutus-location .aboutus .down img, .mobile-view #aboutus-location .aboutus .up img{
	height: 35px !important;
    width: 35px !important;
}

.mobile-view.node-type-location .clinicprofile-container{
	padding-bottom:0px !important
}

.mobile-view .clinicprofile-footer{
	margin:0px !important;
}

.mobile-view .clinicprofile-topsection #map{
	display: block !important;
	height: auto;
	max-height: 100%;
	width: 100%;
	border:none !important;
}

.mobile-view .clinicprofile-topsection #map img{
	display: block !important;
	max-height: 100% !important;
	width: 100%;
}

.mobile-view .clinicprofile-topsection .clinicprofile-sidebar .lastminut-block .lastmint-item.second{
	border-bottom:none !important;
}

.mobile-view .clinicprofile-login {
	border:none;
	display:block !important;
}

.mobile-view #aboutus-location{
	clear:both;
}

.mobile-view #aboutus-location .aboutus{
	color: #2A2A2A;
    font-family: 'domineregular';
    font-size: 13px;
    background-color: #FFFFFF;
    padding-top: 5px;
}

.mobile-view .aboutus h2{
	color: #000000;
    cursor: pointer;
    font-family: 'DidotRegular';
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align:center;
}

.mobile-view #aboutus-location .toshowinfo{
	display:none;
} 

.mobile-view #aboutus-location .info-details1{
	text-align:left;
}

.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category{
	text-align:left !important;
}

.mobile-view.node-type-location .clinicprofile-photo {
	display: block !important;
    height: auto;
    max-height: 100%;
    width: 100%;
}

.mobile-view.node-type-location .clinicprofile-photo img{
	display: block !important;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category h4{
	text-align:center;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed a{
	font-size:11px !important;
}

.mobile-view.page-user-login #user-login .form-actions .ajax-progress-throbber{
	display:none;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home{
	float:left !important;
}
.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed{
	float:left !important;
}

.mobile-view.page-user-register #user-register-form .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-user-password #user-pass .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-user-password #user-pass .form-actions{
	text-align:center !important;
}

.mobile-view .anonymous-content #user-pass .form-item{
	text-align:center !important;
}

.mobile-view #user-pass .form-item input{
	width:80%;
}

.mobile-view #user-pass .form-item .description{
	margin-top:8px;
}

.mobile-view #user-pass .form-actions input{
	text-align:center !important;
}

.mobile-view .profile-container .anonymous-content #main-content h1{
	color: #2A2A2A;
    display: block;
	font-family: 'DidotRegular';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mobile-view .profile-container .anonymous-content{
	background-color: #FFE0D5 !important;
	border:none;
}

.page-user-password.mobile-view  .profile{
	background-color: #FFE0D5 !important;
}

.page-user-login.mobile-view .login-inner .profile-container .statisk-container .anonymous-content{
	margin-top:0px !important;
	padding-top:0px !important;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a.forget-pass {
	color:#32538e !important;
}

.mobile-view .main-content-container div.Log.Indtitle{
	padding-bottom:0px !important;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det{
	padding-top:0px !important;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det a{
	text-transform:none;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a{
	margin: 0 auto !important;
}

.mobile-view .anonymous-content .fb-det p{
	color: #667682 !important;
    font-family: trebuchet ms !important;
	margin:0px;
	font-weight:bold;
}

#user-register-form .user-left .form-text {
	color: #667682 !important;
    font-family: trebuchet ms !important;
}

.fb-det{
	color: #667682 !important;
    font-family: trebuchet ms !important;
}


body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a{
	text-align:right !important;
}

.mobile-view .login-inner #main-content.anonymous-content{
	background:none repeat scroll 0 0 #ffe0d5 !important;
}

.mobile-view .user-content-bgs .anonymous-content{
	border:none;
}

.front .banner h2 {
    width: 98%;
}

.front .selectricWrapper{
	width:88% !important;
}

.header {
    position: static !important;
}
.top-link {
    display: none;
}
.front .banner {
    height: auto;
    width: 100%;
    z-index: 1;
}
.front .main-content-container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.front .main-content-container .lastmt-item {
    clear: both;
    height: 131px;
}
.main-content-container.container .logo {
    display: block;
}
.logo {
    float: none;
    margin: 0 auto;
    width: auto;
}
.logo > a {
    display: inline-block;
    float: left;
    width: 83%;
}
.banner-left, .banner-right {
    display: none;
}
.lastmt-item {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.front .section-02 .container-freewall {
    display: none;
}
.front .section-03 .container-freewall-01 {
    display: none;
}
.front .section-04 .container-freewall-02 {
    display: none;
}
.front .section-02 .container-freewalllast {
    display: none;
}
.front .section-06 .region-newsletter-form {
    display: none;
}
.main-content-container {
    position: relative;
    top: 0;
    z-index: 2;
}
nav.header {
    display: none;
}
ul.menu {
    margin-bottom: 0;
}
#menu {
    background: none repeat scroll 0 0 #424242;
    display: block;
    position: fixed;
    right: -80%;
    top: 0;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
         
   /* transition: all 0.15s ease 0s;
    -webkit-transition: all 0.15s ease 0s;
       -moz-transition: all 0.15s ease 0s;
        -ms-transition: all 0.15s ease 0s;
         -o-transition: all 0.15s ease 0s;*/
    
    width: 80%;
    z-index: 9999;
}
#menu.active {
    position: absolute;
    right: 0;
}
.container {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
}
.container.active {
    transform: translate(-80%, 0px);
    -webkit-transform: translate(-80%, 0px);
       -moz-transform: translate(-80%, 0px);
        -ms-transform: translate(-80%, 0px);
         -o-transform: translate(-80%, 0px);
}
.menu-link {
    background: url("../images/trigger.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #000000;
    display: block !important;
    float: right;
    height: 44px;
    position: relative;
    text-decoration: none;
    text-indent: -9999px;
    top: 10px;
    width: 10% !important;
}
.menu-link-arrow {
    background: url("../images/arrow-trigger.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #000000;
    float: left;
    height: 44px;
    position: relative;
    text-decoration: none;
    text-indent: -9999px;
    top: 10px;
    width: 6% !important;
}
.logo > a {
    display: inline-block;
    float: left;
}
#logo > img {
    height: 60px;
    text-align: center;
    width: 108px;
}
#block-menu-menu-cbit-top-menu .content {
    padding: 0;
}
.front .lastmt-item h1 {
    margin: 0 auto;
    padding: 0;
}
#menu ul.menu {
    margin-bottom: 35px;
	padding-left:0px;
}
#menu ul.menu li, #menu ul.login-menu li, #menu ul.footer-mobile li {
    border-top: 1px dashed #6E6E6E;
    color: #FFFFFF;
    list-style: none outside none;
    margin: 0 10%;
    padding: 10px 0 7px;
    width: 80%;
}
#menu ul.menu li.first.leaf {
    border-top: 0 none !important;
}
#menu ul.menu li.last.leaf {
    border-bottom: 1px dashed #6E6E6E;
}
#menu ul.login-menu li, #menu ul.footer-mobile li {
    border: 0 none !important;
    padding: 3px 0;
}
#menu ul.login-menu li.usr-login a {
    background: url("../images/logind.png") no-repeat scroll left center / 15px 15px rgba(0, 0, 0, 0);
    padding-left: 26px;
    padding-top: 5px;
}
#menu ul.login-menu li.usr-logout a {
    background: url("../images/orpetprofil.png") no-repeat scroll left center / 20px 20px rgba(0, 0, 0, 0);
    padding-left: 26px;
    padding-top: 9px;
}
#menu ul.footer-mobile li {
    padding: 5px 0;
}
#menu ul.menu li.leaf > a, #menu ul.login-menu li > a, #menu ul.footer-mobile li > a {
    color: #FFFFFF;
    font-family: LinotypeDidot;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    display:block;
}
#menu ul.login-menu li > a, #menu ul.footer-mobile li > a {
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}
#menu ul.login-menu li > a {
  font-size: 17px;
  text-transform: uppercase;
}
#menu ul.footer-mobile li > a {
    color: #959595;
    font-size: 15px;
    text-transform: uppercase;
}
#menu .login-menu-head {
    background: none repeat scroll 0 0 #3A3A3A;
    font-weight: normal;
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
}
#menu .login-menu-head h3 {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto !important;
    padding-left: 10%;
    text-transform: uppercase;
}
ul.login-menu {
    border: medium none;
    list-style: none outside none;
    margin-bottom: 40px;
    text-align: left;
	padding-left:0px;
}
ul.footer-mobile{
	padding-left:0px;
}
.lastmt-item h1 {
    display: none;
}
.lastmt-item h2 {
    display: none;
}
.lastmt-item .mobile-subtitle {
    display: block;
}
.front .banner h2 {
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 20px;
	width:98%;
}

.lastmt-item {
    height: 131px;
}
.banner {
    height: 210px;
}
.slider-background .container-freewall0 {
  margin: 0 auto;
  max-width: 100%;
  top: -3px;
}
.slider-background .container-freewall0 .title .heading {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.front .slider-background .title-name {
  color: #2A2A2A;
  font-weight: bold;
  margin: -5px auto;
  padding: 0 0 15px;
  width: 100%;
}
.front .mobile-vertical-slider .item-list {
  margin-top: 35px;
  padding-bottom: 20px;
}
.front .mobile-vertical-slider .item-list .pager li {
  margin: 0 auto;
  padding: 0.5em;
}

.front .slider-background .slider {
    display: none;
}
.mobile-vertical-slider {
    width: 100%;
    display:block !important;
}
.mobile-vertical-slider .view-category-carousel {
    width: 100%;
}
.mobile-vertical-slider .view-category-carousel .view-content {
    width: 100%;
}
.mobile-vertical-slider .view-category-carousel .view-content .bx-wrapper {
    max-width: 100% !important;
}
.page-user-login .main-content-container .logo, .page-user-register .main-content-container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.page-blog .main-content-container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.main-content-container.container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.page-blog .blog-header {
  background: none repeat scroll 0 0 #FAE2D9;
  clear: both;
  padding: 20px 0 0;
}
.page-artikler .blog-header {
  background: none repeat scroll 0 0 #FAE2D9;
  clear: both;
  padding: 20px 0 0;
}
.blog .blog-categories {
  background: none repeat scroll 0 0 #BCDFD1;
  margin: 5px 0 10px;
  width: 100%;
}
.blog .blog-categories .container-inline1 .form-item {
  margin-bottom: 0;
  margin-top: 10px;
}
.page-blog .blog .blog-categories .blog-selectbox .selectricWrapper {
  padding-bottom: 0;
  width: 60%;
}
.page-blog .blog .block.block-views .item-list {
  margin: 20px auto;
}
.page-blog .blog .blog-selectbox .selectricWrapper, .page-artikler .blog .blog-selectbox .selectricWrapper{
	padding-bottom:0px;
	width:60%;
}
.page-blog .blog .blog-selectbox, .page-artikler .blog .blog-selectbox {
  padding: 0px 15px 20px 15px;
}
.page-user-login .profile-container, .page-user-register .profile-container {
    min-height: 0;
    width: 100%;
}
.page-user-register .profile-container {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 3%;
}
.page-user-login .profile, .page-user-register .profile {
    background: none repeat scroll 0 0 #FFE0D5;
    min-height: 449px !important;
}
.page-user-login .main-content-container div.Log.Indtitle, .page-user-register .main-content-container div.Log.Indtitle {
    background-color: #FFE0D5;
    clear: both;
    display: block;
    font-size: 100%;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.page-user-register .main-content-container div.Log.Indtitle {
    padding-bottom: 25px;
    padding-top: 30px;
}
.page-user-login .main-content-container div.Log.Indtitle span, .page-user-register .main-content-container div.Log.Indtitle span {
    color: #2A2A2A;
    display: block;
    font-family: 'DidotRegular';
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#ajax-register-user-login-wrapper #user-login .fb_login_inner a, #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
    background-image: url("../images/facebook-bg.png");
    background-repeat: no-repeat;
    color: #2A2A2A;
    display: block;
    float: none;
    font-family: 'domineregular';
    font-size: 12px;
    height: 31px;
    margin: 0 auto;
    padding: 9px 20px 9px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 249px;
}
#ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
    background-color: #557FC9;
    background-image: url("../images/facebook-icon-register.png");
    background-position: 12px 10px;
    background-size: 28px 26px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    height: 47px;
    line-height: 28px;
    padding: 10px 14px 9px 45px;
    text-transform: capitalize;
    width: 100%;
}
/*.gecko11 #ajax-register-user-login-wrapper #user-login .fb_login_inner a,
.gecko11  #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a{
	width:auto;
}
.msie #ajax-register-user-login-wrapper #user-login .fb_login_inner a,
.msie  #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a{
	width:auto;
}*/
.gecko11 .front .selectricWrapper .selectric .label{
    height:35px;
    min-height:35px;
    width:196px;
}
.msie .front .selectricWrapper .selectric .label{
    height:35px;
	 min-height:35px;
    width:196px;
}
.front .selectricWrapper .selectric .label{
    height:35px;
	 min-height:35px;
    width:196px;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .fb_login {
    margin-bottom: 20px;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login {
    border-bottom: 2px dotted #808080;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
        box-sizing:  border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login_inner {
    margin-bottom: 8px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login_inner .fb-det {
    display: none;
}
body.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions{
	text-align:center !important;
}
.page-user-login .login-inner  #ajax-register-user-login-wrapper .fb_login_inner .fb-det {
    color: #5A5A5A;
    display: block;
    font-family: 'domineregular';
    font-size: 10px;
    letter-spacing: 0;
    margin: 5px auto;
    width: 100%;
    text-align:center;
}
body.page-user-login .login-inner .fb-or-login{
	text-align:center;
}
body.page-user-login .login-inner #ajax-register-user-login-wrapper{
	text-align:center;
}
body.page-user-login .login-inner #ajax-register-user-login-wrapper input{
	width:100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login {
    border-bottom: 2px dotted #808080;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .fb-or-login {
    clear: both;
    float: none;
    font-size: 15px;
    letter-spacing: -1px;
    margin: 5px auto;
    text-align: center;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-login .form-item input, 
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-pass .form-item input,
body.page-user-register .register-inner  #ajax-register-user-login-wrapper #user-register-form .form-item input {
    border: 0 none;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .form-item {
    margin-bottom: 10px;
    margin-top: 0;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .form-actions .form-submit {
    border: 1px solid #000000 !important;
    margin-top: 25px !important;
    width: 75% !important;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .forget-data {
    clear: both;
    color: #2A2A2A;
    display: block;
    font-family: 'domineregular';
    font-size: 14px;
    letter-spacing: -0.7px;
    margin-bottom: 2px;
    margin-top: 15px;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-login a {
    color: #2A2A2A;
    display: block;
    font-family: 'domineregular';
    font-size: 13px;
    letter-spacing: -0.6px;
    margin: 0 auto;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .user-left .field-name-field-enterprise-blog-firstname {
    float: left;
    margin-left: 0;
    width: 49%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  .user-left .field-name-field-enterprise-blog-firstname input {
    border-radius: 3px !important;
    color: #667682;
    font-family: trebuchet ms;
    font-weight: bold;
    padding: 14px 6px;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  .user-left .field-name-field-enterprise-blog-lastname {
    float: left;
    margin-left: 0;
    width: 50%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  .user-left .field-name-field-enterprise-blog-lastname input {
    border-radius: 3px !important;
    color: #667682;
    font-family: trebuchet ms !important;
    font-weight: bold;
    margin-left: 3%;
    padding: 14px 6px;
    width: 97%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-wrapper .form-type-password-confirm .password-confirm {
    font-size: 14px;
    width:100% !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  .form-wrapper .form-item input {
    border-radius: 3px !important;
    color: #667682;
    font-family: trebuchet ms !important;
    font-weight: bold;
    padding: 14px 6px;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-wrapper .form-item {
    margin: 0 auto;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .field-name-field-user-sex {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  #edit-mailchimp-lists,
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  #edit-mailchimp-lists--1,
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper  #edit-mailchimp-lists--2
 {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper form#user-register-form .user-left {
    clear: both;
    display: block;
    float: none;
    margin-top: 10px !important;
    padding-top: 0;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #edit-field-receive-newsletter-und {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb-det {
    color: #818080;
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb-or-login {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #667987;
    float: none;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
    padding: 0 15px;
    position: relative;
    text-align: center;
    top: 10px;
    width: auto;
}
body.page-user-register .register-inner .profile-container {
  background: none repeat scroll 0 0 #fff;
  padding: 20px;
}

body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-actions .form-submit {
    background-color: #FB565C;
    border: 0 none !important;
    border-radius: 3px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 12px !important;
    width: 100% !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-actions .form-submit:hover {
    background-color: #000000 !important;
    border: 0 none !important;
    border-radius: 3px !important;
    padding: 12px !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form a {
    color: #002F83;
    float: right;
    font-family: trebuchet ms;
    font-weight: bold;
    margin: 15px auto 18px;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb-det a {
    clear: both;
    color: #002F83;
    float: none;
    font-family: trebuchet ms;
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
    text-transform: lowercase;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper span.forget-data {
    display: none;
}

.front .vslide a
{
    text-decoration:none;
}
.front .vslide .vcarousel-info {
	display:block;
	width:auto;
	height:auto;
	margin-top:-5px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	color: #000000;
	padding: 5px 0 10px;
}
.front .slider-background {
    background-color: #FEE0D5;
}
.front .vslide .vcarousel-info h1 {
  border-bottom: 1px solid #E3E3E3;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 4px 0 15px 0px;
  width: auto;
}
.front .vslide .vcarousel-info .number-treatments {
	font-size: 14px;
}
.front .vslide .vcarousel-info .fleft {	
	margin-right:25%;
}
.front .vslide .vcarousel-info .fright {
	margin-left:30%;
}

.page-blog .view-clone-of-enterprise-blog{
	display: block;
}

body.page-blog .view-clone-of-enterprise-blog .brick {
	width:100% !important;
	margin-bottom:15px;
	/* height:auto !important; */
	text-align:center;
}

body.page-blog .view-clone-of-enterprise-blog .brick span.label{
	top:-1px !important;
}

body.page-blog .view-clone-of-enterprise-blog .brick img{
	margin-top:-20px;
}
body.page-blog .view-clone-of-enterprise-blog .info-details1 img {
  margin-top:0px;
  max-width: 100%;
}
body.page-blog .item-list ul li {
  margin: 0 auto;
  padding: 0;
}
body.page-blog .view-clone-of-enterprise-blog .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-blog .view-clone-of-enterprise-blog .brick .down,body.page-blog .view-clone-of-enterprise-blog .brick .up{
	float: right;
    height: 35px;
    width: 35px;
	cursor: pointer;
}
body.page-blog .view-clone-of-enterprise-blog .brick .up{
	margin-bottom: 5px;
    margin-right: 20px;
    margin-top: -5px;
}
body.page-blog .view-clone-of-enterprise-blog .brick .info-details{
	padding:0px !important;	
}

body.page-blog .view-clone-of-enterprise-blog .brick .down img{
	margin-top:0px !important;
	height: 35px;
    width: 35px;
}

body.page-blog .view-clone-of-enterprise-blog .brick  .toshowinfo,body.page-blog .view-clone-of-enterprise-blog .brick  .toshowup{
	display:none;
}
 
body.page-blog .blog-grid .blog-categories{
	background:none !important;
}
body.page-blog .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}
/*
body.page-blog .region-latest-all-blog,body.page-blog .section-02,body.page-blog .blog .blog-rightgrid .blog-sidegrid,body.page-blog .blog .blog-rightgrid .post-sidegrid{
	display:none;
}
*/
.lastminut-form .lastminute-selectbox .selectricWrapper .selectric .label {
  padding: 12px 7px;
}
.lastminut-form .lastminute-selectbox .selectricWrapper .selectric  .button {
  top: 5px;
}
.lastminut-form  .lastminute-selectbox .selectricWrapper .selectricItems {
  top: 38px;
  padding-bottom: 6px;
  box-shadow:0 0 10px -6px;
}
.lastminute-selectbox.radius .selectricWrapper .selectricItems {
  box-shadow: none;
    top: 38px;
}
.page-blog .view-clone-of-blog-categories1{
	display: block;
}

body.page-blog .view-clone-of-blog-categories1 .brick {
	width: auto !important;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-blog .view-clone-of-blog-categories1 .brick span.label{
	top:-1px !important;
}
body.page-blog .view-clone-of-blog-categories1 .brick img{
	margin-top:-20px;
}

body.page-blog .view-clone-of-blog-categories1 .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-blog .view-clone-of-blog-categories1 .brick .down,body.page-blog .view-clone-of-blog-categories1 .brick .up{
	width:30px;
	height:30px;
	float:right;
}
body.page-blog .view-clone-of-blog-categories1 .brick .up{
	margin-bottom: 10px;
	margin-right: 20px;
}
body.page-blog .view-clone-of-blog-categories1 .brick .info-details{
	padding:0px !important;	
}

body.page-blog .view-clone-of-blog-categories1 .brick .down img{
	margin-top:0px !important;
}
body.page-blog .view-clone-of-blog-categories1 .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-blog .view-clone-of-blog-categories1 .brick  .toshowinfo,body.page-blog .view-clone-of-blog-categories1 .brick  .toshowup{
	display:none;
}
 
body.page-blog .blog-grid .blog-categories{
	background:none !important;
}
body.page-blog .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}
body.page-blog .view-clone-of-blog-categories1 .brick .up img,body.page-blog .view-clone-of-enterprise-blog .brick .up img{
	margin:0 !important;
	height: 35px;
    width: 35px;
}



body.page-artikler .view-clone-of-all-trends{
	display: block;
	margin-top:30px;
}

body.page-artikler .view-clone-of-all-trends .brick {
	width:100%;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-artikler .view-clone-of-all-trends .brick span.label{
	top:-1px !important;
}
body.page-artikler .view-clone-of-all-trends .brick img{
	margin-top:-20px;
}

body.page-artikler .view-clone-of-all-trends .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-artikler .view-clone-of-all-trends .brick .down,body.page-artikler .view-clone-of-all-trends .brick .up{
	float: right;
    height: 35px;
	width: 35px;
}
body.page-artikler .view-clone-of-all-trends .brick .up{
	margin-bottom: 5px;
    margin-right: 20px;
    margin-top: -5px;
}
body.page-artikler .view-clone-of-all-trends .brick .info-details{
	padding:0px !important;	
}

body.page-artikler .view-clone-of-all-trends .brick .down img{
	margin-top:0px !important;
	height: 35px;
	width: 35px;
}
body.page-artikler .view-clone-of-all-trends .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-artikler .view-clone-of-all-trends .brick  .toshowinfo,body.page-artikler .view-clone-of-all-trends .brick  .toshowup{
	display:none;
}
body.page-artikler .view-clone-of-all-trends .brick .up img{
	margin:0 !important;
	height: 35px;
	width: 35px;
} 
body.page-artikler .blog-grid .blog-categories{
	background:none !important;
}
body.page-artikler .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}


body.page-artikler .view-clone-of-artikler-categories1{
	display: block;
}

body.page-artikler .view-clone-of-artikler-categories1 .brick {
	width:auto !important;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick span.label{
	top:-1px !important;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick img{
	margin-top:-20px;
}

body.page-artikler .view-clone-of-artikler-categories1 .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .down,body.page-artikler .view-clone-of-artikler-categories1 .brick .up{
	float: right;
    height: 30px;
    width: 30px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .up{
	margin-bottom: 10px;
	margin-right: 20px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .info-details{
	padding:0px !important;	
}

body.page-artikler .view-clone-of-artikler-categories1 .brick .down img{
	margin-top:0px !important;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick  .toshowinfo,body.page-artikler .view-clone-of-artikler-categories1 .brick  .toshowup{
	display:none;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .up img{
	margin:0 !important;
} 
body.page-artikler .blog-grid .blog-categories{
	background:none !important;
}
body.page-artikler .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}

body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login{
	margin-top:0px;
}
/*========================= Register Page ==================*/
body.page-user-register .register-inner .profile-container{
	width:85%;
	margin:40px auto 0;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
	 color: #fff;
	
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form a {
  color: #002f83;
  font-family: trebuchet ms;
  font-size: 12px !important;
}
body.page-user-register .register-inner .profile-container {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 20px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-actions{
	float:none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-actions .form-submit {
  background-color: #FB565C !important;
  border: 0 none !important;
  border-radius: 3px !important;
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 12px !important;
  width: 100% !important;
  font-family: 'domineregular'!important;
  margin-top:1em !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-actions .form-submit:hover {
  background-color: #000000 !important;
  border: 0 none !important;
  border-radius: 3px !important;
  padding: 12px !important;
}
body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .user-left .form-item{
	margin-bottom: 1em;
	margin-top: 1em;
}
body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .form-wrapper input#edit-mail{
	margin-bottom:10px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-wrapper .form-item input{
	margin-bottom:10px;
}
body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .user-left .form-item {
  margin-bottom: 1em;
  margin-top: 1em;
}
.page-user-edit .blog-header {
    background: none repeat scroll 0 0 #FEE0D5;
    clear: both;
    padding: 15px 0 5px;
}
.page-user-edit .statisk-container.user-content-bg {
  padding: 0 20px;
}
/*========================= Register Page End==================*/
/*========================= Page User Edit ====================*/
.page-user .statisk-container #main-content #tabs-wrapper ul.primary li {
  padding: 3% 5%;
  width: 100%;
}
body.page-user-edit ul.secondary {
  padding: 2%;
  width: 100%;
}
body.page-user-edit .statisk-container .region.region-content {
  width: 100%;
}
body.page-user-edit .statisk-container .region.region-content {
  margin-top: 0px;
  padding: 0;
}

body.page-blog .blog-container .addblogs a{
    display: table;
}
body.page-artikler .blog-container .addblogs a{
	display: table !important;
}
body.page-user .statisk-container .content {
    padding: 0 !important;
}
body.page-user .profile-left{
	margin-top:10px;
}

.page-user-login .login-inner #main-content{
	height:480px !important;
}

.node-type-enterprise-blog #comment-list #comment-form label{
	width:40% !important;
}
.node-type-enterprise-blog .blogcomment-title .review:hover{
	color:black;
}
.node-type-enterprise-blog #comment-list #comment-form input#edit-subject{
	width:100% !important;
	margin-top:10px;
}
.safari .lastmt-item{
	width:100% !important;
}
.node-type-enterprise-blog .blogpost-left-content .blogpost-author-likes {
	padding-left: 20px !important;
	clear:both;
}
.node-type-enterprise-blog .blogpost-left-content .blogpost-author-comments {
	width:42% !important;
}
.node-type-enterprise-blog .blogpost-left-content .blogpost-author-comments a,
.node-type-trends .blogpost-left-content .blogpost-author-comments a{
	font-size:12px !important;
}		
.node-type-enterprise-blog .blogpost-left-content .blogpost-author-comments .blog-commentsicon{
	margin-top: 6px;
    padding: 0 4px 0 0;
}
.node-type-trends .blogpost-left-content .blogpost-author-likes {
	width: 34% !important;
	clear: both;
	padding-left: 20px !important;
}
.node-type-trends .blogpost-left-content .blogpost-author-comments {
	width:42% !important;
	margin-top:28px !important;
}
.node-type-trends .blogpost-left-content .blogpost-author-comments .blog-commentsicon {
	padding: 0 4px;
    position: relative;
    top: 2px;
    float:none !important;
}
.page-blog .blog-container .blog-categories .form-item .selectricWrapper,
.page-artikler .blog-container .blog-categories .form-item .selectricWrapper {
	width:88% !important;
}

.mobile-view #purr-container{
	right:0px !important;
}

.page-user-register.mobile-view .user-content-bgs .anonymous-content {
    background:white !important;
    padding:0px !important;
}
.page-user-register.mobile-view .register-inner .profile-container{
    padding:15px !important;
}

    


}

@media (min-width: 360px) and (max-width: 640px) {

.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--1,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--2,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--3,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--4{
	display:none;
}
    
body.mobile-view.page-user-mailchimp #mailchimp-lists-user-subscribe-form input.form-submit{
    float: none !important; 
    width: 100% !important;
}
    
body.page-user.mobile-view .file {
	 word-wrap: break-word;
	 float:left;
	 margin-left:0px !important;
}

body.page-user.mobile-view input[type="submit"]{
	padding:5px 10px;
	float:left; 
	margin-top:5px;
}

body.page-user.mobile-view form#user-profile-form {
	margin-bottom:65px;
}

body.page-user.mobile-view .user-profile-edit {
    padding: 0px 10px !important;
}

body.page-user.mobile-view .user-profile-edit .content {
	padding: 10px !important;
}

.page-user.mobile-view .profile-container ul.primary li {
/*
	width:100%;
*/
}

body.page-last-minute.mobile .lastminute-selectbox.treatment {
	width:100% !important;
}

.mobile-view.page-user-register #user-register-form .form-actions .form-submit{
	background-color:#FB565C !important;
}

.mobile-view.page-user-register .register-inner .profile-container .anonymous-content{
	background-color:#fff !important;
}

.mobile-view.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions .form-submit{
	text-align:center;
	margin-top:15px !important;
	border: 1px solid #BBBBBB !important;
}

.mobile-view.page-find-klinik .findklinik-contents .findklinik-map .findklinik-item{
	width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-contents,
.mobile-view.page-find-klinik .findklinik-contents .findklinik-item
{
	width:100%;
}

.mobile-view.page-find-klinik .findklinik-map .findklinik-item{
	height: auto !important;
    width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content .findklinik-form .findklinik-selectbox{
	width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content {
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminute-header h1, .mobile-view.page-find-klinik .findklinik-container .findklinik-header h1{
	font-size:25px;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .radius{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .treatment{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .location{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-block .btype{
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminut-block .bprice {
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminut-block .lastmint-item{
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminute-container .behandling-content{
	width:100% !important;
}

.mobile-view.node-type-location #aboutus-location .tonotshowinfo, .mobile-view.node-type-location #aboutus-location .toshowinfo{
	text-align:left;
}


.mobile-view #aboutus-location .aboutus .down, .mobile #aboutus-location .aboutus .up{
	text-align:right;
}

.mobile-view #aboutus-location .aboutus .down img, .mobile #aboutus-location .aboutus .up img{
	height: 35px !important;
    width: 35px !important;
}

.mobile-view.node-type-location .clinicprofile-container{
	padding-bottom:0px !important
}

.mobile-view .clinicprofile-footer{
	margin:0px !important;
}

.mobile-view .clinicprofile-topsection #map{
	display: block !important;
	height: auto;
	max-height: 100%;
	width: 100%;
	border:none !important;
}

.mobile-view .clinicprofile-topsection #map img{
	display: block !important;
	max-height: 100%;
	/* max-width: 100%; */
	width: 100%;
}

.mobile-view .clinicprofile-login {
	border:none;
	display:block !important;
}

.mobile-view .clinicprofile-topsection #map{
	margin-top:0px;
}

.mobile-view .clinicprofile-topsection .clinicprofile-sidebar .lastminut-block .lastmint-item.second{
	border-bottom:none !important;
}

.mobile-view #aboutus-location{
	clear:both;
}

.mobile-view #aboutus-location .aboutus{
	color: #2A2A2A;
    font-family: 'domineregular';
    font-size: 13px;
    background-color: #FFFFFF;
    padding-top: 5px;
}
.mobile-view .aboutus h2{
	color: #000000;
    cursor: pointer;
    font-family: 'DidotRegular';
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align:center;
}

.mobile-view #aboutus-location .toshowinfo{
	display:none;
} 

.mobile-view #aboutus-location .info-details1{
	text-align:left;
}

.mobile-view .profile-container .anonymous-content{
	background-color: #FFE0D5 !important;
	border:none;
}

.mobile-view.node-type-location .clinicprofile-photo {
	display: block !important;
    height: auto;
    max-height: 100%;
    width: 100%;
}

.mobile-view.node-type-location .clinicprofile-photo img{
	display: block !important;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category{
	text-align:left !important;
}
.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category h4{
	text-align:center;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed a{
	font-size:11px !important;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home{
	float:left !important;
}
.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed{
	float:left !important;
}

.mobile-view.page-user-register #user-register-form .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-user-password #user-pass .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-user-login #user-login .form-actions .ajax-progress-throbber{
	display:none;
}

.mobile-view.page-user-password #user-pass .form-actions{
	text-align:center !important;
}

.mobile-view .anonymous-content #user-pass .form-item{
	text-align:center !important;
}

.mobile-view #user-pass .form-item input{
	width:100%;
}

.mobile-view #user-pass .form-item .description{
	margin-top:8px;
}

.mobile-view #user-pass .form-actions input{
	text-align:center !important;
}

.mobile-view .profile-container .anonymous-content #main-content h1{
	color: #2A2A2A;
    display: block;
	font-family: 'DidotRegular';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mobile-view .anonymous-content #user-login .form-item{
	text-align:center !important;
}

.page-user-password.mobile-view  .profile{
background-color: #FFE0D5 !important;
}

#user-register-form .user-left .form-text {
	color: #667682 !important;
    font-family: trebuchet ms !important;
}

.page-user-login.mobile-view .login-inner .profile-container .statisk-container .anonymous-content{
	margin-top:0px !important;
	padding-top:0px !important;
}

.mobile-view .main-content-container div.Log.Indtitle{
	padding-bottom:0px !important;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det a{
	text-transform:none;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a.forget-pass {
	color:#32538e !important;
}

.mobile-view .anonymous-content .fb-det p{
	color: #667682 !important;
    font-family: trebuchet ms !important;
	margin:0px !important;
	font-weight:bold;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det{
	padding-top:0px !important;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a{
	margin: 0 auto !important;
}

.fb-det{
	color: #667682 !important;
    font-family: trebuchet ms !important;
}


.front .banner h2 {
	width: 87% !important;
}

.mobile-view .login-inner #main-content.anonymous-content{
	background:none repeat scroll 0 0 #ffe0d5 !important;
}

.mobile-view .user-content-bgs .anonymous-content{
	border:none;
}

body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
	text-align:center !important;
	letter-spacing: normal;
	padding-left:50px;
}

}

@media (min-width: 480px) and (max-width: 767px) {
*{
	 box-sizing:  border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
    
body.mobile-view.page-user-mailchimp #mailchimp-lists-user-subscribe-form input.form-submit{
    float: none !important; 
    width: auto !important;
}

.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--1,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--2,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--3,
.mobile-view.page-user-register #user-register-form #edit-mailchimp-lists--4{
	display:none;
}

.mobile-view.page-user-register #user-register-form .form-actions .form-submit{
	background-color:#FB565C !important;
}

.mobile-view.page-user-register .register-inner .profile-container .anonymous-content{
	background-color:#fff !important;
}

.mobile-view.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions .form-submit{
	text-align:center;
	margin-top:15px !important;
	border: 1px solid #BBBBBB !important;
}

.mobile-view.page-find-klinik .findklinik-contents .findklinik-map .findklinik-item{
	width:100% !important;
	float:none  !important;
}

.mobile-view.page-find-klinik .findklinik-contents,
.mobile-view.page-find-klinik .findklinik-contents .findklinik-item
{
	width:100%;
}

.mobile-view.page-find-klinik .findklinik-map .findklinik-item{
	height: auto !important;
    width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content .findklinik-form .findklinik-selectbox{
	width:100% !important;
}

.mobile-view.page-find-klinik .findklinik-content {
	width:100% !important;
}

.mobile-view.page-find-behandling .lastminute-header h1, .mobile-view.page-find-klinik .findklinik-container .findklinik-header h1{
	font-size:25px;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .radius{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .treatment{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-form #bhand-form .location{
	width:90%;
}

.mobile-view.page-find-behandling .lastminut-block .btype{
	width:100%;
}

.mobile-view.page-find-behandling .lastminut-block .bprice {
	width:100%;
}

.mobile-view.page-find-behandling .lastminut-block .lastmint-item{
	width:100% !important !important;
}

.mobile-view.page-find-behandling .lastminute-container .behandling-content{
	width:100% !important;
}

.mobile-view.node-type-location #aboutus-location .tonotshowinfo, .mobile-view.node-type-location #aboutus-location .toshowinfo{
	text-align:left;
}


.mobile-view #aboutus-location .aboutus .down, .mobile #aboutus-location .aboutus .up{
	text-align:right;
}

.mobile-view #aboutus-location .aboutus .down img, .mobile #aboutus-location .aboutus .up img{
	height: 35px !important;
    width: 35px !important;
}

.mobile-view.node-type-location .clinicprofile-container{
	padding-bottom:0px !important
}

.mobile-view .clinicprofile-footer{
	margin:0px !important;
}

.mobile-view .clinicprofile-topsection #map{
	display: block !important;
	height: auto;
	max-height: 100%;
	width: 100%;
	border:none !important;
}

.mobile-view .clinicprofile-topsection #map img{
	display: block !important;
	max-height: 100%;
	/* max-width: 100%; */
	width: 100%;
}

.mobile-view .clinicprofile-login {
	border:none;
	display:block !important;
}

.mobile-view .clinicprofile-topsection #map{
	margin-top:0px;
}

.mobile-view .clinicprofile-topsection .clinicprofile-sidebar .lastminut-block .lastmint-item.second{
	border-bottom:none !important;
}

.mobile-view #aboutus-location{
	clear:both;
}

.mobile-view #aboutus-location .aboutus{
	color: #2A2A2A;
    font-family: 'domineregular';
    font-size: 13px;
    background-color: #FFFFFF;
    padding-top: 5px;
}
.mobile-view .aboutus h2{
	color: #000000;
    cursor: pointer;
    font-family: 'DidotRegular';
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align:center;
}

.mobile-view #aboutus-location .toshowinfo{
	display:none;
} 

.mobile-view #aboutus-location .info-details1{
	text-align:left;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed a{
	font-size:11px !important;
}

.mobile-view.node-type-location .clinicprofile-photo {
	display: block !important;
    height: auto;
    max-height: 100%;
    width: 100%;
}

.mobile-view.node-type-location .clinicprofile-photo img{
	display: block !important;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category{
	text-align:left !important;
}

.mobile-view.page-anmeldelser #anmeld-form .lastminute-selectbox.category h4{
	text-align:center;
}


.mobile-view.page-user-login #user-login .form-actions .ajax-progress-throbber{
	display:none;
}

.mobile-view.page-user-register #user-register-form .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home{
	float:left !important;
}

.mobile-view.page-anmeldelser .view-id-anmeldelser_page .anmeldelser-comments-home .plus1-processed{
	float:left !important;
}


.mobile-view.page-user-password #user-pass .form-actions .ajax-progress-throbber{
	display:none !important;
}

.mobile-view.page-user-password #user-pass .form-actions{
	text-align:center !important;
}

.mobile-view .anonymous-content #user-pass .form-item{
	text-align:center !important;
}

.mobile-view #user-pass .form-item input{
	width:100%;
}

.mobile-view #user-pass .form-item .description{
	margin-top:8px;
}

.mobile-view #user-pass .form-actions input{
	text-align:center !important;
}

.mobile-view .profile-container .anonymous-content #main-content h1{
	color: #2A2A2A;
    display: block;
	font-family: 'DidotRegular';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mobile-view .profile-container .anonymous-content{
	background-color: #FFE0D5 !important;
	border:none;
}

.page-user-password.mobile-view  .profile{
	background-color: #FFE0D5 !important;
}

.mobile-view .anonymous-content #user-login .form-item{
	text-align:center !important;
}

.page-user-login.mobile-view .login-inner .profile-container .statisk-container .anonymous-content{
	margin-top:0px !important;
	padding-top:0px !important;
}

#user-register-form .user-left .form-text {
	color: #667682 !important;
    font-family: trebuchet ms !important;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a.forget-pass {
	color:#32538e !important;
}

.mobile-view .main-content-container div.Log.Indtitle{
	padding-bottom:0px !important;
}

.fb-det{
	color: #667682 !important;
    font-family: trebuchet ms !important;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det a{
	text-transform:none;
}

.mobile-view .anonymous-content .fb-det p{
	color: #667682 !important;
    font-family: trebuchet ms !important;
	margin:0px !important;
	font-weight:bold;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det{
	padding-top:0px !important;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a{
	margin: 0 auto !important;
}

.front .banner h2 {
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 20px;
    width: 87% !important;
}

.header {
    position: static !important;
}
.top-link {
    display: none;
}
.front .banner {
    height: auto;
    width: 100%;
    z-index: 1;
}
.front .main-content-container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.front .main-content-container .lastmt-item {
    clear: both;
    height: 131px;
}
.main-content-container.container .logo {
    display: block;
}
.logo {
    float: none;
    margin: 0 auto;
    width: auto;
}
.logo > a {
  display: inline-block;
  float: left;
  text-align: center;
  width: 87%;
}
.banner-left, .banner-right {
    display: none;
}
.safari .banner-left, .safari .banner-right {
    display: none !important;
}
.lastmt-item {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.front .section-02 .container-freewall {
    display: none;
}
.front .section-03 .container-freewall-01 {
    display: none;
}
.front .section-04 .container-freewall-02 {
    display: none;
}
.front .section-02 .container-freewalllast {
    display: none;
}
.front .section-06 .region-newsletter-form {
    display: none;
}
.main-content-container {
    position: relative;
    top: 0;
    z-index: 2;
}
nav.header {
    display: none;
}
ul.menu {
    margin-bottom: 0;
}
#menu {
    background: none repeat scroll 0 0 #424242;
    display: block;
    position: fixed;
    right: -80%;
    top: 0;
    transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	   -moz-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	     -o-transform: translate(0px, 0px);

     transition: all 0.15s ease 0s;
     -webkit-transition: all 0.15s ease 0s;
       -moz-transition: all 0.15s ease 0s;
        -ms-transition: all 0.15s ease 0s;
         -o-transition: all 0.15s ease 0s;
    width: 80%;
    z-index: 9999;
}
#menu.active {
    position: absolute;
    right: 0;
}
.container {
    transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	   -moz-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	     -o-transform: translate(0px, 0px);
    
    
    transition: all 0.15s ease 0s;
    -webkit-transition: all 0.15s ease 0s;
       -moz-transition: all 0.15s ease 0s;
        -ms-transition: all 0.15s ease 0s;
         -o-transition: all 0.15s ease 0s;
}
.container.active {
    transform: translate(-80%, 0px);
	-webkit-transform: translate(-80%, 0px);
	   -moz-transform: translate(-80%, 0px);
	    -ms-transform: translate(-80%, 0px);
	     -o-transform: translate(-80%, 0px);
}
.menu-link {
  background: url("../images/trigger.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  color: #000000;
  display: block !important;
  float: right;
  height: 44px;
  position: relative;
  text-decoration: none;
  text-indent: -9999px;
  top: 10px;
  width: 5% !important;
}
.menu-link-arrow {
    background: url("../images/arrow-trigger.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #000000;
    float: left;
    height: 44px;
    position: relative;
    text-decoration: none;
    text-indent: -9999px;
    top: 10px;
    width: 5% !important;
}
.logo > a {
    display: inline-block;
    float: left;
}
#logo > img {
    height: 60px;
    text-align: center;
    width: 108px;
}
#block-menu-menu-cbit-top-menu .content {
    padding: 0;
}
.front .lastmt-item h1 {
    margin: 0 auto;
    padding: 0;
}
#menu ul.menu li, #menu ul.login-menu li, #menu ul.footer-mobile li {
  border-top: 1px dashed #6E6E6E;
  color: #FFFFFF;
  list-style: none outside none;
  margin: 0 10%;
  padding: 10px 0;
  text-align: left;
  width: 80%;
}
#menu ul.menu li.first.leaf {
    border-top: 0 none !important;
}
#menu ul.login-menu li, #menu ul.footer-mobile li {
    border: 0 none !important;
    padding: 8px 0;
}
#menu ul.login-menu li.usr-login a {
    background: url("../images/logind.png") no-repeat scroll left center / 15px 15px rgba(0, 0, 0, 0);
    padding-left: 26px;
    padding-top: 5px;
}
#menu ul.login-menu li.usr-logout a {
    background: url("../images/orpetprofil.png") no-repeat scroll left center / 20px 20px rgba(0, 0, 0, 0);
    padding-left: 26px;
    padding-top: 9px;
}
#menu ul.footer-mobile li {
    padding: 5px 0;
}
#menu ul.menu li.leaf > a, #menu ul.login-menu li > a, #menu ul.footer-mobile li > a {
    color: #FFFFFF;
    font-family: LinotypeDidot;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    display:block;
}
#menu ul.login-menu li > a {
    font-size: 17px;
}
#menu ul.login-menu li > a, #menu ul.footer-mobile li > a {
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
}
#menu ul.footer-mobile li > a {
    color: #959595;
    font-size: 15px;
    text-transform: uppercase;
}
#menu .login-menu-head {
    background: none repeat scroll 0 0 #3A3A3A;
    font-weight: normal;
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
}
#menu .login-menu-head h3 {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto !important;
    padding-left: 10%;
    text-transform: uppercase;
}
ul.login-menu {
    border: medium none;
    list-style: none outside none;
    margin-bottom: 40px;
    text-align: left;
}
.lastmt-item h1 {
    display: none;
}
.lastmt-item h2 {
    display: none;
}
.lastmt-item .mobile-subtitle {
    display: block;
}
.front .banner h2 {
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 20px;
}
.lastmt-item {
    height: 131px;
}
.banner {
    height: 210px;
}
.slider-background .container-freewall0 {
    margin: 0 auto;
    max-width: 100%;
}
.slider-background .container-freewall0 .title .heading {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.front .slider-background .title-name {
    color: #2A2A2A;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 0 15px;
    width: 100%;
}
.front .slider-background .slider {
    display: none;
}
.mobile-vertical-slider {
    width: 100%;
    display:block !important;
}
.mobile-vertical-slider .view-category-carousel {
    width: 100%;
}
.mobile-vertical-slider .view-category-carousel .view-content {
    width: 100%;
}
.mobile-vertical-slider .view-category-carousel .view-content .bx-wrapper {
    max-width: 100% !important;
}
.page-user-login .main-content-container .logo, .page-user-register .main-content-container .logo {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
    text-align: center;
    width: 93%;
}
.page-user-login .profile-container, .page-user-register .profile-container {
    min-height: 0;
    width: 85%;
}
body.page-user-register .register-inner .profile-container {
  margin: 40px auto 0;
  width: 85%;
}
.page-user-register .profile-container {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 3%;
}
.page-user-login .profile, .page-user-register .profile {
    background: none repeat scroll 0 0 #FFE0D5;
    min-height: 449px !important;
}
.page-user-login .main-content-container div.Log.Indtitle, .page-user-register .main-content-container div.Log.Indtitle {
    background-color: #FFE0D5;
    clear: both;
    display: block;
    font-size: 100%;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.page-user-register .main-content-container div.Log.Indtitle {
    padding-bottom: 25px;
    padding-top: 30px;
}
.page-user-login .main-content-container div.Log.Indtitle span, .page-user-register .main-content-container div.Log.Indtitle span {
    color: #2A2A2A;
    display: block;
    font-family: 'DidotRegular';
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-login .fb_login_inner a,
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
    background-image: url("../images/facebook-bg.png");
    background-repeat: no-repeat;
    color: #2A2A2A;
    display: block;
    float: none;
    font-family: 'domineregular';
    font-size: 12px;
    height: 31px;
    margin: 0 auto;
    padding: 9px 20px 9px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 249px;
}

body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner a {
    background-color: #557FC9;
    background-image: url("../images/facebook-icon-register.png");
    background-position: 12px 10px;
    background-size: 28px 26px;
    border-radius: 3px;
    color: #FFFFFF !important;
    font-size: 13px;
    height: 47px;
    line-height: 28px;
    padding: 10px 14px 9px 45px;
    text-transform: capitalize;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .fb_login {
    margin-bottom: 20px;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login {
    border-bottom: 2px dotted #808080;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login_inner {
    margin-bottom: 8px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb_login_inner .fb-det {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .fb_login_inner .fb-det {
    color: #5A5A5A;
    display: block;
    font-family: 'domineregular';
    font-size: 10px;
    letter-spacing: 0;
    margin: 5px auto;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb_login {
    border-bottom: 2px dotted #808080;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    box-sizing:  border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .fb-or-login {
    clear: both;
    float: none;
    font-size: 15px;
    letter-spacing: -1px;
    margin: 5px auto;
    text-align: center;
    width: 100%;
}
body.page-user-register .register-inner .profile-container{
	padding:20px;
}
.gecko11 .front .selectricWrapper .selectric .label{
    height:35px;
    min-height:35px;
    width:196px;
}
.msie .front .selectricWrapper .selectric .label{
    height:35px;
	 min-height:35px;
    width:196px;
}
.front .selectricWrapper .selectric .label{
    height:35px;
	 min-height:35px;
    width:196px;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-login .form-item input,
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-pass .form-item input,
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-register-form .form-item input {
    border: 0 none;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .form-item {
    margin-bottom: 10px;
    margin-top: 0;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .form-actions .form-submit {
    border: 1px solid #000000 !important;
    margin-top: 25px !important;
    width: 75% !important;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper .forget-data {
    clear: both;
    color: #2A2A2A;
    display: block;
    font-family: 'domineregular';
    font-size: 14px;
    letter-spacing: -0.7px;
    margin-bottom: 2px;
    margin-top: 15px;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-login-wrapper #user-login a {
    color: #2A2A2A;
    display: block;
    font-family: 'domineregular';
    font-size: 13px;
    letter-spacing: -0.6px;
    margin: 0 auto;
    text-align: center;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .user-left .field-name-field-enterprise-blog-firstname {
    float: left;
    margin-left: 0;
    width: 49%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .user-left .field-name-field-enterprise-blog-firstname input {
    border-radius: 3px !important;
    color: #667987;
    font-family: trebuchet ms;
    font-weight: bold;
    padding: 15px;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .user-left .field-name-field-enterprise-blog-lastname {
    float: left;
    margin-left: 1%;
    width: 50%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .user-left .field-name-field-enterprise-blog-lastname input {
    border-radius: 3px !important;
    color: #667987;
    font-family: trebuchet ms;
    font-weight: bold;
    margin-left: 3%;
    padding: 15px;
    width: 97%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-wrapper .form-type-password-confirm .password-confirm {
    font-size: 14px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-wrapper .form-item input {
    border-radius: 3px !important;
    color: #667987;
    font-family: trebuchet ms;
    font-weight: bold;
    padding: 15px;
    width: 100%;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-wrapper .form-item {
    margin: 0 auto;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .field-name-field-user-sex {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form #edit-mailchimp-lists {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper form#user-register-form .user-left {
    clear: both;
    display: block;
    float: none;
    margin-top: 10px !important;
    padding-top: 0;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #edit-field-receive-newsletter-und {
    display: none;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb-det {
    color: #818080;
    display: inline-block;
    font-family: trebuchet ms;
    font-size: 11px;
    line-height: 17px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .fb-or-login {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #667987;
    float: none;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
    padding: 0 15px;
    position: relative;
    text-align: center;
    top: 10px;
    width: auto;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-actions .form-submit {
    background-color: #FB565C;
    border: 0 none !important;
    border-radius: 3px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 12px !important;
    width: 100% !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .form-actions .form-submit:hover {
    background-color: #000000 !important;
    border: 0 none !important;
    border-radius: 3px !important;
    padding: 12px !important;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form a {
    color: #002F83 !important;
    float: right;
    font-family: trebuchet ms;
    font-weight: bold;
    margin: 0px auto 18px;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb-det a {
    clear: both;
    color: #002F83;
    float: none;
    font-family: trebuchet ms;
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
    text-transform: lowercase;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper #user-register-form span.forget-data {
    display: none;
}

.front .vslide a
{
text-decoration:none;
}
.front .vslide .vcarousel-info {
	display:block;
	width:auto;
	height:auto;
	margin-top:-5px;
	margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px 0px;
}
.front .vslide .vcarousel-info h1 {
	font-size: 18px;
	padding:8px 0px;
    width: auto;
    border-bottom: 1px solid #E3E3E3;
}
.front .vslide .vcarousel-info .number-treatments {
	font-size: 14px;
}
.front .vslide .vcarousel-info .fleft {	
	margin-right:25%;
}
.front .vslide .vcarousel-info .fright {
	margin-left:30%;
}

.page-blog .view-clone-of-enterprise-blog{
	display: block;
}

body.page-blog .view-clone-of-enterprise-blog .brick {
		width:100%;
		margin-bottom:15px;
		height:auto !important;
		text-align:center;
}
body.page-blog .view-clone-of-enterprise-blog .brick span.label{
		top:-1px !important;
}
body.page-blog .view-clone-of-enterprise-blog .brick img{
		margin-top:-20px;
}

body.page-blog .view-clone-of-enterprise-blog .brick .info-details1{
		color: #2A2A2A;
		font-family: 'domineregular';
		font-size: 12px;
		padding: 10px 0px;
		text-align: justify;
}
body.page-blog .view-clone-of-enterprise-blog .brick .down,body.page-blog .view-clone-of-enterprise-blog .brick .up{
		float: right;
		height: 35px;
		width: 35px;
}
body.page-blog .view-clone-of-enterprise-blog .brick .up{
	    margin-bottom: 5px;
		margin-right: 20px;
		margin-top: -5px;
}
body.page-blog .view-clone-of-enterprise-blog .brick .info-details{
		padding:0px !important;	
}

body.page-blog .view-clone-of-enterprise-blog .brick .down img{
		margin-top:0px !important;
		height: 35px;
		width: 35px;
}

body.page-blog .view-clone-of-enterprise-blog .brick  .toshowinfo,body.page-blog .view-clone-of-enterprise-blog .brick  .toshowup{
		display:none;
}

body.page-blog .blog-grid .blog-categories{
	background:none !important;
}
body.page-blog .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}
/*
body.page-blog .region-latest-all-blog,body.page-blog .section-02,body.page-blog .slider-background,body.page-blog .blog .blog-rightgrid{
	display:none;
}
*/
.lastminut-form .lastminute-selectbox .selectricWrapper .selectric .label {
  padding: 18px 7px;
}
.lastminut-form .lastminute-selectbox .selectricWrapper .selectric .button {
  top: 10px;
}
.lastminute-selectbox.radius .selectricWrapper .selectricItems {
  box-shadow: none;
  top: 51px;
  padding-bottom:10px;
}
.lastminute-selectbox.radius .selectricWrapper .selectricItems {
  box-shadow: none;
    top: 51px;
}
.page-last-minute .selectricWrapper.select-category .selectricItems li,
.page-last-minute .selectricWrapper.select-distance .selectricItems li, 
.page-last-minute .selectricWrapper.select-rating .selectricItems li {
  padding: 5px 5px;
}
.page-blog .view-clone-of-blog-categories1{
	display: block;
}

body.page-blog .view-clone-of-blog-categories1 .brick {
	width: auto !important;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-blog .view-clone-of-blog-categories1 .brick span.label{
	top:-1px !important;
}
body.page-blog .view-clone-of-blog-categories1 .brick img{
	margin-top:-20px;
}

body.page-blog .view-clone-of-blog-categories1 .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-blog .view-clone-of-blog-categories1 .brick .down,body.page-blog .view-clone-of-blog-categories1 .brick .up{
	width:30px;
	height:30px;
	float:right;
}
body.page-blog .view-clone-of-blog-categories1 .brick .up{
	margin-bottom: 10px;
	margin-right: 20px;
}
body.page-blog .view-clone-of-blog-categories1 .brick .info-details{
	padding:0px !important;	
}

body.page-blog .view-clone-of-blog-categories1 .brick .down img{
	margin-top:0px !important;
}
body.page-blog .view-clone-of-blog-categories1 .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-blog .view-clone-of-blog-categories1 .brick  .toshowinfo,body.page-blog .view-clone-of-blog-categories1 .brick  .toshowup{
	display:none;
}

body.page-blog .blog-grid .blog-categories{
	background:none !important;
}
body.page-blog .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}
body.page-blog .blog-grid-item{
	background:none !important;
}
body.page-blog .blog .blog-container .blog-grid {
    display: block;
    margin: 0 auto;
    width: 100%;
}
body.page-blog .view-clone-of-blog-categories1 .brick .up img,body.page-blog .view-clone-of-enterprise-blog .brick .up img{
	margin:0 !important;
	height: 35px;
	width: 35px;
}

body.page-artikler .view-clone-of-all-trends{
	display: block;
	margin-top:35px;
}

body.page-artikler .view-clone-of-all-trends .brick {
	width:100%;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-artikler .view-clone-of-all-trends .brick span.label{
	top:-1px !important;
}
body.page-artikler .view-clone-of-all-trends .brick img{
	margin-top:-20px;
}

body.page-artikler .view-clone-of-all-trends .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-artikler .view-clone-of-all-trends .brick .down,body.page-artikler .view-clone-of-all-trends .brick .up{
	float: right;
    height: 35px;
    width: 35px;
}
body.page-artikler .view-clone-of-all-trends .brick .up{
	margin-bottom: 5px;
    margin-right: 20px;
    margin-top: -5px;
}
body.page-artikler .view-clone-of-all-trends .brick .info-details{
	padding:0px !important;	
}

body.page-artikler .view-clone-of-all-trends .brick .down img{
	margin-top:0px !important;
	height:35px;
	width:35px;
}
body.page-artikler .view-clone-of-all-trends .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-artikler .view-clone-of-all-trends .brick  .toshowinfo,body.page-artikler .view-clone-of-all-trends .brick  .toshowup{
	display:none;
}
body.page-artikler .view-clone-of-all-trends .brick .up img{
	margin:0 !important;
	height: 35px;
    width: 35px;
}
body.page-artikler .blog-grid .blog-categories{
	background:none !important;
}
body.page-artikler .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}


body.page-artikler .view-clone-of-artikler-categories1{
	display: block;
}

body.page-artikler .view-clone-of-artikler-categories1 .brick {
	width:auto !important;
	margin-bottom:15px;
	height:auto !important;
	text-align:center;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick span.label{
	top:-1px !important;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick img{
	margin-top:-20px;
}

body.page-artikler .view-clone-of-artikler-categories1 .brick .info-details1{
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
	padding: 10px 0px;
	text-align: justify;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .down,body.page-artikler .view-clone-of-artikler-categories1 .brick .up{
	float: right;
    height: 30px;
    width: 30px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .up{
	margin-bottom: 10px;
	margin-right: 20px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .info-details{
	padding:0px !important;	
}

body.page-artikler .view-clone-of-artikler-categories1 .brick .down img{
	margin-top:0px !important;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .btn-round1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 48px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -28px;
    width: 48px;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick  .toshowinfo,body.page-artikler .view-clone-of-artikler-categories1 .brick  .toshowup{
	display:none;
}
body.page-artikler .view-clone-of-artikler-categories1 .brick .up img{
	margin:0 !important;
} 
body.page-artikler .blog-grid .blog-categories{
	background:none !important;
}
body.page-artikler .blog-grid .blog-categories .selectricWrapper.ctools-jump-menu-select{
	margin: 0 auto !important;
}


body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .user-left .form-item {
  margin-bottom: 1em;
  margin-top: 1em;
}
body.page-user-register .register-inner .statisk-container #ajax-register-user-register-form-wrapper .form-wrapper input#edit-mail {
  margin-bottom: 10px;
}
body.page-user-register .register-inner #ajax-register-user-register-form-wrapper .form-wrapper .form-item input {
  margin-bottom: 10px;
}
body.page-blog .blog-container .addblogs a{
    display: table;
}
body.page-artikler .blog-container .addblogs a{
	display: table !important;
}
.page-blog .blog-header {
	background: none repeat scroll 0 0 #FAE2D9;
	clear: both;
	padding: 20px 0 0;
}
.page-artikler .blog-header {
	background: none repeat scroll 0 0 #FAE2D9;
	clear: both;
	padding: 20px 0 0;
}
.page-blog .blog .blog-selectbox,.page-artikler .blog .blog-selectbox {
    padding: 0 !important;
}
.page-user .details-container{
	padding-left:4%;
} 
.page-user-edit .blog-header {
    background: none repeat scroll 0 0 #FEE0D5;
    clear: both;
    padding: 15px 0 5px;
}
body.page-user .statisk-container .content {
    padding: 0 !important;
}
body.page-user .profile-left{
	margin-top:10px;
}

.page-user-login .login-inner #main-content{
	height:480px !important;
}
.node-type-enterprise-blog .blogcomment-title .review:hover{
	color:black;
}
.page-user-login .login-inner .statisk-container .region.region-content {
	text-align:center;
}
.page-user-login .login-inner .fb_login a{
	width:250px;
}
.page-user-login .login-inner #ajax-register-user-login-wrapper .form-actions{
	display:table;
}
.safari .lastmt-item{
	width:100% !important;
}

.mobile-view .register-inner .form-actions.form-wrapper{
	float:none;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form .fb-det a{
	 font-family: trebuchet ms !important;
	 font-size:12px !important; 
	 letter-spacing: normal;
}

.mobile-view .register-inner .fb-det, .anonymous-content .fb-det{
	padding-top:0px !important;
}

.mobile-view .register-inner #ajax-register-user-register-form-wrapper #user-register-form a{
	margin: 0 auto !important;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
	.register-inner .form-item.form-type-select.form-item-field-user-sex-und > label {
	  float: left;
	  width: 12%;
	}
}
