
@media (min-width: 320px) and (max-width: 480px) {

body.page-blog .view-clone-of-enterprise-blog .brick .down,body.page-artikler .view-clone-of-all-trends .brick .down {
	margin-top: -15px;
    padding-bottom: 40px;	
}	


body.page-blog-categories .view-clone-of-blog-categories1 .brick .down, 
body.page-artikler .view-clone-of-artikler-categories1 .brick .down {
	width:35px;
	height:35px;
	margin-top: -15px;
    padding-bottom: 40px;
}

body.page-blog-categories .view-clone-of-blog-categories1 .brick .up , 
body.page-artikler .view-clone-of-artikler-categories1 .brick .up {
	width:35px;
	height:35px;
} 

body.page-blog-categories .view-clone-of-blog-categories1 .brick .down img,
body.page-artikler .view-clone-of-artikler-categories1 .brick .down img  {
    height: 35px;
    margin-top: 0 !important;
    width: 35px;
}
body.page-blog-categories .view-clone-of-blog-categories1 .brick .up,
body.page-artikler .view-clone-of-artikler-categories1 .brick .up {
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: -5px;
}	
body.page-artikler .view-clone-of-artikler-categories1 .brick .up img {
	height: 35px;
    width: 35px;
}
body.page-last-minute .lastminute-time .right{
	width: 100% !important;
}

body.page-last-minute .lastminute-time .time-section{
	margin-bottom: 10px;
}
.page-last-minute .lastminute-time .lastsub{
	display:block !important;
	float:none !important;
	background: url("../images/loadmore-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border:none !important;
    height: 34px;
    width: 119px;
    font-weight:bold;
    margin:0 auto !important;
}
.page-last-minute .lastminute-time .lastsub:hover{
    color: #FFFFFF;
    border:none !important;
    background-color:#FEE0D5 !important;
}


body.page-user.mobile-view .profile-container .view-user-comments .profile-title {
    margin-top: 10px !important;
}
body.page-user.mobile-view .profile-container .view-user-comments .profile-title, 
body.page-user.mobile-view .profile-container .view-user-comments .profile-content {
    margin: 0;
    width: 100%;
    padding:0 20px;
}
body.page-user.mobile-view-view .profile-container .view-user-comments .profile-title .title-content {
	width:100%;
}

body.page-user.mobile-view .profile-container .view-user-comments .profile-content p.profile-total {
    color: #2a2a2a;
    font-family: 'dominebold';
    font-size: 14px;
    font-weight: lighter;
}
body.page-user.mobile-view .profile-container .view-user-comments .profile-content {
    padding-bottom: 10px;
}
body.page-user.mobile-view .profile-container .view-user-comments h1 {
	font-weight:normal;
	font-size:17px !important;
	font-family: "dominebold";
}
body.page-user.mobile-view .profile-container .view-user-comments .profile-content span.content-details {
	line-height: normal;
    padding: 5px 0;
}
body.page-user.mobile-view .profile-container .view-user-comments p, 
body.page-user.mobile-view .profile-container .view-user-comments .content-details, 
body.page-user.mobile-view .profile-container .view-user-comments .profile-icons, 
body.page-user.mobile-view .profile-container .view-user-comments .profile-content span.content-details,
body.page-user.mobile-view .profile-container .view-user-comments .profile-icons span a {
	color: #898989;
}

body.page-last-minute.mobile-view .lastminute-time .lastsub {
	width:140px !important;
	height: 45px !important;
	background:#d0cae6;
	border-radius:12px !important;
}
body.page-last-minute.mobile-view .lastminute-time .lastsub:hover {
	background:#d0cae6 !important;
}

}

@media (min-width: 360px) and (max-width: 640px) {

body.page-blog .view-clone-of-enterprise-blog .brick .down,body.page-artikler .view-clone-of-all-trends .brick .down {
	margin-top: -15px;
    padding-bottom: 40px;	
}	


body.page-blog-categories .view-clone-of-blog-categories1 .brick .down, 
body.page-artikler .view-clone-of-artikler-categories1 .brick .down {
	width:35px;
	height:35px;
	margin-top: -15px;
    padding-bottom: 40px;
}

body.page-blog-categories .view-clone-of-blog-categories1 .brick .up , 
body.page-artikler .view-clone-of-artikler-categories1 .brick .up {
	width:35px;
	height:35px;
} 

body.page-blog-categories .view-clone-of-blog-categories1 .brick .down img,
body.page-artikler .view-clone-of-artikler-categories1 .brick .down img  {
    height: 35px;
    margin-top: 0 !important;
    width: 35px;
}
body.page-blog-categories .view-clone-of-blog-categories1 .brick .up,
body.page-artikler .view-clone-of-artikler-categories1 .brick .up {
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: -5px;
}	
body.page-artikler .view-clone-of-artikler-categories1 .brick .up img {
	height: 35px;
    width: 35px;
}
body.page-last-minute .lastminute-time .right{
	width: 100% !important;
}

body.page-last-minute.mobile-view .lastminute-time .lastsub {
	width:140px !important;
	height: 45px !important;
	background:#d0cae6;
	border-radius:12px !important;
	display:block !important;
	border:none !important;
	color:white;
	font-weight:bold;
	float: none !important;
    margin: 0 auto !important;
}
body.page-last-minute.mobile-view .lastminute-time .lastsub:hover {
	background:#d0cae6 !important;
}

}

@media (min-width: 480px) and (max-width: 767px) {

}

