@media (min-width: 320px) and (max-width: 480px) {
	.footer-section {
		display: none;
	}
	.profile-left {
	  background-color: #FFFFFF;
	  display: block;
	  float: left;
	  margin-right: 6px;
	  margin-top: 0px;
	  padding-bottom: 0px;
	  width: 100%;
	}
	.statisk-container .content {
	  padding: 10px;
	}
	.profile {
	  background-image: none;
	  float: left;
	  position: relative;
	  width: 100%;
	  min-height: 0px !important;
	  padding-bottom: 0px;
	}
	.statisk-container p {
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-size: 12px;
	  line-height: 20px;
	}
	.address {
	  display: block;
	  float: right;
	  font-size: 12px;
	  width: 25%;
	  word-wrap: break-word;
	}
	.profile-right {
	  background-color: #FFFFFF;
	  color: #2A2A2A;
	  display: block;
	  float: left;
	  font-family: 'domineregular';
	  margin-top: 10px;
	  width: 100%;
	}
	.icon-edit {
	  float: left;
	  padding-top: 10px;
	}
	.profile-right .icon-close {
	  float: left;
	  padding-left: 0;
	  padding-top: 10px;
	}
	.icon-edit {
	  float: left;
	  padding-left: 25px;
	}
	/**** Blog Post ****/
	.blogpost-sidebar {
	  display: none;
	}
	.blogpost-footer {
	 display: none;
	}
	.blogpost-left {
	  width: 100% !important;
	}
	.blogpost-content {
	  margin: 40px auto 0;
	  width: 100% !important;
	}
	.blogpost-left-content .blogpost-author {
	  display: block;
	  float: left;
	  padding-left: 20px;
	  width: 20%;
	  margin-top: 5px;
	}
	.blogpost-left-content .blogpost-author-details {
	  display: block;
	  float: left;
	  font-size: 12px;
	  padding-left: 20px;
	  width: 75%;
	  margin-top: 5px;
	}
	.blogpost-left-content .blogpost-author-likes {
	  border-left: 0px solid #E3E3E3;
	  border-right: 0px solid #E3E3E3;
	  display: block;
	  float: left;
	  height: 26px;
	  margin-top: 15px;
	  text-align: left;
	  padding-left:20px;
	  width: 100%;
	}
	.blogpost-left-content .blogpost-author-comments {
	  display: block;
	  float: left;
	  font-size: 12px;
	  padding-left: 20px;
	  height: 15px;
	  margin-top: 4px;
	  text-align: left;
	  width: 100%;
	}
	.blogpost-left-content .likes a:before {
	  content: url("../images/likes.png");
	  padding-left: 5px;
	  padding-right: 5px;
	  vertical-align: middle;
	}
	.blogpost-left-content .blogpost-clink .blogpost-social {
	  display: block;
	  float: right;
	  list-style-type: none;
	  padding-right: 0;
	  width: 100%;
	  margin: 10px 0 0 !important;
	}
	.blogpost-clink .blogpost-social li:first-child {
	  border-left: 0px solid #E3E3E3;
	}
	.blogpost-left-content .blogpost-author-comments p {
	  color: #2A2A2A;
	  line-height: 0;
	  margin: 0;
	  padding: 0;
	}
	.blogpost-left .blogpost-article {
	  float: left;
	  padding: 0 20px;
	}
	.comments-block .comments-left {
	  float: left;
	  margin-right: 2%;
	  width: 100%;
	}
	.blogpost-left .comments-right {
	  border: 1px solid #D3D7D9;
	  float: left !important;
	  padding: 15px 15px 10px;
	  width: 100% !important;
	}
	.blogpost-Commentpost .blogcomment-title .review {
	  background: none repeat scroll 0 0 #FFFFFF;
	  border: 1px solid #C2C0C0;
	  cursor: pointer;
	  float: left;
	  font-family: 'dominebold';
	  font-size: 14px;
	  margin: 5px 21px 15px 15px;
	  padding: 5px 10px;
	}
	.blogpost-container {
	  background-color: #F3E8E4;
	  background-image:none !important;
	  clear: both;
	  float: left;
	  padding-bottom: 20px !important;
	  width: 100%;
	}

	/**** End Blog Post ****/
	
   /**** Kliniker Profile Page ****/
	.clinicprofile-rating {
	  background: none repeat scroll 0 0 #FFE0D5;
	  float: left;
	  height: 400px;
	  width: 100%;
	}
	.clinicprofile-photo {
	  display: none;
	}
   /**** End Kliniker Profile Page ****/
   
   /*==============Blog Detail Page=================*/
	.node-type-enterprise-blog .blogpost-left-content .blogpost-author-likes {
	  border-left: 0 solid #E3E3E3;
	  border-right: 0 solid #E3E3E3;
	  display: block;
	  float: left;
	  height: 26px;
	  margin-top: 15px;
	  padding-left: 14px;
	  text-align: left;
	  width: 34%;
	}
	.node-type-enterprise-blog .blogpost-left-content .blogpost-author-comments {
	  display: block;
	  float: left;
	  font-size: 12px;
	  height: 26px;
	  margin-top: 15px;
	  width: 34%;
	}
	.node-type-enterprise-blog .blogpost-left-content .blogpost-author-comments p {
	  line-height: 23px;
	}
	/*==============Blog Detail Page End=================*/
   
}
@media (min-width: 481px) and (max-width: 599px) {
		.footer-section {
		display: none;
	}
	.profile-left {
	  background-color: #FFFFFF;
	  display: block;
	  float: left;
	  margin-right: 6px;
	  margin-top: 0px;
	  padding-bottom: 0px;
	  width: 100%;
	}
	.statisk-container .content {
	  padding: 10px;
	}
	.profile {
	  background-image: none;
	  float: left;
	  position: relative;
	  width: 100%;
	  min-height: 0px !important;
	  padding-bottom: 0px;
	}
	.statisk-container p {
	  color: #2A2A2A;
	  font-family: 'domineregular';
	  font-size: 12px;
	  line-height: 20px;
	}
	.address {
	  display: block;
	  float: right;
	  font-size: 12px;
	  width: 14%;
	}
	.profile-right {
	  background-color: #FFFFFF;
	  color: #2A2A2A;
	  display: block;
	  float: left;
	  font-family: 'domineregular';
	  margin-top: 10px;
	  width: 100%;
	}
	.image-container {
	  display: block;
	  float: left;
	  width: 9%;
	}
	.profile-left .image-container-icon {
	  display: block;
	  float: left;
	  padding-left: 5px;
	  width: 11%;
	}
		/**** Blog Post ****/
	.blogpost-sidebar {
	  display: none;
	}
	.blogpost-footer {
	 display: none;
	}
	.blogpost-left {
	  width: 100% !important;
	}
	.blogpost-content {
	  margin: 40px auto 0;
	  width: 100% !important;
	}
	.blogpost-left-content .blogpost-author {
	  display: block;
	  float: left;
	  padding-left: 20px;
	  width: 10%;
	  margin-top: 5px;
	}
	.blogpost-left-content .blogpost-author-details {
	  display: block;
	  float: left;
	  font-size: 12px;
	  padding-left: 20px;
	  width: 75%;
	  margin-top: 5px;
	}
	.blogpost-left-content .blogpost-author-likes {
		border-left: 0 solid #E3E3E3;
		border-right: 0 solid #E3E3E3;
		display: block;
		float: left;
		height: 26px;
		margin-top: 15px;
		padding-left: 20px;
		text-align: left;
		width: 35%;
	}
	.blogpost-left-content .blogpost-author-comments {
	    display: block;
		float: left;
		font-size: 12px;
		height: 15px;
		margin-top: 26px;
		padding-left: 20px;
		text-align: left;
		width: 35%;
	}
	.blogpost-left-content .likes a:before {
	  content: url("../images/likes.png");
	  padding-left: 5px;
	  padding-right: 5px;
	  vertical-align: middle;
	}
	.blogpost-left-content .blogpost-clink .blogpost-social {
	  display: block;
	  float: right;
	  list-style-type: none;
	  padding-right: 0;
	  width: 100%;
	  margin: 10px 0 0 !important;
	}
	.blogpost-clink .blogpost-social li:first-child {
	  border-left: 0px solid #E3E3E3;
	}
	.blogpost-left-content .blogpost-author-comments p {
	  color: #2A2A2A;
	  line-height: 0;
	  margin: 0;
	  padding: 0;
	}
	.blogpost-left .blogpost-article {
	  float: left;
	  padding: 0 20px;
	}
	.comments-block .comments-left {
	  float: left;
	  margin-right: 2%;
	  width: 100%;
	}
	.blogpost-left .comments-right {
	  border: 1px solid #D3D7D9;
	  float: left !important;
	  padding: 15px 15px 10px;
	  width: 100% !important;
	}
	.blogpost-Commentpost .blogcomment-title .review {
	  background: none repeat scroll 0 0 #FFFFFF;
	  border: 1px solid #C2C0C0;
	  cursor: pointer;
	  float: right;
	  font-family: 'dominebold';
	  font-size: 14px;
	  margin: 15px 21px 15px 15px;
	  padding: 5px 10px;
	}
	.blogpost-container {
	  background-color: #F3E8E4;
	  background-image:none !important;
	  clear: both;
	  float: left;
	  padding-bottom: 20px !important;
	  width: 100%;
	}

	/**** End Blog Post ****/
	
}
