.container-freewall {
    background-image: url("../images/grid-01.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FCE1D7;
    margin: 0 auto;
    max-width: 980px;
    padding-bottom: 20px;
    position: relative;
}

.container-freewall-queens {
	max-width:980px;
	position:relative;
	margin:0 auto;
}
.container-freewalllast {
	max-width:980px;
	position:relative;
	margin:0 auto;
	padding-bottom:20px;
	background-color:#fce1d7;
}
.padded {
	padding:10px;
}
.container-freewall0 {
	max-width:980px;
	position:relative;
	margin:0px auto;
	background-image: url("../images/tri.png");
	background-repeat: no-repeat;
	background-color: #bcdfd1;
	background-position: center top;
	top: -1px;
}
.container-freewall0a {
	max-width:980px;
	position:relative;
	margin:0px auto;
	background:#bcdfd1;
}
.container-freewall-01 {
	max-width:980px;
	position:relative;
	margin:0 auto;
	background-image: url('../images/grid-01b.png');
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center bottom;
	padding-bottom:50px;
	
}
.container-freewall-02 {
	max-width:980px;
	position:relative;
	margin:0 auto;
	background-image: url('../images/grid-01c.png');
	background-repeat: no-repeat;
	background-color: #bcdfd1;
	background-position: center bottom;
	padding-bottom:50px;
}
.container-freewall-03 {
	max-width:980px;
	position:relative;
	margin:0 auto;
	background-color:#bcdfd1;
}
.container-banner {
	max-width:980px;
	position:relative;
	margin:0 auto;
}

.section-06 {
    background-image:url('../images/tgrid-01b.png');
	background-repeat: no-repeat;
	background-color: #bcdfd1;
	background-position: center bottom;
    width: 100%;
}

.brick {
	background: white;
	color: #333;
	border: none;
}


.brick .img {
	width: 100%;
	max-width: 100%;
	display: block;
}
.header {
	width:100%;
}
.brick h3, .brick h5 {
	text-shadow: none;
}
/* BLOG */
.blog {	
	background:#fae2d9;
	width:100%;
	height:800px;
}
.blog-container {
	max-width:980px;
	position:relative;
	margin:0 auto;

}
/* End BLOG */
@media (min-width: 768px) and (max-width:992px)  {
	.container-freewall-01 {
	max-width: 980px;
	position: relative;
	margin: 0 auto;
	background-image: url('../images/tgrid-01b.png');
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center bottom;
	padding-bottom: 50px;
}
}

.page-artikler .blog {
  height: auto;
}
