/*======================================================================
  Selectric
======================================================================*/

.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 300px;
  cursor: pointer;
}
.lastminute-selectbox label{display:inline;}
.lastminute-selectbox .select-rating{
    width:155px;
}
.selectricResponsive {
  width: 100%;
}

.selectric {
  background: #fff;
  position: relative;
  border-radius: 0px;
  z-index:1;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #444;
	min-height: 18px;
	width: 100%;
	background:#fff;
	text-transform:capitalize;
}
.blog-selectbox  .selectric .label  {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #444;
	min-height: 18px;
	width: 100%;
	background:#fff;
	text-transform:capitalize;
	text-align: left;
	text-indent: 1em;
	font-family: "dominebold";
	font-weight:normal;
	color:#2a2a2a;
}
/*.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}*/
body.front .selectric .button {
	background: url("../images/select-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	font: 0px/0 a;
	height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 2px;
	width: 30px;
}
.selectric .button {
	background: url("../images/select-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	font: 0px/0 a;
	height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0px;
	width: 30px;
	height:30px;
	color:#fff;
}

.selectricHover .selectric {
  border-color: #fff;
}
.selectricHover .selectric .button {
  color: #fff;
}
.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
  background: #fff;
  z-index: 9999;
}

.selectricOpen .selectricItems {
  display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
	display: none;
	left: -9999px;
	position: absolute;
	z-index: 0 !important;
	-moz-appearance:none !important;
	-webkit-appearance:none !important;
	text-indent:-0.01px;
	text-overflow:'';
	width:0px !important;
	height:0px !important;
}

.selectricInput {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}
.selectricTempShow {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */

.selectricItems {
  display: none;
  position: absolute;
  overflow: auto;
  top: 100%;
  left: 0;
  background: #fff;

  z-index: 9998;
  -webkit-box-shadow: 0 0 10px -6px;
  box-shadow: 0 0 10px -6px;
}

.selectricItems ul,
.selectricItems li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectricItems li {
  display: block;
  padding: 5px;

  color: #666;
  cursor: pointer;
}

.selectricItems li.selected {
  background: #fff;
  color: #444;
 
}

.selectricItems li:hover {
  background: #fff;
  color: #444;
}

.selectricItems li.disabled {
  background: #fff;
  color: #BBB;

  cursor: default;
}
