@font-face {
	font-family: 'LinotypeDidot';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/2AFBD5_0_0.eot');
	src: url('../fonts/2AFBD5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2AFBD5_0_0.woff') format('woff'),
	url('../fonts/2AFBD5_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DidotRegular';
    src: url('../fonts/didot.eot');
    src: url('../fonts/didot.eot') format('embedded-opentype'),
         url('../fonts/didot.woff') format('woff'),
         url('../fonts/didot.ttf') format('truetype'),
         url('../fonts/didot.svg#DidotRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'theano_didotregular';
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot');
    src: url('../fonts/didot/theanodidot-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/didot/theanodidot-regular-webfont-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page-user .banner-captions {
	bottom: 5px;
	margin-bottom: 15px;
	margin-right: 15px;
	position: absolute;
	right:0px;
	width: 33%;
	z-index: 1;
}
.page-user .banner-captions h1 {
	color: #2A2A2A;
	font-family: LinotypeDidot;
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
	margin: 0 auto 15px;
	position: relative;
	right: 55px;
	text-align: left;
	text-transform: uppercase;
    width: 100%;
    word-break: break-all;
}
.page-user .queens-title {
	color: #2A2A2A;
	font-family: DidotRegular;
	font-size: 17px;
	line-height: 20px;
	text-align: left;
	position: relative;
	right: 55px;
    width:100%;
}
.page-user .banner-captions .blogsnfollow {
    font-family: 'domineregular';
    font-weight:normal;
	position: relative;
	right: 55px;  
	padding-bottom: 11px;
	font-size: 11px;
    width:100%;
}

.queen-like:active:before {
	content:url('../images/queen-like-hover.png');
	padding-left: 2px;
	padding-right: 3px;
}
.queens-container {
	display: block;
	margin: 0 auto;
	position: relative;
}
.container-freewall-queens .tab-container {
	display: block;
	margin: 0 auto;
	padding: 0;
}
.container-freewall-queens .tab-container ul.tabs {
	display: block;
	margin: 0 auto;
	padding: 0;
}
.container-freewall-queens .tab-container .tabs li {
	display: inline-block;
	list-style: none outside none;
	padding: 0;
	text-align: center;
    margin-right: 25px;
	/* width: 20%; */
}
.container-freewall-queens .tab-container .tabs li:first-child {
	text-align: left;
	/* width: 20%; */
}
.container-freewall-queens .tab-container .tabs li:first-child a {
	/* margin-left: 10px; */
}
.container-freewall-queens .tab-container .tabs li:nth-child(2){
	/* width: 20%; */
}
.container-freewall-queens .tab-container .tabs li:last-child {
	/* width:16%; */
    margin-right: 0px;
}
.container-freewall-queens .tab-container .tabs li a {
	color: #6F6F6F;
	display: inline-block;
	font-family: 'dominebold';
	margin: 15px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.container-freewall-queens .tab-container li a.active {
	color:#000;
	text-transform:uppercase;
	border-bottom: 1px solid #000;
}
.container-freewall-queens .queens-container .tab-container .queen-follow {
	background-color: #FFFFFF;
	border: 1px solid #C2C2C2;
	padding:8px 14px 5px;
	position: absolute;
	right: 0;
	top: 6px;
}
.queens-container .tab-container .queen-follow .follow-title:before {
	content: url("../images/follow-heart.png");
	height: 13px;
	padding-right: 5px;
	padding-top: 3px;
	vertical-align: middle;
	width: 14px;
}
.tab-container .qp-tab-container table .page-usr-left h2,
.tab-container .qp-tab-container table .page-usr-right h2 {
    font-family: 'dominebold';
    font-weight:normal;
}
.tab-container .qp-tab-container table .page-usr-left .user-details tr th {
	font-family: 'dominebold';
	font-size: 13px;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	width: 52%;
}
.tab-container .qp-tab-container table .page-usr-left .user-details tr td {
	font-family: 'domineregular';
	font-size: 13px;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
.page-usr-right .user-desc tr td p {
	font-family: 'domineregular';
	font-size: 13px;
	line-height: 1.5em;
	margin: 0 auto 10px;
	text-align: left;
}

.og-expander-inner.no-result {
    font-size: 12px;
    font-style: italic;
}

#og-grid .og-expander {
    overflow: auto;
    padding: 15px 0 0 10px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {  
	.container-freewall-queens .tab-container .tabs li:first-child {
		text-align: left;
		width: 25%;
	}
	.container-freewall-queens .tab-container .tabs li:nth-child(2) {
		width: 26%;
	}
	.container-freewall-queens .tab-container .tabs li:last-child {
		width: 16%;
	}		
}
