@font-face {
    font-family: 'domineregular';
    src: url('../fonts/demine/domine-regular-webfont.eot');
    src: url('../fonts/demine/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-regular-webfont.woff') format('woff'),
         url('../fonts/demine/domine-regular-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dominebold';
    src: url('../fonts/demine/domine-bold-webfont.eot');
    src: url('../fonts/demine/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demine/domine-bold-webfont.woff') format('woff'),
         url('../fonts/demine/domine-bold-webfont.ttf') format('truetype'),
         url('../fonts/demine/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'LinotypeDidot';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/2AFBD5_0_0.eot');
	src: url('../fonts/2AFBD5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2AFBD5_0_0.woff') format('woff'),
	url('../fonts/2AFBD5_0_0.ttf') format('truetype');
}
.section-queen-profile .footer-nav .container-freewall-queens {
	background-image: url("../images/queens-bg.png");
	background-position: center bottom;
    background-repeat: no-repeat; 
}
.container-freewall-queens .tab-container ul.tabs {
	margin-bottom: 0;
	margin-top: 0;
}
.container-freewall-queens .tab-container ul.tabs .btn{
	margin-bottom: 0;
	margin-top: 0;
	float:right;
}
.container-freewall-queens .tab-container ul.tabs li a {
	font-size: 16px;
}
.container-freewall-queens .tab-container ul.tabs li a span.queen-like:before {
	content: none;
} 
.container-freewall-queens .tab-container ul.tabs li a span.queen-like {
    background-image: url("../images/queen-like.png");
    background-position: 3px 2px;
    background-repeat: no-repeat;
    padding: 0 0 0 24px;
}
.container-freewall-queens .tab-container ul.tabs li a:hover span.queen-like {
	background-image: url("../images/queen-like-hover.png");
    background-position: 3px 2px;
    background-repeat: no-repeat;
}
.container-freewall-queens .tab-container ul.tabs li a.active span.queen-like {
	background-image: url("../images/queen-like-hover.png");
    background-position: 3px 2px;
    background-repeat: no-repeat;
}
.qp-tab-container table tbody {
	border-top: 0 none;
}
.qp-tab-container table tr th {
	border-bottom: 0 none;
	padding-bottom: 1em;
	vertical-align: top;
	 font-size: 14px;
}
table.user-details tr td {
	padding-bottom: 1em;
	font-size: 14px;
}
.qp-tab-container .user-desc tr td {
	font-size: 14px;
}
.qp-tab-container table h2{
	color: #000000;
    font-size: 20px;
    font-weight: bold;
	padding: 0 0 20px;
}
.banner-overlay {
	width: 455px;
	height:409px;
	position: absolute;
	z-index: 0;
	bottom: 4px;
	right: 0;
	background-image: url('../images/banner-overlay.png');
	background-repeat:no-repeat;
	
}
.section-queen-profile .footer-section {
	padding-bottom: 0;
}
.section-queen-profile .copyrights-queens p {
	margin: 0;
	color: #000000;
    font-family: 'domineregular';
    font-size: 13px;
    text-align: center;
    padding-bottom: 10px;
}
.section-queen-profile .region-footer-menu .content ul.menu {
	margin-bottom: 13px;
	text-align: center;
}
.section-queen-profile .region-footer-menu .content ul.menu li a{
	width: auto;
}
.section-queen-profile .footer-navigation {
    margin: 39px 0 0;
}
.section-queen-profile .newsletter input {
	border: 0 none;
    margin: 10px 0 11px;
    padding: 5px;
    text-align: center;
    color: #000000;
    font-family: "domine";
}
.banner-captions .queens-professions {
	text-transform: uppercase;
}
.blog .blog-sidegrid span.popular-likes {
    background-image: url("../images/follow-heart.png");
    background-position: 6px 2px;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.blog .blog-author {
	padding: 0 10px 0 0;     
}

/*********************************** Blog Page Responsive ***************************/
@media only screen and (min-width: 600px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
.header .main-menu {
	height: 180px !important;
}
.main-menu .navigation-bar {
	margin-top: 5px;
}
.navigation-bar ul {
	margin: 0 auto !important;
	text-align: center;
}
.blog .blog-container {
    max-width: 100%;
    padding: 0 1%;
}  
.blog .blog-grid {
	margin: 10px 0;
}
.popular-image > img {
    width: 100%;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px) {
.header .main-menu {
	height: 180px !important;
}
.main-menu .navigation-bar {
	margin-top: 5px;
}
.navigation-bar ul {
	margin: 0 auto !important;
	text-align: center;
}
.blog .blog-container {
    max-width: 100%;
    padding: 0 1%;
}  
.blog .blog-grid {
	margin: 10px 0;
}
.blog .blog-container .blog-rightgrid {
	width: 35%;
}
.blog .post-sidegrid {
	margin-bottom: 20px;
}
.slider4 .wellness {
	overflow: hidden;
}
.slider .wellness h3 a {
	font-size: 15px;
}
.slider .follow {
	width: 100%;
}
.popular-image > img {
    width: 100%;
}
}
@media only screen and (min-width: 980px) and (max-width: 992px) {
.header .main-menu {
	height: 180px !important;
}
.main-menu .navigation-bar {
	margin-top: 5px;
}
.navigation-bar ul {
	margin: 0 auto !important;
	text-align: center;
}
.blog .blog-container {
    max-width: 100%;
    padding: 0 1%;
}  
.blog .blog-grid {
	margin: 10px 0;
}
.blog .blog-container .blog-rightgrid {
	width: 35%;
}
}
/************************************************************************************/








/****** Bala May 15 ***/
.view-empty {
	background-color: #FFFFFF;
	font-size: 14px;
	font-style: italic;
	min-height: 250px;
	padding: 15px;
	clear: both;
}

.vip-content-empty, .blog-container .blog-grid .view-empty {
	background-color: #FFFFFF;
	font-size: 14px;
	font-style: italic;
	min-height: 250px;
	padding: 15px;
}

.blog-container .blog-grid .view-empty {
	min-height: 711px;
}

.blog-container .blog-grid .view-empty p {
	margin: 0;
}

.empty-result {
	font-size: 13px;
	font-style: italic;
	padding-left: 20px;
}

.user-profile-edit {
	background-color: #FFFFFF;
	padding: 5px 15px;
}

.queens-socialicons a{
	text-decoration:none;
}

/**** Styles.css **/
.queens-container .queen-follow {
  background-color: #FFFFFF;
  border: 1px solid #C2C2C2;
  padding: 2px 3px;
  position: absolute;
  right: 0;
  top: 12px;
}

.queens-container .queen-follow a:before {
  content: none;
  height: auto;
  padding-right: 0;
  vertical-align: inherit;
  width: auto;
}

.queens-container .queen-follow .flag-follow {
  font-family: "domine";
  font-size: 11px;
  text-transform: uppercase;
}

.queens-container .queen-follow .flag-follow:before {
  content: url("../images/follow-heart.png");
  height: 13px;
  padding-right: 5px;
  vertical-align: middle;
  width: 14px;
}

.queens-container .queen-follow .follow-title {
	display: none;
}

.queens-container .queen-follow .follow-title.anonymous {
	display: block;
}

body.linux .newsletter .form-item-mail input {
  padding: 8px 15px;
}

form#user-register-form {
position: relative;
}

form#user-register-form .user-left {
	padding-top: 60px;
}


/******** Styles.css ends
/****** Bala May 15 ***/
.clinicprofile-comment-left-content .form-text {
  border: 1px solid #AAAAAA;
}
.clinicprofile-comment-left-content textarea {
  border: 1px solid #AAAAAA;
  margin-top: 10px;
}
.clinicprofile-comment-sidebar .brick-comment-list .grid-item-01 {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 auto;
   padding: 15px 0;
}
.clinicprofile-comment-sidebar .commenter-name {
  float: left;
  line-height: 5px;
}
.clinicprofile-comment-sidebar .details-anmeldelser {
  float: left;
  margin-top: 0 !important;
}
.clinicprofile-comment-sidebar .commenter-name {
  color: #2A2A2A;
  font-family: 'dominebold';
  font-size: 11.5px;
  text-transform: capitalize;
}
.brick-comment-list .grid-item-01 {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 auto;
  padding: 15px 15px 0;
}


li.brick-comment-list{
	list-style:none;
}

.brick-comment-list .comments-home {
  border-bottom: 1px solid #E3E3E3;
  border-top: medium none;
  padding-bottom: 30px;
}

.brick-comment-list p{
	margin:0;
	color: #2A2A2A;
	font-family: 'domineregular';
	font-size: 12px;
}

.clinicprofile-sidebar.clinicprofile-comment-sidebar {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-top: 10px;
	/*padding: 0 15px;*/
}

.clinicprofile-comment-sidebar h2{
	color:#2a2a2a;
	font-family: 'LinotypeDidot';
	font-size:31px;
	letter-spacing:-1px;
}

.clinicprofile-comment-left-content {
  background: none repeat scroll 0 0 #FFE0D5;
  margin-top: 10px;
  padding: 15px;
}
.clinicprofile-comment-sidebar div.fivestar-widget-static .star {
  background: url("../widgets/default/star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
  width: 18px;
}
.clinicprofile-comment-sidebar  .comment-time {
  color: #757474;
  font-size:11px;
  font-family:'domineregular';
   padding-left: 5px;
}
.clinicprofile-comment-sidebar  .details-container {
  display: block;
  float: left;
  line-height: 20px;
  padding-top: 2px;
  width: 80%;
   color: #2a2a2a;
  font-size:11px;
  font-family:'dominebold';
  text-transform:uppercase;
}
.clinicprofile-comment-sidebar   .brick-comment-list p {
  line-height: 12px;
  margin: 0;
}
.clinicprofile-comment-sidebar  .likes:before {
  content: url("../images/likes.png");
  padding-left:0px;
  padding-right: 5px;
  vertical-align: middle;
}
.clinicprofile-comment-sidebar  .info-details {
  color: #515151;
  display: block;
  float: left;
  font-family: 'domineregular';
  font-size: 12px;
  padding: 10px 20px 0 0;
  text-align: left;
}
.clinicprofile-comment-sidebar  .info-details > p {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
  line-height: 15px !important;
  letter-spacing: -0.9px;
}
.clinicprofile-comment-sidebar .profile-total {
  color: #2A2A2A;
  font-size: 14px;
  font-family:'dominebold';
  font-weight: normal;
  line-height: 23px;
  margin: 0;
  padding: 0;
}
.clinicprofile-comment-sidebar .comment {
  color: #2A2A2A;
  font-family: 'domineregular';
  font-size: 12px;
}
.clinicprofile-comment-sidebar .readmore {
  padding-left: 10px;
   font-family: 'domineregular';
  font-size: 12px;
}
.clinicprofile-comment-sidebar .likes.plus1-processed {
  color: #2A2A2A;
   font-family: 'domineregular';
  font-size: 12px;
}
.clinicprofile-comment-sidebar  p.comments {
	margin-top: 3px !important;
}
.page-comment-reply .clinicprofile-content{
	margin: 15px auto 0;
}


#modal-content .ctools-use-modal-processed form-type-checkbox label {
	display: none;
}
#modal-content .ctools-use-modal-processed input.form-checkbox {
	width: auto;
}

/**************************** facebook login ***************************/
ul.secondary li.active a {
	color: #E85C99;
	font-size: 13px;
}
ul.secondary li a {
	color: #2A2A2A;
	font-size: 13px;
}
.statisk-container #edit-account .form-item {
	width: 100%;
	margin: 10px 0;
	float: left;
}
.statisk-container #edit-account .form-type-password {
	margin: 0;
}
.statisk-container #edit-account .form-item label {
	width: 18%;
	float: left;
	font-size: 13px;
}
.statisk-container #edit-account .form-item-mail label {
	line-height: 25px;
}
.statisk-container #edit-account .form-item input {
	width: 21%;
	float: left;
}
.statisk-container #edit-account .form-item .description {
	width: 100%;
	float: none;
	clear: both;
	color: #AAAAAA;
	font-size: 13px;
}
.statisk-container #edit-account .form-type-password-confirm .description {
	margin-left: 18%;
}
#edit-facebook-rules button {
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C2C0C0;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
#edit-facebook-rules button:hover {
	background: #000000;
	color: #FFFFFF;
}
.statisk-container #edit-account .form-item-facebook-rules-allow input {
	width: 2%;
	float: left;
}
.statisk-container #edit-account .form-item-facebook-rules-allow label {
	width: 97%;
	float: right;
	margin-bottom: 20px;
}
.statisk-container #edit-account .form-item-facebook-rules-allow .description {
	margin: 0 0 0;
}
.statisk-container #edit-account .form-type-password input {
	margin-bottom: 10px;
}
.statisk-container #edit-account .form-item-mail input {
	margin-bottom: 10px;
}
#edit-fboauth label {
	color: #000000;
}
#edit-fboauth {
	color: #AAAAAA;
	font-size: 13px;
}
#edit-fboauth a {
	color: #000000;
	text-decoration: none;
}
#edit-fboauth a:hover {
	color: #000000;
	text-decoration: underline;
}
#edit-account .description a {
	color: #000000;
	text-decoration: none;
}
#edit-account .description a:hover {
	color: #000000;
	text-decoration: underline;
}
.statisk-container #edit-account .form-type-password-confirm input {
	margin-bottom: 10px;
	float: left;
	width: 21%;
}
.statisk-container #edit-account .form-type-password-confirm .password-confirm.form-text {
	float: left;
	width: 21%;
}
.statisk-container #edit-account .form-type-password-confirm .password-confirm {
	float: right;
	font-size: 12px;
	line-height: 26px;
	margin-top: 0;
	width: 60%;
}
.statisk-container #edit-account .form-item .password-suggestions.description {
	width: 30%;
	float: none;
	clear: both;
	color: #000000;
	margin-left: 18%;
}
.statisk-container #edit-account .form-item .password-suggestions.description ul li {
	list-style-type: none;
	color: #AAAAAA;
}
.statisk-container #edit-field-enterprise-blog-picture-und-0-ajax-wrapper .imagefield-crop-widget {
	margin: 10px 0;
}
#edit-field-enterprise-blog-picture-und-0-ajax-wrapper .imagefield-crop-widget + .file a {
	color: #000000;
	font-size: 13px;
}
#edit-field-enterprise-blog-picture-und-0-ajax-wrapper .imagefield-crop-widget + .file .description {
	color: #AAAAAA;
}
#edit-timezone .fieldset-legend a {
	color: #000000;
}
#edit-timezone .fieldset-wrapper select {
	margin: 10px 0;
}
#edit-timezone .fieldset-wrapper .description {
	color: #AAAAAA;
	font-size: 13px;
}
.content #user-profile-form #edit-field-user-sex .form-item-field-user-sex-und {
	width: 100%;
}
.content #user-profile-form #edit-field-receive-newsletter {
	width: 100%;
}
.content #user-profile-form #edit-actions {
	clear: both;
	float: left;
}
#edit-field-enterprise-blog-picture-und-0-ajax-wrapper .description {
	margin-top: 10px;
	color: #AAAAAA;
	font-size: 13px;
}
.content #user-profile-form #edit-field-receive-newsletter-und label.option {
	color: #AAAAAA;
	display: block;
	width: 97%;
	font-size: 13px;
	margin-top: 3px;
}
#edit-field-receive-newsletter .form-item label {

}
.password-strength {
	display: none;
}
#edit-field-enterprise-blog-picture label, #edit-field-user-sex label {
	color: #000000;
	font-size: 13px;
	line-height: 25px;
}
#edit-field-receive-newsletter .form-item-field-receive-newsletter-und label {
	display: none;
}
#edit-subscriptions .fieldset-description, #edit-subscriptions .fieldset-legend, .form-item-facebook-rules-allow label.option {
	font-size: 13px;
}

/***********************************************************************/
#slidediv #search-form {
	margin: 0;
	padding : 0 !important;
}
/*************************** User Login *********************************/
.user-content-bg .fb_login {
	clear: both;
	color: #000000;
	display: block;
	float: left;
	font-size: 13px;
}
.user-content-bg .fb_login_inner {
	border: 1px solid #BBBBBB;
	float: left;
	margin: 15px 0 0;
	padding: 15px;
}
.user-content-bg .fb_login a {
	background-image: url("../images/facebook-bg.png");
	background-repeat: no-repeat;
	color: #2A2A2A;
	display: block;
	float: left;
	font-family: 'domineregular';
	font-size: 14px;
	height: 31px;
	padding: 8px 10px 9px 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 249px;
	clear: both;
	margin: 0 0 10px 35px;
}
.user-content-bg .fb_login span {
	display: block;
	float: left;
	clear: both;
}
.user-content-bg .form-item {
	display: block;
	float: left;
	clear: both;
}
.user-content-bg #edit-actions {
	display: block;
	float: left;
	clear: both;
	margin: 15px 0 0;
}
.user-content-bg .forget-data {
	display: block;
	float: left;
	clear: both;
	margin: 15px 0 0;
	font-size: 13px;
}
.user-content-bg .forget-data + a {
	display: block;
	float: left;
	clear: both;
	margin: 5px 0 0;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.user-content-bg .forget-data + a:hover {
	text-decoration: underline;
}
.user-content-bg .form-item {
	margin: 15px 0 0;
}
.user-content-bg .fb-or-login {
	margin: 15px 0 0 160px;
}
.user-content-bg .form-item-pass {
	margin: 15px 0;
}
.user-content-bg .form-item-name .description { 
	margin: 15px 0;
	font-size: 13px;
}
.user-content-bg #user-register-form .user-left {
	display: block;
	float: left;
	clear: both;
	padding: 0;
	width: 38%;
}
.user-content-bg #user-register-form .field-type-text input {
	width: 100%;
}
.user-content-bg #edit-account .form-item-mail input {
	margin-bottom: 0px;
	width: 38%;
}
.user-content-bg #edit-account .form-item-mail {
	margin: 15px 0 0;
}
.user-content-bg #edit-account .form-type-password-confirm input {
    float: left;
    margin-bottom: 10px;
    width: 38%;
}

.page-user-edit .user-content-bg #edit-account .form-type-password-confirm input {
    width: auto;
}

.page-user-edit .user-content-bg #edit-account .form-type-password-confirm .password-confirm.form-text {
	width: auto;
}

.user-content-bg #edit-account .form-type-password-confirm .password-confirm.form-text {
	width: 38%;
	margin-bottom: 15px;
}
.user-content-bg #edit-account .form-type-password-confirm {
	margin: 15px 0 0;
}
.user-content-bg #edit-field-user-sex .form-item-field-user-sex-und {
    margin: 0 0 0;
    width: 100%;
}
.user-content-bg #edit-field-user-sex + span.fb-det {
    float: left;
    margin: 15px 0 0;
    text-align: left;
    width: 100%;
    font-size: 13px;
}
.user-content-bg #edit-field-user-sex + span.fb-det a {
	color: #000000;
}
.user-content-bg #edit-field-receive-newsletter .form-item-field-receive-newsletter-und label {
    display: none;
}
.user-content-bg #edit-field-receive-newsletter .form-item-field-receive-newsletter-und-1 label {
    display: block;
    font-size: 13px;
    float:none;
}
.user-content-bg #edit-field-receive-newsletter .form-item-field-receive-newsletter-und-1 {
	float:none;
}
.user-content-bg #edit-field-receive-newsletter {
	width: 100%;
	margin: 0;
}
.user-content-bg #edit-field-receive-newsletter .form-item input {
	width: auto;
}
.user-content-bg #user-login .form-item-name input, .user-content-bg #user-login .form-item-pass input {
	width: 57%;
}
.user-content-bg .user-left #edit-field-enterprise-blog-firstname {
	width: 175px;
}
.user-content-bg .user-left #edit-field-enterprise-blog-lastname {
	width: 175px;
}


/*************************************************************************/
.page-last-minute .lastmint-item .lastmint-product a {
	text-decoration: none;
}
body.modal-login .item-popular .popular-details .likes {
	padding-left: 5px;
}

.copyrights p{
	margin:0;
}
