div.plus1-widget {
  padding: 0.2em;
  border-top: 1px #fbf389 solid;
  border-bottom: 1px #fbf389 solid;
  background-color: #fbfbe6;
  width: 4em;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.25em;
}
div.plus1-widget a {
  text-decoration: none;
}
div.plus1-widget .plus1-score {
  padding: 0.4em 0;
  font-size: 150%;
}
div.plus1-widget .plus1-vote {
  background: url(images/up.png) no-repeat center bottom;
  text-indent: -999em;
}
div.plus1-widget .plus1-vote a {
	min-height:15px;
}
div.plus1-widget .plus1-vote-text {
  background: none;
  text-indent: 0;
}
div.plus1-widget .plus1-undo-vote {
  background: url(images/down.png) no-repeat center top;
  text-indent: -999em;
}
div.plus1-widget .plus1-vote a,
div.plus1-widget .plus1-undo-vote a {
  display: inline;
  width: 100%;
  height: 100%;
  outline: none;
}

.plus1-comment-widget {
  margin-bottom: 10px;
}

.plus1-comment-score {
    color: black;
    padding-right: 2px;
}
